<div class='left'>
  <h1 id='how_to_create_afisha' class='js-scrolltrack'>Как создать афишу</h1>
  <ul class='information'>
    <li>
      1. Авторизируйтесь под любым аккаунтом социальной сети. Сети на выбор у нас на портале.
      <div class='image'>
        <%= image_tag 'public/help/1.jpg' %>
      </div>
    </li>

    <li>
      2. Нажмите оранжевую кнопку &laquo;Добавить афишу&raquo;.
      <div class='image'>
        <%= image_tag 'public/help/2.jpg'  %>
      </div>
    </li>

    <li>
      3. Заполните все поля и нажмите &laquo;Сохранить&raquo;.
      <div class='image'>
        <%= image_tag 'public/help/3.jpg' %>
      </div>
    </li>

    <li class='no-margin'>
      4. Добавьте постер и сеанс афиши. (Так же вы можете добавить видео и фотогалерею по-желанию).
    </li>

    <li>
      5. Когда все поля заполнены, нажимаем кнопочку &laquo;Опубликовать&raquo;! Вуаля, афиша готова.
      <div class='image'>
        <%= image_tag 'public/help/4.jpg' %>
      </div>
    </li>
  </ul>

  <h1 id='poster_do_not_upload' class='js-scrolltrack'>Постер для афиши не грузится, что делать?</h1>
  <ul class='information'>
    <li class='no-margin'>
      1. Просто дайте полностью прогрузиться страничке, на которой вы добавляете постер к афише.
    </li>
    <li>
      2. Звоните нам. Или пишите в ВК Повелительнице афиш, она исполнит все ваши желания! ;)
    </li>
  </ul>

  <h1 id='how_to_add_tickets' class='js-scrolltrack'>Что мне сделать, что бы добавить билеты к моей афише?</h1>
  <ul class='information'>
    <li class='no-margin'>Свяжитесь с Повелительницей афиш и предоставьте ей информацию о билетах: </li>
    <li class='no-margin'>1. Количество билетов, выделяемых на портал.</li>
    <li class='no-margin'>2. Электронная почта, на которую будет приходить рассылка о продажах.</li>
    <li class='no-margin'>3. Места\ряды\цены билетов. </li>
  </ul>

  <h1 id='afisha_not_published' class='js-scrolltrack'>Вчера я создал(а) афишу, но сейчас её нет на портале, где же она?</h1>
  <ul class='information'>
    <li class='no-margin'>1. Если после того, как поиск не выдал вам результата по афишам, то переходите к следующему пункту.</li>
    <li class='no-margin'>2. Возможно, ваша афиша нарушает законы УК РФ, и, в связи с этим,  администрация портала скрыла вашу афишу.</li>
    <li class='no-margin'>3. Возможно, ваша афиша не является мероприятием или акцией г. Томска и Томской области, и, в связи с этим,  администрация портала скрыла вашу афишу.  </li>
    <li class='no-margin'>4. Возможно, такая афиша просто уже была на портале, до того, как вы её создали.</li>
  </ul>

  <h1 id='afisha_not_showing_up' class='js-scrolltrack'>Я создал(а) афишу, но она не появилась в общем списке афиш, в чём дело?</h1>
  <ul class='information'>
    <li>1. Проверьте, опубликовали ли вы афишу? Подробное описание действий: Зайдите в &laquo;Личный кабинет&raquo; и в разделе &laquo;Мои афиши&raquo; поставьте сортировку &laquo;Черновики&raquo; если в том списке нет нужной афиши - переходите к следующему пункту.
      <div class='image'>
        <%= image_tag 'public/help/5.jpg' %>
      </div>
    </li>

    <li>
      Если вы нашли там свою афишу - выберите её и сверху справа нажмите кнопочку &laquo;Опубликовать&raquo;.
      <div class='image'>
        <%= image_tag 'public/help/6.jpg' %>
      </div>
    </li>

    <li>
      2. Отредактируйте и снова сохраните  афишу через «Личный кабинет». Подробное описание действий: Зайдите в «Личный кабинет» и в разделе «Мои афиши» найдите нужную афишу, выберите её и нажмите карандашик, что бы редактировать её.  Сохраните, обновите страничку со списком афиш (http://znaigorod.ru/afisha), если афиши до сих пор нет в списке - переходите к следующему пункту.
      <div class='image'>
        <%= image_tag 'public/help/7.jpg' %>
      </div>
    </li>

    <li>
      3. Звоните нам. Или пишите в ВК Повелительнице афиш, она исполнит все ваши желания! ;)
    </li>
  </ul>

  <div class="js-scrolltrack"></div>
</div>

<div class='right'>
  <ul class='main js-sidebar'>
    <li>
      <a href='#how_to_create_afisha'>Как создать афишу</a>
      <ul class='sub'>
        <li>
          <a href='#poster_do_not_upload'>Постер для афиши не грузится</a>
        </li>
        <li>
          <a href='#how_to_add_tickets'>Как добавить билеты к афише</a>
        </li>
        <li>
          <a href='#afisha_not_published'>Вчера я создал(а) афишу, но сейчас её нет на портале, где же она?</a>
        </li>
        <li>
          <a href='#afisha_not_showing_up'>Афиша не появляется в общем списке афиш</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
