<div class="row-fluid">
  <div class="span3">
    <%= f.input :street, :input_html => { :class => 'span12'} %>
  </div>
  <div class="span1">
    <%= f.input :house, :input_html => { :class => 'span12'} %>
  </div>
  <div class="span1">
    <%= f.input :latitude, :input_html => { :class => 'span12'}, :wrapper => false %>
  </div>
  <div class="span1">
    <%= f.input :longitude, :input_html => { :class => 'span12'}, :wrapper => false %>
  </div>
</div>

<div class="row">
  <div class="span4">&nbsp;</div>
  <%= link_to "<i class='icon-map-marker'></i>&nbsp;Получить координаты".html_safe, '#', :class => 'get_coordinates btn btn-success span2' %>
</div>

<%= render :partial => 'commons/map' %>
