<ul class='kind_links'>
  <li><%= link_to 'Еда', manage_meals_path %></li>
  <li><%= link_to 'Развлечения', manage_entertainments_path %></li>
  <li><%= link_to 'Культура', manage_cultures_path %></li>
  <li><%= link_to 'Сауны', manage_saunas_path %></li>
  <li><%= link_to 'Спорт', manage_sports_path %></li>
  <li><%= link_to 'Творчество и развитие', manage_creations_path %></li>
  <li><%= link_to 'Конкурсы', manage_contests_path %></li>
</ul>

