<div class='row-fluid'>
  <%= f.simple_fields_for :showing do  %>
    <div class='span1'>
      <%= f.input :starts_at, :as => :date_picker, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span1'>
      <%= f.input :ends_at, :as => :date_picker, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span3'>
      <%= f.input :place, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span3'>
      <%= f.input :hall, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span3'>
      <%= f.input :price %>
    </div>
  <% end %>
</div>
<%= f.link_to_remove t('remove_this_showing') %>

