<div class='row-fluid'>
  <%= f.simple_fields_for :showing do  %>
    <div class='span2'>
      <%= f.input :starts_at, :as => :date_picker, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span2'>
      <%= f.input :ends_at, :as => :date_picker, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span2'>
      <%= f.input :organization_id, :as => :hidden, :input_html => { :class => 'autosuggest_target' } %>
      <%= f.input :place, :input_html => { :class => 'span12 autosuggest' } %>
    </div>
    <div class='span2'>
      <%= f.input :hall, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span2'>
      <%= f.input :price_min, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span2'>
      <%= f.input :price_max, :input_html => { :class => 'span12' } %>
    </div>
  <% end %>
</div>
<%= f.link_to_remove t('remove_this_showing') %>

