<%= render :partial => 'kind_links' %>

<div class="new_link">
  <% vfs_path = "/znaigorod/affiches/organizations/#{Time.now.strftime('%Y/%m/%d/%H-%M')}-#{SecureRandom.hex(4)}" %>
  <%= link_to t('new_organization'), new_manage_organization_url(:params => {'organization[vfs_path]' => "#{vfs_path}"}), :class => 'new_resource' %>
</div>

<div class="clearfix"></div>

<ul class='collection'>
  <% collection.each do |item| %>
    <li>
      <%= link_to item.organization.title, [:manage, item.organization] %>
      <%= content_tag :span, item.respond_to?(:category) ? item.category : item.class.model_name.human, :class => 'category' %>
    </li>
  <% end %>
</ul>

<%= paginate collection %>
