<div class="show">
  <h1>
    <%= link_to resource.organization, manage_organization_path(resource.organization) %> /
    <%= resource.title %>
    <%= link_to t("edit_suborganization"), [:edit, :manage, resource.organization, resource.class.model_name.underscore], :class => 'edit_link' %>
  </h1>

  <% %w[title description category feature offer].each do |attribute| %>
    <% if resource.respond_to?(attribute) %>
      <div>
        <span class="label"><%= resource.class.human_attribute_name(attribute) %></span>
        <% if resource.send(attribute).present? %>
          <span class="value"><%= resource.send(attribute) %></span>
        <% else %>
          <span class="blank">Не указано</span>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="gallery">
    <% resource.images.each do |image| %>
      <%= image_tag(resized_image_url(image.url, 100, 100, false), :alt => image.description, :title => image.description) %>
      <%= link_to t('delete'), [:manage, resource, image], :method => :delete, :confirm => 'Вы уверены?' %>
    <% end %>
    <%= link_to t('add_image'), [:new, :manage, resource, :image], :class => 'edit_link' %>
  </div>

  <div class="services">
    <% resource.services.group_by(&:category).each do |category, services| %>
      <ul>
        <% services.group_by(&:offer).each do |offer, services| %>
          <% services.each do |service| %>
            <li>
              <div class='info'>
                <span class="label"><%= service.title %></span>
                <span class="value">от <%= service.min_value %> руб. <%= link_to 'Подробнее', '#', class: :closed %></span>
                <%= link_to t('edit'), [:edit, :manage, resource.organization, resource.class.name.underscore, service] %>
                <%= link_to t('delete'), [:manage, resource.organization, resource.class.name.underscore, service], :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>

                <div class="details">
                  <span class="value"><%= service.description %></span>
                  <ul>
                    <% service.prices.each do |price| %>
                      <li>
                        <%= price %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <%= link_to t('add_service'), [:new, :manage, resource.organization, resource.class.name.underscore, :service], :class => 'edit_link' %>
  </div>
</div>
