<div class="new_link">
  <% if controller_name == 'affiches' %>
    <%= link_to t("new_#{resource_class.model_name.underscore}"), '#', :class => 'new_resource dropdown' %>
    <ul>
      <% Affiche.descendants.each do |type| %>
        <% type_name = type.to_s.underscore %>
        <% vfs_path = "/znaigorod/affiches/#{type_name.pluralize}/#{Time.now.strftime('%Y/%m/%d/%H-%M')}-#{SecureRandom.hex(4)}"  %>
        <li><%= link_to t("new_#{type.model_name.underscore}"), send("new_manage_#{type_name}_path", "#{type_name}[vfs_path]" => vfs_path), :class => 'btn' %></li>
      <% end %>
    </ul>
  <% else %>
    <%= link_to t("new_#{resource_class.model_name.underscore}"), new_resource_url, :class => 'new_resource' %>
  <% end %>
</div>

<ul class='collection'>
  <% collection.each do |item| %>
    <li>
      <%= link_to item.title, [:manage, item] %>
      <%= content_tag :span, item.respond_to?(:category) ? item.category : item.class.model_name.human, :class => 'category' %>
    </li>
  <% end %>
</ul>

<%= paginate collection %>
