<%= render :partial => 'kind_links' %>

<div class="new_link">
  <%# if controller_name == 'afishas' %>
    <%#= link_to t("new_#{resource_class.model_name.underscore}"), '#', :class => 'new_resource dropdown' %>
  <%# elsif Afisha.ordered_descendants.map(&:model_name).map(&:underscore).map(&:pluralize).include?(controller_name) %>
    <%# vfs_path = "/znaigorod/affiches/#{controller_name}/#{Time.now.strftime('%Y/%m/%d/%H-%M')}-#{SecureRandom.hex(4)}" %>
    <%#= link_to t("new_#{resource_class.model_name.underscore}"), new_resource_url(:params => {"#{resource_class.to_s.underscore}[vfs_path]" => "#{vfs_path}"}), :class => 'new_resource' %>
  <%# else %>
    <%# vfs_path = "/znaigorod/affiches/organizations/#{Time.now.strftime('%Y/%m/%d/%H-%M')}-#{SecureRandom.hex(4)}" %>
    <%#= link_to t("new_#{resource_class.model_name.underscore}"), new_resource_url(:params => {'organization[vfs_path]' => "#{vfs_path}"}), :class => 'new_resource' %>
  <%# end %>
</div>

<div class="clearfix"></div>

<ul class='collection'>
  <% collection.each do |item| %>
    <li>
      <%= link_to item.title, [:manage, item] %>
      <%= content_tag :span, 'Клиент, рейтинг: ', :class => 'client_status' if item.class == Organization && item.client? %>
      <%= content_tag :span, item.total_rating.round(2), :class => 'rating' %>
      <%= content_tag :span, item.human_state_name, :class => 'state' if item.class.superclass == Afisha %>
      <%= content_tag :span, item.kind.map(&:text).join(', '), :class => 'category' %>
    </li>
  <% end %>
</ul>

<%= paginate collection %>
