<div class="filters_wrapper review_filters">
  <div class="filters reviews">
    <div class="by_category">
      <ul>
        <% @presenter.category_filter.links.take(8).each do |link| %>
          <li class="<%= link.klass %>">
            <%= link_to link.path do %>
              <span class="name"><%= link.title %></span>
              <span class="count"><%= link.results_count %></span>
            <% end %>
          </li>
        <% end %>

        <% if @presenter.category_filter.links.count > 8 %>
          <li class="more_link <%= 'selected' if @presenter.category_filter.more? %>">
            <a href='#'>&darr; Ещё вопросы</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @presenter.category_filter.links.count > 8 %>
    <ul class="more">
      <% @presenter.category_filter.links[8..@presenter.category_filter.links.count].each do |link| %>
        <li class="<%= link.klass %>">
          <%= link_to link.path do %>
            <span class="name"><%= link.title %></span>
            <span class="count"><%= link.results_count %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
