<div class="questions">
  <div class="avatar">
    <%= image_tag question.account.avatar.url, :size => '50x50' %>
  </div>
  <h1><%= question.title %></h1>

  <span class='author'><%= link_to question.account.title, question.account %>,</span>
  <span class='date'>
    <%= I18n.l(question.created_at, :format => '%d %B %Y, %H:%M') %>
  </span>

  <div class='description'>
    <%= question.content_for_show %>
  </div>
</div>
