<div class="left margin">
  <div class="actions">
    <% if current_user && current_user.account == @question.account %>
      <%= link_to ' изменить', edit_my_question_path(@question.id), :class => 'fa fa-pencil' if can? :edit, @question %>
    <% else %>
      <%= link_to ' изменить', edit_manage_review_path(@question.id), :class => 'fa fa-pencil' if can? :edit, @question %>
    <% end %>
  </div>

  <%= render :partial => 'question', :locals => { :question => @question } %>

  <%= render @question.webanketas.actual %>

  <% content_for :zg_like_with_vk_share do %>
    <!-- ZG Like -->
    <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @question } %>
    <!-- / ZG Like -->
  <% end %>

  <div class="share_and_likes ajaxed_voteable">
    <%= render :partial => 'commons/share_and_like_this', :locals => { :url => review_url(@question) } %>
  </div>

  <div class='info'>
    <% @question.categories.values.each do |category| %>
      <%= link_to category.text, send("questions_#{category.value}_path") %>
      &nbsp;
    <% end %>

    <div class='details'>
      <span class='show_tipsy fa fa-comments' title='Комментарии'> <%= @question.comments.count %></span>
      <span class='show_tipsy fa fa-heart' title='Понравилось'> <%= @question.likes_count %></span>
      <span class='show_tipsy fa fa-eye' title='Просмотры'> <%= @question.page_visits.count %></span>
    </div>
  </div>

  <div style='clear: both'></div>

  <%= render :partial => 'comments/block', :locals => { :parent_obj => @question } %>

</div>
<div class="right">
  <% if @question.decorated_similar.any? %>
    <h2>Похожие вопросы:</h2>
    <ul class="similar posters">
      <% @question.decorated_similar.each do |question| %>
        <li class="item tiny"><%= render :partial => 'reviews/poster', :locals => { :review => question, :height => 120, :width => 214 } %></li>
      <% end %>
    </ul>
  <% end %>
</div>
