<div class='filters_wrapper'>
  <div class="filters">
    <h1>Развлечения города</h1>

    <%= form_tag entertainments_path, :method => :get do %>
      <%#= hidden_field_tag :order_by, @entertainments_presenter.order_by %>
      <%#= hidden_field_tag :view,     @entertainments_presenter.view %>

      <div class='filter show categories_filter' id='categories'>
        <%= link_to "очистить", '#', :class => 'clear_filter_link' %>
        <div class="filter_checkboxes">
          <% @entertainments_presenter.categories_filter.available.each_with_index do |category, index| %>
            <div class="checkbox">
              <%= check_box_tag 'categories[]', category, (@entertainments_presenter.categories_filter.selected.include?(category)), :id => "category_#{index}" %>
              <%= label_tag "category_#{index}", @entertainments_presenter.categories_filter.available[index] %>
            </div>
          <% end %>
        </div>
      </div>

      <div class='filter <%= @entertainments_presenter.features_filter.used? ? 'show' : 'hide' %>' id='features'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <%= link_to "очистить", '#', :class => 'clear_filter_link' %>
        <div class="filter_label wide">Особенности</div>
        <div class="filter_checkboxes">
          <% @entertainments_presenter.features_filter.available.each_with_index do |category, index| %>
            <div class="checkbox">
              <%= check_box_tag 'features[]', category, (@entertainments_presenter.features_filter.selected.include?(category)), :id => "feature_#{index}" %>
              <%= label_tag "feature_#{index}", @entertainments_presenter.features_filter.available[index] %>
            </div>
          <% end %>
        </div>
      </div>

      <div class='filter  <%= @entertainments_presenter.offers_filter.used? ? 'show' : 'hide' %>' id='offers'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <%= link_to "очистить", '#', :class => 'clear_filter_link' %>
        <div class="filter_label wide">Предложения</div>
        <div class="filter_checkboxes">
          <% @entertainments_presenter.offers_filter.available.each_with_index do |category, index| %>
            <div class="checkbox">
              <%= check_box_tag 'offers[]', category, (@entertainments_presenter.offers_filter.selected.include?(category)), :id => "offer_#{index}" %>
              <%= label_tag "offer_#{index}", @entertainments_presenter.offers_filter.available[index] %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter <%= @entertainments_presenter.geo_filter.used? ? 'used show' : 'hide' %>" id='geo'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label">Местоположение</div>
        <div class="filter_geo">
          <div class="map_wrapper">
          </div>
          <div class="hidden_inputs">
            <%= hidden_field_tag :lat,    @entertainments_presenter.geo_filter.lat, :class => 'lat' %>
            <%= hidden_field_tag :lon,    @entertainments_presenter.geo_filter.lon, :class => 'lon' %>
            <%= hidden_field_tag :radius, @entertainments_presenter.geo_filter.radius, :class => 'radius' %>
          </div>
        </div>
        <div class="radius_slider_wrapper">
          <div class="info_radius"><span class='bold'>Радиус:</span> <span class='rad'><%= "%.0f" % (@entertainments_presenter.geo_filter.radius.to_f*1000) %></span> м (<span class='time'><%= "%.1f" % (@entertainments_presenter.geo_filter.radius.to_f*1000/54.6) %></span> мин пешком)</div>
          <div class="wrapper_box">
            <div class="min_radius">100 м</div>
            <div class="radius_slider"></div>
            <div class="max_radius">11 км</div>
          </div>
        </div>
      </div>

      <div class="criteria_list">
        <div class="criteria_label">Добавить критерии:</div>
        <ul>
          <li>
            <%= link_to "Особенности", '#', :class => 'features' %>
          </li>
          <li>
            <%= link_to "Предложения", '#', :class => 'offers' %>
          </li>
          <li>
            <%= link_to "Местоположение", '#', :class => 'geo' %>
          </li>
        </ul>
      </div>
      <div class="submit_action">
        <div class="submit_wrapper">
          <input type="submit" value="Применить фильтр" class='submit' />
        </div>
        <div class="results_counter">
          Найдено мероприятий: <span class='counter'><%#= @showings_presenter.total_count %></span>
        </div>
        <div class="clear_wrapper">
          <%#= link_to "Очистить", '#' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

