<div class='left'>
  <%= render 'invites/inviter_form' %>
</div>

<div class='right'>
  <%= form_tag accounts_search_path, :method => :get do %>
    <%= text_field_tag :q, params[:q] %>

    <%= submit_tag 'Найти' %>
  <% end %>
  <%= render partial: 'accounts/list' %>
</div>
