<%= simple_form_for [parent, @visit], html: { remote: true } do |f| %>
  <h2>Жду приглашения</h2>
  <%= f.input :invited_gender, as: :radio_buttons, label: false %>
  <%= f.input :invited_description, input_html: { placeholder: 'Здесь вы можете указать дополнительную информацию'}, autofocus: true, label: false %>
  <%= f.input :acts_as_invited, as: :hidden, input_html: { value: true } %>
  <div class='submit'>
    <%= f.submit 'Жду приглошения', :class => :submit_dialog %>
  </div>
<% end %>

<% if @visit.acts_as_invited %>
  <%= simple_form_for [parent, @visit] do |sf| %>
    <%= sf.input :invited_description, as: :hidden, input_html: { value: nil } %>
    <%= sf.input :invited_gender, as: :hidden, input_html: { value: nil } %>
    <%= sf.input :acts_as_invited, as: :hidden, input_html: { value: nil } %>
    <div class='submit gray'>
      <%= sf.submit 'Удалить', :class => :submit_dialog %>
    </div>
  <% end %>
<% end %>
