<% if visit = parent.visit_for_user(account.users.first) %>
  <% if acts_as == :inviter && visit.acts_as_inviter? %>
    <div class='info'>
      <span>Ждет приглашения<%= " от "+I18n.t("visit.invited.#{visit.invited_gender}") unless visit.invited_gender.all? %></span>
     <% if visit.invited_description %>
       <abbr title='<%= visit.invited_description %>' class='show_tipsy'><%= image_tag 'public/icon_question.png' %></abbr>
     <% end %>
    </div>
  <% end %>
  <% if acts_as == :invited && visit.acts_as_invited?  %>
    <div class='info'>
    <span>Приглашает <%= I18n.t("visit.inviter.#{visit.inviter_gender}") unless visit.inviter_gender.all? %></span>
    <% if visit.inviter_description %>
      <abbr title='<%= visit.inviter_description %>' class='show_tipsy'><%= image_tag 'public/icon_question.png' %></abbr>
    <% end %>
    </div>
  <% end %>
<% end %>
<% if current_user.account.sended_invite_message(parent, account.id, acts_as) %>
  <span class="sended"><%= I18n.t("invite.sended.#{acts_as}") %></span>
<% else %>
  <%= simple_form_for current_user.account.produced_invite_messages.build, :url => my_invite_messages_path, html: { remote: true } do |f| %>
    <%= f.input :account_id, as: :hidden, :input_html => { :value => account.id } %>
    <%= f.input :messageable_id, as: :hidden, :input_html => { :value => parent.id } %>
    <%= f.input :messageable_type, as: :hidden, :input_html => { :value => parent.class.name } %>
    <%= f.input :invite_kind, as: :hidden, :input_html => { :value => acts_as } %>
    <%= f.submit t("invite.#{acts_as}"), class: 'submit_dialog' %>
  <% end %>
<% end %>
