<li>
  <%= t "enumerize.invitation.gender.custom.#{invitation.kind}.#{invitation.gender}" %>

  <% invitation.categories.each do |category| %>
    <%= link_to category %>
  <% end %>

  <% if invitation.inviteable %>
    <%= link_to invitation.inviteable.title, invitation.inviteable %>
  <% end %>

  <% if invitation.description? %>
    <span class="description">&mdash; <%= invitation.description %></span>
  <% end %>

  <%= link_to 'Удалить', my_invitation_path(invitation), :method => :delete, :class => 'delete_invitation', :remote => true %>
</li>
