<%= simple_form_for [:my, @invitation], :remote => true do |f| %>
  <%= f.input :kind, :as => :hidden %>

  <% unless @invitation.invited %>
    <%= f.input :gender,
      :as => :radio_buttons,
      :label => false,
      :label_method => lambda { |item| t("enumerize.invitation.gender.form.#{@invitation.kind}.#{item.last}") } %>
    <%= link_to 'уточнить', '#' %>
  <% end %>

  <% unless @invitation.inviteable %>
    <%= f.input :category, :collection => InvitationCategories.instance.invitation_categories.keys, :include_blank => false %>
    <%= link_to 'уточнить', invitation_categories_search_path(:invitation_category => 'в кино'), :remote => true %>
  <% end %>

  <%= f.input :description %>


  <div class="actions">
    <%= f.submit 'Сохранить', :class => 'button' %>
  </div>
<% end %>

