<h3>Билеты</h3>

<%= form_tag manage_tickets_path, :method => :get, :class => 'search_ticket_infos' do %>
  <%= text_field_tag 'q', params[:q] %>

  <ul>
    <li>
      <%= radio_button_tag :state, '', @state == nil, :id => 'state_all' %>
      <%= label_tag 'state_all', "Все (#{Copy.count})" %>
    </li>
    <% Copy.state.options.each do |option| %>
      <li>
        <%= radio_button_tag :state, option.last, @state == option.last, :id => "state_#{option.last}" %>
        <%= label_tag "state_#{option.last}", "#{option.first} (#{Copy.send(option.last).count})"  %>
      </li>
    <% end %>
  </ul>

  <%= submit_tag 'Найти' %>
<% end %>

<ul class='ticket_infos'>
  <% @tickets.group_by(&:organization).each do |organization, tickets| %>
    <li class='ticket_info'>
      <h5>
        <% if organization %>
          <%= link_to "#{organization.title} (#{organization.address})", manage_organization_path(organization) %>
        <% else %>
          Место проведения не указано
        <% end %>
      </h5>

      <ul class='manage'>
        <% tickets.each do |ticket| %>
          <li>
            <p><%= link_to ticket.affiche.title, manage_affiche_path(ticket.affiche) %></p>

            <div class="poster">
              <%= link_to image_tag_for(ticket.affiche.poster_url, 70, 100), manage_affiche_path(ticket.affiche) %>
            </div>

            <div class="details">
              <p><%= "Цена: #{ticket.original_price} / #{ticket.price}" %></p>
              <p>Коды: <%= ticket.copies.map(&:code).join(', ') %></p>
              <table class='tickets'>
                <% copies = @state ? ticket.copies.send(@state) : ticket.copies %>
                <% copies.each do |copy| %>
                  <tr>
                    <td class='code'><%= copy.code %></td>
                    <td class='phone'><%= copy.copy_payment ? copy.copy_payment.phone : '' %></td>
                    <td class='state'><%= copy.state_text %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </li>
        <% end %>
      </ul>

      <% if organization %>
        <div class="text">
          <p>Коды мероприятий для <%= link_to organization.title, organization_path(organization) %>:</p>
          <% tickets.each do |ticket| %>
            <% affiche = AfficheDecorator.new(ticket.affiche) %>
            <p>
              <%= link_to "#{affiche.human_when} #{affiche.title}".html_safe, affiche.kind_affiche_path %> -
              <%= ticket.copies.map(&:code).join(', ') %>
            </p>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @groups %>
