<%= simple_form_for GalleryImage.new, :url => my_gallery_images_path, :html => { :multipart => true, :class => 'upload_gallery_images', :data => { :title => 'Загрузка изображения' } } do |f| %>
  <%= f.input :file, :input_html => { :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
<% end %>

<%= simple_nested_form_for @review,
  :as => :review,
  :url => @review.new_record? ? my_reviews_path : my_review_path(@review.id),
  :html => { :class => "my_review_form default_simple_form review_#{@review.useful_type}_form" } do |f| %>

  <%= hidden_field_tag :type, @review.useful_type %>

  <%= f.input :categories, :as => :check_boxes %>
  <%= f.input :title, :as => :text, :input_html => { :placeholder => 'Укажите название обзора' } %>

  <%= render "#{@review.useful_type}_fields", :f => f %>

  <%= f.input :only_tomsk %>

  <%= f.input :tag, :as => :string,
    :input_html => { :data => { 'autocomplete-source' => tags_available_my_reviews_path } } %>

  <%= f.input :link_with_value, :as => :hidden %>
  <%= f.input :link_with_reset, :as => :hidden %>

  <%= f.input :link_with_title,
    :wrapper_html => { :class => @review.linked? ? :linked : :not_linked },
    :input_html => {
      :data => { 'autocomplete-source' => linked_with_available_my_reviews_path, :target => '#review_link_with_value', :reset => '#review_link_with_reset' },
      :placeholder => 'Введите название заведения или мероприятия' } %>

  <%= f.fields_for :relations do |relation_form| %>
    <% if relation_form.object.new_record? %>
      <%= relation_form.input :slave_url %>
    <% else %>
      <div class="link_with_wrapper">
        <div class="link_with_content">
          <%= render :partial => "my/relations/#{relation_form.object.slave.class.name.underscore}", :locals => { :slave => relation_form.object.slave } %>
        </div>
      </div>
    <% end %>
    <%= relation_form.link_to_remove '-' %>
  <% end %>
  <%= f.link_to_add '+', :relations %>

  <div class="submit">
    <%= f.submit 'Сохранить', :class => 'btn btn-lg btn-grey' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>

<%= render :partial => 'my/afishas/textile_syntax' %>

<%= yield(:review_preview) %>
