<%= simple_form_for GalleryImage.new, :url => my_gallery_images_path, :html => { :multipart => true, :class => 'upload_gallery_images', :data => { :title => 'Загрузка изображения' } } do |f| %>
  <%= f.input :file, :input_html => { :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
<% end %>

<%= simple_form_for @review,
  :as => :review,
  :url => @review.new_record? ? my_reviews_path : my_review_path(@review),
  :html => { :class => "my_review_form default_simple_form review_#{@review.useful_type}_form" } do |f| %>

  <%= hidden_field_tag :type, @review.useful_type %>

  <%= f.input :categories, :as => :check_boxes %>
  <%= f.input :title, :as => :text, :input_html => { :placeholder => 'Укажите название обзора' } %>

  <%= render "#{@review.useful_type}_fields", :f => f %>

  <%= f.input :tag, :as => :string,
    :input_html => { :data => { 'autocomplete-source' => tags_available_my_reviews_path } } %>

  <div class="submit">
    <%= f.submit 'Сохранить', :class => 'btn btn-lg btn-grey' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>

<%= yield(:review_preview) %>
