<%= simple_form_for GalleryImage.new, :url => my_gallery_images_path, :html => { :multipart => true, :class => 'upload_gallery_images', :data => { :title => 'Загрузка изображения' } } do |f| %>
  <%= f.input :file, :input_html => { :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
<% end %>

<%= simple_nested_form_for @review,
  :as => :review,
  :url => @review.new_record? ? my_reviews_path : my_review_path(@review.id),
  :html => { :class => 'my_review_form default_simple_form review_#{@review.useful_type}_form' } do |f| %>

  <%= hidden_field_tag :type, @review.useful_type %>

  <%= f.input :categories, :as => :check_boxes %>
  <%= f.input :title, :as => :text, :input_html => { :placeholder => 'Укажите название обзора' } %>

  <%= render "#{@review.useful_type}_fields", :f => f %>

  <%= f.input :only_tomsk %>

  <%= f.input :tag, :as => :string,
    :input_html => { :data => { 'autocomplete-source' => tags_available_my_reviews_path } } %>

  <%= f.input :link_with_value, :as => :hidden %>
  <%= f.input :link_with_reset, :as => :hidden %>


  <div class='relations'>
    <p>Этот пост связан с</p>

    <div class='sticky_elements'></div>

    <div style='clear: both'></div>

    <div class='select_and_search'>
      <%= select_tag 'type_select', options_for_select([ ['Афиша', '/my/related_afishas'], ['Организация', '/my/related_organizations'], ['Обзор', '/my/related_reviews']], 'Афиша'), { class: 'type_select' }  %>

      <%= button_tag '', type: 'button', remote: true, class: 'sbm' %>
      <%= text_field_tag :search, '', { class: 'related_search' } %>

    </div>

    <div style='clear: both'></div>

    <div class='results'>
      <ul class='posters'>
      </ul>
    </div>
  </div>

  <div style='clear: both'></div>

  <div class='submit'>
    <%= f.submit 'Сохранить', :class => 'btn btn-lg btn-grey' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>

<%= render :partial => 'my/afishas/textile_syntax' %>

<%= yield(:review_preview) %>
