<% review.all_images.each do |image| %>
  <li data-id="attachments_<%= image.id %>">
    <%= link_to image.file_url, :class => :colorbox, :rel => 'gallery' do %>
      <%= image_tag resized_image_url(image.file_url, 230, 172), :size => '230x172', :alt => image.description %>
    <% end %>
    <div>
      <%= link_to '', [:my, review, image], :method => :delete, :remote => true, :class => 'ajax_delete icon-trash show_tipsy', :title => 'Удалить' %>
      <%= link_to image.to_s, edit_my_attachment_path(image),
        :remote => true,
        :class => 'attachment-description js-edit-attachment-description',
        :data => { :title => 'Редактирование описания' },
        :title => "#{image.description} (нажмите, чтобы редактировать)" %>
    </div>
  </li>
<% end %>
