<%= f.input :reset_poster, :as => :hidden, :input_html => { :value => true } %>

<%= f.input :video_url,
  :as => :string,
  :input_html => { :class => 'with-preview', :placeholder => 'Вставьте сюда ссылку на видео с Youtube или Vimeo' } %>

<%= f.input :content,
  :input_html => { :id => 'html', :class => 'description with-preview', :maxlength => 140, :placeholder => 'Коротко опишите добавляемое видео' },
  :label => 'Описание' %>

<%= content_for :review_preview do %>
  <div class="preview_wrapper">
    <h1>Предварительный просмотр</h1>
    <div class="reviews_show">
      <%= render :partial => 'reviews/review', :locals => { :review => ReviewDecorator.new(@review) } %>
    </div>
  </div>

  <div class="loader"></div>
<% end %>
