<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <% if @review.draft? %>
    <div class="publication-warning">
      <h2>Ваш обзор еще не размещен на сайте. Чтобы он появился, нажмите кнопку опубликовать.</h2>
      <%= link_to t('my.send_to_public'), publish_my_review_path(@review.id), :method => :put, :class => 'flat-btn btn-orange btn-lg floatr',
        :confirm => 'Вы уверены? После публикации обзор будет доступен всем пользователям сайта!' %>
    </div>
  <% end %>

  <div class="left">
    <div class="separator">
      Так обзор будет выглядеть при просмотре
      <span class="icons floatr">
        <%= link_to '', poster_edit_my_review_path(@review.id), :class => 'icon-flat icon-poster show_tipsy', :title => 'Изменить постер' %>
        <%= link_to '', edit_my_review_path(@review.id), :class => 'icon-flat icon-pencil show_tipsy', :title => 'Редактировать обзор' %>
        <%= link_to '', my_review_path(@review.id), :class => 'icon-flat icon-delete show_tipsy', :method => :delete, :confirm => 'Вы уверены? Информация будет удалена без возможности восстановления!', :title => 'Удалить обзор' %>
      </span>
    </div>

    <%= render :partial => 'my/reviews/review', :locals => { :review => @review } %>

    <ul class="tags">
      <% @review.tags.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </div>

  <div class="right">
    <div class="separator">
      Так обзор будет выглядеть на списке
    </div>

    <ul class="posters">
      <li class="item"><%= render :partial => "reviews/poster", :locals => { :review => @review, :height => '200', :width => '354' } %></li>
    </ul>

    <ul class="review_help">
      <%= render :partial => "help_#{@review.useful_type}" %>
    </ul>
  </div>

</div>
