<% decorator = AfishaDecorator.new feed_vote_afisha.voteable %>

<div class='poster'>
  <%= link_to image_tag( resized_image_url(feed_vote_afisha.voteable.poster_url, 100 , 135 ), :size => '100x135', :title => feed_vote_afisha.voteable.title), feed_vote_afisha.voteable  %>
</div>
<div class='main'>
  <% if @account.id == feed_vote_afisha.user.account.id %>
    <div class='type'>
      Нравится афиша
    </div>
  <% else %>
    <div class='avatar'>
      <%=  link_to image_tag(resized_image_url(feed_vote_afisha.user.account.avatar_for_feed, 23, 23), :size => '23x23'), feed_vote_afisha.user.account %>
    </div>
    <div class='type'>
      <%= link_to feed_vote_afisha.user.name, feed_vote_afisha.user.account  %>
      <%= t "account.rated.#{feed_vote_afisha.user.account.gender}" %> афишу
    </div>
  <% end %>

  <div class='title'>
    <%= link_to(feed_vote_afisha.voteable.title, feed_vote_afisha.voteable) %>
  </div>
  <div class='body'>
    <p>
    <%= decorator.when_with_price %>
      <% decorator.places.each do |place| %>
        <div class='place'>
          <%= place.place %>
        </div>
      <% end %>
    </p>
  </div>
</div>
<div class='text'>
  <%= "#{feed_vote_afisha.voteable.description.first(220)}..." if feed_vote_afisha.voteable.description.present? %>
</div>
