<div class='time'>
  <%= time_ago_in_words(feed_friend.created_at) %> назад
</div>
<% if current_user.present? && current_user.account.id == feed_friend.feedable.account_id %>
  <%= render :partial => 'accounts/avatar',
    :locals => { :account => feed_friend.feedable.friendable, :width => 100, :height => 100, :title => feed_friend.feedable.friendable } %>

  <div class='details'>
    &nbsp;<%= link_to(feed_friend.feedable.friendable.title, feed_friend.feedable.friendable) %>
    <span>&nbsp;<%= t "account.added_to_friends.#{feed_friend.feedable.friendable.gender}" %></span>
  </div>
<% else %>
  <%= render :partial => 'accounts/avatar',
    :locals => { :account => feed_friend.feedable.account, :width => 100, :height => 100, :title => feed_friend.feedable.account } %>

  <div class='details'>
    &nbsp;<%= link_to(feed_friend.feedable.account.title, feed_friend.feedable.account) %>
    <span>&nbsp; <%= t "account.added_a_friend.#{feed_friend.feedable.account.gender}" %> </span>
    <%= link_to(feed_friend.feedable.friendable.title, feed_friend.feedable.friendable) %>
  </div>
<% end %>
