<div class="poster">
  <% if feed_post.feedable.poster_url? %>
    <%= link_to_if feed_post.feedable.published?, image_tag(resized_image_url(feed_post.feedable.poster_url, 100, 56), :size => '100x56', :title => feed_post.feedable.title, :alt => feed_post.feedable.title), post_path(feed_post.feedable) %>
  <% else %>
    <%= link_to_if feed_post.feedable.published?, image_tag(feed_post.feedable.poster_image.url, :size => '100x56'), post_path(feed_post.feedable) %>
  <% end %>
</div>

<div class="main">
  <div class="time"><%= time_ago_in_words(feed_post.feedable.created_at) %> назад</div>

  <% if current_user.present? && current_user.account_id == feed_post.feedable.account_id %>
    <div class="type">Добавлен обзор</div>
  <% else %>
    <div class="avatar">
      <%= link_to image_tag(resized_image_url(feed_post.feedable.account.avatar.url, 23, 23), :size => '23x23', :alt => feed_post.feedable.account.title), feed_post.feedable.account %>
    </div>
    <div class="type">
      <%= link_to feed_post.feedable.account, feed_post.feedable.account %>
      <%= t "account.added_post.#{feed_post.feedable.account.gender}" %>
    </div>
  <% end %>

  <div class="title">
    <%= link_to feed_post.feedable.title, post_path(feed_post.feedable) %>
  </div>

  <div class="body">
    <%= feed_post.feedable.content_for_index %>
  </div>

  <div class="text">
  </div>
</div>
