<div class='comment'>
  <div class='time'><%= time_ago_in_words(feed_comment.created_at) %> назад</div>
  <div class='main'>
    <% if current_user.account.id == feed_comment.feedable.user.account.id %>
      <div class='type'>
        Комментарий
      </div>
    <% else %>
      <div class='avatar'>
        <%= link_to feed_comment.feedable.user.account do %>
          <%= image_tag(resized_image_url(feed_comment.feedable.user.account.avatar.url, 23, 23),
                        :size => '23x23', :alt => feed_comment.feedable.user.account.title) %>
        <% end %>
      </div>
      <div class='type'>
        <%= link_to feed_comment.feedable.user.name, feed_comment.feedable.user.account  %>
        <%= t "account.writed_a_comment.#{feed_comment.feedable.user.account.gender}" %>
      </div>
    <% end %>
    <div class='title'>
      <% unless feed_comment.feedable.commentable.class.name == "Work"  %>
        <%= link_to(feed_comment.feedable.commentable.title, feed_comment.feedable.commentable) %>
      <% else %>
        <%= link_to("Работа " + feed_comment.feedable.commentable.to_feed_title, [feed_comment.feedable.commentable.contest, feed_comment.feedable.commentable])  %>
      <% end %>
    </div>
    <div class='body'>
      <%= feed_comment.feedable.body.truncated.as_html if feed_comment.feedable.body? %>
    </div>
  </div>
</div>
