<div class='poster'>
  <%= link_to feed_certificate.feedable do %>
    <%= image_tag(resized_image_url(feed_certificate.feedable.poster_url, 100 , 74),
                  :size => '100x74', :alt => feed_certificate.feedable.title) %>
  <% end %>
</div>

<div class="main">
  <div class='time'><%= time_ago_in_words(feed_certificate.created_at) %> назад</div>

  <% if current_user.account.id == feed_certificate.feedable.account.id %>
    <div class='type'>Добавлена скидка</div>
  <% else %>
    <div class='avatar'>
      <%= link_to feed_certificate.feedable.account do %>
        <%= image_tag(resized_image_url(feed_certificate.feedable.account.avatar.url, 23, 23),
                      :size => '23x23', :alt => feed_certificate.feedable.account.title) %>
      <% end %>
    </div>
    <div class='type'>
      <%= link_to feed_certificate.feedable.account.title, feed_certificate.feedable.account %>
      <%= t "account.added_certificate.#{feed_certificate.feedable.account.gender}" %>
    </div>
  <% end %>

  <div class='title'>
    <%= link_to(feed_certificate.feedable.title, feed_certificate.feedable) %>
  </div>
</div>
