<div class='poster'>
  <%= link_to image_tag( resized_image_url(feed_visit_afisha.visitable.poster_url, 65 , 87 ), :size => '65x87', :title => feed_visit_afisha.visitable.title), feed_visit_afisha.visitable  %>
</div>
<p>
<%= link_to(feed_visit_afisha.visitable.title, feed_visit_afisha.visitable) %>
</p>
<p>
<% if feed_visit_afisha.visitable.actual? %>
  <%= "Хочет посетить" %>
<% else %>
  <%= "Посетил" %>
<% end %>
</p>
<div class='kind'><%= t "enumerize.afisha.feed_kind.#{feed_visit_afisha.visitable.kind.first}" %></div>
