<div class='afisha'>
  <% decorator = AfishaDecorator.new feed_afisha.feedable %>
  <div class='time'><%= time_ago_in_words(feed_afisha.created_at) %> назад</div>

  <div class='poster'>
    <%= link_to image_tag( resized_image_url(feed_afisha.feedable.poster_url, 100 , 135 ), :size => '100x135', :title => feed_afisha.feedable.title), feed_afisha.feedable  %>
  </div>
  <div class='main'>
  <% if @account.id == feed_afisha.feedable.user.account.id %>
    <div class='type'>
      Добавлена афиша
    </div>
  <% else %>
    <div class='avatar'>
      <%=  link_to image_tag(resized_image_url(feed_afisha.feedable.user.account.avatar_for_feed, 23, 23), :size => '23x23'), feed_afisha.feedable.user.account %>
    </div>
    <div class='type'>
      <%= link_to feed_afisha.feedable.user.name, feed_afisha.feedable.user.account  %>
      <%= t "account.added_afisha.#{feed_afisha.feedable.user.account.gender}" %>
    </div>
  <% end %>

    <div class='title'>
      <%= link_to(feed_afisha.feedable.title, feed_afisha.feedable) %>
    </div>
    <div class='body'>
      <p>
      <%= decorator.when_with_price %>
        <% decorator.places.each do |place| %>
          <div class='place'>
            <%= place.place %>
          </div>
        <% end %>
      </p>
    </div>
  </div>
  <div class='text'>
    <%= "#{feed_afisha.feedable.description.first(220)}..." if feed_afisha.feedable.description.present? %>
  </div>
</div>
