<div class='poster'>
  <%= link_to feed_afisha.feedable do %>
    <%= image_tag(resized_image_url(feed_afisha.feedable.poster_url, 100 , 135),
                  :size => '100x135', :alt => feed_afisha.feedable.title) %>
  <% end %>
</div>

<div class='main'>

  <div class='time'><%= time_ago_in_words(feed_afisha.created_at) %> назад</div>

  <% if current_user.present? && current_user.account.id == feed_afisha.feedable.user.account.id %>
    <div class='type'>Добавлена афиша</div>
  <% else %>
    <div class='avatar'>
      <%= link_to feed_afisha.feedable.user.account do %>
        <%= image_tag(resized_image_url(feed_afisha.feedable.user.account.avatar.url, 23, 23),
                      :size => '23x23', :alt => feed_afisha.feedable.user.account.title) %>
      <% end %>
    </div>
    <div class='type'>
      <%= link_to feed_afisha.feedable.user.name, feed_afisha.feedable.user.account %>
      <%= t "account.added_afisha.#{feed_afisha.feedable.user.account.gender}" %>
    </div>
  <% end %>

  <div class='title'>
    <%= link_to(feed_afisha.feedable.title, feed_afisha.feedable) %>
  </div>

  <div class='body'>
    <% decorator = AfishaDecorator.new feed_afisha.feedable %>
    <p><%= decorator.when_with_price %></p>
    <% decorator.places.each do |place| %>
      <div class='place'>
        <%= place.place %>
      </div>
    <% end %>
    <% if feed_afisha.feedable.tickets.map(&:copies_for_sale).any? %>
      <%= render partial: "feeds/feed_afisha_tickets", locals: {afisha: feed_afisha.feedable } %>
    <% end %>
  </div>

  <div class='text'>
    <%= feed_afisha.feedable.description.truncated.as_html if feed_afisha.feedable.description? %>
  </div>
</div>
