<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>

<h1>
  <%= resource.map_project.title %>
  (<%= link_to 'Редактировать', edit_manage_map_project_path(resource.map_project) %>
  <%= link_to 'Удалить', manage_map_project_path(resource.map_project), method: 'DELETE', confirm: 'Вы уверены?' %>)
</h1>

<div class="map_project_wrapper">
  <div class="left">
    <p class="title">Слои:</p>
    <ul>
      <li class="<%= controller_name == 'map_projects' ? 'selected' : '' %>"><%= link_to 'Все слои', manage_map_project_path(resource.map_project) %></li>
      <% resource.map_project.map_layers.each do |map_layer| %>
        <li class="<%= map_layer.slug == params[:id] ? 'selected' : '' %>">
          <%= link_to map_layer.title,  manage_map_project_map_layer_path(resource.map_project, map_layer) %>
          (<%= link_to "Редактировать", edit_manage_map_project_map_layer_path(resource.map_project, map_layer) %>
          <%= link_to "Удалить", manage_map_project_map_layer_path(resource.map_project, map_layer), method: 'DELETE', confirm: 'Вы уверены?' %>)
        </li>
      <% end %>
    </ul>
    <%= link_to 'Новый слой', new_manage_map_project_map_layer_path(resource.map_project) %>
  </div>
  <div class="right">
    <div class="map_project_map" data-latitude='56.493246' data-longitude='84.982112'></div>
  </div>
  <div style="clear:both"> </div>
  <div class="placemarks_list">
    <h3 class="title">
      Список меток:
      (<%= link_to 'Новая метка', new_manage_map_project_map_placemark_path(resource.map_project)  %>)
    </h3>
    <% resource.map_placemarks.each do |map_placemark| %>
      <p data-latitude='<%= map_placemark.latitude %>' data-longitude='<%= map_placemark.longitude %>'
         data-title='<%= map_placemark.title.as_html %>' data-image='<%= map_placemark.image_url %>'
         data-icon='<%= resource.image_url %>' data-address='<%= map_placemark.address %>'
         data-when='<%= map_placemark.when %>'>
        <%= link_to map_placemark.title, map_placemark.url %>
        (<%= link_to "Редактировать", edit_manage_map_project_map_placemark_path(resource.map_project, map_placemark)  %>
        <%= link_to "Удалить", manage_map_project_map_placemark_path(resource.map_project, map_placemark), method: 'DELETE', confirm: "Вы уверены?"  %>)
      </p>
   <% end %>
  </div>

</div>
