<% p @sms_claim.errors %>
<%= simple_form_for [parent, @sms_claim] do |f| %>
  <%= f.input :name, :input_html => { :placeholder => 'Иванов Пётр Сергеевич' } %>
  <%= f.input :phone, :input_html => { :placeholder => '+7-(111)-111-1111' } %>
  <%= f.input :details, :hint => t("sms_claim.#{parent.class.name.underscore}.placeholder") %>
  <div class='chars_left'>Символов осталось: <span id='chars_left'></span></div>
  <div class='submit'>
    <%= f.submit 'Оставить заявку' %>
  </div>
<% end %>
