<%= f.input :category, :input_html => { :rows => 1 } %>
<%= f.input :feature, :input_html => { :rows => 1 } %>
<%= f.input :offer, :input_html => { :rows => 1 } %>
<%= f.input :payment, :input_html => { :rows => 1 } %>


<div class="form-actions btn-group">
  <%= link_to "<i class='icon-arrow-left'></i>&nbsp;Назад".html_safe, :back, :class => 'btn' %>
  <%= button_tag '<i class="icon-ok"></i>&nbsp;Сохранить'.html_safe, :class => 'btn' %>
</div>

