<ul class='ticket_infos'>
  <% collection.group_by(&:organization).each do |organization, items| %>
    <li class='ticket_info'>
      <h5>
        <% if organization %>
          <%= link_to "#{organization.title} (#{organization.address})", manage_organization_path(organization) %>
        <% else %>
          Место проведения не указано
        <% end %>
      </h5>

      <ul class='manage'>
        <% items.each do |item| %>
          <li>
            <p>
              <%= link_to item.afisha.title, polymorphic_url([:manage, item.afisha]) %>
              <%= link_to 'Редактировать', edit_manage_statistics_ticket_path(item) %>
            </p>

            <div class="poster">
              <%= link_to image_tag(resized_image_url(item.afisha.poster_url, 70, 100), size: '70x100'), manage_afisha_show_path(item.afisha) %>
            </div>

            <div class="details">
              <% if item.class.name.underscore == "ticket"  %>
                <p><%= "Цена: #{item.original_price} / #{item.price}" %></p>
              <% else %>
                <p><%= "Цена: #{item.price}" %></p>
              <% end %>
              <p>Коды: <%= item.copies.map(&:code).join(', ') %></p>
              <table class='tickets'>
                <% copies = @state ? item.copies.send(@state) : item.copies %>
                <% copies.each do |copy| %>
                  <tr>
                    <td class='code'><%= copy.code %></td>
                    <td class='phone'><%= copy.copy_payment ? copy.copy_payment.phone : '' %></td>
                    <td class='state'><%= copy.state_text %></td>
                    <% if copy.row? %>
                      <td><%= "#{copy.row} ряд #{copy.seat} место" %></td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </div>
          </li>
        <% end %>
      </ul>

      <% if organization %>
        <div class="text">
          <p>Коды для <%= link_to organization.title, organization_path(organization) %>:</p>
          <% items.each do |item| %>
            <% afisha = AfishaDecorator.new(item.afisha) %>
            <p>
              <%= link_to "#{afisha.human_when} #{afisha.title}".html_safe, manage_afisha_show_path(afisha) %> -
              <%= item.copies.map(&:code).join(', ') %>
              (<%= item.description %>)
            </p>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
