<%= simple_form_for GalleryImage.new, :url => my_gallery_images_path, :html => { :multipart => true, :class => 'upload_gallery_images', :data => { :title => 'Загрузка изображения' } } do |f| %>
  <%= f.input :file, :input_html => { :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
<% end %>

<%= simple_form_for [:my, @post], :html => { :class => 'default_simple_form' } do |f| %>
  <%= f.input :categories, :as => :check_boxes %>
  <%= f.input :kind, :as => :check_boxes %>
  <%= f.input :title %>
  <%= f.input :content, :as => :text, :input_html => { :id => 'html', :class => 'markitup' }  %>
  <%= f.input :tag, :as => :string, :input_html => { :data => { 'autocomplete-source' => available_tags_my_posts_path } } %>

  <%= f.input :link_with_value, :as => :hidden %>
  <%= f.input :link_with_reset, :as => :hidden %>

  <%= f.input :link_with_title,
    :wrapper_html => { :class => @post.linked? ? :linked : :not_linked },
    :input_html => {
      :data => { 'autocomplete-source' => link_with_my_posts_path, :target => '#post_link_with_value', :reset => '#post_link_with_reset' },
      :placeholder => 'Введите название заведения или мероприятия' }
  %>

  <% if @post.linked? %>
    <div class="input link_with_wrapper">
      <%= label_tag 'Это пост связан с' %>
      <%= link_to 'Изменить', '#', :class => 'link_with_change' %>

      <div class="link_with_content">
        <% if @post.afisha_id? %>
          <%= link_to @post.afisha.title, afisha_show_path(@post.afisha) %>
        <% else %>
          <%= link_to @post.organization.title, @post.organization %>
        <% end %>
      </div>
    </div>
  <% end %>


  <div class="submit">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>

<div class="preview_wrapper">
  <h3>Предварительный просмотр</h3>
  <div class="preview">
    <%= AutoHtmlRenderer.new(@post.content).render %>
  </div>
</div>

