<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class="my_posts_wrapper">
    <div class="post_preview_wrapper">
      <div class="post_show_preview">
        <div class="header_with_marker">
          <div class="to_right">
            <% if @post.draft?  %>
              <%= link_to t('my.send_to_public'), publish_my_post_path(@post), :method => :put, :class => 'button change_state',
                :confirm => 'Вы уверены? После публикации обзор будет доступен всем пользователям сайта!' %>

              <%= link_to poster_my_post_path(@post), :class => 'button change_poster', :title => 'Изменить постер' do %>
                <span></span>
              <% end %>

              <%= link_to edit_my_post_path(@post), :class => 'button change_post', :title => 'Редактировать пост' do %>
                <span></span>
              <% end %>

              <%= link_to my_post_path(@post), :method => :delete, :class => 'button remove_post', :title => 'Удалить пост',
                :confirm => 'Вы уверены? Информация будет удалена без возможности восстановления!' do %>
                <span></span>
              <% end %>

            <% else %>
              <%= link_to 'В черновики', draft_my_post_path(@post), :method => :put, :class => 'button change_state',
                :confirm => 'Вы уверены? После подтверждения обзор будет недоступен пользователям сайта!' %>

              <%= link_to poster_my_post_path(@post), :class => 'button change_poster', :title => 'Изменить постер' do %>
                <span></span>
              <% end %>

              <%= link_to edit_my_post_path(@post), :class => 'button change_post', :title => 'Редактировать пост' do %>
                <span></span>
              <% end %>
            <% end %>
          </div>
          <h3>Так обзор будет выглядеть при просмотре</h3>
        </div>

        <%= render :partial => 'posts/post_show', :locals => { :post => @post, :for_preview => true } %>

        <div class="gallery_images_wrapper">
          <h3 id="gallery_images_header">Фотографии</h3>
          <ul class="gallery_images">
            <%= render @post.gallery_images %>
          </ul>

          <%= simple_form_for @post.gallery_images.new, :url => my_post_gallery_images_path(@post.id), :html => { :multipart => true, :class => 'file_upload default_simple_form' } do |f| %>
            <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
            <span class='info'>
              <span></span>Можно выбрать сразу несколько файлов
            </span>
          <% end %>

          <div class="upload_wrapper">
            <script id="template-upload" type="text/x-tmpl">
              <div class="upload">
                {%=o.name%}
                <div class="progress"><div class="bar" style="width: 0%"></div></div>
              </div>
            </script>
          </div>
        </div>
      </div>

      <div class="post_index_preview">
        <div class="header_with_marker">
          <h3>Так обзор будет выглядеть на списке</h3>
        </div>

        <%= render :partial => 'posts/post_poster', :locals => { :post => @post, :@width => '353', :@height => '199' } %>

        <ul class="post_help">
          <li>
          <b>Заголовок и текст</b> можно <%= link_to 'отредактировать', edit_my_post_path(@post) %>. <b>Для&nbsp;аннотации</b> берутся первые 180 символов текста.
          </li>

          <li>
            В качестве <b>постера</b> используется картинка из текста или кадр из видео. Также можно <%= link_to 'изменить постер', poster_my_post_path(@post) %>.
          </li>

          <li>
            К обзору можно <a href="#gallery_images_header">добавить фотографии</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
