<div class='my_wrapper'>
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class='my_posts_wrapper'>
    <div class='index_preview'>
      <h2>Так пост будет выглядеть на списке &darr;</h2>
      <%= render :partial => 'posts/post_poster', :locals => { :post => @post } %>
      <div class='post_help'>
        <div class='index_title'>
          Для изменения заголовка перейдите на страницу <%= link_to 'редактирования', edit_my_post_path(@post) %>
        </div>
        <div class='index_poster'>
          Для поста необходимо <%= link_to 'загрузить', poster_my_post_path(@post) %> постер. Так же вы можете <%= link_to 'добавить галерею', '#' %>
        </div>
        <div class='index_content'>
          Для аннотации берутся первые 180 символов текста. Изменить текст можно на <%= link_to 'редактировании', edit_my_post_path(@post) %>
        </div>
      </div>
    </div>

    <div class='show_preview'>
      <h2>Так пост будет выглядеть для просмотра &darr;</h2>
      <%= render :partial => 'posts/post_show', :locals => { :post => @post, :for_preview => true } %>
    </div>
  </div>
</div>
