<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class="my_posts_wrapper">
    <div class="left">
      <div class="index_preview">
        <div class="panel_header js-accordion-header">
          <div class="clear">
            <span class="panel"></span>
          </div>
          <h3>Так пост будет выглядеть на списке</h3>
        </div>

        <div class="js-accordion-body">
          <%= render :partial => 'posts/post_poster', :locals => { :post => @post, :@width => '353', :@height => '199' } %>
          <div class="post_help">
            <div class="index_title">
              Для изменения заголовка перейдите на страницу <%= link_to 'редактирования', edit_my_post_path(@post) %>
            </div>
            <div class="index_poster">
              Для поста необходимо <%= link_to 'загрузить', poster_my_post_path(@post) %> постер.
            </div>
            <div class="index_content">
              Для аннотации берутся первые 180 символов текста. Изменить текст можно на <%= link_to 'редактировании', edit_my_post_path(@post) %>
            </div>
          </div>
        </div>
      </div>

      <div class="show_preview">
        <div class="panel_header js-accordion-header">
          <div class="clear">
            <span class="panel"></span>
          </div>
          <h3>Так пост будет выглядеть при просмотре</h3>
        </div>

        <div class="js-accordion-body">
          <%= render :partial => 'posts/post_show', :locals => { :post => @post, :for_preview => true } %>
        </div>
      </div>

      <div class="gallery_preview">
        <div class="panel_header js-accordion-header">
          <div class="clear">
            <span class="panel"></span>
          </div>
          <h3>Добавьте галерею</h3>
        </div>

        <div class="js-accordion-body">
          <ul class="gallery_images">
            <%= render @post.gallery_images %>
          </ul>

          <%= simple_form_for @post.gallery_images.new, :url => my_post_gallery_images_path(@post.id), :html => { :multipart => true, :class => 'file_upload' } do |f| %>
            <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
          <% end %>

          <div class="upload_wrapper">
            <script id="template-upload" type="text/x-tmpl">
              <div class="upload">
                {%=o.name%}
                <div class="progress"><div class="bar" style="width: 0%"></div></div>
              </div>
            </script>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="post_notes">
        <% if @post.draft? %>
          <h2>Публикация обзора</h2>
          <p>На этой странице вы можете посмотреть как пост будет выглядеть на списке и на просмотре.</p>
          <p>Для того, чтобы опубликовать обзор, необходимо заполнить следующие поля:</p>
          <ul class="requirements">
            <li class='<%= @post.title? ? 'enabled' : 'disabled' %>'>Название</li>
            <li class='<%= @post.description? ? 'enabled' : 'disabled' %>'>Описание</li>
          </ul>

          <% if can? :send_to_published, @post %>
            <% if @post.ready_for_publication? %>
              <%= link_to t('my.send_to_public'), publish_my_post_path(@post), :method => :put, :class => 'enabled',
                :confirm => 'Вы уверены? После публикации обзор будет доступен всем пользователям сайта!' %>
            <% else %>
              <%= link_to t('my.send_to_public'), 'javascript: void(0)', class: 'disabled' %>
            <% end %>
            <%= link_to t('my.destroy'), my_post_path(@post), :method => :delete, :class => :destroy,
              :confirm => 'Вы уверены? Информация будет удалена без возможности восстановления!' %>
          <% end %>

        <% else %>
          <h2><%= t("activerecord.state_machines.state.states.#{@post.state}") %></h2>
          <%= content_tag :p, link_to('Посмотреть в публичном виде', post_path(@post), target: '_blank') %>
          <%= link_to t('my.send_to_draft'), draft_my_post_path(@post), :method => :put,
            :confirm => 'Вы уверены? После подтверждения обзор будет недоступен пользователям сайта!' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
