<li id="offer_<%= offer.id %>">
  <span class="author">
    <%= offer.name %> (<%= offer.phone %>) <%= l offer.created_at, :format => :long %>
  </span>

  <span class="status_title">
    Статус: <%= offer.human_state_name %>
    <% if offer.fresh? %>
      <%= link_to 'Принять', edit_manage_statistics_offer_path(offer), :class => 'edit', :remote => true %>
      <%= link_to 'Отклонить', fire_state_event_manage_statistics_offer_path(offer, :cancel), :method => :put %>
    <% end %>
  </span>

  <%= link_to 'удалить', manage_statistics_offer_path(offer), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete' %>

  <span class="offer_for">
    Предложение цены для
    <% if offer.offerable.is_a?(Discount) %>
      <%= link_to offer.offerable.title, discount_path(offer.offerable) %>
    <% end %>
  </span>

  <span class="details"><%= offer.details %></span>

  <%= render :partial => 'stake', :locals => { :offer => offer } %>
</li>
