<h1>Смс заявки (<%= SmsClaim.count %>)</h1>

<table class="bordered padded">
  <thead>
    <tr>
      <th>ID</th>
      <th>Контактное лице</th>
      <th class="phone">Телефон</th>
      <th>Заведение</th>
      <th>Детали</th>
      <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @sms_claims.each do |sms_claim| %>
      <tr>
        <td><%= sms_claim.id %></td>
        <td><%= sms_claim.name %></td>
        <td><%= sms_claim.phone %></td>
        <td>
          <%= link_to sms_claim.claimed.organization_title, [:crm, sms_claim.claimed.organization]  %>
          (<%= number_to_currency sms_claim.claimed.reservation.balance %>)
        </td>
        <td><%= sms_claim.details %></td>
        <td>
          <%= simple_form_for [:manage, :statistics, sms_claim.claimed.reservation] do |f| %>
            <%= hidden_field_tag :page, params[:page] if params[:page].present? %>
            <%= f.submit "Вернуть #{number_to_currency(Settings['sms_claim.price'])}" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sms_claims %>
