<%= simple_form_for [:manage, resource], :remote => true do |f| %>
  <%= f.input :state, :input_html => { :value => :approved }, :as => :hidden %>
  <span class="user_offer">Цена: <%= number_to_currency(resource.amount, :precision => 0) %></span>
  <%= f.input :our_stake %>
  <%= f.input :organization_stake %>
  <%= f.submit 'Сохранить' %>
  <%= link_to "отмена", '#', :class => 'cancel' %>
<% end %>
