<div class='suborganization_info salon_center'>

  <div class='title'><%= salon_center.title.text_gilensize %></div>

  <%= salon_center.htmlise_offers_and_features_on_show %>

  <%= content_tag :div, salon_center.description.as_html, :class => :description if salon_center.description.present? %>

  <% if salon_center.has_photogallery? %>
    <div class='photogallery'>
      <ul>
        <%= render salon_center.gallery_images, :rel => "salon_center_gallery_#{salon_center.id}" %>
      </ul>
    </div>
  <% end %>

  <div class='services'>
    <% grouped_services = salon_center.services.group_by(&:category) %>
    <% grouped_services.each do |category, services| %>
      <%= content_tag(:div, content_tag(:h2, category), :class => :service_header) if grouped_services.count > 1 %>
      <%= render :partial => 'salon_centers/services', :locals => { :services => services } %>
    <% end %>
  </div>

</div>
