<div class="suborganization_info salon_center">
  <table>
    <tr>
      <td class='border'>
        <%= salon_center.htmlise_title_on_show %>
      </td>
      <td>
        <%= salon_center.iconize_info %>
        <div class="details">
          <%= salon_center.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>

  <% if salon_center.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% salon_center.gallery_images.each do |image| %>
          <li><%= link_to(image_tag_for(image.file_url, 124, 94, true, 'n'), image.file_url, rel: :salon_center_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="services">
    <% salon_center.services.group_by(&:category).each do |category, services| %>
      <div class="service_header">
        <h2><%= category %></h2>
        <%= render :partial => 'organizations/services', :locals => { :services => services } %>
      </div>
    <% end %>
  </div>

</div>
