<td align="left" valign="top">
  <table class="account">
    <tr align="center" class="middle_border top_border">
      <td class="title without-padding">
        <%= link_to truncate(account.title, length: 20), path_for_email(account) %>
      </td>
    </tr>
    <tr class="middle_border">
      <td class="without-padding">

        <% if account.invitations.without_invited.any? %>
          <%= link_to(image_tag(resized_image_url(account.avatar.url, 178, 142),
                                size: "#{178}x#{142}",
                                title: account,
                                alt: account),
                                path_for_email(account)) %>
        <% else %>
          <%= link_to(image_tag(resized_image_url(account.avatar.url, 178, 178),
                                size: "#{178}x#{178}",
                                title: account,
                                alt: account),
                      path_for_email(account)) %>
        <% end %>
      </td>
    </tr>
    <% if account.invitations.without_invited.any? %>
      <tr class="middle_border">
        <td class="orange_button without-padding">
          <% if account.invitations.inviter.without_invited.any? %>
            <%= link_to path_for_email(account, 'invite_me'), :class => :orange_button do %>

             <img src="<%= "#{Settings['app']['url']}/assets/public/emails/invite_me.png" %>"
                   alt="<%= t("notice_mailer.invite_me") %>"
                   title="<%= t("notice_mailer.invite_me") %>" />
            <% end %>
          <% elsif account.invitations.invited.without_invited.any? %>
            <%= link_to path_for_email(account, 'invite_me'), :class => :orange_button do %>

             <img src="<%= "#{Settings['app']['url']}/assets/public/emails/invite.png" %>"
                   alt="<%= t("notice_mailer.invite") %>"
                   title="<%= t("notice_mailer.invite") %>" />
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr align="center" class="bottom_border middle_border">
      <td class="invitations without-padding">
        <span>
          <%= invitations_for_account(account) %>
        </span>
      </td>
    </tr>
  </table>
</td>
