<% afisha = AfishaDecorator.new afisha %>

<td align="left" valign="top">
  <table class="afisha">
    <tr align="center" class="middle_border top_border">
      <td class="title without-padding">
        <%= link_to(afisha.title.text_gilensize.truncated(40),path_for_email(afisha)) %>
      </td>
    </tr>
    <tr class="middle_border">
      <td class="without-padding">
        <% if afisha.has_tickets_for_sale? %>
          <%= link_to(image_tag(resized_image_url(croped_image_url_for_email(afisha.poster_url, 0.15), 178, 204),
                                size: "#{178}x#{204}",
                                alt: afisha.title),
                                path_for_email(afisha)) %>
        <% else %>
          <%= link_to(image_tag(resized_image_url(afisha.poster_url,178, 240), size: "#{178}x#{240}", alt: afisha.title),
                                path_for_email(afisha)) %>
        <% end %>
      </td>
    </tr>
    <% if afisha.has_tickets_for_sale? %>
      <tr class="bottom_border middle_border">
        <td class="ticket without-padding">
          <%= link_to path_for_email(afisha, :buy_ticket), :class => :orange_button do %>
           <img src="<%= "#{Settings['app']['url']}/assets/public/emails/buy_ticket.png" %>"
                 alt="<%= t("notice_mailer.buy_ticket") %>"
                 title="<%= t("notice_mailer.buy_ticket") %>" />
         <% end %>
        </td>
      </tr>
    <% end %>
    <tr align="center" class="middle_border">
      <td class="place without-padding">
        <span>
          <%= places_for_afisha(afisha) %>
        </span>
      </td>
    </tr>
    <tr align="center" class="middle_border bottom_border">
      <td class="when without-padding">
        <span><%= afisha.human_when ? afisha.human_when : "&nbsp;".html_safe %></span>
      </td>
    </tr>
  </table>
</td>
