<td align="left" valign="top">
  <table class="organization">
    <tr align="center" class="middle_border top_border">
      <td class="title without-padding">
        <%= link_to(organization.title.text_gilensize.truncated(40),
                     organization_path(organization,
                                            :only_path => false,
                                            :utm_campaign => "znaigorod",
                                            :utm_medium => "email",
                                            :utm_source => "email")) %>
      </td>
    </tr>
    <tr class="middle_border">
      <td class="logo without-padding">

        <% if organization.sms_claimable? || organization.organization.sms_claimable? %>
          <%= link_to(image_tag(resized_image_url(organization.logotype_url, 178, 142),
                                size: "#{178}x#{142}",
                                alt: organization.title),
                                organization_path(organization,
                                                       :only_path => false,
                                                       :utm_campaign => "znaigorod",
                                                       :utm_medium => "email",
                                                       :utm_source => "email")) %>
        <% else %>
          <%= link_to(image_tag(organization.logotype_url,
                                size: "#{178}x#{178}",
                                alt: organization.title),
                                organization_path(organization,
                                                       :only_path => false,
                                                       :utm_campaign => "znaigorod",
                                                       :utm_medium => "email",
                                                       :utm_source => "email")) %>
        <% end %>

      </td>
    </tr>
    <tr class="middle_border">
      <td class="orange_button without-padding">
        <% if organization.is_a?(Organization) %>
          <% if organization.sms_claimable? %>
            <%= link_to send("new_#{organization.priority_sms_claimable_suborganization.class.name.underscore}_sms_claim_path",
                   organization.priority_sms_claimable_suborganization,
                   :only_path => false,
                   :utm_campaign => "znaigorod",
                   :utm_medium => "email",
                   :utm_source => "email"),
              :class => :sms_claim_link  do %>
              <img src="<%= "#{Settings['app']['url']}/assets/public/emails/order_#{organization.priority_sms_claimable_suborganization.class.name.underscore}.png" %>"
              alt="<%= organization.priority_sms_claimable_suborganization.reservation_title %>" />

              <% end %>
          <% end %>
        <% else %>
          <% if organization.organization.sms_claimable? %>
            <%= link_to send("new_#{organization.class.name.underscore}_sms_claim_path",
                   organization.organization,
                   :only_path => false,
                   :utm_campaign => "znaigorod",
                   :utm_medium => "email",
                   :utm_source => "email"),
              :class => :sms_claim_link do %>
              <img src="<%= "#{Settings['app']['url']}/assets/public/emails/order_#{organization.organization.priority_sms_claimable_suborganization.class.name.underscore}.png" %>"
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>

    <tr align="center" class="middle_border">
      <td class="place without-padding">
      <span>
        <% unless organization.address.to_s.blank? %>
          <%= "#{organization.address}#{organization.office}".truncated(23, nil) %>
        <% else %>
          <%= "&nbsp;".html_safe %>
        <% end %>
      </span>
      </td>
    </tr>
    <tr align="center" class="middle_border bottom_border">
      <td class="phone without-padding">
        <span><%= organization.decorated_phones %></span>
      </td>
    </tr>
  </table>
</td>
