<tr class="solid_border">
  <td>
    <table class="custom_column_width columns">
      <tr>
        <h2 class="by_center">
          <%= t "notice_mailer.afisha_title" if materials.first.is_a?(Afisha) %>
          <%= t "notice_mailer.organization_title" if materials.first.is_a?(Organization) %>
          <%= t "notice_mailer.discount_title" if materials.first.is_a?(Discount) %>
        </h2>
      </tr>

      <% materials.each_with_index do |material, index| %>

        <% if (index + 1).odd? %>

          <tr>
            <td class="center" align="center">
              <center>
                <table id="content_row" class="row <%= materials.first.is_a?(Discount) ? "big_content_row" : "content_row" %>">
                  <tr align="left">
                    <td align="left" valign="top">
                      <table class="small_column columns">
                        <tr align="left">
                          <%= render partial: "site_digest_mailer/afisha", :locals => { :afisha => material } if materials.first.is_a?(Afisha) %>
                          <%= render partial: "site_digest_mailer/discount", :locals => { :discount => material } if materials.first.is_a?(Discount) %>
                          <%= render partial: "site_digest_mailer/organization", :locals => { :organization => material } if materials.first.is_a?(Organization) %>

        <% else %>

                          <td>
                            <table class="separator">
                              <tr>
                                <td>
                                  &nbsp;
                                </td>
                              </tr>
                            </table>
                          </td>
                          <%= render partial: "site_digest_mailer/afisha", :locals => { :afisha => material } if materials.first.is_a?(Afisha) %>
                          <%= render partial: "site_digest_mailer/discount", :locals => { :discount => material } if materials.first.is_a?(Discount) %>
                          <%= render partial: "site_digest_mailer/organization", :locals => { :organization => material } if materials.first.is_a?(Organization) %>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>

        <% end %>
      <% end %>

    </table>
  </td>
</tr>
