<div class="comments ajaxed">
  <h3>
    Комментарии
    <% if user_signed_in? %>
      <div class="logged">
        <%= image_tag current_user.avatar %>
        <%= link_to current_user.name, current_user.profile %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    </div>
    <% end %>
  </h3>

  <ul>
    <% parent_obj.comments.roots.order('created_at ASC').each do |comment| %>
      <%= render comment %>
    <% end %>
  </ul>

  <%= link_to "Оставить комментарий", [:new, parent_obj, :comment].flatten, :remote => true, :class => 'new_comment' %>
</div>
