<div class="comments ajaxed">
  <h3>
    Комментарии
    <% if user_signed_in? %>
      <div class="logged">
        Вы вошли как <%= link_to current_user.name, current_user.profile %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    </div>
    <% end %>
  </h3>

  <ul>
    <% parent_obj.comments.roots.order('created_at ASC').each do |comment| %>
      <%= render comment %>
    <% end %>
  </ul>


  <% if can?(:create, parent_obj.comments.new) %>
    <%= link_to "Оставить комментарий", [:new, parent_obj, :comment].flatten, :remote => true, :class => 'new_comment' %>
  <% else %>
    <h4>Оставлять комментарии могут только зарегистрированные пользователи. Пожалуйста, войдите с помощью одной из социальных сетей:</h4>
    <% unless user_signed_in? %>
      <ul class='social_signin_links'>
        <li class='vkontakte'>
          <%= link_to 'ВКонтакте', user_omniauth_authorize_path(:vkontakte), :title => 'ВКонтакте' %>
        </li>
        <li class='yandex'>
          <%= link_to 'Яндекс', user_omniauth_authorize_path(:yandex), :title => 'Яндекс' %>
        </li>
        <li class='facebook'>
          <%= link_to 'Facebook', user_omniauth_authorize_path(:facebook), :title => 'Facebook' %>
        </li>
        <li class='twitter'>
          <%= link_to 'Twitter', user_omniauth_authorize_path(:twitter), :title => 'Twitter' %>
        </li>
        <li class='google'>
          <%= link_to 'Google', user_omniauth_authorize_path(:google_oauth2), :title => 'Google' %>
        </li>
        <li class='mail_ru'>
          <%= link_to 'Mail.Ru', 'user_omniauth_authorize_path(:mail_ru)', :title => 'Mail.Ru' %>
        </li>
        <li class='odnoklassniki'>
          <%= link_to 'Одноклассники', 'user_omniauth_authorize_path(:odnoklassniki)', :title => 'Одноклассники' %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
