<li class='comment_item'>
  <div class='comment_wrapper'>
    <div class="avatar">
      <%= image_tag comment.user_avatar %>
    </div>
    <div class="user_info">
      <% if  comment.user_profile %>
        <%= link_to comment.user_name, comment.user_profile, :target => '_blank', :class => 'profile_link' %>,
      <% else %>
        <span class='profile_link'><%= comment.user_name %></span>,
      <% end %>
      <span class="date">
        <%= l comment.created_at, :format => :long %>
      </span>
      <% if can?(:create, comment.children.new) %>
        <%= link_to "ответить", polymorphic_path([:new, comment.commentable, :comment], :comment => {:parent_id => comment.id}), :remote => true, :class => 'new_answer' %>
      <% end %>
    </div>
    <div class="body">
      <%= strip_tags comment.body %>
    </div>
  </div>

  <ul>
    <% if comment.has_children? %>
      <% comment.children.each do |child| %>
        <%= render child %>
      <% end %>
    <% end %>
  </ul>
</li>

