<li class='comment_item' id='comment_<%= comment.id %>'>
  <div class='comment_wrapper'>
    <div class="avatar">
      <%= image_tag comment.avatar, :title => comment.name %>
    </div>
    <div class="user_info">
      <% if  comment.user_profile %>
        <%= link_to comment.name, comment.user_profile, :target => '_blank', :class => 'profile_link' %>,
      <% else %>
        <span class='profile_link'><%= comment.name %></span>,
      <% end %>
      <span class="date">
        <%= l comment.created_at, :format => :long %>
      </span>
      <%= link_to "ответить", polymorphic_url([:new, comment.commentable, :comment], :comment => {:parent_id => comment.id}), :remote => true, :class => 'new_answer' %>
      <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => comment } %>
    </div>
    <div class="body">
      <%= strip_tags comment.body %>
    </div>
  </div>

  <ul>
    <% if comment.has_children? %>
      <% comment.children.each do |child| %>
        <%= render child %>
      <% end %>
    <% end %>
  </ul>
</li>

