<% unless user_signed_in? %>
  <%= render :partial => "commons/social_auth" %>
<% else %>
  <li class='ajaxed_item comment_form'>
    <% if resource.account %>
      <%= link_to resource.account do %>
        <%= image_tag(resized_image_url(resource.avatar.url, 35, 35),
                      size: '35x35',
                      title: resource.account.title,
                      alt: resource.account.title, class: :avatar) %>
        <%= link_to resource.name, resource.account, :target => '_blank', :class => 'profile_link' %>
      <% end %>
    <% else %>
      <%= image_tag(resized_image_url(resource.avatar.url, 35, 35),
                    size: '35x35', title: resource.name,
                    alt: resource.name, class: :avatar) %>
      <span class="profile_link"><%= resource.name %></span>
    <% end %>
    <%= simple_form_for [association_chain, @comment].flatten, :url => polymorphic_url([association_chain, @comment].flatten), :html => { :remote => true } do |f| %>
      <%= f.input :parent_id, :as => :hidden %>
      <%= f.input :body, :as => :text, :label => false, :placeholder => 'Текст вашего комментария...' %>
      <div class="buttons">
        <%= f.submit "Отправить" %>
        <%= link_to 'Отмена', '#', :class => 'cancel' %>
      </div>
    <% end %>
  </li>
<% end %>
