<li class='ajaxed_item comment_form'>
  <% unless user_signed_in? %>
    <h4>Оставлять комментарии могут только зарегистрированные пользователи. Пожалуйста, войдите с помощью одной из социальных сетей:</h4>
    <%= render :partial => "commons/social_auth" %>
  <% end %>
  <% if current_user %>
    <%= image_tag current_user.avatar, :class => 'avatar', :title => current_user.name if current_user.avatar.present? %>
    <% if current_user.profile %>
      <%= link_to current_user.name, current_user.profile, :target => '_blank', :class => 'profile_link' %>
    <% else %>
      <span class='profile_link'><%= current_user.name %></span>
    <% end %>
  <% else %>
    <%= image_tag @comment.avatar, :class => 'avatar', :title => 'неизвестный автор' %>
    <span class="profile_link">неизвестный автор</span>
  <% end %>
  <%= simple_form_for [association_chain, @comment].flatten, :url => polymorphic_url([association_chain, @comment].flatten), :html => { :remote => true } do |f| %>
    <%= f.input :parent_id, :as => :hidden %>
    <%= f.input :body, :as => :text, :label => false, :placeholder => 'Текст вашего комментария...' %>
    <div class="buttons">
      <%= f.submit "Отправить" %>
      <%= link_to 'Отмена', '#', :class => 'cancel' %>
    </div>
  <% end %>
</li>
