<li class='ajaxed_item comment_form'>
  <%= simple_form_for [association_chain, @comment].flatten, :html => { :remote => true } do |f| %>
    <%= f.input :parent_id, :as => :hidden %>
    <%= f.input :body, :as => :text, :label => false, :placeholder => 'Текст вашего комментария...' %>
    <div class="buttons">
      <%= f.submit "Отправить" %>
      <%= link_to 'Отмена', '#', :class => 'cancel' %>
    </div>
  <% end %>
</li>
