<li class="form">
  <%= form_tag new_crm_slave_organization_path, method: :put, remote: true do %>
    <div class="input">
      <%= hidden_field_tag :primary_organization_id, @primary_organization.id %>
      <%= label_tag :title, 'Название' %>
      <%= text_field_tag :title, nil, 'data-organizations' => Organization.includes(:address).map { |o| { value: o.id, label: "#{o.title}" } }.to_json %>
    </div>

    <%= submit_tag 'Добавить' %>
  <% end %>
</li>
