<li>
  <abbr class="<%= organization.status %>" title="<%= organization.status.text %>"><%= organization.status.text %></abbr>
  <div class="info">
    <div class="title">
      <%= link_to organization.title, crm_organization_path(organization) %>
    </div>
    <div class="address">
      <%= organization.address %>
    </div>
  </div>
  <div class="details">
    <div class="suborganization_kinds">
      Еда Развлечения
    </div>
    <div class="categories">
      кафе, бары, рестораны
    </div>
  </div>
</li>
