<li>
  <abbr class="<%= organization.status %>" title="<%= organization.status.text %>"><%= organization.status.text %></abbr>
  <div class="info">
    <div class="title">
      <%= link_to organization.title, crm_organization_path(organization) %>
      (<%= organization.manager ? organization.manager : 'менеджер не выбран' %>)
    </div>
    <div class="address">
      <%= organization.address %>
    </div>
    <div class="last_activities">
      <% if planned_activity = organization.activities.with_state(:planned).first %>
        <%= image_tag "crm/activity_state_#{planned_activity.state}.png",
          title: planned_activity.state_text, alt: planned_activity.state_text, size: '16x16' %>
        <%= planned_activity.title %>
      <% end %>
      <% if completed_activity = organization.activities.with_state(:completed).first %>
        <%= image_tag "crm/activity_state_#{completed_activity.state}.png",
          title: completed_activity.state_text, alt: completed_activity.state_text, size: '16x16' %>
        <%= completed_activity.title %>
      <% end %>
    </div>
  </div>
  <div class="details">
    <div class="suborganization_kinds">
      <% organization.suborganizations.each do |suborganization| %>
        <%= link_to suborganization.class.model_name.human, crm_organizations_path('search[suborganizations]' => suborganization.class.model_name.underscore) %>
      <% end %>
    </div>
    <div class="categories">
      <%= organization.categories.join(', ') %>
    </div>
  </div>
</li>
