<li>
  <abbr class="<%= organization.status %>" title="<%= organization.status.text %>"><%= organization.status.text %></abbr>
  <div class="info">
    <div class="title">
      <%= link_to organization.title, crm_organization_path(organization) %>
      (<%= organization.manager ? organization.manager : 'менеджер не выбран' %>)
    </div>
    <div class="address">
      <%= organization.address %>
    </div>
  </div>
  <div class="details">
    <div class="suborganization_kinds">
      <% organization.suborganizations.each do |suborganization| %>
        <%= link_to suborganization.class.model_name.human, crm_organizations_path('search[suborganizations]' => suborganization.class.model_name.underscore) %>
      <% end %>
    </div>
    <div class="categories">
      <%= organization.categories.join(', ') %>
    </div>
  </div>
</li>
