<li>
  <div class="status <%= organization.status %>">
    <abbr title="<%= organization.status.text %>"><%= organization.status.text %></abbr>
  </div>
  <div class="left">
    <div class="title">
      <%= organization.title %>
    </div>
    <div class="address">
      <%= organization.address %>
    </div>
  </div>
  <div class="right">
    <div class="suborganization_kinds">
      Еда Развлечения
    </div>
    <div class="categories">
      кафе, бары, рестораны
    </div>
  </div>
</li>
