<%= form_tag crm_organizations_path, method: :get do %>
  <div>
    <%= label_tag :q, 'Поиск' %>
    <%= text_field_tag :q, params[:q] %>
  </div>

  <div>
    <%= label_tag :status, 'Статус' %>
    <%= select_tag :status,
      options_for_select(Organization.status.options, params[:status]),
      include_blank: true %>
  </div>

  <div>
    <%= label_tag :user_id, 'Менеджер' %>
    <%= select_tag :user_id,
      options_from_collection_for_select(User.sales_managers, :id, :name, params[:user_id]),
      include_blank: true %>
  </div>

  <div>
    <%= label_tag :suborganizations, 'Категории' %>
    <%= select_tag 'suborganizations[]',
      options_for_select(Organization.available_suborganization_kinds.map { |kind| [kind.classify.constantize.model_name.human, kind] }, params[:suborganizations].try(:first)),
      id: 'suborganizations',
      include_blank: true %>
  </div>

  <div>
    <%= submit_tag 'Найти' %>
  </div>
<% end %>

<ul>
  <% @organizations.each do |organization| %>
    <li>
      <%= link_to organization.title, crm_organization_path(organization) %>
    </li>
  <% end %>
</ul>

<div>
  <%= paginate @organizations  %>
</div>
