<h1><%= @organization.title %></h1>

<%= image_tag @organization.logotype_url %>

<ul>
  <li>Категории: <%= @organization.category_ru %> </li>
  <li>Адрес: <%= @organization.address %></li>
  <li>Телефон: <%= @organization.phone %></li>
  <li>Сайт: <%= @organization.site %></li>
  <li>Менеджер:
    <%= @organization.manager ? @organization.manager : 'не назначен' %>
    <%= link_to "изменить", edit_crm_organization_path(@organization) %>
  </li>
  <li><p class="status_<%= @organization.status %>"><%= @organization.status_text %></p></li>
</ul>

<h2>Контакты</h2>
<%= render @organization.contacts %>
<%= link_to "Добавить контакт", new_crm_organization_contact_url(@organization) %>
<h2>Активность</h2>
<%= link_to "Добавить активность", new_crm_organization_activity_url(@organization) %>
<h2>Запланированная</h2>
<%= render @organization.activities.with_state(:planned) %>
<h2>Совершённая</h2>
<%= render @organization.activities.with_state(:completed) %>


<%= link_to 'Список заведений', crm_organizations_path %>
