<div class='organization_show'>

  <div class='left'>
    <h1><%= @organization.title %></h1>

    <div class='info'>
      <div class='image'>
        <% if @organization.logotype_url.present? %>
          <%= image_tag @organization.logotype_url.gsub(/\/\d+-\d+\//, '/150-150!/') %>
        <% else %>
          <%= image_tag "manage/stub.jpg", :width => '150', :height => '110', :alt => @organization.title, :title => @organization.title %>
        <% end %>
      </div>
      <div class='details'>
        <ul>
          <li class='status'>
            <strong>Текущий статус:</strong>
            <span class='<%= @organization.status %>'><%= @organization.status.text %></span>
          </li>
          <li class='category'>
            <strong>Категории:</strong>
            <%= @organization.category_ru %>
          </li>
          <li class='address'>
            <strong>Адрес:</strong>
            <%= @organization.address %>
          </li>
          <li class='phone'>
            <strong>Телефон:</strong>
            <%= @organization.phone %>
          </li>
          <% if @organization.site.present? %>
            <li class='site'>
              <strong>Сайт:</strong>
              <%= link_to @organization.site, @organization.site, target: '_blank' %>
            </li>
          <% end %>
          <li class='manager'>
            <div class='label'>
              <strong>Менеджер:</strong>
            </div>
            <%= render :partial => 'manager' %>
          </li>
        </ul>
      </div>
    </div>

    <div class='activities'>
      <div class="slave_organizations">
        <h4>
          Связанные организации
          <%= link_to 'добавить', new_crm_slave_organization_path(primary_organization_id: @organization), remote: true, class: 'new_slave_organization_link' %>
        </h4>
        <ul>
          <% @organization.slave_organizations.each do |slave_organization| %>
            <%= render :partial => 'slave_organization', locals: { slave_organization: slave_organization } %>
          <% end %>
        </ul>
      </div>

      <% if @organization.primary_organization %>
        <div class="primary_organization">
          <h4>Связана с <%= link_to @organization.primary_organization.title, crm_organization_path(@organization.primary_organization) %></h4>
          <%= render partial: 'crm/activities/list', locals: { organization: @organization.primary_organization } %>
        </div>
      <% end %>

      <div class='activities_head'>
        <h2>
          Активность
          <%= link_to 'добавить', new_crm_organization_activity_url(@organization), class: :new_activity %>
        </h2>
      </div>
      <%= render partial: 'crm/activities/list', locals: { organization: @organization } %>
    </div>
  </div>

  <div class='right'>
    <h2>
      Контакты
      <%= link_to 'добавить', new_crm_organization_contact_url(@organization), class: :new_contact %>
    </h2>
    <%= render :file => 'crm/contacts/index' %>
  </div>
</div>
