<div class='organization_show'>

  <div class='left'>
    <h1><%= @organization.title %></h1>

    <div class='info'>
      <div class='image'>
        <%= image_tag @organization.logotype_url.gsub(/\/\d+-\d+\//, '/150-150!/') %>
      </div>
      <div class='details'>
        <ul>
          <li class='status'>
            <strong>Текущий статус:</strong>
            <span class='<%= @organization.status %>'><%= @organization.status.text %></span>
          </li>
          <li class='category'>
            <strong>Категории:</strong>
            <%= @organization.category_ru %>
          </li>
          <li class='address'>
            <strong>Адрес:</strong>
            <%= @organization.address %>
          </li>
          <li class='phone'>
            <strong>Телефон:</strong>
            <%= @organization.phone %>
          </li>
          <% if @organization.site.present? %>
            <li class='site'>
              <strong>Сайт:</strong>
              <%= link_to @organization.site, @organization.site, target: '_blank' %>
            </li>
          <% end %>
          <li class='manager'>
            <div class='label'>
              <strong>Менеджер:</strong>
            </div>
            <%= render :partial => 'manager' %>
          </li>
        </ul>
      </div>
    </div>

    <div class='activities'>
      <h2>
        Активность
        <%= link_to 'добавить', new_crm_organization_activity_url(@organization) %>
      </h2>
      <% %w[planned completed].each do |state| %>
        <h3><%= t("crm.activities.#{state}") %></h3>
        <% if @organization.activities.with_state(state).present? %>
          <table>
            <thead>
              <tr>
                <th class='activity_at'>Дата</th>
                <th class='title'>Описание</th>
                <th class='status'>Статус</th>
                <th class='manager'>Менеджер</th>
                <th class='contacts'>Контакты</th>
                <th class='edit'></th>
              </tr>
            </thead>
            <tbody>
              <%= render @organization.activities.with_state(state) %>
            </tbody>
          </table>
        <% else %>
          <p>отсутствует</p>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class='right'>
    <h2>
      Контакты
      <%= link_to 'добавить', new_crm_organization_contact_url(@organization), class: :new_contact %>
    </h2>
    <%= render :file => 'crm/contacts/index' %>
  </div>

</div>
