<h1><%= @organization.title %></h1>
<p class="status_<%= @organization.status %>"><%= @organization.status_text %></p>

<%= @organization.manager ? @organization.manager : 'не назначен' %>
<%= link_to "изменить", edit_crm_organization_path(@organization) %>

<%= render @organization.contacts %>
<%= link_to "Добавить контакт", new_crm_organization_contact_url(@organization) %>
<h2>Активность</h2>
<%= link_to "Добавить активность", new_crm_organization_activity_url(@organization) %>
<h2>Запланированная</h2>
<%= render @organization.activities.with_state(:planned) %>
<h2>Совершённая</h2>
<%= render @organization.activities.with_state(:completed) %>


<%= link_to 'Список заведений', crm_organizations_path %>
