<%= form_tag send("#{@presenter.pluralized_kind}_path"), :method => :get do %>
  <div class='advanced <%= (params[:utf8].present? && !params[:q]) ? 'opened' : 'closed' %>'>
    <% @presenter.class.filters.each do |filter_name| %>
      <% next if filter_name == :categories %>
      <% next if @presenter.send("#{filter_name}_filter").available.empty? %>

      <div class='filter <%= @presenter.send("#{filter_name}_filter").used? ? 'show' : 'hide' %>' id='<%= filter_name %>'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label"><%= t("suborganizations.filter.#{filter_name}") %></div>
        <div class="filter_checkboxes">
          <% @presenter.send("#{filter_name}_filter").available.each_with_index do |value, index| %>
            <div class='checkbox'>
              <%= check_box_tag "#{filter_name}[]", value, (@presenter.send("#{filter_name}_filter").selected.include?(value)), :id => "#{filter_name.to_s.singularize}_#{index}" %>
              <%= label_tag "#{filter_name.to_s.singularize}_#{index}", @presenter.send("#{filter_name}_filter").available[index] %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class='criteria_list'>
      <div class='criteria_label'>Добавить критерии:</div>
      <ul>
        <% @presenter.class.filters.each do |filter_name| %>
          <% next if filter_name == :categories %>
          <% next if @presenter.send("#{filter_name}_filter").available.empty? %>

          <li>
            <%= link_to t("suborganizations.filter.#{filter_name}"), '#', :class => filter_name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class='submit_action'>
      <div class='submit_wrapper'>
        <input type='submit' value='Применить фильтр' class='button small' />
      </div>

      <div class='results_counter'>
        <span class='counter'>Найдено организаций: <%= @presenter.total_count %></span>
      </div>

      <div class='clear_wrapper'>
        <%= link_to 'Очистить', '#' %>
      </div>
    </div>
  </div>
<% end %>
