<div class='filters_wrapper'>

  <div class='filters organization'>
    <div class='by_kind'>
      <ul>
        <% @presenter.kinds_links.each do |kind_link| %>
          <li<%= " class=selected" if kind_link[:selected] %>>
            <%= link_to kind_link[:title],
              send(kind_link[:url], kind_link[:parameters]), :class => kind_link[:class] %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='filters organization'>
    <div class='by_categories'>
      <ul>
        <% more_is_selected = true %>
        <% @presenter.categories_links.take(8).each do |category_link| %>
          <% more_is_selected = false if category_link[:selected] %>
          <li class='<%= category_link[:klass] %><%= ' selected' if category_link[:selected] %>'>
            <%= link_to send(category_link[:url], category_link[:parameters]) do %>
              <%= content_tag :span, category_link[:title], class: :name %>
              <%= content_tag :span, category_link[:count], class: :count  %>
            <% end %>
          </li>
        <% end %>
        <% if @presenter.categories_links.count > 8 %>
          <li class='more_link<%= ' selected' if more_is_selected %>'>
            <a href='#'>&darr; Ещё заведения</a>
          </li>
        <% end %>
      </ul>
    </div>

    <%= yield :advanced_filters %>
  </div>

  <% if @presenter.categories_links.count > 8 %>
    <ul class='more'>
      <% @presenter.categories_links[8..@presenter.categories_links.count].each do |category_link| %>
        <li class='<%= category_link[:klass] %><%= ' selected' if category_link[:selected] %>'>
          <%= link_to send(category_link[:url], category_link[:parameters]) do %>
            <%= content_tag :span, category_link[:title], class: :name %>
            <%= content_tag :span, category_link[:count], class: :count  %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if content_for?(:advanced_filters) %>
    <div class='advanced_filters_toggler'>
      <% if params[:utf8].present? %>
        <a href='#'>&uarr; Расширенный поиск</a>
      <% else %>
        <a href='#'>&darr; Расширенный поиск</a>
      <% end %>
    </div>
  <% end %>

</div>
