<div class="list_view_organization_header">
  <%= render partial: "filters_and_search" %>
</div>

<div class="list_view_organization_content">

  <!-- map -->
  <div class="map_wrapper">
    <div class="map"></div>
  </div>

  <div class="list_view_organization_list js-resizable maximum">
    <div class="change_place">
      <%= link_to 'Сменить позицию', '#', class: 'js-change-position arrow' %>
    </div>

    <ul class="list_view_organization_posters">
      <% @presenter.collection.each do |item| %>
        <li class='list_view_organization_item' data-longitude="<%= item.longitude %>" data-latitude="<%= item.latitude %>" style="<%= "background: url('#{asset_path('public/organizations_list_view/reservation_icon.png')}') no-repeat right center" %>">
          <div class="list_view_organization_poster">

            <!-- логотип -->
            <div class="image">
              <!-- если логотип есть -->
              <% if item.organization.logotype_url? %>
                <%= link_to organization_path(item) do %>
                  <%= image_tag(resized_image_url(item.organization.logotype_url, 90, 90, :watermark => false), size: "#{90}x#{90}", alt: item.organization.title) %>
                <% end %>
              <% else %>
                <!-- иначе -->
                <%= link_to organization_path(item) do %>
                  <span class='stub_poster <%= item.organization.priority_suborganization_kind %>'></span>
                <% end %>
              <% end %>
            </div>

            <div class="info">
              <!-- информация о заведении -->

              <h1>
                <%= link_to item.organization.title.truncate(30), organization_path(item.organization), style: "background: url('#{asset_path(item.organization.schedules.first.holiday? ? 'public/organizations_list_view/close_icon.png' : 'public/organizations_list_view/open_icon.png')}') no-repeat right center" %>
              </h1>
              <!-- адрес -->
              <%= content_tag(:div, "Адрес: #{item.address_link}".html_safe, class: :place) if item.address_link.present? %>

              <!-- телефон -->
              <span class='phone'>
                Телефон: <%= item.phone.truncate(5)%>
              <%= link_to "Показать телефон","javascript:void()", class: "js-show-phone", id: item.id %>
            </span>

            <!-- категории и остальная информация -->
            <div class='categories_and_visits'>
              <ul class='categories'>
                <%= item.category_links.map { |link| content_tag :li, link }.join.mb_chars.downcase.html_safe %>
              </ul>

              <div class='details'>
                <span class='show_tipsy fa fa-users' title='Участники'> <%= item.organization.visits.count %></span>
                <span class='show_tipsy fa fa-user' title='Приглашения'> 0</span> <!-- TODO change this -->
                <span class='show_tipsy fa fa-comments' title='Комментарии'> <%= item.organization.comments.count %></span>
                <span class='show_tipsy fa fa-heart' title='Понравилось'> <%= item.organization.likes_count %></span>
                <span class='show_tipsy fa fa-eye' title='Просмотры'> <%= item.organization.page_visits.count %></span>
              </div>

            </div>
          </div>

        </div>
      </li>
    <% end %>
  </ul>

  <div class="add_and_paginate">
    <%= link_to_next_page @presenter.paginated_without_clients_collection, "Еще организации (#{@presenter.current_count + @presenter.current_without_clients_count + 40})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-small', :params => params %>
    <%= link_to '+ Добавить организацию', organizations_add_path, class: :add_link %>
  </div>
</div>
</div>
