<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>

<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>
<% content_for :extra_meta do %>

  <% if page_meta %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% else %>
    <%= vk_meta(@presenter.pluralized_kind, (send @presenter.collection_direct_url), 'znaigorod_logo.png') %>
  <% end %>
<% end %>

<div class="filter_and_search">
  <%= render partial: "suborganizations/filters_and_search" %>
</div>

<%= render "suborganizations/#{view_type}_view" %>

<% if page_meta %>
  <div class='introduction'>
    <%= page_meta.html_introduction %>
  </div>
<% elsif t("meta.#{@presenter.selected_category}.introduction", default: '').present? %>
  <div class='introduction'>
    <%= t("meta.#{@presenter.selected_category}.introduction").as_html %>
  </div>
<% end %>
