<div class='afisha_filters_wrapper'>
  <div class='afisha_filters'>
    <div class='by_date'>
      <ul>
        <li><%= link_to 'Все разделы', searcher: :all %></li>
        <li><%= link_to 'Афиша', '#', searcher: :afisha %></li>
        <li><%= link_to 'Заведения', '#', searcher: :organization %></li>
        <li><%= link_to 'Обзоры', '#', searcher: :post %></li>
        <li><%= link_to 'Люди', '#', searcher: :account %></li>
      </ul>
    </div>
  </div>

  <div class='afisha_filters'>
    <div class='by_kind'>
      <ul>
      </ul>
    </div>
  </div>
</div>
