<div class='afisha_filters_wrapper'>
  <div class='afisha_filters'>
    <div class='by_date'>
      <ul>
        <li><%= link_to 'Все разделы', '#' %></li>
        <li><%= link_to 'Афиша', '#' %></li>
        <li><%= link_to 'Заведения', '#' %></li>
        <li><%= link_to 'Скидки', '#' %></li>
        <li><%= link_to 'Обзоры', '#' %></li>
      </ul>
    </div>
  </div>

  <div class='afisha_filters'>
    <div class='by_kind'>
      <ul>
      </ul>
    </div>
  </div>
</div>
