<% content_for :extra_meta do %>
  <meta name='description' content='<%= I18n.t("meta_description.search_results") %> <%= I18n.t("meta_description.main_page") %>' />
<% end %>

<div class="content_wrapper">
  <div class="search_results">

    <h1>Результаты поиска &laquo;<%= params[:q] %>&raquo;</h1>

    <% if @search_presenter.affiches.empty? && @search_presenter.organizations.empty? %>
      <div class="empty">По запросу ничего не найдено ;(</div>
    <% else %>
      <ul class="tabs">
        <li class=<%= 'selected' if @search_presenter.affiches? %>><%= @search_presenter.affiches_link %></li>
        <li class=<%= 'selected' unless @search_presenter.affiches? %>><%= @search_presenter.organizations_link %></li>
      </ul>

      <div class="<%= @search_presenter.affiches? ? 'affiches_list' : 'organizations_list' %>">
        <ul class="items_list">
          <%= render :partial => "search_results_list" %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @search_presenter.paginated_collection %>
