<div class="content_wrapper">
  <div class="search_results">

    <h1>Результаты поиска &laquo;<%= params[:q] %>&raquo;</h1>

    <% if @search_presenter.affiches.empty? && @search_presenter.organizations.empty? %>
      <div class="empty">По запросу ничего не найдено ;(</div>
    <% else %>
      <ul class="tabs">
        <li class=<%= 'selected' if @search_presenter.affiches? %>><%= @search_presenter.affiches_link %></li>
        <li class=<%= 'selected' unless @search_presenter.affiches? %>><%= @search_presenter.organizations_link %></li>
      </ul>

      <div class="<%= @search_presenter.affiches? ? 'affiches_list' : 'organizations_list' %>">
        <ul>
          <% @search_presenter.collection.each do |item| %>
            <li>
              <% if @search_presenter.affiches? %>
                <%= render partial: 'affiches/affiche', locals: { affiche: item } %>
              <% else %>
                <%= render partial: 'organization', locals: { organization: item } %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= paginate @search_presenter.paginated_collection %>
  </div>
</div>
