<% content_for :extra_meta do %>
  <meta name='description' content='<%= I18n.t("meta_description.search_results") %> <%= I18n.t("meta_description.main_page") %>' />
<% end %>

<div class="content_wrapper">
  <div class="search_results">

    <h1>Результаты поиска &laquo;<%= params[:q] %>&raquo;</h1>

    <% if true || @search_presenter.hits? %>
      <div class="search_hits">
        <ul class="items_list">
          <%= render :partial => "search_results_list" %>
        </ul>
      </div>
    <% else %>
      <div class="empty">По запросу &laquo;<%= params[:q] %>&raquo; ничего не найдено ;(</div>
    <% end %>
  </div>
</div>
<%#= paginate @search_presenter.paginated_collection %>
