<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>

<% content_for :extra_meta do %>
  <meta name='description' content='<%= I18n.t("meta_description.search_results") %> <%= I18n.t("meta_description.main_page") %>' />
<% end %>
<div class="search_results">
  <% if @search_presenter.hits? %>
      <%= render :partial => "search_addresses_list_short" if @search_presenter.render_addresses? %>
      <%= render :partial => "search_results_list" %>
      <%= paginate @search_presenter.paginated_collection %>
  <% else %>
    <div class="empty">По запросу &laquo;<%= params[:q] %>&raquo; ничего не найдено ;(</div>
  <% end %>
</div>
