<h3>Билеты</h3>

<ul>
  <% @ticket_infos.each do |ticket_info| %>
    <li>
      <%= image_tag_for ticket_info.affiche.poster_url, 70, 100 %>
      <%= link_to ticket_info.affiche.title, manage_affiche_path(ticket_info.affiche) %>

      <p>Цена заведения <%= ticket_info.original_price %></p>
      <p>Цена со скидкой <%= ticket_info.price %></p>

      <p>Всего билетов <%= ticket_info.tickets.count %></p>
      <p>Коды: <%= ticket_info.tickets.map(&:code).join(', ') %></p>

      <% ticket_info.tickets.group_by(&:state_text).each do |state_text, tickets| %>
        <p><%= "#{state_text} (#{tickets.size})" %></p>
      <% end %>
    </li>
  <% end %>
</ul>
