<div class="item" id="ad_<%= discount.id %>">
  <div class="title">
    <%= link_to truncate(discount.title.text_gilensize, :length => 22), my_discount_path(discount) %>
  </div>

  <div class="image">
    <%= link_to image_tag(resized_image_url((discount.poster_url.nil? ? 'public/stub_poster.png' : discount.poster_url), 220, 164), :size => '220x164', :title => discount.title.text_gilensize, :alt => discount.title.text_gilensize), my_discount_path(discount) %>

    <%= link_to my_discount_path(discount), :class => :details do %>
      <span class="first_line">
        <span class="show_tipsy to_go" title="Участники"><%= discount.members.count %></span>
        <span class="show_tipsy comments" title="Комментарии"><%= discount.comments.count %></span>
        <span class="show_tipsy likes" title="Понравилось"><%= discount.likes_count %></span>
        <span class="show_tipsy visits" title="Просмотры"><%= discount.page_visits.count %></span>
      </span>
    <% end %>
  </div>

  <div class="info">
    <%= render :partial => "my/discounts/#{discount.class.name.underscore}_info", :locals => { :discount => discount } %>
  </div>

  <div class="badges">
    <%= link_to "", edit_my_discount_path(discount), class: 'edit_button show_tipsy', title: "Редактировать" %>

    <% if discount.draft? %>
      <%= link_to "", my_discount_path(discount), method: :delete, class: :destroy, remote: true, confirm: 'Вы уверены? Информация о скидке будет удалена без возможности восстановления', class: 'trash show_tipsy', title: 'Удалить' %>
    <% end %>
  </div>
</div>
