<%= simple_form_for [:my, resource] do |f| %>
  <%= f.input :kind, :as => :check_boxes %>
  <%= f.input :title, :input_html => { :class => 'preview_title wide_input' } %>
  <%= f.input :description, :required => true, :input_html => { :id => :markitup_description } %>

  <div class="period">
    <%= f.input :starts_at, :as => :date_picker %>
    <%= f.input :ends_at, :as => :date_picker %>
    <%= f.input :constant, :wrapper_html => { :class => 'constant_wrapper' }, :input_html => { :checked => true } %>
    <%= link_to 'Постоянная скидка', '#', :class => 'constant_link', :remote => true %>
  </div>

  <%= f.input :discount %>

  <div class="organization">
    <%= f.input :organization_title, :input_html => { :class => 'autosuggest wide_input', :placeholder => 'Начинайте вводить название' } %>
    <%= f.input :organization_id, :as => :hidden, :input_html => { :class => 'autosuggest_target' } %>
    <%= link_to 'Удалить', '#', :remote => true, :class => 'clear_autosuggest_link' %>
  </div>

  <div class="submit">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>
