<%= simple_nested_form_for [:my, resource] do |f| %>
  <%= f.input :kind, :as => :check_boxes %>
  <div class='input string required discount_title'>
    <div class='label_with_link large'>
      <%= f.label :title, class: 'label_examples'  %>
      <%= link_to 'примеры', '#', class: 'examples' %>
    </div>
    <%= f.input_field :title, :class => 'preview_title wide_input' %>
  </div>

  <div class='relations'>
    <p>Организация</p>

    <div class='sticky_elements'></div>

    <div style='clear: both'></div>

    <div class='select_and_search'>
      <%= button_tag '', type: 'button', remote: true, class: 'sbm' %>
      <%= text_field_tag :search, '', { class: 'related_search discounts' } %>
    </div>

    <div style='clear: both'></div>

    <div class='results infinite_list'>
      <ul class='posters'></ul>
    </div>
    <%= link_to 'Нет в списке?', '#', :remote => true, :class => 'js-toggle-forms btn btn-dashed' %>
  </div>


  <div style='clear: both'></div>

  <div class='organization_wrapper'>
    <%= f.input :address, :input_html => { :class => 'autosuggest' } %>
    <%= link_to 'Указать местоположение на карте', '#', :class => 'choose_coordinates' %>
    <%= link_to 'Выбор организаций', '#', :remote => true, :class => 'js-toggle-forms btn btn-dashed' %>
  </div>

  <div class="discount_type">
    <%= f.input :discount, :wrapper_html => { :class => 'toggle' } %>
    <%= f.input :sale, :input_html => { :class => 'switch_box' } %>
  </div>

  <%= f.input :description, :required => true, :input_html => { :id => :markitup_description } %>

  <div class="period">
    <%= f.input :constant, :input_html => { :class => 'switch_box' } %>
    <div class="switch_wrapper">
      <%= f.input :starts_at, :as => :date_picker, :wrapper_html => { :class => 'toggle' } %>
      <%= f.input :ends_at, :as => :date_picker, :wrapper_html => { :class => 'toggle' } %>
    </div>
  </div>



  <div class="submit">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>
