<%= simple_nested_form_for [:my, resource] do |f| %>
  <%= render :partial => 'common_form', :locals => { :f => f, :discount => @discount } %>
  <div class="discount_type">
    <%= f.input :discount, :wrapper_html => { :class => 'toggle' } %>
    <%= f.input :discount_type, :label => false, :input_html => { class: 'select_type' }, :selected => 'percentages' %>
    <%= f.input :sale, :input_html => { :class => 'switch_box' } %>
  </div>

  <%= f.input :description, :required => true, :input_html => { :id => :markitup_description } %>

  <h2>продолжительность акции &nbsp; <span class='red_star'>*</span></h2>
  <div class="period">
    <%= f.input :starts_at, :label => false, :placeholder => 'дата начала', :as => :date_picker, :wrapper_html => { :class => 'toggle' } %>
    <%= f.input :ends_at, :label => false, :placeholder => 'дата окончания', :as => :date_picker, :wrapper_html => { :class => 'toggle' } %>
    <%= f.input :constant, :input_html => { :class => 'switch_box' } %>
  </div>

  <div class="submit">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>
