<%= simple_nested_form_for [:my, resource] do |f| %>
  <%= f.input :kind, :as => :check_boxes %>
  <%= f.input :title, :input_html => { :class => 'preview_title wide_input' } %>
  <%= f.input :description, :required => true, :input_html => { :id => :markitup_description } %>

  <div class="period">
    <%= f.input :constant, :input_html => { :class => 'switch_box' } %>
    <div class="switch_wrapper">
      <%= f.input :starts_at, :as => :date_picker, :wrapper_html => { :class => 'toggle' } %>
      <%= f.input :ends_at, :as => :date_picker, :wrapper_html => { :class => 'toggle' } %>
    </div>
  </div>

  <div class="discount_type">
    <%= f.input :sale, :input_html => { :class => 'switch_box' } %>
    <div class="switch_wrapper">
      <%= f.input :discount, :wrapper_html => { :class => 'toggle' } %>
    </div>
  </div>

  <div class="organization_wrapper">
    <%= f.simple_fields_for :places do |pf| %>
      <%= pf.input :organization_id, :as => :hidden, :input_html => { :class => 'autosuggest_organization_id' } %>
      <%= pf.input :latitude, :as => :hidden, :input_html => { :class => 'autosuggest_organization_latitude' } %>
      <%= pf.input :longitude, :as => :hidden, :input_html => { :class => 'autosuggest_organization_longitude' } %>
      <%= pf.input :address, :input_html => { :class => 'autosuggest' } %>
      <%= link_to 'Указать координаты', '#', :class => 'choose_coordinates' %>
      <%= pf.link_to_remove 'Удалить' %>
    <% end %>
    <%= f.link_to_add 'Добавить место проведения', :places, :onclick => 'setTimeout(function() { init_discount_map() }, 100)' %>
  </div>

  <div class="submit">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>
