<%= simple_form_for [:my, @discount] do |f| %>
  <div class="type">
    <%#= f.input :type, :collection => [:Discount, :Certificate, :Coupon], :as => :select, :include_blank => false %>
  </div>
  <%= f.input :kind, :as => :check_boxes %>
  <%= f.input :title %>
  <%= f.input :description, :required => true, :input_html => { :id => :markitup_description } %>
  <%= f.input :discount %>
  <%= f.input :starts_at, :as => :date_picker %>
  <%= f.input :ends_at, :as => :date_picker %>

  <div class="organization">
    <%= f.input :organization_title, :input_html => { :class => 'autosuggest' } %>
    <%= f.input :organization_id, :as => :hidden, :input_html => { :class => 'autosuggest_target' } %>
    <%= link_to 'Удалить', '#', :remote => true, :class => 'clear_autosuggest_link' %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить' %>
    <%= link_to 'Удалить'.html_safe, my_discount_path(resource), method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
  </div>
<% end %>
