<%= simple_nested_form_for [:my, resource] do |f| %>
  <%= render :partial => 'my/discounts/common_form', :locals => { :f => f } %>

  <%= f.input :description, :required => true, :input_html => { :id => :markitup_description } %>

  <div class="period">
    <%= f.input :starts_at, :label => false, :placeholder => 'Дата начала', :as => :date_picker, :wrapper_html => { :class => 'toggle' } %>
    <%= f.input :ends_at, :label => false, :placeholder => 'Дата окончания', :as => :date_picker, :wrapper_html => { :class => 'toggle' } %>
    <%= f.input :constant, :input_html => { :class => 'switch_box' } %>
  </div>

  <%= f.input :number, :input_html => { :class => 'medium_input' } if resource.new_record? %>
  <%= f.input :origin_price %>
  <%= f.input :discounted_price %>
  <%= f.input :price %>

  <div class="submit">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>
