<% content_for :account_content do %>
  <div class='feeds'>
    <div class="invitations header">
      <div class='clear'>
        <span class="panel"></span>
      </div>
      <h3>
        <%= link_to "Скидки", help_my_discounts_path, class: 'add_link' %>
      </h3>
      <%= link_to 'Добавить скидку', help_my_discounts_path, class: :invitation_link if can? :new, Discount %>
    </div>
    <div id='discounts_filter'>
      <ul>
        <% %w[all draft published].each do |state| %>
          <li>
            <%= link_to "##{state}" do %>
              <% unless state == 'all' %>
                <%= t(state, count: @discounts.by_state(state).total_count) %>
              <% else %>
                <%= t(state, count: current_user.account.discounts.count) %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>

    <div class='content'>
      <% %w[all draft published].each do |state| %>
        <div id='<%= state %>' class='list'>
          <div class='discounts_list'>
            <% if collection.any? %>
              <ul class='posters'>
                <% unless state == 'all' %>
                  <%= render :partial => 'my/discounts/discount_posters', :locals => { :collection => @discounts.by_state(state), :state => state.to_sym, :@width => '220', :@height => '164' } %>
                <% else %>
                  <%= render :partial => 'my/discounts/discount_posters', :locals => { :collection => @discounts, :state => state.to_sym, :@width => '220', :@height => '164' } %>
                <% end %>
              </ul>
            <% else %>
              <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
<% end %>
<%= render file: "my/accounts/wrapper" %>
