<% content_for :my_content do %>

  <div class="discount_show">

    <div class="publication-warning discount">
      <% if @discount.draft? %>
        <h2>Для того, чтобы опубликовать скидку, необходимо заполнить следующие поля:</h2>

        <ul class="requirements">
          <%= content_tag(:li, content_tag(:span, ' Название заполнено', :class => 'fa fa-check'), :class => 'enabled') if @discount.title? %>
          <%= content_tag(:li, content_tag(:span, ' Описание заполнено', :class => 'fa fa-check'), :class => 'enabled') if @discount.description? %>

          <% if @discount.poster_url.present? %>
            <%= content_tag(:li, content_tag(:span, ' Постер добавлен', :class => 'fa fa-check'), :class => 'enabled') %>
          <% else %>
            <li class="not-enabled">
              <span class="fa fa-times"> Нет постера</span>
              <%= link_to 'изменить', poster_my_discount_path(@discount)  %>
            </li>
          <% end %>
        </ul>

        <div class="actions floatr">
          <%= link_to t('my.destroy'), my_discount_path(@discount), :method => :delete, :class => :destroy,
            :confirm => 'Вы уверены? Информация будет удалена без возможности восстановления!' if @discount.can_be_deleted? %>

          <% if @discount.ready_for_publication? %>
            <%= link_to t('my.send_to_public'), publish_my_discount_path(@discount), :method => :put, :class => 'flat-btn btn-orange btn-lg',
              :confirm => 'Вы уверены? После публикации скидки, она будет доступна всем пользователям сайта!' %>
          <% else %>
            <%= link_to t('my.send_to_public'), 'javascript: void(0)', class: 'flat-btn btn-disabled btn-lg' %>
          <% end %>
        </div>
      <% else %>
        <%= link_to t('my.send_to_draft'), draft_my_discount_path(@discount), :method => :put, :class => 'flat-btn btn-orange btn-lg floatr',
          :confirm => 'Вы уверены? После подтверждения информация о скидке будет недоступна пользователям сайта!' %>
      <% end %>
    </div>

    <div class="left">
      <div class="image">
        <% if @discount.poster_url? %>
          <%= link_to image_tag(resized_image_url(@discount.poster_url, 200, 149), :size => '200x149', :title => @discount.title, :alt => @discount.title), @discount.poster_url %>
        <% else %>
          <%= image_tag('public/stub_poster.png', :size => '200x149', :alt => :poster) %>
        <% end %>
        <%= link_to 'изменить', poster_my_discount_path(@discount)  %>
      </div>

      <div class="info">
        <%= render :partial => "discounts/#{@discount.model.class.name.underscore}_info", :locals => { :discount => @discount.model } %>
      </div>

      <div class="wrapper">
        <% if @discount.copies.any? %>
          <%= render :partial => 'copy_payments/copies', :locals => { :parent => @discount.model } if can? :edit, @discount %>
        <% end %>
      </div>
    </div>

    <div class="right">

      <div class="advertisement">

        <div class="orange cell">
          <%= t("afisha.pay_attention_discount") %>
        </div>

        <div class="cell dashed_border arrow_box">
          Закрепление акции на главной странице
          <p><strong>100 руб./сутки</strong></p>
        </div>

        <div class="cell dashed_border">
          Закрепление акции на первой странице раздела &laquo;Скидки&raquo;
          <p><strong>50 руб./сутки</strong></p>
        </div>

        <div class="cell dashed_border">
          Закрепление и увеличение в 4 раза акции на первой странице раздела &laquo;Скидки&raquo;
          <p><strong>200 руб./сутки</strong></p>
        </div>

        <div class="cell">
          Продажа купонов, сертификатов с вашими товарами или услугами. Комиссия - <strong>10%</strong>
        </div>

      </div>

      <div class="phones">
        <div class="icon">
        </div>
        <div class="body">
          <strong>
            +7 952 180-22-55
          </strong>
          <br />
          <strong>
            +7-952-800-5544
          </strong>
        </div>
      </div>

      <div class="emails">
        <div class="icon">
        </div>
        <div class="body">
          <%= mail_to 'office@znaigorod.ru' %>
        </div>
      </div>

    </div>

    <div class="center">
      <h1><%= @discount.title.text_gilensize %> <%= link_to 'изменить', edit_my_discount_path(@discount) %></h1>

      <div class="closest">
        <%= @discount.when_with_price %>
      </div>

      <div class="place">
        <%= @discount.human_place %>
      </div>

      <div class="text">
        <%= @discount.description_html %>
      </div>

      <div class="tags_and_visits">
        <ul class="tags">
          <% @discount.kind.map(&:text).each do |tag| %>
            <li><%= tag %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>

<% end %>

<%= render :template => 'my/discounts/wrapper' %>
