<% content_for :my_content do %>

  <div class="discount_show">
    <div class="left">
      <div class="image">
        <% if @discount.poster_url? %>
          <%= link_to image_tag(resized_image_url(@discount.poster_url, 200, 149), :size => '200x149', :title => @discount.title, :alt => @discount.title), @discount.poster_url %>
        <% else %>
          <%= image_tag('public/stub_poster.png', :size => '200x149', :alt => :poster) %>
        <% end %>
        <%= link_to 'изменить', poster_my_discount_path(@discount)  %>
      </div>

      <div class="info">
        <%= render :partial => "discounts/#{@discount.model.class.name.underscore}_info", :locals => { :discount => @discount.model } %>
      </div>
    </div>

    <div class="right">
      <div class="wrapper">
        <% if @discount.copies.any? %>
          <div class="copies">
            <h2>Коды</h2>
            <ul>
              <% @discount.copies.each do |copy| %>
                <li>
                  <%= copy.code %>
                  <%= copy.copy_payment ? copy.copy_payment.phone : '' %>
                  <%= copy.state_text %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="public_action">
          <% if @discount.draft? %>
            <h2>Публикация скидки</h2>
            <p>Для того, чтобы опубликовать скидку, необходимо заполнить следующие поля:</p>
            <ul class='requirements'>
              <li class='<%= @discount.title? ? 'enabled' : 'disabled' %>'>Название</li>
              <li class='<%= @discount.description? ? 'enabled' : 'disabled' %>'>Описание</li>
              <li class='<%= @discount.poster_image_url? ? 'enabled' : 'disabled' %>'>Постер</li>
            </ul>

            <% if can? :send_to_published, @discount %>
              <% if @discount.ready_for_publication? %>
                <%= link_to t('my.send_to_public'), publish_my_discount_path(@discount), :method => :put, :class => 'enabled',
                    :confirm => 'Вы уверены? После публикации скидки, она будет доступна всем пользователям сайта!' %>
              <% else %>
                <%= link_to t('my.send_to_public'), 'javascript: void(0)', class: 'disabled' %>
              <% end %>
              <%= link_to t('my.destroy'), my_discount_path(@discount), :method => :delete, :class => :destroy,
                  :confirm => 'Вы уверены? Информация будет удалена без возможности восстановления!' %>
            <% end %>

          <% else %>
            <h2><%= t("activerecord.state_machines.state.states.#{@discount.state}") %></h2>
            <%= content_tag :p, link_to('Посмотреть в публичном виде', discount_path(@discount), target: '_blank') %>
            <%= link_to t('my.send_to_draft'), draft_my_discount_path(@discount), :method => :put,
                :confirm => 'Вы уверены? После подтверждения информация о скидке будет недоступна пользователям сайта!' %>
          <% end %>

        </div>
      </div>
    </div>

    <div class="center">
      <h1><%= @discount.title.text_gilensize %> <%= link_to 'изменить', edit_my_discount_path(@discount) %></h1>

      <div class="closest">
        <%= @discount.when_with_price %>
      </div>

      <div class="place">
        <%= @discount.human_place %>
      </div>

      <div class="text">
        <%= @discount.html_description %>
      </div>

      <div class="tags_and_visits">
        <ul class="tags">
          <% @discount.kind.map(&:text).each do |tag| %>
            <li><%= tag %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>

<% end %>

<%= render :template => 'my/discounts/wrapper' %>
