<div class="my_wrapper">
  <% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>

  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <% if content_for?(:help) %>
    <h1 class='discount'>
      <%= t("my.#{resource.class.name.underscore}.title") %>: общая информация
      <%= image_tag 'markitup/help.png', :class => 'show_help' %>
    </h1>
    <span class='red_star'>*</span> <span class='text_help'> - поля, обязательные для заполнения</span>
    <div class='help_wrapper'>
      <div class='help'>
        <%= yield :help %>
      </div>
    </div>
  <% end %>

  <%= yield :my_content %>
</div>
