<div class='suborganization_info creation'>

  <div class='title'><%= creation.title.text_gilensize %></div>

  <%= creation.htmlise_features_on_show %>

  <%= content_tag :div, creation.description.as_html, :class => :description if creation.description.present? %>

  <% if creation.has_photogallery? %>
    <div class='photogallery'>
      <ul>
        <%= render creation.gallery_images, :rel => "creation_gallery_#{creation.id}" %>
      </ul>
    </div>
  <% end %>

  <div class='services'>
    <% if creation.services.any? %>
      <table class='services_table'>
        <% creation.grouped_decorated_services.each do |kind, services| %>
          <tr>
            <td class='name'><%= kind %></td>
            <td class='details'>
              <% services.each do |service| %>
                <div class='detail'>
                  <div class='title'><%= service.title.text_gilensize %></div>
                  <%= content_tag :div, "(#{service.humanize_age})", :class => :age if service.age.present? %>
                  <% if service.description? %>
                    <%= link_to 'информация', '#', :class => :show_description_link %>
                    <div class='description'>
                      <%= service.description.as_html %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>

</div>
