<div class="suborganization_info creation">
  <table>
    <tr>
      <td class='border'>
        <%= creation.htmlise_title_on_show %>
      </td>
      <td>
        <%= creation.iconize_info %>
        <div class="details">
          <%= creation.htmlise_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if creation.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% creation.gallery_images.each do |image| %>
          <li><%= link_to(image_tag_for(image.file_url, 124, 94, true, 'n'), image.file_url, rel: :creation_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if creation.services.any? %>
    <div class="services_tables">
      <% creation.grouped_decorated_services.each do |kind, services| %>
        <ul class="services_table">
          <li>
            <h2><%= kind %></h2>
            <div class="services">
              <% services.each do |service| %>
                <div class="services_details">
                  <div class='service_title'>
                    <div class='title'><%= service.title %></div>
                    <% if service.description? %>
                      <ul class="iconize_info">
                        <li>
                          <a href="#" class="description_icon" data-link="service_text" title='информация'>информация</a>
                          <div class="description_text">
                            <p><%= service.description %></p>
                          </div>
                        </li>
                      </ul>
                    <% end %>
                  </div>
                  <div class='ages'><%= service.age %></div>
                </div>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
