<div class="new_link">
  <%= link_to "Добавить новую вебкамеру", new_manage_webcam_path, :class => 'new_resource' %>
</div>

<div class="clearfix"></div>

<ul class="collection">
  <% @webcams.each do |webcam| %>
    <li>
      <%= image_tag(resized_image_url(webcam.snapshot_href, 64, 48), size: '64x48') %>
      <span class="title">
        <%= link_to webcam.title, manage_webcam_path(webcam) %>
        (<%= "#{webcam.width}x#{webcam.height} #{webcam.kind}" %>)
      </span>
      <span class="status">
        <%= webcam.state? ? 'Опубликована' : 'Не опубликована' %>
      </span>
    </li>
  <% end %>
</ul>
