<% collection.each do |account| %>
  <li>
  <div class="item">
    <div class="title">
      <%= link_to truncate(account.title, length: 20), account %>
    </div>

    <div class="image">
      <%= link_to image_tag(resized_image_url(account.avatar.url, 178, 178), size: '178x178', title: account, alt: account), account_path(account) %>
      <%= render :partial => 'accounts/account_poster_link', :locals => { :kind => :inviter, :invited_id => account.id } %>
      <%= render :partial => 'accounts/account_poster_link', :locals => { :kind => :invited, :invited_id => account.id } %>
      <%= link_to account_path(account), class: :details do %>
        <span class='first_line'>
          <span class='show_tipsy to_go' title='Друзья'><%= account.friends.count %></span>
          <span class='show_tipsy wait_invite' title='<%= invitations_for_tipsy(account.invitations) %>'>
            <%= account.invitations.without_invited.count %>
          </span>
          <span class='show_tipsy comments' title='Комментарии'><%= account.comments.count %></span>
        </span>
        <span class='second_line'>
          <span class='show_tipsy visits' title='Просмотры профиля'><%= account.my_page_visits.count %></span>
        </span>
      <% end %>
    </div>

    <div class="badges"></div>
  </div>
  </li>
<% end %>
