<h3>Афиши на главной странице <%= "№#{@main_page_poster.position}" %></h3>

<%= simple_form_for [:manage, @main_page_poster] do |f| %>
  <div>
    <%= label_tag :q, 'Поиск афиши' %>
    <%= text_field_tag :main_page_afishas_autocomplete,
      nil,
      :class => 'js-afisha_list_posters_autocomplete main_page_afishas_autocomplete',
      :placeholder => 'Введите название афиши',
      :data => { 'autocomplete-source' => manage_main_page_posters_path, :target => '#main_page_poster_afisha_id' } %>

    <%= f.input :afisha_id, :as => :hidden %>
  </div>

  <%= f.input :expires_at, :as => :datetime_picker %>

  <%= f.submit 'Сохранить' %> или <%= link_to 'Отмена', manage_main_page_posters_path %>
<% end %>
