<div class='suborganization_info sport'>

  <div class='title'><%= sport.title.text_gilensize %></div>

  <%= sport.htmlise_features_on_show %>

  <%= content_tag :div, sport.description.as_html, :class => :description if sport.description.present? %>

  <% if sport.has_photogallery? %>
    <div class='photogallery'>
      <ul>
        <%= render sport.gallery_images, :rel => "sport_gallery_#{sport.id}" %>
      </ul>
    </div>
  <% end %>

  <div class='services'>
    <% if sport.services.first.offer? %>
      <% sport.services.group_by(&:category).each do |category, services| %>
        <%= render :partial => 'sports/services', :locals => { :services => services } %>
      <% end %>
    <% elsif sport.services.any? %>
      <table class='services_table'>
        <% sport.grouped_decorated_services.each do |kind, services| %>
          <tr>
            <td class='name'><%= kind %></td>
            <td class='details'>
              <% services.each do |service| %>
                <div class='detail'>
                  <div class='title'><%= service.title.text_gilensize %></div>
                  <div class='age'>(<%= service.humanize_age %>)</div>
                  <% if service.description? %>
                    <%= link_to 'информация', '#', :class => :show_description_link %>
                    <div class='description'>
                      <%= service.description.as_html %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>

</div>
