<div class='suborganization_info sport'>

  <div class='title'><%= sport.title.text_gilensize %></div>

  <%= sport.htmlise_features_on_show %>

  <%= content_tag :div, sport.description.as_html, :class => :description if sport.description.present? %>

  <% if sport.has_photogallery? %>
    <div class='photogallery'>
      <ul>
        <%= render sport.gallery_images, :rel => "sport_gallery_#{sport_id}" %>
      </ul>
    </div>
  <% end %>

  <% if sport.services.first.offer? %>
    <div class='services'>
      <% sport.services.group_by(&:category).each do |category, services| %>
        <div class='service_header'>
          <h2><%= category %></h2>
          <%= render :partial => 'organizations/services', :locals => { :services => services } %>
        </div>
      <% end %>
    </div>
  <% elsif sport.services.any? %>
    <div class='services_tables'>
      <% sport.grouped_decorated_services.each do |kind, services| %>
        <ul class='services_table'>
          <li>
            <h2><%= kind %></h2>
            <div class='services'>
              <% services.each do |service| %>
                <div class='services_details'>
                  <div class='service_title'>
                    <div class='title'><%= service.title %></div>
                    <% if service.description? %>
                      <ul class='iconize_info'>
                        <li>
                          <a href='#' class='description_icon' data-link='service_text' title='информация'>информация</a>
                          <div class='description_text'>
                            <p><%= service.description %></p>
                          </div>
                        </li>
                      </ul>
                    <% end %>
                  </div>
                  <div class='ages'><%= service.age %></div>
                </div>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>

</div>
