<div class="item">
  <div class="poster">
    <%= link_to afisha_show_path(visit.visitable) do %>
      <% if visit.visitable.poster_url? %>
        <%= image_tag(resized_image_url(visit.visitable.poster_url, 65, 88), size: '65x88', alt: visit.visitable, title: visit.visitable) %>
      <% else %>
        <%= image_tag 'public/stub_poster.png', size: '65x88' %>
      <% end %>
    <% end %>
  </div>
  <div class="item_info">
    <div class="title">
      <%= link_to truncate(visit.visitable.title, lenght: 25), afisha_show_path(visit.visitable) %>
    </div>
    <div class="kind">
      <%= visit.visitable.kind.map(&:text).join(', ') %>
    </div>
  </div>
</div>
