<div class="item">
  <div class="poster">
    <%= link_to afisha_show_path(visit.visitable) do %>
    <% if visit.visitable.poster_url? %>
      <%= image_tag(resized_image_url(visit.visitable.poster_url, 65, 88), size: '65x88', alt: visit.visitable, title: visit.visitable) %>
    <% else %>
      <%= image_tag 'public/stub_poster.png', size: '65x88' %>
    <% end %>
  <% end %>
  </div>
  <div class="title">
    <%= link_to truncate(visit.visitable.title, lenght: 25), afisha_show_path(visit.visitable) %>
  </div>
  <div class="kind">
    <%= visit.visitable.kind.map(&:text).join(', ') %>
  </div>
  <div class="wanted">
    <%= render partial: 'visits/invite_links', locals: { visit: visit } if user_signed_in? && current_user != visit.user && (visit.acts_as_inviter? || visit.acts_as_invited?) %>
  </div>
</div>
