<% if visit.acts_as_invited? %>
  <div class='info'>
    <span>Ждет приглашения<%= " от "+I18n.t("visit.invited.#{visit.invited_gender}") unless visit.invited_gender.all? %></span>
   <% unless visit.invited_description.blank? %>
     <abbr title='<%= visit.invited_description %>' class='show_tipsy'><%= image_tag 'public/icon_question.png' %></abbr>
   <% end %>
  </div>
  <% if current_user && current_user.account.sended_message(visit.visitable, visit.user.account.id, :inviter) %>
    <span class='sended'><%= I18n.t('invite.sended.inviter') %></span>
  <% else %>
    <%= link_to 'Пригласить', new_my_private_message_path(account_id: visit.user.account.id,
                                                          "#{visit.visitable.class.name.underscore}_id".to_sym => visit.visitable.id,
                                                          acts_as: :inviter), remote: true, class: 'invite' %>
  <% end %>
<% end %>

<% if visit.acts_as_inviter?  %>
  <div class='info'>
    <span>Приглашает <%= I18n.t("visit.inviter.#{visit.inviter_gender}") unless visit.inviter_gender.all? %></span>
    <% unless visit.inviter_description.blank? %>
      <abbr title='<%= visit.inviter_description %>' class='show_tipsy'><%= image_tag 'public/icon_question.png' %></abbr>
    <% end %>
  </div>
  <% if current_user && current_user.account.sended_message(visit.visitable, visit.user.account.id, :invited) %>
    <span class='sended'><%= I18n.t('invite.sended.invited') %></span>
  <% else %>
    <%= link_to 'Пригласи меня', new_my_private_message_path(account_id: visit.user.account.id,
                                                             "#{visit.visitable.class.name.underscore}_id".to_sym => visit.visitable.id,
                                                             acts_as: :invited), remote: true, class: 'invite' %>
  <% end %>
<% end %>

