<ul class='user_actions'>
  <% if current_user && visitable.visit_for_user(current_user) %>
    <li class="selected">
      <%= link_to t('afisha.join'), polymorphic_url([visitable, :destroy_visits]), :method => :put, :remote => true, class: 'change_visit', 'data-owner_id' => current_user.vk_uid, 'message' => "Собираюсь посетить #{link_to(visitable, visitable.is_a?(Afisha) ? afisha_show_url(visitable) : organization_url(visitable) )}"%>
    </li>
  <% else %>
    <li>
    <%= link_to t('afisha.join'), send("#{visitable.class.name.underscore}_visits_path", visitable), :method => :post, :remote => true, class: 'change_visit' %>
    </li>
  <% end %>
  <%= render partial: 'visits/acts_visit', locals: { visitable: visitable, acts_as: [:acts_as_inviter, :acts_as_invited] } %>
</ul>

<div class='visits_counter'>
  <%= content_tag :div, I18n.t("visit.#{visitable.class.name.underscore}"), class: :floatl %>
  <div class='floatr'><%= t('afisha.visitors', :count => visitable.visits.map(&:user).compact.count) %></div>
</div>

<% if @visits.any? %>
  <%= render 'afishas/visits' if visitable.is_a?(Afisha) %>
  <%= render 'organizations/visits' if visitable.is_a?(Organization) %>
<% end %>

