  <div class="visits_counter" title='<%= t :like, :count => visitable.visits.count %>'>
    <% if visitable.visits.count > 6 %>
      <%= link_to t(:visitors, :count => visitable.visits.visited.count, :scope => visitable.kind.values.first), polymorphic_url([visitable, :visitors]), :remote => true %>
    <% else %>
      <span>
        <%= t(:visitors, :count => visitable.visits.visited.count, :scope => visitable.is_a?(Afisha) ? visitable.kind.values.first : visitable.class.name.underscore) %>
      </span>
    <% end %>

    <% if visitable.visits.visited.any? %>
      <div class="avatars">
        <% visitable.visits.visited.last(6).map(&:user).each do |user| %>
          <% if user.profile %>
            <a href='<%= user.profile %>' target='_blank'><%= image_tag user.avatar, :size => "24x24", :title => user.name %></a>
          <% else %>
            <%= image_tag user.avatar, :size => "24x24", :title => user.name %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

<div class="user_like">
  <% if current_user && current_user.visited?(visitable) %>
    <%= link_to t('leave', :scope => visitable.is_a?(Afisha) ? visitable.kind.values.first : visitable.class.name.underscore), polymorphic_url([visitable, :change_visit]), :method => :put, :remote => true %>
  <% else %>
    <%= link_to t('join', :scope => visitable.is_a?(Afisha) ? visitable.kind.values.first : visitable.class.name.underscore), polymorphic_url([visitable, :change_visit]), :method => :put, :remote => true, :class => 'button' %>
  <% end %>
</div>

<% if @visit && @visit.errors.any? %>
  <div class="cloud_wrapper">
    <div class="cloud_inner_wrapper">
      <h4>Пожалуйста, войдите с помощью одной из социальных сетей:</h4>
      <%= render :partial => 'commons/social_auth' %>
    </div>
  </div>
<% end %>

