<ul class='user_actions'>
  <% if current_user && visitable.visit_for_user(current_user) %>
    <li class="selected">
    <% if visitable.visit_for_user(current_user).acts_as_inviter || visitable.visit_for_user(current_user).acts_as_invited %>
      <%= link_to t('afisha.join'), polymorphic_url([visitable, :destroy_visits]), :method => :put, :remote => true, :confirm => 'Are you shure?', class: 'change_visit' %>
    <% else %>
      <%= link_to t('afisha.join'), polymorphic_url([visitable, :destroy_visits]), :method => :put, :remote => true, class: 'change_visit' %>
    <% end %>
    </li>
  <% else %>
    <li>
    <%= link_to t('afisha.join'), send("#{visitable.class.name.underscore}_visits_path", visitable), :method => :post, :remote => true, class: 'change_visit' %>
    </li>
  <% end %>
  <%= render partial: 'visits/acts_visit', locals: { visitable: visitable, acts_as: [:acts_as_inviter, :acts_as_invited] } %>
</ul>

<div class='visits_counter'>
  <%= content_tag :div, I18n.t("visit.#{visitable.class.name.underscore}"), class: :floatl %>
  <div class='floatr'><%= t('afisha.visitors', :count => visitable.visits.map(&:user).compact.count) %></div>
</div>

<% if visitable.visits.any? %>
  <ul class='avatars'>
    <% visitable.visits.map(&:user).compact.each do |user| %>
      <li>
        <div class='avatar'>
          <%= link_to user.account do %>
            <%= image_tag resized_image_url(user.account.avatar.url, 35, 35), :size => '35x35', :alt => user.account %>
          <% end%>
        </div>
        <div class='details'>
          <%= link_to(user.account, user.account, :class => :name) %>
          <div class="wanted">
            <% visit = visitable.visit_for_user(user) %>
            <%= render partial: 'visits/invite_links', locals: { visit: visit } if user_signed_in? && current_user != user && visit && (visit.acts_as_inviter? || visit.acts_as_invited?) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

