<ul class='user_actions'>
  <li<%= " class='selected'".html_safe if current_user && current_user.visited?(visitable) %>>
    <%= link_to t('afisha.join'), polymorphic_url([visitable, :change_visit]), :method => :put, :remote => true %>
  </li>
</ul>

<% if @visit && @visit.errors.any? %>
  <div class="cloud_wrapper">
    <div class="cloud_inner_wrapper">
      <h4>Пожалуйста, войдите с помощью одной из социальных сетей:</h4>
      <%= render :partial => 'commons/social_auth' %>
    </div>
  </div>
<% end %>

<div class='visits_counter'>
  <div class='floatl'>Участники</div>
  <div class='floatr'><%= t('afisha.visitors', :count => visitable.visits.visited.count) %></div>
</div>

<% if visitable.visits.visited.any? %>
  <ul class='avatars'>
    <% visitable.visits.visited.map(&:user).map(&:account).each do |account| %>
      <li>
        <div class='avatar'>
          <% if account.avatar_url? %>
            <%= link_to(image_tag(account.avatar_url, :size => '35x35', :title => account, :alt => account), account) %>
          <% else %>
             <%= image_tag 'public/stub_poster.png', size: '35x35' %>
          <% end %>
        </div>
        <div class='details'>
          <%= link_to(account, account, :class => :name) %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

