<div class="sitemap_wrapper">
  <h3>Карта сайта</h3>

  <ul>
    <li>
      <%= link_to 'Афиша', afisha_index_path, :class => 'title' %>

      <ul class="clearfix inner">
        <% Afisha.kind.values.each do |item| %>
          <li class="floatl">
            <%= link_to t("enumerize.afisha.kind.#{item}"), send("#{item.pluralize}_path") %>
          </li>
        <% end %>

        <li><%= link_to "Добавить афишу", new_my_afisha_path %></li>
      </ul>
    </li>
  </ul>

  <ul class="clearfix">
    <li><%= link_to 'Веб-камеры', webcams_path, :class => 'title' %></li>
  </ul>

  <ul>
    <% Organization.suborganization_models.drop(1).map(&:name).map(&:underscore).each do |suborganization_kind| %>
      <li>
        <%= link_to t("organization.kind.#{suborganization_kind}"), send("#{suborganization_kind.pluralize}_path"), :class => 'title' %>

        <ul class="clearfix inner">
          <% "#{suborganization_kind.pluralize}_presenter".classify.constantize.new.categories_links.drop(1).each do |link| %>
            <li class="floatl">
              <%= link_to link[:title], link[:url] %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

  <ul>
    <li>
      <%= link_to 'Скидки', discounts_path, :class => 'title' %>

      <ul class="clearfix inner">
        <% Discount.kind.values.each do |item| %>
          <li class="floatl">
            <%= link_to t("enumerize.discount.kind.#{item}"), send("discounts_#{item}_path") %>
          </li>
        <% end %>

        <li><%= link_to "Добавить скидку", help_my_discounts_path %></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      <%= link_to 'Обзоры', posts_path, :class => 'title' %>

      <ul class="clearfix inner">
        <% Post.categories.values.each do |item| %>
          <li class="floatl">
            <%= link_to t("enumerize.post.categories.#{item}"), send("posts_#{item}_path") %>
          </li>
        <% end %>

        <li><%= link_to "Добавить обзор", new_my_post_path %></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li><%= link_to "Знакомства", accounts_path, :class => 'title' %></li>

    <ul class="clearfix inner">
      <% AccountsPresenter.new({}).categories_links.each do |link| %>
        <li class="floatl">
          <%= link_to "Ищут компанию #{link[:title]}", send("accounts_#{link[:klass]}_path") %>
        </li>
      <% end %>
    </ul>
  </ul>

  <ul>
    <li>
      <%= link_to 'Реклама', cooperation_path, :class => 'title' %>

      <ul class="clearfix inner">
          <% %w[services benefit statistics our_customers ticket_sales].each do |section| %>
            <li class="floatl">
              <%= link_to t("cooperation.#{section}.link"), send("#{section}_path") %>
            </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
