<% if @contest.ends_at <= Time.zone.now && @winners.present? %>
  <div class='winners'>
    <h2>Победители</h2>
    <ul>
      <li>
        <div class='title gold'>Первое место</div>
        <div class='image'>
          <%= link_to image_tag(resized_image_url(@winners[0].image_url, 350, 200,
                                options = { :crop => '!', :magnify => 'm', :orientation => '' }) , :size => "350x200"),
            [@winners[0].context, @winners[0].becomes(Work)],
            :class => 'js-video-preview',
            :data => { :video => { :src => @winners[0].content_parser.videos.first.src, :width => '700' } } %>
        </div>
        <div class="participant_name">
          <%= @winners[0].title %>
        </div>
      </li>

      <li>
        <div class='title silver'>Второе место</div>
        <div class='image'>
          <%= link_to image_tag(resized_image_url(@winners[1].image_url, 350, 200,
                                options = { :crop => '!', :magnify => 'm', :orientation => '' }) , :size => "350x200"),
            [@winners[1].context, @winners[1].becomes(Work)],
            :class => 'js-video-preview',
            :data => { :video => { :src => @winners[1].content_parser.videos.first.src, :width => '700' } } %>
        </div>
        <div class="participant_name">
          <%= @winners[1].title %>
        </div>
      </li>

      <li>
        <div class='title bronze'>Третье место</div>
        <div class='image'>
          <%= link_to image_tag(resized_image_url(@winners[2].image_url, 350, 200,
                                options = { :crop => '!', :magnify => 'm', :orientation => '' }) , :size => "350x200"),
            [@winners[2].context, @winners[2].becomes(Work)],
            :class => 'js-video-preview',
            :data => { :video => { :src => @winners[2].content_parser.videos.first.src, :width => '700' } } %>
        </div>
        <div class="participant_name">
          <%= @winners[2].title %>
        </div>
      </li>

      <li>
        <div class='title fourth'>Приз зрительских симпатий</div>
        <div class='image'>
          <%= link_to image_tag(resized_image_url(@winners[3].image_url, 350, 200,
                                                  options = { :crop => '!', :magnify => 'm', :orientation => '' }) , :size => "350x200"),
          [@winners[3].context, @winners[3].becomes(Work)],
          :class => 'js-video-preview',
          :data => { :video => { :src => @winners[3].content_parser.videos.first.src, :width => '700' } } %>
        </div>
        <div class="participant_name">
          <%= @winners[3].title %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
