<% if @contest.new_work_text.present? %>
  <div class="new_work_wrapper">
    <% if user_signed_in? %>
      <%= link_to @contest.new_work_text, new_contest_work_path(@contest, @work, :anchor => 'add_work'), :class => 'add_work_link' if @contest.available_participation? %>
    <% else %>
      <%= link_to @contest.new_work_text, '#', :class => 'auth_for_contest add_work_link', :remote => true, :rel => 'nofollow' if @contest.available_participation? %>
    <% end %>
  </div>
<% end %>

<%= render :partial => 'winners_photo' %>

<% if @works.any? %>
  <h2>Участники (<%= @contest.works.count %>)</h2>
  <div class="presentation_filters photo">
    <div class='order_by'>
      <p>Сортировать по:</p>
      <ul>
        <li<%= " class=selected" if order_by(@contest) == "by_id" %>><%= link_to "Обновлению", contest_path(params[:id], order_by: 'by_id')  %></li>
        <li<%= " class=selected" if order_by(@contest) == "by_zg_likes" %>><%= link_to "Голосам", contest_path(params[:id], order_by: @contest.vote_sort_value)  %></li>
      </ul>
    </div>
  </div>
  <div style="clear:both"> </div>
  <div class='works ajaxed_voteable js-button-pagination'>
    <ul class='js-paginable-list'>
      <%= render :partial => 'works/contest_list', :locals => { :width => 278, :height => 278 } %>
    </ul>
  </div>
<% end %>
