<div class='content_wrapper'>
  <h1><%= @contest.title.excerpt %></h1>
  <div class='contest'>
    <div class='description'>
      <%= @contest.description.as_html.hyphenate %>
    </div>
    <% if @contest.works.any? %>
      <div class='works'>
        <h2>Работы-участники</h2>
        <ul>
          <% @contest.works.each do |work| %>
            <li class='<%= cycle('first', 'second', 'third') %>' data-url='<%= "#{request.protocol}#{request.host_with_port}#{contest_work_path(@contest, work)}" %>'>
              <div class='image'>
                <%= link_to(image_tag(work.image_url.gsub(/\/\d+-\d+\//, '/300-225!n/')), contest_work_path(@contest, work)) %>
              </div>
              <div class='title'><%= link_to(work.title, contest_work_path(@contest, work)) %></div>
              <div class='author'><%= work.author_info %></div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
