<% content_for :page_title, @contest.title.excerpt %>

<% content_for :extra_meta do %>
  <meta property='og:site_name' content='ЗнайГород - конкурс' />
  <meta property='og:title' content='Конкурс ЗнайГорода «<%= @contest.title %>' />
  <meta property='og:url' content='<%= contest_url(@contest) %>' />
  <meta property='og:image' content='<%= resized_image_url(@contest.og_image_url, 130, 63) %>' />
  <% if @contest.og_description? %>
    <meta property='og:description' content='<%= @contest.og_description.squish %>' />
  <% end %>

  <meta name='twitter:site' content='@znaigorod' />
  <meta name='twitter:title' content='Конкурс ЗнайГорода «<%= @contest.title %>' />
  <meta name='twitter:url' content='<%= contest_url(@contest) %>' />
  <meta name='twitter:image:src' content='<%= resized_image_url(@contest.og_image_url, 130, 63) %>' />
<% end %>

<div class='contest <%= @contest.slug %>'>
  <%= render :partial => 'contests/description' %>

  <div class='share_and_likes'>
    <%= render :partial => 'commons/share_and_like_this', :locals => { :url => contest_url(@contest) } %>
  </div>

  <div class="new_work_wrapper">
    <% if user_signed_in? %>
      <%= link_to 'Добавить фотографию', new_contest_work_path(@contest, @work, :anchor => 'add_work'), :class => 'add_work_link' if @contest.available_participation? %>
    <% else %>
      <%= link_to 'Добавить фотографию', '#', :class => 'auth_for_contest add_work_link', :remote => true, :rel => 'nofollow' if @contest.available_participation? %>
    <% end %>
  </div>

  <%= render :partial => 'reviews' if @reviews.any? %>

  <%= render :partial => 'winners' %>

  <% if @works.any? %>
    <div class='works ajaxed_voteable'>
      <h2>Участники (<%= @contest.works.count %>)</h2>
      <ul>
        <%= render :partial => 'works/list' %>
      </ul>
    </div>
  <% end %>
</div>

<%= paginate @works %>
