<div class="suborganization_info car_wash">
  <table>
    <tr>
      <td class='border'>
        <%= car_wash.htmlise_title_on_show %>
      </td>
      <td>
        <%= car_wash.iconize_info %>
        <div class="details">
          <%= car_wash.htmlise_offers_and_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if car_wash.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% car_wash.images.each do |image| %>
          <li><%= link_to(image_tag_for(image.url, 124, 94, true, 'n'), image.url, rel: :car_wash_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="services">
    <% car_wash.services.group_by(&:category).each do |category, services| %>
      <div class="service_header">
        <h2><%= category %></h2>
        <%= render :partial => 'organizations/services', :locals => { :services => services } %>
      </div>
    <% end %>
  </div>
</div>
