<%= simple_nested_form_for [:manage, @organization, context_type, resource],
  :html => { :novalidate => true } do |f| %>

  <%= f.input :kind %>

  <%= f.input :category_list,
    :as => :check_boxes,
    :collection => Values.instance.send(context_type).categories,
    :checked => f.object.categories,
    :wrapper_html => { :class => :category_list } %>

  <%= f.input :title %>
  <%= f.input :feature %>

  <%= f.input :offer_list,
    :as => :check_boxes,
    :collection => Values.instance.send(context_type).offers,
    :checked => f.object.offers,
    :wrapper_html => { :class => :category_list } %>

  <%= f.input :description, :input_html => { :class => 'service_description' } %>
  <%= f.input :age %>

  <div>
  <%= f.simple_fields_for :prices do |pf| %>
    <%= pf.input :kind, :as => :select, :include_blank => false %>
    <%= pf.input :count %>
    <%= pf.input :period %>
    <%= pf.input :value %>
    <%= pf.link_to_remove t('remove_price'), :class => 'remove_price' %>
  <% end %>
  <%= f.link_to_add t('add_price'), :prices, :class => 'add_price' %>
  </div>

  <%= f.submit "Сохранить" %>
<% end %>
