<h2><%= @organization %></h2>

<div class="suborganization_services_info">
  <ul>
    <% @services.each do |s| %>
      <li>
        <%= s.title %>
        <% if s.price.multiple? %>
          <%= s.price.kind_text %>
          <%= s.price.count %>
          <%= s.price.period %>
          <%= s.price.value %> руб.
        <% else %>
          <%= s.price.value %> руб.
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
