<% content_for :help do %>
  <p>Выберете один или несколько файлов для добавления. Файлы загрузятся автоматически.</p>
<% end %>

<div class="upload_wrapper">
  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
  </script>
</div>

<ul class="gallery_files">
  <%= render @afisha.gallery_files %>
</ul>
<%= link_to 'Удалить все файлы', destroy_all_my_afisha_gallery_files_path(@afisha.id), :method => :delete, :confirm => 'Вы уверены, что хотите удалить все вложения для этой афиши?' if @afisha.gallery_files.many? %>

<%= simple_form_for @afisha.gallery_files.new, :url => my_afisha_gallery_files_path(@afisha.id), :html => { :multipart => true, :class => 'file_upload' } do |f| %>
  <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_files[file]' }, :label => t('my.add_files') %>
<% end %>

<div class='submit'>
  <%= link_to 'Сохранить', my_afisha_show_path(@afisha), class: :button %>
  <%= link_to 'Отмена', my_afisha_show_path(@afisha) %>
</div>
