<% content_for :help do %>
  <p>По мере заполнения общего описания в правой части страницы будет отображаться макет будущей афиши.</p>
  <p>С правилами оформления описания можно ознакомиться нажав на иконку с вопросом.</p>
  <p>Тэги можно добавить либо набрав в поле и воспользовавшись подсказками, либо выбрать из списка, кликнув по ссылке.</p>
<% end %>

<%= simple_form_for resource, as: :afisha, url: resource.new_record? ? [:my, resource] : my_afisha_show_path(resource) do |f| %>
  <%= hidden_field_tag :step, @step %>

  <%= f.input :kind, required: true, as: :check_boxes %>
  <%= f.input :title, required: true, input_html: { class: :preview_title } %>
  <%= f.input :description, required: true, input_html: { id: :markitup_description } %>
  <%= f.input :vk_event_url %>
  <%#= f.input :allow_auction %>

  <%= f.input :tag, as: :string, input_html: { id: :afisha_tag } %>
  <%= link_to 'выбрать из списка',
    resource.new_record? ? my_available_tags_path(:format => :html) : my_afisha_available_tags_path(resource, :format => :html),
    :class => 'select_tags',
    :remote => true %>

  <div class='submit'>
    <%= f.button :submit, resource.new_record? ? 'Создать мероприятие' : 'Сохранить общее описание', class: :button %>
    <%= link_to 'Отмена', resource.new_record? && request.env['HTTP_REFERER'].present? ? :back : my_afisha_show_path(resource) %>
  </div>
<% end %>

<%= render :partial => 'textile_syntax' %>
