<%= simple_form_for @afisha, as: :afisha, url: my_afisha_show_path(@afisha.id) do |f| %>
  <%= hidden_field_tag :step, @step %>
  <%= hidden_field_tag :afisha_id, @afisha.id %>
  <div class='description'>
    <p>Видео можно добавить несколькими способами:</p>
    <ul>
      <li>Указать адрес страницы YouTube в виде <pre>http://www.youtube.com/watch?v=8NmrGSe3jWY</pre></li>
      <li>Указать адрес страницы Vimeo в виде <pre>http://vimeo.com/42263763</pre></li>
      <li>Указать "Код для вставки" видео Вконтакте в виде <%= "<iframe src='http://vk.com/video_ext.php?oid=-35689602&id=163034420&hash=b12c86301fd7f163&sd' width='607' height='360' frameborder='0'></iframe>" %></li>
    </ul>
    <p>При необходимости можно добавить несколько видео, вставив ссылки или коды начиная с новой строки.</p>
  </div>
  <%= f.input :trailer_code, label: false %>

  <div class='submit'>
    <%= f.button :submit, 'Сохранить код видео', class: :button %>
    <%= link_to 'Отмена', my_afisha_show_path(@afisha) %>
  </div>
<% end %>
