<% content_for :help do %>
  <p>Выберете картинку для постера. Файл загрузится автоматически.</p>
  <p>После этого можно будет выделить необходимый фрагмент картинки для отображения в виде постера афиши.</p>
<% end %>

<% if @afisha.poster_image_url? %>
  <% crop_opt = @afisha.poster_url ? @afisha.poster_url.match(/(?<=\/region\/)\w+\/\w+\/\w+\/\w+/).to_s.split('/').map{|o| (o.to_i/@afisha.resize_factor).round} : [] %>
  <% crop_width, crop_height, crop_x, crop_y = crop_opt.any? ? crop_opt : [@afisha.poster_image_resized_dimensions[:width] / @afisha.resize_factor, @afisha.poster_image_resized_dimensions[:height] , 0, 0] %>

  <%= simple_form_for @afisha, as: :afisha, :url => my_afisha_show_path(@afisha.id) do |f| %>
    <%= hidden_field_tag :step, @step %>
    <div class='input'>
      <p><strong>Для изменения постера &ndash; просто загрузите новый или измените область</strong></p>
    </div>
    <%= f.input :poster_image, label: 'Выберите изображение', required: true, class: :button %>
    <%= f.error :poster_image_content_type %>
    <div>
      <%= f.input :set_region, :as => :hidden, :input_html => { :value => true } %>
      <%= f.input :crop_x, :as => :hidden, :input_html => { :value => crop_x } %>
      <%= f.input :crop_y, :as => :hidden, :input_html => { :value => crop_y } %>
      <%= f.input :crop_width, :as => :hidden, :input_html => { :value => crop_width } %>
      <%= f.input :crop_height, :as => :hidden, :input_html => { :value => crop_height } %>
      <%= hidden_field_tag :aspect_ratio, 290.0 / 390.0 %>
      <%= image_tag resized_image_url(@afisha.poster_image_url,
                                      @afisha.poster_image_resized_dimensions[:width],
                                      @afisha.poster_image_resized_dimensions[:height]), :class => 'jcrop' %>
    </div>
    <div class='submit'>
      <%= f.button :submit, 'Сохранить', class: :button %>
      <%= link_to 'Отмена', my_afisha_show_path(@afisha) %>
    </div>
  <% end %>
<% else %>
  <%= simple_form_for @afisha, as: :afisha, url: my_afisha_show_path(@afisha.id) do |f| %>
    <%= hidden_field_tag :step, @step %>
    <%= hidden_field_tag :crop, true %>
    <%= f.input :poster_image, label: 'Выберите изображение', required: true, class: :button %>
    <%= f.error :poster_image_content_type %>
    <div class='submit'>
      <%= link_to 'Отмена', my_afisha_show_path(@afisha) %>
    </div>
  <% end %>
<% end %>
