<% content_for :help do %>
  <p>Фотографии можно загрузить двумя способами:</p>
  <ol>
    <li>Загрузить непосредственно с компьютера, выбрав одну или несколько фотографий сразу.</li>
    <li>Указать ссылку на альбом Вконтакте или на Яндекс.Фотки
      <ul>
        <li>Ссылка на альбом Вконтакте имеет вид: <a target="_blank" rel="nofollow" href="http://vk.com/album-35689602_173541663">http://vk.com/album-35689602_173541663</a> (можно добавить только из открытых альбомов)</li>
        <li>Ссылка на альбом Яндекс.Фотки имеет вид: <a target="_blank" rel="nofollow" href="http://fotki.yandex.ru/users/s-s-nega/album/131256/">http://fotki.yandex.ru/users/s-s-nega/album/131256</a></li>
      </ul>
    </li>
    <p>При необходимости можно добавить несколько альбомов по очереди.</p>
  </ol>
<% end %>

<div class="upload_wrapper">
  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
  </script>
</div>

<ul class="gallery_images">
  <%= render @afisha.gallery_images %>
</ul>
<%= link_to 'Удалить все фотографии', destroy_all_my_afisha_gallery_images_path(@afisha.id), :method => :delete, :confirm => 'Вы уверены, что хотите удалить все фотографии для этой афиши?' if @afisha.gallery_images.many? %>

<%= simple_form_for @afisha.gallery_images.new, :url => my_afisha_gallery_images_path(@afisha.id), :html => { :multipart => true, :class => 'file_upload' } do |f| %>
  <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
<% end %>

<ul class="gallery_social_images">
  <%= render @afisha.gallery_social_images %>
</ul>
<%= link_to 'Удалить все фотографии', destroy_all_my_afisha_gallery_social_images_path(@afisha.id), :method => :delete, :confirm => 'Вы уверены, что хотите удалить все фотографии для этой афиши?' if @afisha.gallery_social_images.many? %>

<%= simple_form_for @afisha, :url => social_gallery_my_afisha_path(@afisha.id), :as => :afisha, :html => { :class => 'inline_form' } do |f| %>
  <%= f.input :social_gallery_url, :label => t('my.social_gallery_url') %>
  <%= f.submit 'Добавить', :class => 'button submit' %>
<% end %>

<div class='submit'>
  <%= link_to 'Сохранить', my_afisha_show_path(@afisha), class: :button %>
  <%= link_to 'Отмена', my_afisha_show_path(@afisha) %>
</div>
