<div class='title'><%= @affiche.title.present? ? @affiche.title : 'Нет названия' %></div>
<div class='description'>
  <div class='poster'>
    <% if @affiche.poster_image.exists? %>
      <%= image_tag resized_image_url(@affiche.poster_url, 150, 200, true, 'n'), size: '150x200', alt: :poster %>
    <% else %>
      <%= image_tag 'public/affiche_poster_stub.png', size: '150x200', alt: :poster %>
    <% end %>
  </div>
  <div class='text'>
    <%= @affiche.description.present? ? @affiche.description.as_html : 'Нет описания' %>
  </div>
</div>
<div class='tags'>
  <%= "Теги: #{@affiche.tag}" if @affiche.tag.present? %>
</div>
<div class='showings'>
</div>
