<div class='my_afisha_wrapper'>

  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

  <p class='new_my_afisha'><%= link_to t('my.add_afisha'), new_my_afisha_path %></p>

  <% if current_user.afisha.draft.any? %>
    <h2>Черновики</h2>
    <% current_user.afisha.draft.order("created_at DESC").each_slice(5) do |afisha| %>
      <ul class='my_afisha_items'>
        <% afisha.each do |a| %>
          <%= render :partial => 'afisha_list', :locals => { :afisha => a, :editable => true, :deletable => true } %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if current_user.afisha.pending.any? %>
    <h2>На модерации</h2>
    <% current_user.afisha.pending.order("created_at DESC").each_slice(5) do |afisha| %>
      <ul class='my_afisha_items'>
        <% afisha.each do |a| %>
          <%= render :partial => 'afisha_list', :locals => { :afisha => a } %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if current_user.afisha.actual.published.any? %>
    <h2>Опубликованы</h2>
    <% current_user.afisha.actual.published.order("created_at DESC").each_slice(5) do |afisha| %>
      <ul class='my_afisha_items'>
        <% afisha.each do |a| %>
          <%= render :partial => 'afisha_list', :locals => { :afisha => a, :editable => true } %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if current_user.afisha.archive.any? %>
    <div class='my_afisha_archive'>
      <h2>
        <%= link_to t('my.archive'), archive_my_afisha_index_path %>
      </h2>
    </div>
  <% end %>

</div>
