<% content_for :page_title do %>
  <% if @afisha.title.present? %>
    <%= @afisha.title.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @afisha.kind.map(&:text).join(', ') %> в Томске
<% end %>

<div class='my_afisha_wrapper'>
  <%= render_navigation context: 'my', renderer: :breadcrumbs %>

  <div class='afisha_show'>

    <div class='left'>
      <div class='image'>
        <% if @afisha.poster_url.present? %>
          <%= link_to(image_tag(resized_image_url(@afisha.poster_url, 200, 269), size: '200x269', alt: @afisha.title), @afisha.poster_url) %>
        <% else %>
          <% if can? :edit, @afisha %>
            <%= link_to image_tag('public/stub_poster.png', size: '200x269', alt: :poster, class: :stub), edit_step_my_afisha_path(@afisha, step: :second) %>
          <% else %>
            <%= image_tag('public/stub_poster.png', size: '200x269', alt: :poster) %>
          <% end %>
          <span class='alert'>Нет</span> постера
        <% end %>
        <%= link_to 'изменить', edit_step_my_afisha_path(@afisha, step: :second) if can? :edit, @afisha %>
      </div>
    </div>

    <div class='right'>

      <div class='wrapper'>

        <div class="public_action">
          <% if @afisha.draft? %>
            <h4>Публикация мероприятия</h4>
            <p>Для того, чтобы опубликовать созданное мероприятие, необходимо заполнить следующие поля:</p>
            <ul class='requirements'>
              <li class='<%= @afisha.title? ? 'enabled' : 'disabled' %>'>Название мероприятия</li>
              <li class='<%= @afisha.description? ? 'enabled' : 'disabled' %>'>Описание</li>
              <li class='<%= @afisha.poster_image_url? ? 'enabled' : 'disabled' %>'>Постер</li>
              <li class='<%= @afisha.showings.any? ? 'enabled' : 'disabled' %>'>Сеансы</li>
            </ul>

            <% if current_user.is_afisha_trusted_editor? %>
              <%= link_to t('my.send_to_public'), publish_my_afisha_path(@afisha), method: :put, class: "#{@afisha.ready_for_moderation? ? 'enabled' : 'disabled'}", confirm: 'Вы уверены?' %>
            <% else %>
              <% if can? :send_to_moderation, @afisha %>
                <%= link_to t('my.send_to_public'), moderate_my_afisha_path(@afisha), method: :put, class: "#{@afisha.ready_for_moderation? ? 'enabled' : 'disabled'}", confirm: 'Вы уверены? Отправляя афишу на публикацию вы больше не сможете ее редактировать пока она не будет опубликована!' %>
              <% end %>
            <% end %>
          <% else %>
            <h4>Опубликовано</h4>
          <% end %>
        </div>

      </div>

    </div>

    <div class='center'>

      <% if @afisha.title.present? %>
        <h1>
          <%= @afisha.title.to_s.text_gilensize %>
          <%= link_to 'изменить', edit_step_my_afisha_path(@afisha, step: :first) if can? :edit, @afisha %>
        </h1>
      <% else %>
        <h1>
          <span class='alert'>Нет</span> названия
          <%= link_to 'изменить', edit_step_my_afisha_path(@afisha, step: :first) if can? :edit, @afisha %>
        </h1>
      <% end %>

      <%= content_tag :p, @afisha.original_title.text_gilensize, class: 'original_title' if @afisha.original_title? %>

      <div class='closest'>
        <%= @afisha.when_with_price %>
        <% if @afisha.showings.any? %>
          <%= link_to 'изменить', edit_my_afisha_showing_path(@afisha, @afisha.showings.first) if can? :edit, @afisha.showings.first %>
          <%= link_to 'добавить ещё сеанс', new_my_afisha_showing_path(@afisha), class: :add_more_schedule if can? :new, @afisha.showings.new %>
        <% else %>
          <%= link_to 'добавить сеанс', new_my_afisha_showing_path(@afisha) if can? :new, @afisha.showings.new %>
        <% end %>
      </div>

      <div class='text'>
        <% if @afisha.description.present? %>
          <%= @afisha.html_description %>
        <% else %>
          <p><span class='alert'>Нет</span> описания</p>
        <% end %>
        <p><%= link_to 'изменить описание', edit_step_my_afisha_path(@afisha, step: :first) if can? :edit, @afisha %></p>
        <% if @afisha.html_attachments.present? %>
          <%= @afisha.html_attachments %>
        <% else %>
          <p><span class='alert'>Нет</span> файлов</p>
        <% end %>
        <p><%= link_to 'изменить файлы', edit_step_my_afisha_path(@afisha, step: :sixth) if can? :edit, @afisha %></p>
        <% if @afisha.user.present? %>
          <p class='afisha_owner'>
            <span>Автор:</span>
            <%= link_to @afisha.user.name, @afisha.user.profile %>
          </p>
        <% end %>
      </div>

      <ul class='tags'>
        <% if @afisha.tags.any? %>
          <% @afisha.tags.each do |tag| %>
            <li><%= tag %></li>
          <%end%>
          <li class='transparent'>
            <%= link_to 'изменить', edit_step_my_afisha_path(@afisha, step: :first) if can? :edit, @afisha %>
          </li>
        <% else %>
          <li class='transparent'>
            <span class='alert'>Нет</span> тэгов
            <%= link_to 'изменить', edit_step_my_afisha_path(@afisha, step: :first) if can? :edit, @afisha %>
          </li>
        <% end %>
      </ul>

      <div class='trailer_header'>
        <% if @afisha.trailer_code.present? %>
          <%= @afisha.kind.include?('movie') ? 'Трейлер' : 'Видео' %>
        <% else %>
          <span class='alert'>Нет</span>
          <%= @afisha.kind.include?('movie') ? 'трейлера' : 'видео' %>
        <% end %>
        <%= link_to 'изменить', edit_step_my_afisha_path(@afisha, step: :fifth) if can? :edit, @afisha %>
      </div>
      <% if @afisha.trailer_code.present? %>
        <div class='trailer'>
          <%= @afisha.trailer_code_html %>
        </div>
      <% end %>

      <div class='photogallery_header'>
        <% if @afisha.images.present? %>
          <%= @afisha.kind.include?('movie') ? 'Кадры' : 'Фотографии' %>
        <% else %>
          <span class='alert'>Нет</span>
          <%= @afisha.kind.include?('movie') ? 'кадров' : 'фотографий' %>
        <% end %>
        <%= link_to 'изменить', edit_step_my_afisha_path(@afisha, step: :fourth) if can? :edit, @afisha %>
      </div>
      <% if @afisha.images.present? %>
        <div class='photogallery'>
          <ul>
            <% @afisha.images.each do |image| %>
              <li><%= render partial: "#{image.class.name.underscore.pluralize}/#{image.class.name.underscore}", object: image %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='many_showings'>
        <div class='many_showing_header'>
          Расписание
          <%= link_to 'добавить', new_my_afisha_showing_path(@afisha) if can? :new, @afisha.showings.new %>
        </div>
        <ul>
          <% @afisha.showings.each do |showing| %>
            <li>
              <%= showing.for_schedule %>
              <p class='edit'><%= link_to 'изменить', edit_my_afisha_showing_path(@afisha, showing) if can? :edit, showing %></p>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
