<div class='my_wrapper'>

  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <h1>
    <%= t("my.edit_model.#{@step}") %>
    <%= link_to 'помощь', '#', :class => 'show_help' if content_for?(:help) %>
  </h1>

  <% if content_for?(:help) %>
    <div class='help_wrapper'>
      <div class='help'>
        <%= yield :help %>
      </div>
    </div>
  <% end %>

  <%= yield :my_content %>

</div>
