<div class='content_wrapper'>
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <h1>
    <%= t("my.edit_model.#{@step}") %>
    <%= link_to 'помощь', '#', :class => 'show_help' if content_for?(:help) %>
  </h1>

  <div class='help_wrapper'>
    <div class='help'>
      <%= yield :help %>
    </div>
  </div>

  <div class='my_affiche_wrapper'>
    <%= yield :my_content %>
  </div>
</div>
