<ul class="results" data-target=".accounts_search_results_wrapper">
  <% accounts.each do |account| %>
    <li>
      <div class="item">
        <div class="avatar">
          <%= link_to account do %>
            <%= image_tag(resized_image_url(account.avatar.url, 66, 66), :size => '66x66', :title => account, :alt => account) %>
          <% end %>
        </div>
        <div class="title">
          <%= link_to account.title, account_path(account) %>
        </div>

        <% if current_user.account.invitation_for(account, kind, category, parent) %>
          <%= render :partial => 'invitations/status', :locals => { :kind => kind } %>
        <% else %>
          <%= simple_form_for :invitation, :url => parent ? [parent, :invitations] : [current_user.account.invitations.build], :remote => true do |f| %>
            <%= hidden_field_tag :render, 'status' %>
            <%= f.input :category, :as => :hidden, :input_html => { :value => category } %>
            <%= f.input :kind, :as => :hidden, :input_html => { :value => kind } %>
            <%= f.input :invited_id, :as => :hidden, :input_html => { :value => account.id } %>

            <%= f.submit t("invite.#{kind}") %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<% if accounts.many? %>
  <%= paginate accounts, :remote => true, :params => { :q => params[:q] } %>
<% end %>
