<div class="accounts_search_wrapper">
  <% if params[:account_id].blank? %>
    <div class="search_form">
      <%= form_tag accounts_search_path, :remote => true, :method => :get do %>
        <%= hidden_field_tag :kind, kind %>
        <%= hidden_field_tag :category, category %>
        <%= hidden_field_tag :parent, "#{parent.class.name.underscore}_#{parent.id}" if parent %>
        <%= hidden_field_tag :only_results, true %>
        <%= text_field_tag :q, params[:q], :id => 'accounts_search_q', :placeholder => 'Найти...' %>
        <%= submit_tag 'Найти', :class => 'submit' %>
      <% end %>

      <ul class="filter">
        <li class="selected"><%= link_to 'Все пользователи', accounts_search_path(:kind => kind, :only_results => true, :category => category), :remote => true %></li>
        <li class="not_selected"><%= link_to 'Мои друзья', accounts_search_path(:kind => kind, :only_friends => true, :only_results => true, :category => category), :remote => true %></li>
      </ul>
    </div>

  <% end %>

  <div class="accounts_search_results_wrapper">
    <%= render :partial => 'results', :locals => { :accounts => @accounts } %>
  </div>
</div>

