<div class='<%= webcam_uppod.kind %>'
     data-width='<%= webcam_uppod.width %>'
     data-height='<%= webcam_uppod.height %>'
     data-file='<%= webcam_uppod.url %>'
     style='height: <%= webcam_uppod.height %>px'>
</div>
