<div class='<%= webcam_jw.kind %>'
     data-width='<%= webcam_jw.width %>'
     data-height='<%= webcam_jw.height %>'
     data-file='<%= webcam_jw.url %>'
     style='height: <%= webcam_jw.height %>px'>
</div>
