<div class='<%= webcam_jw.kind %>'
     data-width='<%= local_assigns[:width] ? width : webcam_jw.width %>'
     data-height='<%= local_assigns[:height] ? height : webcam_jw.height %>'
     data-file='<%= webcam_jw.url %>'
     style='height: <%= local_assigns[:height] ? height : webcam_jw.height %>px'>
</div>
