<div class='<%= webcam_axis.kind %>'
     data-width='<%= webcam_axis.width %>'
     data-height='<%= webcam_axis.height %>'
     data-cgi='<%= webcam_axis.url %>'
     data-params='<%= webcam_axis.parameters %>'
     data-cab='<%= webcam_axis.cab %>'
     style='height: <%= webcam_axis.height %>px'>
</div>
