<div class='<%= webcam_swf.kind %>'
     data-width='<%= local_assigns[:width] ? width : webcam_swf.width %>'
     data-height='<%= local_assigns[:height] ? height : webcam_swf.height %>'
     data-file='<%= webcam_swf.url %>'
     style='height: <%= local_assigns[:height] ? height : webcam_swf.height %>px'>
</div>
