<div class='<%= webcam_axis.kind %>'
     data-width='<%= webcam_axis.width %>'
     data-height='<%= webcam_axis.height %>'
     data-cgi='<%= webcam_axis.url %>'
     data-params='<%= webcam_axis.parameters %>'
     data-cab='<%= webcam_axis.cab %>'>
  <%= link_to webcam_axis.title, webcam_url(webcam_axis) %>
  <%= content_tag :p, webcam_axis.address, :'data-latitude' => webcam_axis.latitude, :'data-longitude' => webcam_axis.longitude %>
</div>
