<% content_for :page_title, "#{resource.title}. #{resource.address}. Веб-камера Томска. ЗнайГород" %>
<% content_for :meta_keywords, "веб-камера, томск" %>
<% content_for :meta_description, "#{resource.title}, веб-камера расположена расположена по адресу #{resource.address}" %>
<% content_for :extra_meta do %>
  <meta property='og:site_name' content='Афиша Томска, кафе, рестораны, бары, сауны, театры, клубы, знакомства - ЗнайГород' />
  <meta property='og:title' content='<%= "#{resource.title}. Веб-камера Томска. ЗнайГород" %>' />
  <meta property='og:description' content='<%= "#{resource.title}, веб-камера расположена по адресу #{resource.address}" %>' />
  <meta property='og:url' content='<%= webcam_url(resource) %>' />
  <% snapshot_url = resized_image_url(resource.snapshot_href, 250, 187) %>
  <meta property='og:image' content='<%= snapshot_url %>' />
  <meta name='image' content='<%= snapshot_url %>' />
  <link rel='image_src' href='<%= snapshot_url %>' />
  <meta name='twitter:card' content='summary'>
  <meta name='twitter:site' content='@znaigorod' />
  <meta name='twitter:url' content='<%= webcam_url(resource) %>' />
  <meta name='twitter:title' content='<%= "#{resource.title}. Веб-камера Томска. ЗнайГород" %>' />
  <meta name='twitter:description' content='<%= "#{resource.title}, веб-камера расположена по адресу #{resource.address}" %>' />
  <meta name='twitter:image' content='<%= snapshot_url %>' />
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'webcams/application', :media => 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'http://userapi.com/js/api/openapi.js?52' %>
  <%= javascript_include_tag 'webcams/application' %>
<% end %>

<div class='webcams' style='width: <%= resource.width + 312 %>px'>

  <% if @layout_name == 'public' %>
    <p class='to_webcams_list'><%= link_to 'Карта веб-камер Томска', webcams_path %></p>
  <% end %>

  <h1><%= resource.title %></h1>

  <div class='clearfix'>
    <div class='left'>
      <% if @tickets.present? %>
        <h3>Распродажа билетов</h3>
        <ul class='tickets'>
          <% @tickets.each do |ticket| %>
            <li>
              <div class='title'><%= link_to ticket.afisha.title, afisha_show_path(ticket.afisha), :class => 'redirect_to_afisha' %></div>
              <div class='ticket_prices'>
                <% if ticket.original_price == ticket.price %>
                  <div class='price'><%= ticket.price.to_i %>р.<%= "+#{ticket.organization_price.to_i}р." if ticket.organization_price %></div>
                <% else %>
                  <div class='original_price'><%= ticket.original_price.to_i %>р.</div>
                  <div class='price'><%= ticket.price.to_i %>р.<%= "+#{ticket.organization_price.to_i}р." if ticket.organization_price %></div>
                <% end %>
              </div>
              <div class='buy_ticket'>
                <%= link_to 'Купить', afisha_show_path(ticket.afisha, anchor: :buy_ticket), :class => 'redirect_to_afisha button' %>
              </div>
          </li>
          <% end %>
        </ul>
      <% else %>
        &nbsp;
      <% end %>
    </div>
    <div class='center'>
      <div class='webcam_show' style='width:<%= resource.width %>px;'>
        <%= render :partial => resource.kind, :object => resource %>
      </div>
      <h2><%= resource.address %></h2>
      <div class='share_and_likes' style='width: <%= resource.width + 2 %>px'>
        <%= render :partial => 'commons/share_this', :locals => { :url => webcam_url(resource) } %>
      </div>
    </div>
    <div class='right'>
      <p>Здесь может быть ваша реклама</p>
      <p>Заинтересованы?</p>
      <p>Пишите нам <a href='mailto:office@znaigorod.ru'>office@znaigorod.ru</a></p>
    </div>
  </div>

</div>

<% if @layout_name == 'public' %>
  <div class='introduction'>
    <%= t('meta.webcams.introduction', :default => '').as_html %>
  </div>
<% end %>
