<div class="my_wrapper">
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class="my_adverts_wrapper advert_form">
    <h1>Добавление фотографий</h1>

    <div class="info_wrapper">
      <span class='info'></span>
      <span>Фотографии можно отсортировать, просто перетащив их в нужном порядке.</span>
    </div>

    <div class="gallery_images_wrapper">
      <ul class="gallery_images gallery close js-gallery js-gallery-sort" data-sort-url="<%= images_sort_my_advert_path(@advert.id) %>">
        <%= render :partial => 'gallery', :locals => { :advert => @advert } %>
      </ul>

      <%= simple_form_for @advert.gallery_images.new,
        :url => my_advert_gallery_images_path(@advert.id),
        :html => { :multipart => true, :class => 'file_upload default_simple_form' } do |f| %>

        <%= hidden_field_tag :advert_gallery, true %>

        <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
        <div class="info_wrapper">
          <span class='info'></span> <span>Можно выбрать сразу несколько файлов</span>
        </div>
      <% end %>

      <div class="upload_wrapper">
        <script id="template-upload" type="text/x-tmpl">
          <div class="upload">
            {%=o.name%}
            <div class="progress"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
      </div>

      <%= simple_form_for @advert, :url => download_album_my_advert_path(@advert.id) do |f| %>
        <div class="input">
          <%= label_tag :album_url, 'Адрес альбома из Вконтакте или Яндекс.Фотки:' %>
          <%= text_field_tag :album_url, nil, :class => 'string' %>
        </div>

        <%= f.submit 'Сохранить', :class => 'btn btn-lg btn-orange' %>
      <% end %>

    </div>

    <div class="padvert_wrapper">
      <div class="gallery_images_help">
        <div class="orange cell">
          Помощь
        </div>

        <div class="arrow_box cell">
          <h4>Фотографии можно загрузить двумя способами:</h4>
          <ol>
            <li>Загрузить непосредственно с компьютера, выбрав одну или несколько фотографий сразу.</li>
            <li>Указать ссылку на альбом Вконтакте или на Яндекс.Фотки
            <ul>
              <li>Ссылка на альбом Вконтакте имеет вид: <a target="_blank" rel="nofollow" href="http://vk.com/album-35689602_173541663">http://vk.com/album-35689602_173541663</a> (можно добавить только из открытых альбомов)</li>
              <li>Ссылка на альбом Яндекс.Фотки имеет вид: <a target="_blank" rel="nofollow" href="http://fotki.yandex.ru/users/s-s-nega/album/131256/">http://fotki.yandex.ru/users/s-s-nega/album/131256</a></li>
            </ul>
            </li>
            <li>При необходимости можно добавить несколько альбомов по очереди.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
