<li class='<%= cycle('first', 'second', 'third', 'fourth') unless work.context.is_a?(ContestVideo) %>'>
  <div class='title'>
    <% if work.title.present? %>
      <%= link_to(work.title, [work.context, work.becomes(Work)]) %>
    <% else %>
      &nbsp;
    <% end %>
  </div>
  <div class='image'>
    <div class="details">
      <span class="show_tipsy fa fa-comments" title="Комментарии"> <%= work.comments.count %></span>
      <span class="show_tipsy fa fa-heart" title="Понравилось"> <%= work.likes_count %></span>
      <span class="show_tipsy fa fa-eye" title="Просмотры"> <%= work.page_visits.count %></span>
    </div>
    <% if work.context.is_a?(ContestVideo) %>
      <%= link_to image_tag(resized_image_url(work.image_url, width, height, options = { :crop => '!', :magnify => 'm', :orientation => '' }) , :size => "#{width}x#{height}"), [work.context, work.becomes(Work)],
        :class => 'js-video-preview',
        :data => { :video => { :src => work.content_parser.videos.first.src, :width => '700' } } %>
    <% else %>
      <%= link_to [work.context, work.becomes(Work)] do %>
        <%= image_tag(resized_image_url(work.image_url, width, height), :size => "#{width}x#{height}", :alt => work.title? ? work.title : work.image_file_name) %>
      <% end %>
    <% end %>
  </div>
  <%
      contest_description = work.author_info
  contest_description += '. ' + work.description.squish if work.description.present?
  contest_description = truncate(contest_description, :length => 140)
%>
    <% if @contest.starts_at <= Time.zone.now %>
      <% if @contest.ends_at >= Time.zone.now %>
        <div class='contest_work_like'>
          <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => work } %>
        </div>
      <% else %>
        <div class='contest_work_vk_like_on_list'>
          <%= t 'contest.votes', :count => work.context_id < 4 ? work.vk_likes.to_i : work.votes.liked.count %>
        </div>
      <% end %>
    <% else %>
      <div class='contest_work_vk_like_on_list'>
        Голосование начнётся <%= l @contest.starts_at %>
    </div>
  <% end %>
</li>
