<% @works.each do |work| %>
  <li class='<%= cycle('first', 'second', 'third', 'fourth') %>'>
    <div class='image'>
      <%= link_to(image_tag(work.image_url.gsub(/\/\d+-\d+\//, '/265-200!n/')), contest_work_path(@contest, work)) %>
    </div>
    <% contest_description = work.author_info
       contest_description += '. ' + work.description.squish if work.description.present?
       contest_description = truncate(contest_description, :length => 140)
    %>
    <div class='title'>
      <%= link_to(work.title, contest_work_path(@contest, work)) %>
    </div>
    <% if @contest.ends_on >= Date.today %>
      <div class='contest_work_like'>
        <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => work } %>
      </div>
    <% else %>
      <div class='contest_work_vk_like_on_list'><%= t 'contest.votes', :count => work.vk_likes.to_i %></div>
    <% end %>
    <div class='author'><%= work.author_info %></div>
  </li>
<% end %>
