<% content_for :page_title, @photogallery.title.excerpt %>

<% content_for :extra_meta do %>
  <meta property='og:site_name' content='ЗнайГород - фотопроект' />
  <meta property='og:title' content='Фотопроект ЗнайГорода «<%= @photogallery.title %>' />
  <meta property='og:url' content='<%= photogallery_url(@photogallery) %>' />
  <meta property='og:image' content='<%= resized_image_url(@photogallery.og_image_url, 130, 63) %>' />
  <% if @photogallery.og_description? %>
    <meta property='og:description' content='<%= @photogallery.og_description.squish %>' />
  <% end %>

  <meta name='twitter:site' content='@znaigorod' />
  <meta name='twitter:title' content='Фотопроект ЗнайГорода «<%= @photogallery.title %>' />
  <meta name='twitter:url' content='<%= photogallery_url(@photogallery) %>' />
  <meta name='twitter:image:src' content='<%= resized_image_url(@photogallery.og_image_url, 130, 63) %>' />
<% end %>

<% content_for :canonical_link do %>
  <link rel='canonical' href='<%= photogallery_url(@photogallery) %>' />
<% end %>

<div class='photogallery <%= @photogallery.slug %>'>
  <%= render :partial => 'photogalleries/description' %>

  <div class='share_and_likes'>
    <%= render :partial => 'commons/share_and_like_this', :locals => { :url => photogallery_url(@photogallery) } %>
  </div>

  <div class="upload_work_wrapper" id="add_work">
    <div class="agreement_wrapper">
      <%= file_field_tag 'work_upload', multiple: true %>
    </div>
  </div>

  <div class="upload_wrapper">
    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
            {%=o.name%}
            <div class="progress"><div class="bar" style="width: 0%"></div></div>
          </div>
    </script>
  </div>
</div>
