<% work_title = [@work.title, "Работа фотопроекта ЗнайГорода «#{@work.context.title}»"].compact.reject(&:empty?).join('. ') %>
<% content_for :page_title, work_title %>

<% content_for :extra_meta do %>
  <% full_content = @work.author_info.to_s
  full_content += '. ' + @work.description.squish if @work.description.present?
  content = truncate(full_content, :length => 140)
%>
  <meta name='description' content='<%= full_content %>' />

  <meta property='og:site_name' content='ЗнайГород - фотопроект' />

  <meta property='og:title' content='<%= work_title %>' />
  <% if @work.context.og_description? %>
    <meta property='og:description' content='<%= @work.context.og_description.squish %>' />
  <% end %>
  <meta property='og:url' content='<%= photogallery_work_url(@work.context, @work) %>' />
  <meta property='og:image' content='<%= resized_image_url(@work.image_url, 130, 63) %>' />

  <meta name='twitter:site' content='@znaigorod' />
  <meta name='twitter:title' content='<%= work_title %>' />
  <meta name='twitter:url' content='<%= photogallery_work_url(@work.context, @work) %>' />
  <meta name='twitter:image:src' content='<%= resized_image_url(@work.image_url, 130, 63) %>' />
<% end %>

<% content_for :canonical_link do %>
  <link rel='canonical' href='<%= photogallery_url(@work.context) %>' />
<% end %>

<div class="left_works">
  <div class='contest <%= @work.context.slug %>'>
    <h1><%= link_to @work.context.title.excerpt, photogallery_url(@work.context) %></h1>

    <div class="details">
      <span class="show_tipsy fa fa-comments" title="Комментарии"> <%= @work.comments.count %></span>
      <span class="show_tipsy fa fa-heart" title="Понравилось"> <%= @work.likes_count %></span>
      <span class="show_tipsy fa fa-eye" title="Просмотры"> <%= @work.page_visits.count %></span>
    </div>

    <div style='clear: both'></div>

    <div class='work ajaxed_voteable work_photogallery'>

      <%= content_tag :h2, @work.title if @work.title.present?%>

      <div style='clear: both'></div>

      <div class='image'>
        <% if @more_photos.works.count > 2 %>
          <button class='prev_image js-prev-image'>предыдущая</button>
        <% end %>

        <%= work_image_tag @work %>

        <% if @more_photos.works.count > 2 %>
          <button class='next_image js-next-image'>следующая</button>
        <% end %>

        <div class="info_about_work">
          <%= content_tag :div, @work.description.as_html, :class => :work_description if @work.description.present? %>
          <%= render :partial => 'commons/author', :locals => { :account => @work.account } %>
        </div>
      </div>

      <% content_for :zg_like_with_vk_share do %>
        <!-- ZG Like -->
        <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @work } %>
        <!-- / ZG Like -->
      <% end %>

      <div class="share_and_likes_photogallery ajaxed_voteable">
        <%= render :partial => 'commons/like_this', :locals => { :url => photogallery_url(@work) } %>
      </div>

      <div class='photogallery'>
        <ul>
          <% @more_photos.works.ordered_by_id.each_with_index do |photo, index| %>
            <li class="item tiny">
              <%= render :partial => 'photogallery_works', :locals => { :photo => photo, :height => 120, :width => 214, :index => index } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render :partial => 'comments/block', :locals => { :parent_obj => @work } %>
  </div>
</div>

<div class="right_works">
  <% if @photogalleries.any? %>
    <h3>Еще галереи</h3>
    <ul class="similar posters">
      <% @photogalleries.each do |photogallery| %>
        <li class="item_photogallery tiny">
          <%= render :partial => 'photogalleries/poster', :locals => { :photogallery => PhotogalleryDecorator.decorate(photogallery), :height => 120, :width => 214 } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
