<div class="ajaxed_item">
  <%= simple_form_for [@contest, @work], :html => { :remote => true } do |f| %>
    <%= f.input :image %>
    <%= f.input :agree, :as => :boolean %>
    <%= @contest.agreement %>

    <%= f.submit 'Добавить' %>
    <%= link_to 'Отмена', '#', :class => 'cancel' %>
  <% end %>
</div>
