<% content_for :page_title, @work.title.present? ? "#{@work.title}, #{@work.contest.title}" : @work.contest.title %>

<% content_for :extra_meta do %>
  <% full_content = @work.author_info
     full_content += '. ' + @work.description.squish if @work.description.present?
     content = truncate(full_content, :length => 140)
  %>
  <meta='description' content='<%= full_content %>' />
  <meta property='og:description' content='<%= content %>'/>
  <meta property='og:site_name' content='Знай­Город - конкурс' />
  <meta property='og:title' content='<%= @work.contest.title.excerpt %>. <%= @work.title %>' />
  <meta property='og:url' content='<%= "#{request.protocol}#{request.host_with_port}#{contest_work_path(@work.contest, @work)}" %>' />
  <meta property='og:image' content='<%= @work.image_url.gsub(/\/\d+-\d+\//, '/100-63!n/') %>' />
<% end %>

<div class='contest'>
  <h1><%= @work.contest.title.excerpt %></h1>

  <div class='description'>
    <%= @work.contest.description.as_html %>
  </div>
  <div class='work ajaxed_voteable'>
    <%= link_to 'Все участники конкурса', contest_path(@work.contest), :class => :link_to_contest %>
    <%= content_tag :h2, @work.title if @work.title.present? %>
    <div class='image'>
      <%= work_image_tag @work %>
    </div>
    <% if @work.contest.ends_on >= Date.today %>
      <div class='contest_work_like'>
        <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @work } %>
      </div>
    <% else %>
      <div class='contest_work_vk_like'><%= t 'contest.votes', :count => @work.vk_likes.to_i %></div>
    <% end %>
    <div class='author'>
      <%= "<strong>Автор работы:</strong> #{@work.author_info}".html_safe if @work.author_info.present? %>
    </div>
    <%= content_tag :div, @work.description.as_html, :class => :description if @work.description.present? %>
  </div>
  <%= render :partial => 'comments/block', :locals => { :parent_obj => @work } %>
</div>
