<% work_title = [@work.title, "Поддержи участника конкурса ЗнайГорода «#{@work.contest.title}"].compact.reject(&:empty?).join('. ') %>
<% content_for :page_title, work_title %>

<% content_for :extra_meta do %>
  <% full_content = @work.author_info
     full_content += '. ' + @work.description.squish if @work.description.present?
     content = truncate(full_content, :length => 140)
  %>
  <meta='description' content='<%= full_content %>' />

  <meta property='og:site_name' content='ЗнайГород - конкурс' />

  <meta property='og:title' content='<%= work_title %>' />
  <% if content.present? %>
    <meta property='og:description' content='<%= content %>'/>
  <% end %>
  <meta property='og:url' content='<%= contest_work_url(@work.contest, @work) %>' />
  <meta property='og:image' content='<%= resized_image_url(@work.image_url, 130, 63) %>' />

  <meta name='twitter:site' content='@znaigorod' />
  <meta name='twitter:title' content='<%= work_title %>' />
  <meta name='twitter:url' content='<%= contest_work_url(@work.contest, @work) %>' />
  <meta name='twitter:image:src' content='<%= resized_image_url(@work.image_url, 130, 63) %>' />
<% end %>

<div class='contest <%= @work.contest.slug %>'>
  <h1><%= @work.contest.title.excerpt %></h1>

  <div class='description'>
    <%= @work.contest.description.as_html %>
  </div>
  <div class='work ajaxed_voteable'>
    <%= link_to 'Все участники конкурса', contest_path(@work.contest), :class => :link_to_contest %>
    <h2>
      <%= @work.title if @work.title.present? %>
      <%= '&nbsp;'.html_safe unless @work.title.present? %>
    </h2>
    <div class='image'>
      <%= work_image_tag @work %>
    </div>
    <%= render :partial => 'commons/share_this' %>
    <% if @contest.starts_at <= Time.zone.now %>
      <% if @contest.ends_at >= Time.zone.now %>
        <div class='contest_work_like'>
          <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @work } %>
        </div>
      <% else %>
        <div class='contest_work_vk_like'><%= t 'contest.votes', :count => @work.contest_id < 4 ? @work.vk_likes.to_i : @work.votes.liked.count %></div>
      <% end %>
    <% end %>
    <div class='author'>
      <%= "<strong>Автор работы:</strong> #{@work.author_info}".html_safe if @work.author_info.present? %>
    </div>
    <%= content_tag :div, @work.description.as_html, :class => :description if @work.description.present? %>
  </div>
  <%= render :partial => 'comments/block', :locals => { :parent_obj => @work } %>
</div>
