<%= link_to hit.title, hit.result %>
<div class='excerpt'><%= hit.excerpt %></div>
<% HitDecorator::ADDITIONAL_FIELDS.each do |field| %>
  <% if hit.highlights(field).any? %>
    <div class='<%= field %>'>
      <span class='field_description'><%= hit.result.class.human_attribute_name(field) %></span>
      <%= hit.highlighted(field) %>
    </div>
  <% end %>
<% end %>
<% if Rails.env.development? %>
  <div class='debug'>
    <%= hit.score %> |
    <%= hit.result.popularity if hit.result.respond_to? :popularity %>
    <%= hit.result.rating if hit.result.respond_to? :rating %>
  </div>
<% end %>
