<%= content_tag :div, link_to(image_tag(hit.image), hit.show_url), class: :image %>

<div class="title">
  <%= link_to hit.title, hit.show_url %>
  <%= "(#{hit.result_decorator.model.original_title})" if hit.result_decorator.model.original_title.present? %>
</div>

<div class="info">
  <%= hit.result_decorator.when_with_price %>
  <%= hit.places %>
  <div class='excerpt'><%= hit.excerpt %></div>
</div>

<%#= hit.snipped_links %>
<%#= hit.closest %>

<% HitDecorator::ADDITIONAL_FIELDS.each do |field| %>
  <% if (hit.highlights(field) + hit.highlights("#{field}_ru")).any? %>
    <ul class="tags">
      <li class="field_description"><%= hit.result.class.human_attribute_name(field) %>:</li>
      <%= hit.splitted_fields(field) %>
    </ul>
  <% end %>
<% end %>

<div class="details">
  <%= content_tag :span, hit.result_decorator.visits.visited.count, class: :to_go %>
  <%= content_tag :span, hit.result_decorator.comments.count, class: :comments %>
  <%= content_tag :span, hit.result_decorator.votes.liked.count, class: :likes %>
  <%= content_tag :span, hit.result_decorator.page_visits.count, class: :visits %>
</div>
