<%= content_tag :div, link_to(hit.image_item, hit.result), class: "image" if hit.image? %>
<%= content_tag :ul, hit.kind_links, class: "kind" unless hit.kind_links.blank? %>
<div class="title"><%= hit.title_link %></div>
<%= hit.snipped_links %>
<%= hit.closest %>
<%= hit.places %>
<div class='excerpt'><%= hit.excerpt %></div>
<% HitDecorator::ADDITIONAL_FIELDS.each do |field| %>
  <% if (hit.highlights(field) + hit.highlights("#{field}_ru")).any? %>
    <ul class="tags">
      <li class="field_description"><%= hit.result.class.human_attribute_name(field) %>:</li>
      <%= hit.splitted_fields(field) %>
    </ul>
  <% end %>
<% end %>
<% if Rails.env.development? %>
  <div class='debug'>
    <%= hit.score %> |
    <%= hit.result.popularity if hit.result.respond_to? :popularity %> |
    <%= hit.result.rating if hit.result.respond_to? :rating %>
  </div>
<% end %>
