<%= content_tag :div, link_to(hit.image_item, hit.show_url), class: "image" if hit.image? %>

<div class="title">
  <%= hit.title_link %>
  <% if hit.result_decorator.class.name == 'AfficheDecorator' && hit.result_decorator.model.original_title.present? %>
    (<%= hit.result_decorator.model.original_title %>)
  <% end %>
</div>
<%= hit.snipped_links %>
<%= hit.closest %>
<%= hit.places %>

  <div class="rating" style='margin: 5px 10px;'>
    <%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => hit.result_decorator.model } %>
  </div>

<div class='excerpt'><%= hit.excerpt %></div>
<% HitDecorator::ADDITIONAL_FIELDS.each do |field| %>
  <% if (hit.highlights(field) + hit.highlights("#{field}_ru")).any? %>
    <ul class="tags">
      <li class="field_description"><%= hit.result.class.human_attribute_name(field) %>:</li>
      <%= hit.splitted_fields(field) %>
    </ul>
  <% end %>
<% end %>

<%= content_tag :ul, hit.kind_links, class: "kind" unless hit.kind_links.blank? %>

<% if Rails.env.development? %>
  <div class='debug'>
    <%= hit.score %> |
    <%= hit.result.popularity if hit.result.respond_to? :popularity %> |
    <%= hit.result.rating if hit.result.respond_to? :rating %>
  </div>
<% end %>
