<%= content_tag :div, link_to(image_tag(resized_image_url(hit.result_decorator.logotype_url, 88, 88), size: '88x88', alt: hit.result_decorator.title), hit.result_decorator.show_url), class: :image if hit.has_image? %>
<%= content_tag :div, link_to(hit.title, hit.show_url), class: :title %>

<div class="info">
  <%= hit.places %>
  <%= hit.result_decorator.schedule_today %>
  <%= content_tag :div, hit.result_decorator.model.phone, class: :phone %>

  <div class='excerpt'><%= hit.excerpt %></div>

  <div class="details">
    <%= content_tag :span, hit.result_decorator.visits.visited.count, class: :to_go %>
    <%= content_tag :span, hit.result_decorator.comments.count, class: :comments %>
    <%= content_tag :span, hit.result_decorator.votes.liked.count, class: :likes %>
  </div>
</div>

