<%= content_tag :div, link_to(image_tag(resized_image_url(hit.result_decorator.poster_url, 108, 80), :size => '108x80', :alt => hit.result_decorator.title), hit.show_url), :class => :image %>
<%= link_to hit.title, hit.show_url, :class => :title %>

<div class="info">
  <div class='excerpt'><%= hit.excerpt %></div>
  <%= content_tag :div, hit.result_decorator.human_place, :class => 'places' %>
</div>

<div class="details">
  <%= content_tag :span, hit.result_decorator.members.count, :class => :to_go %>
  <%= content_tag :span, hit.result_decorator.comments.count, :class => :comments %>
  <%= content_tag :span, hit.result_decorator.votes.liked.count, :class => :likes %>
  <%= content_tag :span, hit.result_decorator.page_visits.count, :class => :visits %>
</div>
