<li>
  <%= l(activity.activity_at, :format => :long) %>
  <%= activity.title %>
  <%= link_to activity.organization.title, [:crm, activity.organization] %>
  <%= activity.manager unless params[:search].try(:[], :user_id) %>
  <%= activity.status_text %>
  <%= activity.contact %>
  <%= link_to "Редактировать", edit_crm_organization_activity_path(activity.organization, activity) %>
</li>
