<div class="form_view">
  <%= simple_form_for [:crm, parent, resource], :html => { :novalidate => true }  do |f| %>
    <%= f.input :title %>
    <%= f.input :status %>
    <%= f.input :state %>
    <%= f.input :activity_at, as: :datetime_picker %>
    <%= f.input :manager, as: :select, collection: User.sales_managers, selected: @organization.manager ? @organization.user_id : current_user.id %>
    <%= f.input :contact, as: :select, collection: @organization.contacts %>

    <div class="actions">
      <%= f.button :submit, 'Сохранить' %>
      <%= link_to 'Удалить', resource_path, method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
    </div>
  <% end %>
</div>
