<h1>Активности</h1>

<div class="search_activity_form">
  <%= simple_form_for :search, method: :get do |f| %>
    <%= f.input :state,
      label: 'Статус',
      collection: Activity.state.options,
      prompt: 'Все',
      selected: params[:search].try(:[], :state),
      required: false %>

    <%= f.input 'activity[from]',
      label: 'от',
      as: :date_picker,
      input_html: { value: params[:search].try(:[], :activity).try(:[], :from) },
      required: false %>

    <%= f.input 'activity[to]',
      label: 'до',
      as: :date_picker,
      input_html: { value: params[:search].try(:[], :activity).try(:[], :to) },
      required: false %>

    <%= f.input :user_id,
      label: 'Менеджер',
      as: :select,
      collection: User.sales_managers,
      selected: params[:search].try(:[], :user_id),
      include_blank: true,
      required: false %>

    <div class="submit">
      <%= f.button :submit, 'Найти', class: :button %>
    </div>
  <% end %>
</div>

<ul>
  <%= render  @activities %>
</ul>
