<%= simple_form_for :search, method: :get do |f| %>
  <%= f.input :state,
    label: 'Статус',
    as: :select,
    collection: Activity.state.options,
    selected: params[:search].try(:[], :state),
    include_blank: true %>

  <%= f.input 'activity[from]',
    label: 'от',
    as: :string,
    input_html: { value: params[:search].try(:[], :activity).try(:[], :from) } %>

  <%= f.input 'activity[to]',
    label: 'до',
    as: :string,
    input_html: { value: params[:search].try(:[], :activity).try(:[], :to) } %>

  <%= f.input :user_id,
    label: 'Менеджер',
    as: :select,
    collection: User.sales_managers,
    selected: params[:search].try(:[], :user_id),
    include_blank: true %>

  <%= f.submit 'Найти' %>
<% end %>

<ul>
  <% @activities.each do |activity| %>
    <li>
      <%= link_to activity.organization.title, edit_crm_organization_activity_path(activity.organization, activity) %>
    </li>
  <% end %>
</ul>
