<h1>Активности</h1>

<div class="search_activity_form">
  <%= simple_form_for :search, method: :get do |f| %>
    <%= f.input :state,
      label: 'Состояние',
      collection: Activity.state.options,
      selected: params[:search].try(:[], :state),
      include_blank: true,
      required: false %>

    <%= f.input :status,
      label: 'Статус',
      collection: Activity.status.options,
      selected: params[:search].try(:[], :status),
      include_blank: true,
      required: false %>

    <%= f.input :kind,
      label: 'Тип',
      collection: Activity.kind.options,
      selected: params[:search].try(:[], :kind),
      include_blank: true,
      required: false %>

    <%= f.input 'activity[from]',
      label: 'от',
      as: :date_picker,
      input_html: { value: params[:search].try(:[], :activity).try(:[], :from) },
      required: false %>

    <%= f.input 'activity[to]',
      label: 'до',
      as: :date_picker,
      input_html: { value: params[:search].try(:[], :activity).try(:[], :to) },
      required: false %>

    <%= f.input :user_id,
      label: 'Менеджер',
      as: :select,
      collection: User.sales_managers,
      selected: params[:search].try(:[], :user_id),
      include_blank: true,
      required: false %>

    <div class="submit">
      <%= f.button :submit, 'Найти', class: :button %>
    </div>

    <%= link_to "отчистить", crm_activities_path, class: 'clear' %>
  <% end %>
</div>

<div class='all_activities_list'>
  <p>Активностей: <%= @activities.total_count %></p>
  <table>
    <thead>
      <tr>
        <th class='organization'>Организация</th>
        <th class='activity_at'>Дата</th>
        <th class='state'><abbr title='Состояние'>C</abbr></th>
        <th class='kind'>Тип</th>
        <th class='title'>Описание</th>
        <th class='status'>Статус</th>
        <th class='manager'>Менеджер</th>
        <th class='edit'></th>
      </tr>
    </thead>
    <tbody>
      <%= render @activities %>
    </tbody>
  </table>
</div>

<%= paginate @activities  %>
