<h3>Билеты</h3>

<%= form_tag manage_statistics_tickets_path, :method => :get, :class => 'search_ticket_infos' do %>
  <%= text_field_tag 'q', params[:q] %>

<ul>
  <li>
  <%= radio_button_tag :state, '', @state == nil, :id => 'state_all' %>
  <%= label_tag 'state_all', "Все (#{Copy.for_tickets.count})" %>
  </li>
  <% Copy.state.options.each do |option| %>
    <li>
  <%= radio_button_tag :state, option.last, @state == option.last, :id => "state_#{option.last}" %>
  <%= label_tag "state_#{option.last}", "#{option.first} (#{Copy.for_tickets.send(option.last).count})"  %>
  </li>
<% end %>
</ul>

<%= submit_tag 'Найти' %>
<% end %>

<%= render partial: 'manage/copies/copies' %>

<%= paginate @groups %>
