<h1><%= @user %></h1>

<%= simple_nested_form_for [:manage, :admin, @user] do |f| %>
  <%= f.simple_fields_for :roles do |role_form| %>
    <%= role_form.input :role %>
    <%= role_form.link_to_remove 'Удалить' %>
  <% end %>

  <%= f.link_to_add 'Добавить роль', :roles, :data => { :target => '#roles' } %>

  <%= f.submit 'Применить' %>
<% end %>
