<% @photogallery.collection.each do |item| %>
  <li class="<%= cycle('odd', 'even') %>">
    <div class="relative">
      <div class="counter"><%= item.images_count %></div>
      <div class="images"><%= item.main_images %></div>
    </div>
    <div class="link"><%= item.link %></div>
    <div class="date"><%= item.date %></div>
  </li>
<% end %>
