<% if page_meta %>
  <% content_for :extra_meta do %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% end %>
<% end %>

<div class="presentation_filters photogalleries">
  <div class="filter_header">
    <% if page_meta %>
      <h1><%= page_meta.header.squish.html_safe %></h1>
    <% else %>
      <h1><%= t('meta.photogalleries.page_header') %></h1>
    <% end %>
  </div>
</div>

<div class="photogalleries-paginator">
  <ul class="posters js-isotoped-content" data-item-width="392">
    <%= render :partial => 'photogalleries/posters', :locals => { :decorator => @photo_decorator, :height => '200', :width => '354' } %>
  </ul>
</div>

<% if page_meta %>
  <div class="introduction">
    <%= page_meta.html_introduction %>
  </div>
<% end %>
