<% content_for :page_title, t('meta.photogalleries.title') %>
<% content_for :meta_description, t('meta.photogalleries.description') %>
<% content_for :meta_keywords, t('meta.photogalleries.keywords') %>

<div class="content_wrapper">

  <div class="affiches_list">
    <h1><span class="strong">Было</span> в городе</h1>
    <ul class="was_in_city_photos">
      <%= render :partial => "photogalleries_list" %>
    </ul>

    <!--noindex-->
    <div class="right_wrapper">
      <div class="affiches_filter">
        <ul class="categories">
          <li class='current' style='background: none;'>
            <div class="title">Фотогалареи</div>
            <ul class="periods">
              <% @photogallery.period_links.each do |link| %>
                <%= link %>
              <% end %>
            </ul>

            <ul class="tags">
              <li class="title">Мероприятия</li>
              <% @photogallery.category_links.each do |link| %>
                <%= link %>
              <% end %>
            </ul>

            <ul class="tags">
              <li class="title">Теги</li>
              <% @photogallery.tag_links.each do |link| %>
                <%= link %>
              <% end %>
            </ul>
          </li>
        </ul>
        <div class="vk_group_wrapper">
          <div id="vk_group_thin"></div>
        </div>
        <% if Rails.env.production? %>
          <div class="vk_recommended_wrapper">
            <div id="vk_recommended"></div>
          </div>
        <% end %>
      </div>

      <a href="#" class="move_to_top">наверх</a>
    </div>
    <!--/noindex-->
  </div>

</div>

<%= paginate @photogallery.paginated_collection %>
