<div class="content_wrapper">

  <div class="affiches_list">
    <h1><span class="strong">Было</span> в городе</h1>
    <ul class="was_in_city_photos">
      <% @photogallery.collection.each do |item| %>
        <li claa="<%= cycle('odd', 'even') %>">
          <div class="relative">
            <div class="counter"><%= item.images_count %></div>
            <div class="images"><%= item.main_images "photogallery" %></div>
          </div>
          <div class="link"><%= item.link "photogallery" %></div>
          <div class="date"><%= item.date %></div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="affiches_filter">
    <ul class="categories">
      <li class='current'>
        <div class="title">Фотогалареи</div>
        <ul class="periods">
          <% @photogallery.period_links.each do |link| %>
            <%= link %>
          <% end %>
        </ul>

        <ul class="tags">
          <li class="title">Мероприятия</li>
          <% @photogallery.category_links.each do |link| %>
            <%= link %>
          <% end %>
        </ul>

        <ul class="tags">
          <li class="title">Теги</li>
          <% @photogallery.tag_links.each do |link| %>
            <%= link %>
          <% end %>
        </ul>
      </li>
    </ul>
    <div class="vk_recommended_wrapper">
      <div id="vk_recommended"></div>
    </div>
  </div>
</div>

<%= paginate @photogallery.paginated_collection %>
