<% content_for :page_title, @photogallery.title.excerpt %>

<% content_for :extra_meta do %>
  <meta property='og:site_name' content='ЗнайГород - фотопроект' />
  <meta property='og:title' content='Фотопроект ЗнайГорода «<%= @photogallery.title %>' />
  <meta property='og:url' content='<%= photogallery_url(@photogallery) %>' />
  <meta property='og:image' content='<%= resized_image_url(@photogallery.og_image_url, 130, 63) %>' />
  <% if @photogallery.og_description? %>
    <meta property='og:description' content='<%= @photogallery.og_description.squish %>' />
  <% end %>

  <meta name='twitter:site' content='@znaigorod' />
  <meta name='twitter:title' content='Фотопроект ЗнайГорода «<%= @photogallery.title %>' />
  <meta name='twitter:url' content='<%= photogallery_url(@photogallery) %>' />
  <meta name='twitter:image:src' content='<%= resized_image_url(@photogallery.og_image_url, 130, 63) %>' />
<% end %>

<div class='photogallery <%= @photogallery.slug %>'>
  <%= render :partial => 'photogalleries/description' %>

  <div class='share_and_likes'>
    <%= render :partial => 'commons/share_and_like_this', :locals => { :url => photogallery_url(@photogallery) } %>
  </div>

  <div class="details">
    <span class="show_tipsy fa fa-comments" title="Комментарии"> <%= @photo_decorator.comments.count %></span>
    <span class="show_tipsy fa fa-heart" title="Понравилось"> <%= @photo_decorator.likes_count %></span>
    <span class="show_tipsy fa fa-eye" title="Просмотры"> <%= @photo_decorator.page_visits.count %></span>
  </div>

  <div class="new_work_wrapper">
    <% if user_signed_in? %>
      <%= link_to 'Добавить фотографию', add_photogallery_works_path(@photogallery), :class => 'add_work_link' if @photogallery.available_participation? %>
    <% else %>
      <%= link_to 'Добавить фотографию', '#', :class => 'auth_for_contest add_work_link', :remote => true, :rel => 'nofollow' if @photogallery.available_participation? %>
    <% end %>
  </div>

  <% if @works.any? %>
    <div class="filter_and_share">
      <div class='presentation_filters question'>
        <!--noindex-->
        <div class="order_by">
          <p>Сортировать по:</p>
          <ul>
            <li <%= " class='selected'".html_safe if params[:order_by] == 'newest' || params[:order_by].nil? %>>
              <%= link_to 'По новизне', params.merge( { :order_by => 'newest' } ) %>
            </li>
            <li <%= " class='selected'".html_safe if params[:order_by] == 'popular' %>>
              <%= link_to 'По полуряности', params.merge( { :order_by => 'popular' } ) %>
            </li>
          </ul>
        </div>
        <!--/noindex-->
      </div>
    </div>
    <div style='clear: both'></div>
    <div class='works ajaxed_voteable js-button-pagination'>
      <h2>Фотографии (<%= @photogallery.works.count %>)</h2>

      <ul class='js-paginable-list'>
        <%= render :partial => 'works/photogallery_list' %>
      </ul>

    </div>
  <% end %>
</div>
