<div class="banners_wrapper default_styles">
  <div class="content_wrapper">
    <div class="first banner">
      <h3>Первый вариант</h3>

      <%= image_tag 'public/banners/88_31.gif', :size => '88x31' %>

      <%= label_tag :code, 'Код для вставки:' %>
      <%= text_area_tag :code, link_to(image_tag('public/banners/88_31.gif', :size => '88x31'), root_url, :target => '_blank', :title => 'ЗнайГород') %>
    </div>

    <div class="second banner">
      <h3>Второй вариант</h3>

      <%= image_tag 'public/banners/240_120.jpg', :size => '240x120' %>

      <%= text_area_tag :second_banner_hidden_code,
        link_to(image_tag(("#{root_url}public/banners/240_120.jpg")), root_url, :target => '_blank', :title => 'ЗнайГород'),
        :class => 'hidden_code' %>

      <%= label_tag :second_banner_width, 'Ширина:' %>
      <%= text_field_tag :second_banner_width, 240, :class => 'width' %>

      <%= label_tag :second_banner_code, 'Код для вставки:' %>
      <%= text_area_tag :second_banner_code, nil, :class => 'code' %>

      <%= submit_tag 'Сгенерировать код', :class => 'generate' %>
    </div>

    <div class="third banner">
      <h3>Третий вариант</h3>

      <%= image_tag 'public/banners/120_240.jpg', :size => '120x240' %>

      <%= text_area_tag :third_banner_hidden_code,
        link_to(image_tag("#{root_url}public/banners/120_240.jpg"), root_url, :target => '_blank', :title => 'ЗнайГород'),
        :class => 'hidden_code' %>

      <%= label_tag :third_banner_width, 'Ширина:' %>
      <%= text_field_tag :third_banner_width, 120, :class => 'width' %>

      <%= label_tag :third_banner_code, 'Код для вставки:' %>
      <%= text_area_tag :third_banner_code, nil, :class => 'code' %>

      <%= submit_tag 'Сгенерировать код', :class => 'generate' %>
    </div>
  </div>
</div>
