<%= stylesheet_link_tag 'teasers/teasers_base' %>
<%= stylesheet_link_tag "teasers/#{params[:id].underscore}" %>

<div class='teasers_znaigorod'>
  <div class='label'>
    <a href='<%= Settings['app.url'] %>'><%= Settings['app.host'] %></a>
  </div>

  <div class='table_wrapper'>
    <table>
      <tr>
        <% unless @teaser.with_relations %>
          <% @teaser.teaser_items.order_by_id.each do |item| %>
            <%= render partial: "#{params[:id].underscore}", locals: { item: item } %>
          <% end %>
        <% else %>
          <%= render partial: "#{params[:id].underscore}", :locals => { :teaser => @teaser } %>
        <% end %>
      </tr>
    </table>
  </div>
</div>
