<div class="poster">
  <% if comment.commentable.post_images.first.attachment_url? %>
    <%= image_tag(resized_image_url(comment.commentable.post_images.first.attachment_url, 40, 54, true), size: '40x54') %>
  <% else %>
    <%= image_tag 'public/stub_poster.png', size: '40x54' %>
  <% end %>
</div>
<div class="user_comment">
  <div class="kind">
    <%= t("user_activity.kind.#{comment.commentable_type.downcase}") %>
  </div>
  <div class="title">
    <%= link_to comment.commentable.title, comment.commentable %>
  </div>
  <div class="body">
    <%= comment.body %>
  </div>
</div>
