<%= simple_form_for resource, :url => [:manage, parent, resource], :html => { :novalidate => true }  do |f| %>
  <% if f.object.file.exists? %>
    <%= link_to f.object.file_url if f.object.file.exists? %>
  <% else %>
    <%= f.input :file %>
  <% end %>

  <%= f.input :description %>

  <div class="actions">
    <%= link_to "&larr; Назад".html_safe, :back %>
    <%= button_tag 'Сохранить'.html_safe %>
  </div>
<% end %>
