<div class="title">
  <%= review.title %>
</div>

<div class="details">
  <span class="show_tipsy fa fa-comments" title="Комментарии"> <%= review.comments.count %></span>
  <span class="show_tipsy fa fa-heart" title="Понравилось"> <%= review.likes_count %></span>
  <span class="show_tipsy fa fa-eye" title="Просмотры"> <%= review.page_visits.count %></span>
</div>

<%= review.date %>

<div class="description">
  <%= review.content_for_show %>
</div>

<div class="author">
  <%= render :partial => 'commons/author', :locals => { :account => @review.account } %>
</div>
