<div class="show">
  <h1>Добавление фотографий</h1>

  <div class="images">
    <div class="gallery_images">
      <span class="value">
        <ul>
          <%= render resource.all_images %>
        </ul>
      </span>
    </div>
  </div>

  <%= simple_form_for @review.gallery_images.new,
    :url => manage_review_gallery_images_path(@review.id),
    :html => { :multipart => true, :class => 'file_upload default_simple_form' } do |f| %>

    <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
  <% end %>

  <div class="upload_wrapper">
    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
      </div>
    </script>
  </div>

  <%= link_to 'Сохранить', manage_review_path(@review), :class => 'btn btn-lg btn-orange' %>
  <%= link_to 'Отмена', manage_review_path(@review), :class => 'btn btn-lg btn-orange' %>
</div>
