<div class="reviews_show">
  <div class="actions">
    <% if @review.draft? %>
      <%= link_to 'Опубликовать', publish_manage_review_path(@review), :method => :put %>
    <% else %>
      <%= link_to 'В черновики', draft_manage_review_path(@review), :method => :put %>
    <% end %>
    <%= link_to 'Удалить', manage_review_path(@review), :confirm => 'Вы уверены?', :method => :delete %>
    <%= link_to 'Редактировать', edit_manage_review_path(@review) %>
    <%= link_to 'Загрузить фотогарфии', images_add_manage_review_path(@review) %>
  </div>

  <div class="left">
    <%= render :partial => 'manage/reviews/review', :locals => { :review => @review } %>

    <% if @review.tag %>
      <ul class="tags">
        <% @review.tags.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="right">
    <% if @review.linked? %>
      <h2>Этот обзор связан с:</h2>
      <%= render 'reviews/link_with' %>
    <% end %>
  </div>
</div>
