<% content_for :page_title do %>
  <%= "#{@coupon.title.text_gilensize}. Сертификаты и купоны в Томске" %>
<% end %>
<% content_for :meta_description, t('meta.coupons.description') %>
<% content_for :meta_keywords, t('meta.coupons.keywords') %>

<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU') %>

<% content_for :twitter_cards do %>
  <meta name='twitter:card' content='summary'>
  <meta name='twitter:site' content='@znaigorod'/>
  <meta name='twitter:url' content='<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>'/>
  <meta name='twitter:title' content='<%= @coupon.title %>'/>
  <meta name='twitter:description' content='<%= simple_format @coupon.description %>'/>
<% end %>

<div class='content_wrapper'>

  <%= render 'breadcrumbs', :index => true %>

  <div class='clearfix'>

    <div class='content'>
      <div class='coupon'>
        <div class='head'>
          <%= content_tag :h1, @coupon.title.text_gilensize %>
        </div>

        <div class='info'>
          <div class='left_part'>
            <div class='image'>
              <%= image_tag_for @coupon.image_url, 160, 200 if @coupon.image_url? %>
            </div>

          </div>

          <div class='description'>
            <ul class='coupon_tickets'>
              <% if @coupon.copies_for_sale.any? %>
                <li>
                  <%= content_tag :div, "-#{@coupon.discount}%", class: :has_items_for_sale if @coupon.discount? %>
                  <%= content_tag :div, @coupon.kind.coupon? ? 'Купон' : 'Сертификат', class: :description %>
                  <div class='ticket_prices'>
                    <%= content_tag :div, content_tag(:span, "#{@coupon.price_without_discount}р.", class: :stroke), class: :original_price if @coupon.discount? %>
                    <div class='price'><%= @coupon.price.to_i %> р.</div>
                  </div>
                  <div class='buy_ticket'>
                    <div class='ticket_for_sale'><%= t "copy.#{@coupon.kind}", count: @coupon.copies_for_sale.count %></div>
                    <%= link_to 'Купить', new_coupon_copy_payment_path(@coupon), class: :payment_link %>
                  </div>
                </li>
              <% end %>
            </ul>
            <div class='closest'>
              <%= "Продажа заканчивается #{I18n.l(@coupon.complete_at, :format => '%e %B в %H:%M').squish}" if @coupon.complete_at? %>
            </div>
            <div class="place">
              <% if @coupon.organization_id? %>
                <%= PlaceDecorator.new(:organization => @coupon.organization).place %>  
              <% else %>
                  <%= @coupon.place %>
              <% end %>
            </div>
            <div class='text'>
              <%= simple_format @coupon.description %>
            </div>
            <div class='stale_at'>
              <% if @coupon.stale_at? %>
                <%= "Действие #{@coupon.kind.coupon? ? "купона" : "сертификата"} заканчивается #{I18n.l(@coupon.complete_at, :format => '%e %B %Y года в %H:%M').squish}" %>
              <% else %>
                <%= "Действие #{@coupon.kind.coupon? ? "купона" : "сертификата"} неограниченно" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class='tags_and_share'>
          <div class='share'>
            <%= render :partial => 'commons/share_this' %>
          </div>
          <div class="votes">
            <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @coupon } %>
          </div>
        </div>
      </div>
      <%= render :partial => 'comments/block', :locals => { :parent_obj => @coupon } %>
    </div>
    <div class='right-side'>
      <% if @coupon.organization_id? %>
        <div class='organization_card'>
          <% organization = OrganizationDecorator.new(@coupon.organization) %>
          <div class='title'><%= link_to organization.title, organization_path(organization) %></div>
          <div class='organization_image'>
            <%= link_to image_tag_for(organization.logotype_url, 120, 160), organization_path(organization) if organization.logotype_url? %>
          </div>
          <div class="rating like_a_line">
            <%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => organization } %>
          </div>
          <div class='organization_info'>
            <%= content_tag(:div, organization.address_link + organization.office.to_s, class: :place) unless organization.address.to_s.blank? %>
            <div class='schedule'>
              <%= organization.work_schedule %>
            </div>
            <%= content_tag(:div, organization.phone, class: :phone_wrapper) if organization.phone.present? %>
            <%= content_tag(:div, organization.contact_links, class: :links) if organization.contact_links.present? %>
            <% if organization.social_links.present? %>
              <ul class="social_links">
                <% organization.social_links.each do |link| %>
                  <li><%= link_to link.title, link.url, :target => '_blank' %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
