<div class="address">
  <div class="street">
    <%= f.input :street, :input_html => { :class => 'span12'} %>
  </div>
  <div class="house">
    <%= f.input :house, :input_html => { :class => 'span12'} %>
  </div>
  <div class="latitude">
    <%= f.input :latitude, :input_html => { :class => 'span12'}, :wrapper => false %>
  </div>
  <div class="longitude">
    <%= f.input :longitude, :input_html => { :class => 'span12'}, :wrapper => false %>
  </div>

  <div class="get_coordinates">
  <%= link_to "Получить координаты".html_safe, '#', :class => 'btn' %>
</div>

</div>



<div class="map_wrapper" style="margin-top: 10px;">
  <%= render :partial => 'commons/map' %>
</div>
