<div class="map_wrapper">
  <script type="text/javascript" src="http://maps.api.2gis.ru/1.0"></script>
    <div id="map" style="width:770px;height:400px;" class='span10'></div>
</div>

<div class="adress_wrapper">
  <div class="control-group">
    <label class="control-label">Улица</label>
    <%= f.text_field :street %>
  </div>

  <div class="control-group">
    <label class="control-label">Дом</label>
    <%= f.text_field :house %>
  </div>

  <div class="control-group">
    <label class="control-label">Широта</label>
    <%= f.text_field :latitude, :wrapper => false %>
  </div>

  <div class="control-group">
    <label class="control-label">Долгота</label>
    <%= f.text_field :longitude, :wrapper => false %>
  </div>

  <div class="control-group">
    <%= link_to "Получить координаты".html_safe, '#', :class => 'btn' %>
  </div>
</div>