<div class="col-right"></div>

<div class="col-left">
	<fieldset><legend>Описание организации</legend></fieldset>
	<div class="control-group">
    <%= f.input :title, :input_html => { :rows => 1 } %>
  </div>

	<div class="control-group">
    <%= f.input :description, :input_html => { :rows => 8 } %>
  </div>

  <div class="control-group">
    <%= f.input :phone, :as => :tel %>
  </div>

	<div class="control-group">
    <%= f.input :email, :as => :email %>
  </div>

	<div class="control-group">
    <%= f.input :site, :as => :url %>
    <%  f.object.vfs_path ||= "/znaigorod/organizations/#{SecureRandom.hex(4)}" %>
    <%= f.input :vfs_path, :as => :hidden  %>
  </div>

  <div class="control-group">
    <%= f.input :organization_id, :as => :select, :collection => Organization.all %>
  </div>
	
	<%= field_set_tag "#{t('simple_form.fieldset.address')}".html_safe do %>
	  <%= f.simple_fields_for :address %>
	<% end %>

	<%= field_set_tag "#{t('simple_form.fieldset.halls')}".html_safe do %>
	  <%= f.simple_fields_for :halls %>
	  <%= f.link_to_add t('add_hall'), :halls %>
	<% end %>

	<%= field_set_tag "#{t('simple_form.fieldset.schedules')}".html_safe do %>
	  <%= f.simple_fields_for :schedules %>
	<% end %>

	<div class="form-actions btn-group">
	  <%= link_to "&larr; Назад".html_safe, :back, :class => 'btn' %>
	  <%= button_tag 'Сохранить'.html_safe, :class => 'btn' %>
	</div>
</div>