<div class="logo">
  <% if resource.logotype_url.present? %>
    <%= image_tag_for resource.logotype_url, 137, 100 %>
  <% else %>
    <%= image_tag "stub.jpg", :width => '137', :height => '100', :alt => resource.title, :title => resource.title %>
  <% end %>
</div>

<div class="column">
  <div>
    <span class="label">Адрес заведения:</span>
    <% if resource.address.present? %>
      <span class="value"><%= resource.address %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Телефон:</span>
    <% if resource.phone.present? %>
      <span class="value"><%= resource.phone %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Электронная почта:</span>
    <% if resource.email.present? %>
      <span class="value"><%= mail_to resource.email %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Сайт:</span>
    <% if resource.site.present? %>
      <span class="value"><%= link_to resource.site, resource.site %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Ссылка на 3D-тур:</span>
    <% if resource.tour_link.present? %>
      <span class="value"><%= content_tag :abbr, truncate(resource.tour_link, :length => 20), :title => resource.tour_link %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Безналичный расчет:</span>
    <% if resource.non_cash.present? %>
      <span class="value"><%= resource.non_cash ? 'да' : 'нет' %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Залы заведения:</span>
    <% if resource.halls.any? %>
      <span class="value">
        <ul>
          <% resource.halls.each do |hall| %>
            <li><%= hall %></li>
          <% end %>
        </ul>
      </span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Парковка:</span>
    <% if resource.organization_stand %>
      <span class="value">
        <ul>
          <% if resource.organization_stand.places? %>
            <li>Количество мест: <%= resource.organization_stand.places %></li>
          <% end %>
          <li>Охраняемая: <%= resource.organization_stand.guarded ? 'да' : 'нет' %></li>
          <li>С видеонаблюдением: <%= resource.organization_stand.video_observation ? 'да' : 'нет' %></li>
        </ul>
      </span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
</div>

<div class="column">
  <div>
    <span class="label">Расписание работы:</span>
    <% if true %>
      <span class="value">
        <ul>
          <% resource.schedules.each do |schedule| %>
            <li <%= "class=holiday" if schedule.holiday %>>
              <span class='day'><%= schedule.short_human_day %></span>
              <%= "#{l(schedule.from, :format => "%H:%M")} &mdash; #{l(schedule.to, :format => "%H:%M")}".html_safe unless schedule.holiday %>
            </li>
          <% end %>
        </ul>
      </span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
</div>

<div class="column">
  <div>
    <span class="label">Родительская организация:</span>
    <% if resource.organization.present? %>
      <%= link_to resource.organization.title, manage_organization_path(resource.organization) %>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Вложенные организации:</span>
    <% if resource.organizations.any? %>
      <span class="value">
        <% resource.organizations.each do |organization| %>
          <li><%= link_to organization.title, manage_organization_path(organization) %></li>
        <% end %>
      </span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
    <%= link_to 'Добавить вложенную организацию', new_manage_organization_organization_path(resource) if resource.organization_id.nil? %>
  </div>

  <div>
    <span class="label">Приоритетная подорганизация:</span>
    <% if resource.priority_suborganization_kind? %>
      <span class="value"><%= t("organization.kind.#{resource.priority_suborganization_kind}") %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

</div>

<div class='types'>
  <h3 class="label">Комментарий:</h3>
  <% if resource.comment? %>
    <p class="comment">
      <%= resource.comment %>
    </p>
  <% else %>
    <span class="blank">Не указано</span>
  <% end %>
</div>

<div class='types'>
  <h3 class="label">Описание:</h3>
  <% if resource.description.present? %>
    <span class="value"><%= resource.html_description %></span>
  <% else %>
    <span class="blank">Не указано</span>
  <% end %>
</div>

<div class="types">
  <%= render resource.meal if resource.meal %>
  <%= render resource.entertainment if resource.entertainment %>
  <%= render resource.billiard if resource.billiard %>
  <%= render resource.culture if resource.culture %>
  <%= render resource.sauna if resource.sauna %>
  <%= render resource.sport if resource.sport %>
  <ul class="create_links">
    <% unless resource.meal %>
      <li><%= link_to "Добавить заведение питания", new_manage_organization_meal_path(resource), :class => 'create_link' %></li>
    <% end %>
    <% unless resource.entertainment %>
      <li><%= link_to "Добавить развлекательное заведение", new_manage_organization_entertainment_path(resource), :class => 'create_link' %></li>
    <% end %>
    <% unless resource.culture %>
      <li><%= link_to "Добавить культурное заведение", new_manage_organization_culture_path(resource), :class => 'create_link' %></li>
    <% end %>
    <% unless resource.sauna %>
      <li><%= link_to "Добавить сауну", new_manage_organization_sauna_path(resource), :class => 'create_link' %></li>
    <% end %>
    <% unless resource.sport %>
      <li><%= link_to "Добавить спортивное заведение", new_manage_organization_sport_path(resource), :class => 'create_link' %></li>
    <% end %>
    <% unless resource.billiard %>
      <li><%= link_to "Добавить бильярдный зал", new_manage_organization_billiard_path(resource), :class => 'create_link' %></li>
    <% end %>
  </ul>
</div>

<div class='images'>
  <h3>
    Галерея изображений
    <%= link_to "Добавить изображение", new_manage_organization_image_path(resource), :class => 'edit_link'  %>
  </h3>
  <% if resource.images.any? %>
    <span class="value">
      <ul>
        <% resource.images.each do |image| %>
          <li>
            <%= image_tag image.url, :alt => image.description, :title => image.description %>
            <%= link_to "Удалить", manage_organization_image_path(resource, image), :method => :delete, :confirm => 'Вы уверены?' %>
            <%= link_to 'Редактировать', edit_manage_organization_image_path(resource, image) %>
          </li>
        <% end %>
      </ul>
    </span>
  <% else %>
    <span class="blank">Нет изображений</span>
  <% end %>
</div>

<div class='attachments'>
  <h3>
    Прикрепленные файлы
    <%= link_to "Добавить файл", new_manage_organization_attachment_path(resource), :class => 'edit_link'  %>
  </h3>
  <% if resource.attachments.any?  %>
    <span class="value">
      <ul>
        <% resource.attachments.each do |attachment| %>
          <li>
            <%= link_to attachment.description, attachment.url %>
            <%= link_to "Удалить", manage_organization_attachment_path(resource, attachment), :method => :delete, :confirm => 'Вы уверены?' %>
            <%= link_to 'Редактировать', edit_manage_organization_attachment_path(resource, attachment) %>
          </li>
        <% end %>
      </ul>
    </span>
  <% else %>
    <span class="blank">Нет файлов</span>
  <% end %>
</div>

<div>
  <h3>Афиша мероприятий:</h3>
  <% if resource.showings.any? %>
    <span class="value">
      <ul>
        <% resource.showings.group_by(&:affiche).each do |affiche, showings| %>
          <li <%= "class=gone" if DateTime.now >= showings.last.starts_at && (showings.last.ends_at.present? ? DateTime.now >= showings.last.ends_at : true) %>>
            <%= link_to affiche.title, [:manage, affiche] %> (<%= l showings.first.starts_at, :format => :long %>
            <% if showings.last.ends_at? %>
              &mdash; <%= l showings.last.ends_at, :format => :long %>
            <% end %>)
          </li>
        <% end %>
      </ul>
    </span>
  <% else %>
    <span class="blank">Нет мероприятий</span>
  <% end %>
</div>

