<script type="text/javascript" src="http://maps.api.2gis.ru/1.0"></script>
<div class='row-fluid'>
  <%= f.simple_fields_for :showing do  %>
    <div class='span2'>
      <%= f.input :starts_at, :as => :date_picker, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span2'>
      <%= f.input :ends_at, :as => :date_picker, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span2'>
      <%= f.input :organization_id, :as => :hidden, :input_html => { :class => 'autosuggest_target' } %>
      <%= f.input :latitude, :as => :hidden, :input_html => { :class => 'latitude', :value => f.object.get_latitude } %>
      <%= f.input :longitude, :as => :hidden, :input_html => { :class => 'longitude', :value => f.object.get_longitude } %>
      <%= f.input :place, :input_html => { :class => 'span12 autosuggest' } %>
      <%= link_to "Указать/показать координаты", '#', :class => 'choose_coordinate' unless f.object.organization %>
    </div>
    <div class='span2'>
      <%= f.input :hall, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span2'>
      <%= f.input :price_min, :input_html => { :class => 'span12' } %>
    </div>
    <div class='span2'>
      <%= f.input :price_max, :input_html => { :class => 'span12' } %>
    </div>
  <% end %>
</div>
<%= f.link_to_remove t('remove_this_showing') %>

