<h3>Мета-описания страниц</h3>

<div class="new_link">
  <%= link_to "Добавить", new_manage_page_meta_path, :class => 'new_resource' %>
</div>

<%= form_tag manage_page_metas_path, :method => :get, :class => 'search_ticket_infos' do %>
  <%= text_field_tag 'q', params[:q] %>
  <%= submit_tag 'Найти' %>
<% end %>

<ul class="collection">
  <% @page_metas.each do |item| %>
    <li>
      <%= link_to item.path, manage_page_meta_path(item) %>
      <%= content_tag :span, item.title %>
    </li>
  <% end %>
</ul>

<%= paginate @page_metas %>
