<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'public/application', :media => 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'http://userapi.com/js/api/openapi.js?52' %>
  <%= javascript_include_tag 'public/application' %>
<% end %>

<% content_for :metrics do %>
  <%= render :partial => 'commons/google_analytics' if Rails.env.production? %>
<% end %>

<%= content_for :content do %>
  <div class='happy_summer_wrapper'>
    <div class='happy_summer_header_wrapper'>
      <div class='happy_summer_header'>
        <div class='happy_summer_header_inner'>
          <a class='contest_name' href='/contests/konkurs-detskoy-fotografii-moe-schastlivoe-leto'><span class='red'>Конкурс</span> детской фотографии</a>
          <a class='more' href='/contests/konkurs-detskoy-fotografii-moe-schastlivoe-leto'>Подробнее</a>
          <a class='igromania' target='_blank' href='http://igromania.tomsk.ru/'>Игромания</a>
        </div>
      </div>
    </div>
    <div class='happy_summer'>
      <%= render :partial => 'commons/public_header' %>
      <%= render :partial => 'commons/public_menu' %>
      <%= render :partial => 'commons/public_content' %>
    </div>
  </div>
  <%= render :partial => 'commons/public_footer' %>
  <%= render :partial => 'commons/yandex_metrika' if Rails.env.production? %>
  <%= yield :yandex_map_scripts %>
  <%= yield :two_gis_map_scripts %>
<% end %>

<%= render :template => 'layouts/application' %>
