<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'public/application', :media => 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'http://userapi.com/js/api/openapi.js?52' %>
  <%= javascript_include_tag 'public/application' %>
<% end %>

<% content_for :metrics do %>
  <%= render :partial => 'commons/google_analytics' if Rails.env.production? %>
<% end %>

<%= content_for :flash_messages do %>
  <div class='message_wrapper'></div>
<% end %>

<%= content_for :content do %>
  <%= render :partial => 'commons/not_answered_invitations' unless controller_path.match(/\Amy\//)%>
  <div class='new_year'>
    <div class='new_year_header'>
      <% %w[left center right].each do |part| %>
        <%= content_tag :div, :class => "new_year_logo_#{part}" do %>
          <%= link_to 'Выиграй новогоднюю ночь с чемпионами Высшей Лиги КВН 1998 года «Дети лейтенанта Шмидта»', '/contests/vyigray-novogodnyuyu-noch-s-chempionami-vysshey-ligi-kvn-1998-goda-deti-leytenanta-shmidta' %>
        <% end %>
      <% end %>
    </div>
    <div class='new_year_cotent'>
      <%= render :partial => 'commons/public_header' %>
      <%= render :partial => 'commons/public_content' %>
    </div>
  </div>
  <%= render :partial => 'commons/public_footer' %>
  <%= render :partial => 'commons/yandex_metrika' if Rails.env.production? %>
  <%= yield :yandex_map_scripts %>
  <%= yield :two_gis_map_scripts %>
  <%= render :partial => 'commons/public_reformal' %>
<% end %>

<%= render :template => 'layouts/application' %>
