<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'public/application', :media => 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'http://maps.api.2gis.ru/1.0' %>
  <%= javascript_include_tag 'http://userapi.com/js/api/openapi.js?52' %>
  <%= javascript_include_tag 'public/application' %>
<% end %>

<%= content_for :content do %>
  <div class='spring_mood_wrapper'>
    <div class='spring_mood_header_wrapper'>
      <div class='spring_mood_header'>
        <div class='spring_mood_header_inner'>
          <a class='contest_name' href='/contests/konkurs-gorodskih-krasavits-vesennee-nastroenie'>Фотоконкурс городских красавиц</a>
          <a class='more' href='/contests/konkurs-gorodskih-krasavits-vesennee-nastroenie'>Подробнее</a>
          <ul class='vk_sponsors'>
            <li><a class='znaigorod' target='_blank' href='http://vk.com/znaigorod'>ЗнайГород</a></li>
            <li><a class='typical_tomsk' target='_blank' href='http://vk.com/typical_tomsk'>Типичный Томск</a></li>
          </ul>
          <div class='prize'>ГЛАВНЫЙ ПРИЗ – 5000 руб. на отдых в</div>
          <a class='roccobar' target='_blank' href='http://roccobar.ru/'>ROCCOBAR</a>
        </div>
      </div>
    </div>
    <div class='spring_mood'>
      <%= render :partial => 'commons/public_header' %>
      <%= render :partial => 'commons/public_menu' %>
      <%= render :partial => 'commons/public_content' %>
    </div>
  </div>
  <%= render :partial => 'commons/public_footer' %>
<% end %>

<%= render :template => 'layouts/base' %>
