<% last_message = PrivateMessage.dialog(current_user.account.id, with_account.id).order('id DESC').first %>

<li class="<%= (last_message.producer != current_user.account)? last_message.state : 'read' %>" data-account="<%= with_account.title %>">
  <div class="item">
    <div class="avatar">
      <%= link_to account_path(with_account) do %>
        <%= image_tag(resized_image_url(with_account.avatar.url, 35, 35), size: '35x35') %>
      <% end %>
    </div>

    <div class="info">
      <%= link_to with_account.title, with_account %>
      <div class="date">
        <%= time_ago_in_words(last_message.created_at) %> назад
        <%= link_to "К диалогу", my_dialog_path(with_account), class: "to_dialog dialog_#{with_account.id}", remote: true %>
      </div>
    </div>

    <div class="body">
      <% if last_message.producer == current_user.account %>
        <div class="avatar">
          <%= image_tag(resized_image_url(current_user.account.avatar.url, 35, 35), size: '35x35') %>
        </div>
        <div class="name">
          <%= current_user.account %>
        </div>
      <% end %>
      <div class="message">
        <%= last_message.body_html %>
      </div>
    </div>
  </div>
</li>
