<ul class="dialog"
  data-account="<%= @dialog_with.title %>"
  data-account_id="<%= @dialog_with.id %>"
  data-counter="<%= current_user.account.messages.unread.count %>"
  data-messages="<%= current_user.account.messages.count %>"
  data-dialog_counter="<%= current_user.account.private_messages.unread.count %>"
  data-invite_counter="<%= current_user.account.received_invite_messages.unread.count %>"
  data-notification_counter="<%= current_user.account.notification_messages.unread.count %>">

  <%= render partial: 'my/dialogs/dialog_messages' %>
</ul>

<div class="private_message">
  <div class="avatar">
    <%= link_to account_path(current_user.account) do %>
      <%= image_tag(resized_image_url(current_user.account.avatar.url, 35, 35), size: '35x35') %>
    <% end %>
  </div>
  <%= render partial: "my/private_messages/form" %>
</div>
