<div class='item'>
  <a href='<%= afisha.link %>' target='_blank' rel='nofollow' title='<%= afisha.title %>'>
    <img src='<%= afisha.image %>' width='<%= afisha.width %>' height='<%= afisha.height %>' />
  </a>
</div>
