<div class="item">
  <%= affiche.has_ribbon %>
  <%= content_tag :div, "#{affiche.age_min.to_i}+", class: :age if affiche.age_min.present? %>
  <div class="title"><%= affiche.posters_title_link %></div>
  <div class="image"><%= affiche.posters_list_poster %></div>
  <div class="place"><%= affiche.posters_place %></div>
  <div class="closest"><%= affiche.when_with_price %></div>
</div>
