<div class="item">
  <%= affiche.has_ribbon %>
  <div class="title"><%= affiche.posters_title_link %></div>
  <div class="image"><%= affiche.posters_list_poster %></div>
  <div class="place"><%= affiche.posters_place %></div>
  <div class="closest"><%= affiche.when_with_price %></div>
</div>
