<div class="main_page_affiche">

  <div class="main_page_block_wrapper today_in_city_header">
    <div class="main_page_block">
      <h1><strong>Сегодня</strong> в городе</h1>
    </div>
  </div>

  <div class="main_page_block_wrapper today_in_city_menu">
    <div class="main_page_block">
      <ul>
        <% @affiche_today.links.each do |link| %>
          <li class=<%= link.html_options[:class] %>>
            <%= link_to raw("#{link.title} <span>(#{@affiche_today.counters[link.kind].today})</span>"), link.url %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="main_page_block_wrapper today_in_city_affiche">
    <div class="main_page_block">
      <a href="#" class="prev disabled">prev</a>
      <a href="#" class="next">next</a>
      <div class="affiche">
        <ul>
          <% @affiches.each do |affiche| %>
            <li>
              <div class="item">
                <div class="description">
                  <p class="title"><%= affiche.link %></p>
                  <p class="place"><%= affiche.place %></p>
                </div>
                <div class="image">
                  <%#= link_to image_tag_for(affiche.poster_url, 200, 268), affiche_path(affiche) %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="main_page_block_wrapper today_in_city_more">
    <div class="main_page_block">
      <ul>
        <li><%= link_to "#{t('affiche_periods.weekly')} (#{@affiche_today.counters[@affiche_today.current_link.kind].weekly})", "#" %></li>
        <li><%= link_to "#{t('affiche_periods.weekend')} (#{@affiche_today.counters[@affiche_today.current_link.kind].weekend})", "#" %></li>
        <li><%= link_to "#{t("affiche_periods.all.#{@affiche_today.current_link.kind}")} (#{@affiche_today.counters[@affiche_today.current_link.kind].all})", "#" %></li>
      </ul>
    </div>
  </div>

</div>
