<div class="show">
  <div class="breadcrumbs">
    <ul>
      <li>
        <a href="/" class='solid_light_blue'>Главная</a><span class='arrow'>&rarr;</span>
      </li>
      <li>
        <%= link_to t('affiche'), affiches_path, :class => 'solid_light_blue' %><span class='arrow'>&rarr;</span>
      </li>
    </ul>
  </div>

  <div class="main_info">
    <%= content_tag :h1, resource.title.gilensize.html_safe %>
    <%= content_tag :h2, resource.original_title.gilensize.html_safe if resource.original_title? %>

    <div class='description'>
      <div class='poster'>
        <%= image_tag_for(resource.poster_url, 290, 390) %>
        <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
        <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,lj,gplus"></div>
      </div>

      <div class="info">
        <div class="story">
          <%= RedCloth.new(resource.description).to_html.gsub(/&#8220;|&#8221;/, '"').gilensize.html_safe %>
        </div>
      </div>

      <div class="tags">
        <ul>
          <% resource.tags.split(', ').flatten.each do |tag| %>
            <li>
              <%= link_to tag, affiches_path('search[tags][]' => tag) %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="images">
      <% if resource.images.any? %>
        <h4>Фотографии</h4>
        <div class="gallery_container" style='margin: 20px auto;'>
          <% resource.images.each do |image| %>
            <%= image_tag image.url, :alt => image.description, :title => resource.title %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if resource.attachments.any? %>
      <div class="attachments">
        <h4>Прикрепленные файлы</h4>
        <ul>
          <% resource.attachments.each do |attachment| %>
            <li><%= link_to attachment.description, attachment.url %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if resource.trailer_code? %>
      <div class='trailer'>
        <%= raw resource.trailer_code %>
      </div>
    <% end %>

    <div class='seance'>
      <% if Movie === resource %>
        <h4>Сеансы</h4>
        <%= render :partial => 'seance', :locals => { :affiche => resource } %>
      <% else %>
        <h4>Дата и место проведения</h4>
        <%= render :partial => 'seance', :locals => { :affiche => resource } %>
      <% end %>
    </div>
    <%= render :partial => 'commons/comments_block' %>
  </div>
</div>
