<div class="item">
  <%= affiche.has_ribbon %>
  <% if affiche.ticket_infos.any? && affiche.ticket_infos.map(&:tickets_for_sale).flatten.any? %>
    <div class='has_tickets_for_sale' title='У нас вы можете купить билеты на мероприятие со скидкой!'>
      -<%= affiche.ticket_infos.map(&:discount).compact.sort{ |x,y| y <=> x }.first %>%
    </div>
  <% end %>
  <div class="rating like_a_line">
    <%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => affiche.model } %>
  </div>
  <%= content_tag :div, "#{affiche.age_min.to_i}+", class: :age if affiche.age_min.present? %>
  <div class="title"><%= affiche.posters_title_link %></div>
  <div class="image"><%= affiche.posters_list_poster %></div>
  <div class="place"><%= affiche.posters_place %></div>
  <div class="closest"><%= affiche.when_with_price %></div>
</div>
