<div class="main_page_block_wrapper today_in_city_header">
  <div class="main_page_block">
    <%= link_to "Вся афиша Томска", affiches_path, :class => "all_affiches" %>
    <h1><span class="strong">Сегодня</span> в городе</h1>
  </div>
</div>

<div class="main_page_block_wrapper today_in_city_menu">
  <div class="main_page_block">
    <ul>
      <% @showings_presenter.today_affiche_links.each do |link| %>
        <%= content_tag :li, link[:current] ? { class: 'current' } : nil do %>
          <%= link_to affiches_path(link[:query]) do %>
            <%= link[:title] %>
            <span><%= "(#{link[:count]})" %></span>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="main_page_block_wrapper today_in_city_affiche">
  <div class="main_page_block">
    <div class="affiche">
      <% if @showings_presenter.collection.any? %>
        <ul>
          <% @showings_presenter.collection.each do |affiche| %>
            <li>
              <div class="item">
                <%= affiche.has_ribbon %>
                <div class="title"><%= affiche.main_page_link %></div>
                <div class="image"><%= affiche.main_page_poster %></div>
                <div class="place"><%= affiche.main_page_place %></div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="empty_message">
          Похоже сегодня в городе нет <%= t("affiche.empty.#{@showings_presenter.categories.first.underscore.pluralize}") %> ;(
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="main_page_block_wrapper more_in_city">
  <div class="main_page_block">
    <ul>
      <% @showings_presenter.category_affiche_links.each do |link| %>
        <li>
          <%= link_to link[:title], affiches_path(link[:query]) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
