<div class="image">
  <%= affiche.list_poster %>
</div>
<div class="info">
  <% if @affiche_collection %>
    <%= content_tag(:div, link_to(affiche.human_kind, affiches_path(affiche.pluralized_kind, @affiche_collection.period, @affiche_collection.on)), :class => 'kind') if @affiche_collection.all_kinds? %>
  <% else %>
    <%= content_tag(:div, link_to(affiche.human_kind, affiches_path(affiche.pluralized_kind, 'all')), :class => 'kind') %>
  <% end %>
  <h2><%= affiche.link %></h2>
  <div class="closest">
    <%= affiche.when_with_price %>
  </div>
  <% if affiche.distribution_movie? %>
    <% if affiche.affiche_actual? %>
      <div class="seances">
        <ul class="title">
          <li class="text"><%= affiche.distribution_movie_schedule_date %></li>
          <li class="link_all"><%= link_to "Все сеансы", affiche.kind_affiche_path(:anchor => 'showings') %></li>
        </ul>
        <ul class="theaters">
          <% affiche.distribution_movie_nearlest_grouped_showings.each do |place, showings| %>
            <li class="theater">
              <p class="name"><%= showings.first.place_decorator.link_short_title %></p>
              <p class="address"><%= showings.first.place_decorator.address_link %></p>
            </li>
            <% showings[0..4].each_with_index do |showing, index| %>
              <li class="seance<%= " last" if index == 4 %>">
                <%= content_tag :p, showing.human_time_starts_at, :class => "time" unless showing.human_time_starts_at.blank? %>
                <%= content_tag :p, showing.human_price, :class => "price" unless showing.human_price.blank? %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% else %>
    <% if affiche.other_showings.any? %>
      <div class="will_be">
        <% unless affiche.first_other_showing_today? %>
          Ещё будет:
        <% end %>
        <%= affiche.html_other_showings %>
      </div>
    <% end %>
    <div class="place">
      <% affiche.places.each do |place| %>
        <%= place.place %>
      <% end %>
    </div>
  <% end %>
  <% unless affiche.truncated_description.blank? %>
    <div class="description">
      <p class="text"><%= affiche.truncated_description %></p>
      <p class="more"><%= affiche.more_link %></p>
    </div>
  <% end %>
  <ul class="tags">
    <% affiche.tags.each do |tag| %>
        <li><%= link_to tag, @affiche_collection ? @affiche_collection.url_for_tag(tag) : affiches_path(kind: affiche.pluralized_kind, period: :all, tags: tag) %></li>
    <% end %>
  </ul>
</div>
