<div class='filters_wrapper'>
  <div class="filters">
    <h1>Афиша мероприятий города</h1>

    <%= form_tag affiches_path, :method => :get do %>
      <div class='filter show' id='categories'>
        <div class="filter_checkboxes">
          <% @presenter.categories_filter.available.each_with_index do |category, index| %>
            <div class="checkbox">
              <%= check_box_tag 'categories[]', category, (@presenter.categories_filter.selected.include?(category)), :id => "category_#{index}" %>
              <%= label_tag "category_#{index}", @presenter.categories_filter.human_names[index] %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter <%= @presenter.age_filter.used? ? 'used show' : 'not_used hide' %>" id='age'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label wide">Возраст</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :age_min, 'от' %>
            <%= text_field_tag :age_min, @presenter.age_filter.selected.minimum, :class => 'min' %>
          </div>
          <div class="input">
            <%= label_tag :age_max, 'до' %>
            <%= text_field_tag :age_max, @presenter.age_filter.selected.maximum, :class => 'max' %>
          </div>
        </div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider"
            data-range='true'
            data-min='<%= @presenter.age_filter.available.minimum %>'
            data-max='<%= @presenter.age_filter.available.maximum %>' data-step='50'>
          </div>
        </div>
      </div>

      <div class="filter <%= @presenter.price_filter.used? ? 'used show' : 'not_used hide' %>" id='amount'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label wide">Стоимость</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :price_min, 'от' %>
            <%= text_field_tag :price_min, @presenter.price_filter.selected.minimum, :class => 'min' %>
          </div>
          <div class="input">
            <%= label_tag :price_max, 'до' %>
            <%= text_field_tag :price_max, @presenter.price_filter.selected.maximum, :class => 'max' %>
          </div>
        </div>
        <div class='filter_input_label'>руб.</div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider"
            data-range='true'
            data-min='<%= @presenter.price_filter.available.minimum %>'
            data-max='<%= @presenter.price_filter.available.maximum %>' data-step='50'>
          </div>
        </div>
      </div>

      <div class="filter <%= @presenter.time_filter.used? ? 'used show' : 'not_used hide' %>" id='time'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label wide">Время</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :time_from, 'от' %>
            <%= text_field_tag :time_from, @presenter.time_filter.selected.from, :class => 'min' %>
          </div>
          <div class="input">
            <%= label_tag :time_to, 'до' %>
            <%= text_field_tag :time_to, @presenter.time_filter.selected.to, :class => 'max' %>
          </div>
        </div>
        <div class='filter_input_label'>руб.</div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider"
            data-range='true'
            data-min='<%= @presenter.time_filter.available.from %>'
            data-max='<%= @presenter.time_filter.available.to %>' data-step='1'></div>
        </div>
      </div>

      <div class="filter <%= @presenter.place_filter.used? ? 'show' : 'hide' %>" id='place'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label">Место</div>
        <div class="filter_completion">
          <div class="completion_data" style='display: none;'><%= @presenter.place_filter.available.map(&:to_hash) %></div>
          <%= text_field_tag 'organization_ids[]', '', :class => 'completion_input' %>
        </div>
      </div>

      <div class="filter <%= @presenter.tags_filter.used? ? 'show' : 'hide' %>" id='tags'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label">Теги</div>
        <div class="filter_checkboxes">
          <% @presenter.tags_filter.available.each_with_index do |tag_title, index| %>
            <div class="checkbox">
              <%= check_box_tag 'tags[]', tag_title, (@presenter.tags_filter.selected.include?(tag_title)), :id => "tag_#{index}" %>
              <%= label_tag "tag_#{index}", tag_title.mb_chars.capitalize %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="criteria_list">
        <div class="criteria_label">Добавить критерии:</div>
        <ul>
          <li>
            <%= link_to "Стоимость", '#', :class => 'amount' %>
          </li>
          <li>
            <%= link_to "Возраст", '#', :class => 'age' %>
          </li>
          <li>
            <%= link_to "Время", '#', :class => 'time' %>
          </li>
          <li>
            <%= link_to "Место", '#', :class => 'place' %>
          </li>
          <li>
            <%= link_to "Тэги", '#', :class => 'tags' %>
          </li>
        </ul>
      </div>
      <div class="submit_action">
        <div class="submit_wrapper">
          <input type="submit" value="Применить фильтр" class='submit' />
        </div>
        <div class="results_counter">
          Найдено мероприятий: <span class='counter'><%= @presenter.total_count %></span>
        </div>
        <div class="clear_wrapper">
          <%= link_to "Очистить", '#' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
