<% content_for :extra_meta do %>
  <link rel="canonical" href="<%= @presenter.canonical_link %>" />
<% end %>

<div class='filters_wrapper'>
  <div class='filters'>
    <h1>Афиша мероприятий Томска</h1>

    <div class='introduction'>
      <%= t('meta.affiches.introduction').as_html %>
    </div>

    <%= form_tag affiches_path, :method => :get do %>
      <%= hidden_field_tag :order_by, @presenter.order_by %>
      <%= hidden_field_tag :view, @presenter.view %>

      <div class='filter show categories_filter' id='categories'>
        <%= link_to "очистить", '#', :class => 'clear_filter_link' %>
        <div class="filter_checkboxes">
          <% @presenter.categories_filter.available.each_with_index do |category, index| %>
            <div class="checkbox">
              <%= check_box_tag 'categories[]', category, (@presenter.categories_filter.selected.include?(category)), :id => "category_#{index}" %>
              <%= label_tag "category_#{index}", @presenter.categories_filter.human_names[index] %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter show date_filter" id='calendar'>
        <ul>
          <li class='period_all'>
            <%= radio_button_tag :period, 'all', @presenter.period_filter.all? %>
            <%= label_tag :period_all, 'Все' %>
          </li>
          <li class='period_today'>
            <%= radio_button_tag :period, 'today', @presenter.period_filter.today? %>
            <%= label_tag :period_today, 'Сегодня' %>
          </li>
          <li class='period_week'>
            <%= radio_button_tag :period, 'week', @presenter.period_filter.week? %>
            <%= label_tag :period_week, 'На этой неделе' %>
          </li>
          <li class='period_weekend'>
            <%= radio_button_tag :period, 'weekend', @presenter.period_filter.weekend? %>
            <%= label_tag :period_weekend, 'На этих выходных' %>
          </li>
          <li class='period_date'>
            <%= radio_button_tag :period, @presenter.period_filter.date, @presenter.period_filter.date?, id: :period_date %>
            <%= label_tag :period_date, 'Дата' %>
            <div class='date_picker_wrapper'>
              <%= text_field_tag :date_picker_input, @presenter.period_filter.date? ? l(@presenter.period_filter.date) : ''%>
            </div>
          </li>
        </ul>
      </div>

      <div class="filter <%= @presenter.price_filter.used? ? 'used show' : 'not_used hide' %>" id='amount'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label wide">Стоимость</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :price_min, 'от' %>
            <%= text_field_tag :price_min, @presenter.price_filter.selected.minimum, :class => 'min' %>
          </div>
          <div class="input">
            <%= label_tag :price_max, 'до' %>
            <%= text_field_tag :price_max, @presenter.price_filter.selected.maximum, :class => 'max' %>
          </div>
        </div>
        <div class='filter_input_label'>руб.</div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider"
            data-range='true'
            data-min='<%= @presenter.price_filter.available.minimum %>'
            data-max='<%= @presenter.price_filter.available.maximum %>' data-step='50'>
          </div>
        </div>
      </div>

      <div class="filter <%= @presenter.age_filter.used? ? 'used show' : 'not_used hide' %>" id='age'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label wide">Возраст</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :age_min, 'от' %>
            <%= text_field_tag :age_min, @presenter.age_filter.selected.minimum, :class => 'min' %>
          </div>
          <div class="input">
            <%= label_tag :age_max, 'до' %>
            <%= text_field_tag :age_max, @presenter.age_filter.selected.maximum, :class => 'max' %>
          </div>
        </div>
        <div class='filter_input_label'>лет</div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider"
            data-range='true'
            data-min='<%= @presenter.age_filter.available.minimum %>'
            data-max='<%= @presenter.age_filter.available.maximum %>' data-step='1'>
          </div>
        </div>
      </div>

      <div class="filter <%= @presenter.time_filter.used? ? 'used show' : 'not_used hide' %>" id='time'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label wide">Время</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :time_from, 'от' %>
            <%= text_field_tag :time_from, @presenter.time_filter.selected.from, :class => 'min' %>
          </div>
          <div class="input">
            <%= label_tag :time_to, 'до' %>
            <%= text_field_tag :time_to, @presenter.time_filter.selected.to, :class => 'max' %>
          </div>
        </div>
        <div class='filter_input_label'>часов</div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider"
            data-range='true'
            data-min='<%= @presenter.time_filter.available.from %>'
            data-max='<%= @presenter.time_filter.available.to %>' data-step='1'></div>
        </div>
      </div>

      <div class="filter completion_wrapper <%= @presenter.organizations_filter.used? ? 'show' : 'hide' %>" id='place'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <%= link_to "очистить", '#', :class => 'clear_filter_link' %>
        <div class="filter_label">Заведение</div>
        <div class="filter_completion">
          <%= text_field_tag '',
                             '',
                             :class => 'completion_input',
                             :data => {
                               :source => @presenter.organizations_filter.available,
                               :selected => @presenter.organizations_filter.selected
                             } %>
        </div>
      </div>

      <div class="filter <%= @presenter.tags_filter.used? ? 'show' : 'hide' %>" id='tags'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <%= link_to "очистить", '#', :class => 'clear_filter_link' %>
        <div class="filter_label">Теги</div>
        <div class="filter_checkboxes">
          <% @presenter.tags_filter.available.each_with_index do |tag_title, index| %>
            <div class="checkbox">
              <%= check_box_tag 'tags[]', tag_title, (@presenter.tags_filter.selected.include?(tag_title)), :id => "tag_#{index}" %>
              <%= label_tag "tag_#{index}", tag_title.mb_chars.capitalize %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter <%= @presenter.geo_filter.used? ? 'used show' : 'hide' %>" id='geo'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label">Местоположение</div>
        <div class="filter_geo">
          <div class="map_wrapper">
          </div>
          <div class="hidden_inputs">
            <%= hidden_field_tag :lat,    @presenter.geo_filter.lat, :class => 'lat' %>
            <%= hidden_field_tag :lon,    @presenter.geo_filter.lon, :class => 'lon' %>
            <%= hidden_field_tag :radius, @presenter.geo_filter.radius, :class => 'radius' %>
          </div>
        </div>
        <div class="radius_slider_wrapper">
          <div class="info_radius"><span class='bold'>Радиус:</span> <span class='rad'><%= "%.0f" % (@presenter.geo_filter.radius.to_f*1000) %></span> м (<span class='time'><%= "%.1f" % (@presenter.geo_filter.radius.to_f*1000/54.6) %></span> мин пешком)</div>
          <div class="wrapper_box">
            <div class="min_radius">100 м</div>
            <div class="radius_slider"></div>
            <div class="max_radius">11 км</div>
          </div>
        </div>
      </div>

      <div class="criteria_list">
        <div class="criteria_label">Добавить критерии:</div>
        <ul>
          <li>
            <%= link_to "Стоимость", '#', :class => 'amount' %>
          </li>
          <li>
            <%= link_to "Возраст", '#', :class => 'age' %>
          </li>
          <li>
            <%= link_to "Время", '#', :class => 'time' %>
          </li>
          <% if false %>
            <li>
              <%= link_to "Заведение", '#', :class => 'place' %>
            </li>
          <% end %>
          <li>
            <%= link_to "Тэги", '#', :class => 'tags' %>
          </li>
          <li>
            <%= link_to "Местоположение", '#', :class => 'geo' %>
          </li>
        </ul>
      </div>
      <div class="submit_action">
        <div class="submit_wrapper">
          <input type="submit" value="Применить фильтр" class='submit' />
        </div>
        <div class="results_counter">
          Найдено мероприятий: <span class='counter'><%= @presenter.total_count %></span>
        </div>
        <div class="clear_wrapper">
          <%= link_to "Очистить", '#' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
