<%= render :partial => 'commons/filter_by_date' %>

<%= render :partial => 'commons/filter_by_time' %>

<div class="filter by_affiche_category">
  <h6 <%= is_active_filter?('affiche_category') ? 'class=open' : '' %>><a href='#' class='dashed_dark_gray'>Категория</a></h6>
  <div class="filter_wrapper <%= is_active_filter?('affiche_category') ? '' : 'hide' %>">
    <a href="#" class='reset dashed_dark_gray'>Сбросить</a>
    <ul>
      <% Affiche.ordered_descendants.each do |category_class| %>
        <li>
          <a href="#"
             data-value='<%= transliterate(category_class.model_name.human) %>'
             class='<%= transliterate(category_class.model_name.human) %> <%= is_active_variant?('affiche_category', transliterate(category_class.model_name.human))%>'>
            <%= category_class.model_name.human %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="filter by_amount">
  <h6 <%= is_active_range?('amount') ? 'class=open' : '' %>><a href='#' class='dashed_dark_gray'>Стоимость (руб)</a></h6>
  <div class="filter_wrapper <%= is_active_range?('amount') ? '' : 'hide' %>">
    <a href="#" class='reset dashed_dark_gray'>Сбросить</a>
    <div class="range_wrapper">
      <div class="range">
        <div class="amounts">
          <ul>
            <% values = ['0', '50', '100', '150', '200', '250', '300', '350', '400', '450', '500', '600', '700', '800', '900', '1000', '1500', '>1500'] %>
            <% values.each_with_index do |amount, i| %>
              <li class='<%= "item_#{i}" %>' data-value='<%= amount %>'><%= amount %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% if params['search'] && params['search']['price_less_than'] %>
        <div class="range_slider" id='by_amount' data-count='18' <%= "data-selected='#{values.index(params['search']['price_greater_than'])}, #{values.index(params['search']['price_less_than'])+1}'" %>></div>
      <% else %>
        <div class="range_slider" id='by_amount' data-count='18' <%= "data-selected='0,18'" %>></div>
      <% end %>
    </div>
  </div>
</div>

<div class="filter by_tag">
  <h6 <%= is_active_filter?('tags') ? 'class=open' : '' %>><a href='#' class='dashed_dark_gray'>Тег</a></h6>
  <div class="filter_wrapper <%= is_active_filter?('tags') ? '' : 'hide'%>">
    <a href="#" class='reset dashed_dark_gray'>Сбросить</a>
    <ul>
      <% Showing.tags.each do |tag| %>
        <li>
          <a href='#' data-value='<%= tag %>' class='<%= is_active_variant?('tags', tag) %>'><%= tag %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

