<%= render :partial => 'commons/filter_by_date' %>

<%= render :partial => 'commons/filter_by_time' %>

<div class="filter by_category">
  <h6><a href='#' class='dashed_dark_gray'>Категория</a></h6>
  <div class="filter_wrapper hide">
    <a href="#" class='reset dashed_dark_gray'>Сбросить</a>
    <ul>
      <% Affiche.descendants.each do |category_class| %>
        <li>
          <a href="#" data-value='<%= category_class.name.underscore %>' class='<%= category_class.name.underscore %>'><%= category_class.model_name.human %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="filter by_amount">
  <h6><a href='#' class='dashed_dark_gray'>Стоимость (руб)</a></h6>
  <div class="filter_wrapper hide">
    <a href="#" class='reset dashed_dark_gray'>Сбросить</a>
    <div class="range_wrapper">
      <div class="range">
        <div class="amounts">
          <ul>
            <% ['0', '50', '100', '150', '200', '250', '300', '350', '400', '450', '500', '600', '700', '800', '900', '1000', '1500', '>1500'].each_with_index do |amount, i| %>
              <li class='<%= "item_#{i}" %>' data-value='<%= amount %>'><%= amount %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="range_slider" id='by_amount' data-count='18' <%= "data-selected='0,18'" %>></div>
    </div>
  </div>
</div>

<div class="filter by_tag">
  <h6><a href='#' class='dashed_dark_gray'>Тег</a></h6>
  <div class="filter_wrapper hide">
    <a href="#" class='reset dashed_dark_gray'>Сбросить</a>
    <ul>
      <% Showing.tags.each do |tag| %>
        <li>
          <a href='#' data-value='<%= tag %>'><%= tag %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

