<div class="row-fluid affiche_show">
  <div class="span12">
    <div class="row-fluid">
      <ul class="span12 breadcrumbs">
        <li>
          <a href="/" class='solid_light_blue'>Главная</a><span class='arrow'>&rarr;</span>
        </li>
        <li>
          <%= link_to t('affiche'), affiches_path, :class => 'solid_light_blue' %><span class='arrow'>&rarr;</span>
        </li>
      </ul>
    </div>
    <div class='row-fluid'>
      <div class="main_info span12">
        <div class="row-fluid">
          <h1 class='span12'><%= resource.title %></h1>
        </div>
        <div class="row-fluid">
          <h2 class='span12'></h2>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <%= poster_image_tag_for(resource, 290, 390) %>
            <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,lj,gplus"></div>
          </div>
          <div class="span9">
            <%= resource.description.html_safe %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2"></div>
          <div class="span8 trailer">
          </div>
          <div class="span2"></div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <h4>Сеансы<span class='duration'>Сеансы <%= affiche_showings(resource) %></span></h4>
            <table class="table sortable table-striped table-condensed">
              <thead>
                <tr>
                  <th class='time'><a href='#' class='dashed_light_blue'>Время</a></th>
                  <th class='cinema'><a href='#' class='dashed_light_blue'>Кинотеатр</a></th>
                  <th class='hall'><a href='#' class='dashed_light_blue'>Зал</a></th>
                  <th class='amount'><a href='#' class='dashed_light_blue'>Стоимость</a></th>
                </tr>
              </thead>
              <tbody>
                <%= render resource.showings %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <h4>Комментарии</h4>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'znaigorod'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


