<div class="seance_tabs">
  <ul>
    <% if affiche.showings.one? %>
      <li class="fake active">
        <a href="#" class="one_showing">
          <span class="day"><%= interval_for(affiche.showings.first) %></span>
          <span class="dow">&nbsp;</span>
        </a>
      </li>
    <% else %>
      <% range.keys[0..9].each_with_index do |day, index| %>
        <li class='fake <%= 'active' if index==0 %>' id='target_t<%= "#{affiche.id}#{index}" %>'>
          <a href="#"><span class='day'><%= l day, :format => '%e %b' %></span><span class="dow"><%= l(day, :format => '%A').mb_chars.downcase %></span></a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="seances_wrapper">
  <% index = 0 %>
  <% range.each do |date, showings| %>
    <div class='showing_wrapper' <%= "style='display: none;'" unless index.zero? %> id='t<%= "#{affiche.id}#{index}" %>'>
    <% if Movie === affiche %>
      <table class="sortable">
        <thead>
          <tr>
            <th class='time'><a href='#' class='dashed_deep_blue'>Время</a></th>
            <th class='cinema'><a href='#' class='dashed_deep_blue'>Кинотеатр</a></th>
            <th class='hall'><a href='#' class='dashed_deep_blue'>Зал</a></th>
            <th class='amount'><a href='#' class='dashed_deep_blue'>Стоимость</a></th>
          </tr>
        </thead>
        <tbody>
          <% showings.each do |showing| %>
            <% next if showing.starts_at < DateTime.now %>
            <tr>
              <td><%= l(showing.starts_at, :format => '%H:%M') %></td>
              <td>
                <% if showing.organization %>
                  <%= link_to showing.organization.title, showing.organization, :class => 'solid_light_blue' %>
                <% else %>
                  <%= showing.place %>
                <% end %>
                <% if showing.get_latitude.present? %>
                  <%= link_to "Показать карту", '#', :class => 'show_map_link solid_light_blue', :longitude => showing.get_longitude, :latitude => showing.get_latitude %>
                <% end %>
              </td>
              <td><%= showing.hall %></td>
              <td><%= price_for(showing) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <% showings.each do |showing| %>
        <ul>
          <li>
            <span class='label'>Место проведения</span>
            <% if showing.organization %>
              <%= link_to showing.organization.title, showing.organization, :class => 'solid_light_blue' %>
            <% else %>
              <%= showing.place %>
            <% end %>
            <% if showing.get_latitude.present?  %>
              <%= link_to "Показать карту", '#', :class => 'show_map_link solid_light_blue', :longitude => showing.get_longitude, :latitude => showing.get_latitude %>
            <% end %>
          </li>
          <li>
            <span class='label'>Время проведения</span>
            <%= interval_for(showing) %>
          </li>
          <li>
            <span class="label">Стоимость</span>
            <%= price_for(showing) %>
          </li>
        </ul>
      <% end %>
    <% end %>
    </div>

    <% index += 1 %>
  <% end %>
</div>
