<% content_for :subtitle do %>
  <%= @affiche_collection.human_kind %>
  <%= @affiche_collection.human_period.mb_chars.downcase %>
<% end %>

<div class="content_wrapper">

  <div class="affiches_list">
    <h1><span class="strong"><%= @affiche_collection.human_kind %></span> <%= @affiche_collection.human_period.mb_chars.downcase %></h1>
    <div class="list_settings">
      <div class="sort">
        <p>Сортировка:</p>
        <ul>
          <li><a class="closest selected" href="">По ближайшему сеансу</a></li>
          <li><span class="separator">&nbsp;</span></li>
          <li><a class="newest" href="">По времени добавления</a></li>
          <li><span class="separator">&nbsp;</span></li>
          <li><a class="popular" href="">По популярности</a></li>
        </ul>
      </div>
      <div class="presentation">
        <ul>
          <li><a class="list selected" href="">список</a></li>
          <li><span class="separator">&nbsp;</span></li>
          <li><a class="posters" href="">постеры</a></li>
        </ul>
      </div>
    </div>
    <ul class="items_list">
      <%= render partial: 'affiches_list' %>
    </ul>
  </div>

  <div class="affiches_filter">
    <ul class="categories">
      <% @affiche_collection.kind_links.each do |link| %>
        <li class="<%= link.html_options[:class] %>">
          <% unless link.current? %>
            <%= link_to link.title, link.url %>
          <% else %>
            <div class="title"><%= link.title %></div>
            <ul class="periods">
              <% @affiche_collection.period_links.each do |period_link| %>
                <li class="<%= period_link.html_options[:class] %>">
                  <%= period_link.current? ? content_tag(:span, period_link.title) : link_to(period_link.title, period_link.url) %>
                </li>
              <% end %>
            </ul>
            <% if @affiche_collection.all_kinds? %>
              <ul class="tags">
                <li class="title">Мероприятия</li>
                <% @affiche_collection.categories_links.each do |category_link| %>
                  <li class="<%= category_link.html_options[:class] %>">
                    <%= category_link %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <% unless @affiche_collection.tag_links.blank? %>
              <ul class="tags need_toggler">
                <li class="title">Теги</li>
                <% @affiche_collection.tag_links.each do |tag_link| %>
                  <li class="<%= tag_link.html_options[:class] %>">
                    <%= tag_link %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="vk_recommended_wrapper">
      <div id="vk_recommended"></div>
    </div>
  </div>

</div>

<%= paginate @affiche_collection.paginated_affiches %>
