<div class="content_wrapper">
  <%= render :partial => 'filters' %>
  <div class="affiches_list">
    <div class="list_settings">
      <div class="sort affiches">
        <p>Сортировка:</p>
        <ul>
          <li>
              <%= link_to t('affiche.sort.popularity'),
              affiches_path(@presenter.query.merge('order_by' => 'popularity')),
              @presenter.sort_by_popularity? ? { class: 'selected' } : {} %>
          </li>
          <li>
              <%= link_to t('affiche.sort.creation'),
              affiches_path(@presenter.query.merge('order_by' => 'creation')),
              @presenter.sort_by_creation? ? { class: 'selected' } : {} %>
          </li>
          <li>
              <%= link_to t('affiche.sort.starts_at'),
              affiches_path(@presenter.query.merge('order_by' => 'starts_at')),
              @presenter.sort_by_starts_at? ? { class: 'selected' } : {} %>
          </li>
          <li>
            <% if @presenter.geo_filter.used? %>
              <%= link_to t('affiche.sort.nearness'),
                affiches_path(@presenter.query.merge('order_by' => 'nearness')),
                @presenter.sort_by_nearness? ? { class: 'selected' } : {} %>
            <% else %>
              <%= link_to t('affiche.sort.nearness'),
                affiches_path(@presenter.query.merge('order_by' => 'nearness')),
                class: 'disabled' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% if @presenter.collection.any? %>
      <ul class="items_list <%= @presenter.view %>">
        <%= render :partial => @presenter.partial %>
      </ul>
    <% else %>
      <p class="empty_items_list">По заданным параметрам ничего не найдено ;(</p>
    <% end %>
  </div>
</div>

<%= paginate @presenter.paginated_collection %>
