<div class="content_wrapper">

  <div class="affiches_list">
    <h1><strong><%= @affiche_collection.human_kind %></strong> <%= @affiche_collection.human_period.mb_chars.downcase %></h1>
    <ul>
      <% @affiche_collection.affiches.each do |affiche| %>
        <li>
          <div class="image">
            <%= affiche.list_poster %>
          </div>
          <div class="info">
            <h2><%= affiche.link %></h2>
            <div class="closest">
              <%= affiche.when_with_price %>
            </div>
            <% if affiche.other_showings.any? %>
              <div class="will_be">
                <% unless affiche.first_other_showing_today? %>
                  Ещё будет:
                <% end %>
                <%= affiche.html_other_showings %>
              </div>
            <% end %>
            <% if affiche.model.class.name.downcase == 'movie' %>
              <div class="seances">
                <ul class="title">
                  <li class="text">Ближайшие сеансы</li>
                  <li class="link_all"><a href="#">Все сеансы</a></li>
                </ul>
                <ul class="theaters">
                  <li class="theater">
                    <p class="name"><a href="#">Киномир</a></p>
                    <p class="address"><a href="#">пр. Ленина, 101</a></p>
                  </li>
                  <li class="seance">
                    <p class="time">16:30</p>
                    <p class="cost">120 руб.</p>
                  </li>
                  <li class="seance">
                    <p class="time">18:20</p>
                    <p class="cost">150 руб.</p>
                  </li>
                  <li class="seance">
                    <p class="time">20:00</p>
                    <p class="cost">180 руб.</p>
                  </li>
                  <li class="seance">
                    <p class="time">21:30</p>
                    <p class="cost">180 руб.</p>
                  </li>
                  <li class="seance last">
                    <p class="time">23:00</p>
                    <p class="cost">180 руб.</p>
                  </li>
                  <li class="theater">
                    <p class="name"><a href="#">Киномакс</a></p>
                    <p class="address"><a href="#">ул. Розы Люксембург, 73</a></p>
                  </li>
                  <li class="seance">
                    <p class="time">15:10</p>
                    <p class="cost">110 руб.</p>
                  </li>
                  <li class="seance">
                    <p class="time">18:30</p>
                    <p class="cost">130 руб.</p>
                  </li>
                  <li class="seance last">
                    <p class="time">20:50</p>
                    <p class="cost">150 руб.</p>
                  </li>
                </ul>
              </div>
            <% end %>
            <% if affiche.model.class.name.downcase != 'movie' %>
              <div class="place">
                <% affiche.places.each do |place| %>
                  <%= place.place %>
                <% end %>
              </div>
            <% end %>
            <% unless affiche.truncated_description.blank? %>
              <div class="description">
                <p class="text"><%= affiche.truncated_description %></p>
                <p class="more"><%= affiche.more_link %></p>
              </div>
            <% end %>
            <ul class="tags">
              <% affiche.tags.each do |tag| %>
                <li><%= link_to tag, @affiche_collection.url_for_tag(tag) %></li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="affiches_filter">
    <ul class="categories">
      <% @affiche_collection.kind_links.each do |link| %>
        <li class="<%= link.html_options[:class] %>">
          <% unless link.current? %>
            <%= link_to link.title, link.url %>
          <% else %>
            <div class="title"><%= link.title %></div>
            <ul class="periods">
              <% @affiche_collection.period_links.each do |period_link| %>
                <li class="<%= period_link.html_options[:class] %>">
                  <%= period_link.current? ? content_tag(:span, period_link.title) : link_to(period_link.title, period_link.url) %>
                </li>
              <% end %>
            </ul>
            <% unless @affiche_collection.tag_links.blank? %>
              <ul class="tags">
                <li class="title">Теги</li>
                <% @affiche_collection.tag_links.each do |tag_link| %>
                  <li class="<%= tag_link.html_options[:class] %>">
                    <%= link_to tag_link.title, tag_link.url %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<%= paginate @affiche_collection.paginated_affiches %>
