<div class="content_wrapper">

  <div class="affiches_list">
    <h1><strong><%= @affiche_presenter.human_kind %></strong> <%= @affiche_presenter.human_period.mb_chars.downcase %></h1>
    <ul>
      <% @affiche_presenter.affiches.each do |affiche, showings| %>
        <li>
          <div class="image">
            <%= affiche.list_poster %>
          </div>
          <div class="info">
            <h2><%= affiche.link_with_full_title %></h2>
            <div class="closest">
              <p>
                <span class="when"><%= showings.first.human_when %></span>,
                <span class="cost"><%= showings.first.human_price %></span>
              </p>
            </div>
            <div class="place">
              <p>
                <span class="name"><a href="#">DJ BAR MEXICO, диджей-бар</a></span>,
                <span class="address"><a href="#">пр. Кирова, 3г</a></span>
              </p>
            </div>
            <div class="description">
              <p class="text">Он — обычный рабочий-строитель, живущий в маленькой квартирке в захудалом районе города будущего где-то в Новой Азии. Хотя собственная жизнь его в целом устраивает, он не может избавиться от чувства, что ему хочется чего-то&hellip;</p>
              <p class="more"><a href="#">Подробнее...</a></p>
            </div>
            <ul class="tags">
              <% affiche.tags.each do |tag| %>
                <li>
                  <%= link_to tag, @affiche_presenter.url_for_tag(tag) %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="affiches_filter">
    <ul class="categories">
      <% @affiche_presenter.kind_links.each do |link| %>
        <li class="<%= link.html_options[:class] %>">
          <% unless link.current? %>
            <%= link_to link.title, link.url %>
          <% else %>
            <div class="title"><%= link.title %></div>
            <ul class="periods">
              <% @affiche_presenter.period_links.each do |period_link| %>
                <li class="<%= period_link.html_options[:class] %>">
                  <%= period_link.current? ? content_tag(:span, period_link.title) : link_to(period_link.title, period_link.url) %>
                </li>
              <% end %>
            </ul>
            <% unless @affiche_presenter.tag_links.blank? %>
              <ul class="tags">
                <li class="title">Теги</li>
                <% @affiche_presenter.tag_links.each do |tag_link| %>
                  <li class="<%= tag_link.html_options[:class] %>">
                    <%= link_to tag_link.title, tag_link.url %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<%= paginate @affiche_presenter.paginated_affiches %>
