<div class="content_wrapper">

  <div class="affiches_list">
    <h1><strong><%= @affiche_collection.human_kind %></strong> <%= @affiche_collection.human_period.mb_chars.downcase %></h1>
    <ul>
      <% @affiche_collection.affiches.each do |affiche| %>
        <li>
          <div class="image">
            <%= affiche.list_poster %>
          </div>
          <div class="info">
            <h2><%= affiche.link_with_full_title %></h2>
            <div class="closest">
              <p>
                <% if affiche.affiche_distribution? %>
                  <span class="when"><%= affiche.human_when %></span>
                <% else %>
                  <span class="when"><%= affiche.human_when %></span>,
                  <span class="cost"><%= affiche.showing_decorators.first.human_price %></span>
                <% end %>
              </p>
            </div>
            <div class="place">
              <p>
                <span class="name"><a href="#">DJ BAR MEXICO, диджей-бар</a></span>,
                <span class="address"><a href="#">пр. Кирова, 3г</a></span>
              </p>
            </div>
            <% unless affiche.truncated_description.blank? %>
              <div class="description">
                <p class="text"><%= affiche.truncated_description %></p>
                <p class="more"><%= affiche.more_link %></p>
              </div>
            <% end %>
            <ul class="tags">
              <% affiche.tags.each do |tag| %>
                <li><%= link_to tag, @affiche_collection.url_for_tag(tag) %></li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="affiches_filter">
    <ul class="categories">
      <% @affiche_collection.kind_links.each do |link| %>
        <li class="<%= link.html_options[:class] %>">
          <% unless link.current? %>
            <%= link_to link.title, link.url %>
          <% else %>
            <div class="title"><%= link.title %></div>
            <ul class="periods">
              <% @affiche_collection.period_links.each do |period_link| %>
                <li class="<%= period_link.html_options[:class] %>">
                  <%= period_link.current? ? content_tag(:span, period_link.title) : link_to(period_link.title, period_link.url) %>
                </li>
              <% end %>
            </ul>
            <% unless @affiche_collection.tag_links.blank? %>
              <ul class="tags">
                <li class="title">Теги</li>
                <% @affiche_collection.tag_links.each do |tag_link| %>
                  <li class="<%= tag_link.html_options[:class] %>">
                    <%= link_to tag_link.title, tag_link.url %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<%= paginate @affiche_collection.paginated_affiches %>
