<% content_for :affiche_content do %>
  <%= content_tag(:div, link_to(@affiche.human_kind, affiches_path(:categories => [@affiche.kind])), :class => 'kind') %>
  <div class="head">
    <%= content_tag :h1, @affiche.title.text_gilensize %>
    <%= content_tag :h2, @affiche.original_title.text_gilensize if @affiche.original_title? %>
  </div>
  <div class="info">
    <div class="description">
      <div class="closest">
        <%= @affiche.when_with_price %>
      </div>
    </div>
  </div>
  <ul class="gallery_container">
    <% @affiche.images.each_slice(4) do |slice| %>
      <% slice.each do |image| %>
        <li class="<%= cycle('first', 'second', 'third', 'fourth') %>">
          <% if image.thumbnail_url? %>
            <% if image.width.present? && !image.width.zero? &&
                  image.height.present? && !image.height.zero? %>
              <% if (image.height * 130 / image.width) > 97 %>
                <%= link_to image_tag(image.thumbnail_url, :title => image.description, width: 130, height: (image.height * 130 / image.width)), image.url %>
              <% else %>
                <%= link_to image_tag(image.thumbnail_url, :title => image.description, width: (image.width * 97 / image.height), height: 97), image.url %>
              <% end %>
            <% else %>
              <%= link_to image_tag(image.thumbnail_url, :title => image.description), image.url %>
            <% end %>
          <% else %>
            <%= link_to @affiche.image_tag(image.url, 130, 97, image.description), image.url %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<%= render :file => "affiches/wrapper" %>
