<div class="content_wrapper">

  <div class="clearfix">

    <div class="content">

      <div class="head">
        <h1><%= @affiche.title %></h1>
        <h2><%= @affiche.original_title %></h2>
      </div>

      <div class="tabs">
        <ul class="nav">
          <li><a href="#info">Описание</a></li>
          <li<%= " class='disabled'" if @affiche.trailer.blank? %>><a href="#trailer">Трейлер</a></li>
        </ul>
        <div id="info">
          <div class="info">
            <div class="image">
              <%= @affiche.item_poster %>
            </div>
            <div class="description">
              <%= @affiche.when_with_price %>
              <% @affiche.places.each do |place| %>
                <%= place.place %>
              <% end %>
              <%= @affiche.html_description %>
            </div>
          </div>
        </div>
        <div id="trailer">
          <% unless @affiche.trailer.blank? %>
            <%= @affiche.trailer %>
          <% end %>
        </div>
      </div>

      <div class="tags_and_share">
        <ul class="tags">
          <% @affiche.tags.each do |tag| %>
            <li><%= link_to(tag, affiches_path(kind: @affiche.pluralized_kind, period: :all, tags: tag)) %></li>
          <%end%>
        </ul>
        <div class="share">
          <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
          <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,lj,gplus"></div>
        </div>
      </div>

      <div class="seances_on_show">
        <% if @affiche.distribution_movie? %>
          <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
            <ul class="title">
              <li class="text"><%= showings_with_place.values.first.first.human_date %></li>
            </ul>
            <ul class="theaters">
              <% showings_with_place.each do |place, showings| %>
                <li class="theater">
                  <p class="name"><%= showings.first.place_decorator.link_short_title %></p>
                  <p class="address"><%= showings.first.place_decorator.address_link %></p>
                </li>
                <% showings.each do |showing| %>
                  <li class="seance">
                    <p class="time"><%= showing.human_time_starts_at %></p>
                    <p class="cost"><%= showing.human_price %></p>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% else %>
          <p>Тут будем показывать раписание других сеансов</p>
        <% end %>
      </div>

    </div>

    <div class="more_like_this">
      <h2>Ещё в кино сегодня</h2>
      <ul>
        <% @affiche.similar_affiches.each do |affiche| %>
          <li><%= affiche.title %></li>
        <% end %>
        <li>
          <div class="title"><a href="#">Холостячки</a></div>
          <div class="image"><a href="#"><img width="150" height="202" src="http://placekitten.com/g/150/202" alt="dummy" /></a></div>
          <div class="place"><a href="#">Киномакс</a>, <a href="#">Киномир</a></div>
        </li>
        <li>
          <div class="title"><a href="#">Паранорман, или Как приручить зомби</a></div>
          <div class="image"><a href="#"><img width="150" height="202" src="http://placekitten.com/g/150/201" alt="dummy" /></a></div>
          <div class="place"><a href="#">Киномакс</a></div>
        </li>
        <li>
          <div class="title"><a href="#">Третий лишний</a></div>
          <div class="image"><a href="#"><img width="150" height="202" src="http://placekitten.com/g/150/200" alt="dummy" /></a></div>
          <div class="place"><a href="#">Факел</a></div>
        </li>
      </ul>
      <div class="all_today">
        <a href="#">Все кино сегодня (14)</a>
      </div>
    </div>

  </div>

</div>
