<div class="content_wrapper">

  <div class="clearfix">

    <div class="content">

      <div class="head">
        <h1><%= @affiche.title %></h1>
        <h2><%= @affiche.original_title %></h2>
      </div>

      <div class="tabs">
        <ul class="nav">
          <li><a href="#info">Описание</a></li>
          <li<%= " class='disabled'" if @affiche.trailer.blank? %>><a href="#trailer">Трейлер</a></li>
        </ul>
        <div id="info">
          <div class="info">
            <div class="image">
              <%= @affiche.item_poster %>
            </div>
            <div class="description">
              <div class="closest">
                <%= @affiche.when_with_price %>
              </div>
              <% @affiche.places.each do |place| %>
                <div class="place">
                  <%= place.place %>
                </div>
              <% end %>
              <%= @affiche.html_description %>
            </div>
          </div>
        </div>
        <div id="trailer">
          <% if @affiche.trailer_code? %>
            <%= @affiche.trailer_code_html %>
          <% end %>
        </div>
      </div>

      <div class="tags_and_share">
        <ul class="tags">
          <% @affiche.tags.each do |tag| %>
            <li><%= link_to(tag, affiches_path(kind: @affiche.pluralized_kind, period: :all, tags: tag)) %></li>
          <%end%>
        </ul>
        <div class="share">
          <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
          <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,lj,gplus"></div>
        </div>
      </div>

      <div class="seances_on_show">
        <% if @affiche.distribution_movie? || @affiche.showings.many? %>
            <p>Дата и место проведения</p>
            <p> <%= @affiche.place %></p>
            <p><%= @affiche.showings.first.place_decorator.address_link %></p>
        <% end %>

        <% if @affiche.distribution_movie? %>
          Сеансы
          <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
            <ul class="title">
              <li class="text"><%= showings_with_place.values.first.first.human_date %></li>
            </ul>
          <% end %>
          <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
            <ul class="theaters">
              <% showings_with_place.each do |place, showings| %>
                <li class="theater">
                  <p class="name"><%= showings.first.place_decorator.link_short_title %></p>
                  <p class="address"><%= showings.first.place_decorator.address_link %></p>
                </li>
                <% showings.each do |showing| %>
                  <li class="seance">
                    <p class="time"><%= showing.human_time_starts_at %></p>
                    <p class="cost"><%= showing.human_price %></p>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% else %>
          <% if @affiche.has_schedule? %>
            С
            <%= l(@affiche.affiche_schedule.starts_on, :format => "%e %B").split.each_with_index.map{|d, i| content_tag(:span, d, :class => "date_#{i}")}.join.html_safe %>
            по
            <%= l(@affiche.affiche_schedule.ends_on, :format => "%e %B").split.each_with_index.map{|d, i| content_tag(:span, d, :class => "date_#{i}")}.join.html_safe %>
            <div>
              <span class="label">Время работы:</span>
              <span class="value"><%= [@affiche.affiche_schedule.starts_at, @affiche.affiche_schedule.ends_at].map{|t| l(t, :format => "%H:%M")}.join(' &mdash; ').html_safe %></span>
            </div>
            <div>
              <span class="label">Выходные дни:</span>
              <% if @affiche.affiche_schedule.holidays.any? %>
                <span class="value">
                  <%= @affiche.affiche_schedule.holidays.map{|h| t('date.standalone_day_names')[h]}.join(', ') %>
                </span>
              <% else %>
                <span class="blank">Не указано</span>
              <% end %>
            </div>
          <% else %>
            <% if @affiche.showings.many? %>
              <ul>
                <% @affiche.showings.each do |showing| %>
                  <li>
                    <%= showing.for_schedule %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="right_side">

      <% unless @affiche.similar_affiches.blank? %>
        <div class="more_like_this">
          <h2><%= I18n.t "more_like_this.#{@affiche.kind}" %></h2>
          <ul>
            <% @affiche.similar_affiches.each do |affiche| %>
              <li>
                <div class="title"><%= link_to affiche.title.gilensize.html_safe, affiche.kind_affiche_path %></div>
                <div class="image"><%= affiche.more_like_this_poster %></div>
                <%= content_tag :div, affiche.main_page_place, :class => "places" unless affiche.main_page_place.blank? %>
              </li>
            <% end %>
          </ul>
          <div class="all_today">
            <%= @affiche.all_affiches_link %>
          </div>
        </div>
      <% end %>

      <% unless @affiche.similar_affiches_with_images.blank? %>
        <div class="more_like_this">
          <h2>Похожие фотогалереи</h2>
          <ul>
            <% @affiche.similar_affiches_with_images.each do |affiche| %>
              <li>
                <div class="title"><%= link_to affiche.title.gilensize.html_safe, affiche.kind_affiche_path %></div>
                <div class="image"><%= affiche.more_like_this_poster %></div>
                <%= content_tag :div, affiche.main_page_place, :class => "places" unless affiche.main_page_place.blank? %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <% if @affiche.has_images? %>
    <div>
      <ul>
        <% @affiche.images.each do |image| %>
          <%= @affiche.image_tag image.url, 300, 300, image.description %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
