<div class="content_wrapper">
<%= @affiche.title %>

<%= @affiche.item_poster %>

<%#= TODO need fix "undefined method `human_when' for nil:NilClass"  %>
<%#= @affiche.when_with_price %>
<%#/ TODO %>

<% @affiche.places.each do |place| %>
  <%= place.place %>
<% end %>

<%= @affiche.html_description %>

<% @affiche.tags.each do |tag| %>
  <%= link_to(tag, affiches_path(kind: @affiche.pluralized_kind, period: :all, tags: tag)) %>
<%end%>
</div>
