<% content_for :twitter_cards do %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@znaigorod"/>
  <meta name="twitter:url" content="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"/>
  <meta name="twitter:title" content="<%= @affiche.title %>"/>
  <meta name="twitter:description" content="<%= @affiche.truncated_description %>"/>
  <meta name="twitter:image" content="<%= @affiche.resized_poster_url(120, 120, false) %>"/>
<% end %>

<% content_for :affiche_content do %>
  <%= content_tag(:div, link_to(@affiche.human_kind, affiches_path(@affiche.pluralized_kind, 'all')), :class => 'kind') %>
  <div class="head">
    <%= content_tag :h1, @affiche.title.text_gilensize %>
    <%= content_tag :h2, @affiche.original_title.text_gilensize if @affiche.original_title? %>
  </div>

  <div class="info">

    <%= @affiche.has_ribbon %>

    <div class="image">
      <%= @affiche.item_poster %>
    </div>
    <div class="description">
      <div class="closest">
        <%= @affiche.when_with_price %>
      </div>
      <% unless @affiche.distribution_movie? %>
        <% @affiche.places.each do |place| %>
          <div class="place">
            <%= place.place %>
          </div>
        <% end %>
      <% end %>
      <div class="text">
        <%= @affiche.html_description.hyphenate %>
        <%= @affiche.html_attachments %>
      </div>
    </div>

  </div>
<% end %>
<%= render :file => "affiches/wrapper" %>
