<% content_for :page_title do %>
  <%= @affiche.title.text_gilensize %>, <%= @affiche.human_kind.mb_chars.downcase %> в Томске
<% end %>
<% content_for :meta_keywords, @affiche.meta_keywords %>
<% content_for :meta_description, @affiche.meta_description %>

<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU') %>

<% content_for :extra_meta do %>
  <%= @affiche.tags_for_vk %>
<% end %>

<% content_for :twitter_cards do %>
  <meta name='twitter:card' content='summary'>
  <meta name='twitter:site' content='@znaigorod'/>
  <meta name='twitter:url' content='<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>'/>
  <meta name='twitter:title' content='<%= @affiche.title %>'/>
  <meta name='twitter:description' content='<%= @affiche.truncated_description %>'/>
  <meta name='twitter:image' content='<%= @affiche.resized_poster_url(120, 120, false) %>'/>
<% end %>

<div class='content_wrapper'>

  <%= @affiche.breadcrumbs %>

  <div class='clearfix'>

    <div class='content'>

      <div class='affiche'>
        <%= content_tag(:div, link_to(@affiche.human_kind, affiches_path(period: 'all', categories: [@affiche.kind])), class: 'kind') %>
        <%= content_tag :div, "#{@affiche.age_min.to_i}+", class: :age if @affiche.age_min.present? %>

        <div class='head'>
          <%= content_tag :h1, @affiche.title.text_gilensize %>
          <%= content_tag :h2, @affiche.original_title.text_gilensize if @affiche.original_title? %>
        </div>

        <div class='info'>
          <%= @affiche.has_ribbon %>
          <div class='image'>
            <%= @affiche.item_poster %>
          </div>
          <div class='description'>
            <%= render :partial => 'user_ratings/block', :locals => { :parent_obj => @affiche.model } %>
            <div class='closest'>
              <%= @affiche.when_with_price %>
            </div>
            <% unless @affiche.distribution_movie? %>
              <% @affiche.places.each do |place| %>
                <div class='place'>
                  <%= place.place %>
                </div>
              <% end %>
            <% end %>
            <div class='text'>
              <%= @affiche.html_description %>
              <%= @affiche.html_attachments %>
            </div>
          </div>
        </div>

        <div class='tags_and_share'>
          <ul class='tags'>
            <% @affiche.tags.each do |tag| %>
              <li><%= link_to(tag, affiches_path('tags[]' => tag)) %></li>
            <%end%>
          </ul>
          <div class='share'>
            <%= render :partial => 'commons/share_this' %>
          </div>
        </div>

        <% if @affiche.images.present? %>
          <div class='photogallery_header'>Фотографии</div>
          <div class='photogallery'>
            <ul>
              <% @affiche.images.each do |image| %>
                <li>
                  <%= resized_link_image(image, 124, 94) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @affiche.trailer_code.present? %>
          <div class='trailer_header'>Видео</div>
          <div class='trailer'>
            <%= @affiche.trailer_code_html %>
          </div>
        <% end %>

        <% if @affiche.viewable_showings? %>

          <% if @affiche.distribution_movie? %>

            <div class='distribution'>
              <ul class='dates'>
                <li class='first'>
                  <h3>Сеансы</h3>
                </li>
                <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
                  <% unless showings_with_place.values.blank? %>
                    <li class='text'>
                      <p class='date' data-id='date-<%= date %>'><%= showings_with_place.values.first.first.human_date %></p>
                      <p class='day_of_week'><%= l date, format: '%A' %></p>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
                <div class='theaters' data-id='date-<%= date %>'>
                  <% showings_with_place.each do |place, showings| %>
                    <ul>
                      <li class='theater'>
                        <p class='name'><%= showings.first.place_decorator.link_short_title %></p>
                        <p class='address'><%= showings.first.place_decorator.address_link %></p>
                      </li>
                      <% showings.each_with_index do |showing, index| %>
                        <li class='seance<%= ' break' if index > 0 && index % 7 == 0 %>'>
                          <%= content_tag :p, showing.human_time_starts_at, :class => 'time' unless showing.human_time_starts_at.blank? %>
                          <%= content_tag :p, showing.human_price, :class => 'price' unless showing.human_price.blank? %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% elsif @affiche.scheduled_showings? %>
            <div class='sheduled'>
              <div class='head'>
                <h3>Расписание</h3>
                <div class='places'>
                  <% @affiche.places.each do |place| %>
                    <%= place.place %>
                  <% end %>
                </div>
              </div>
              <div class='shedule'>
                <div class='price'><strong>Стоимость:</strong> <%= @affiche.schedule.human_price %></div>
                <ul>
                  <% @affiche.schedule.days.each do |li| %>
                    <%= li %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% else %>
            <% @affiche.showings.group_by(&:place).each do |place, showings| %>
              <div class='many_showings'>
                <div class='head'>
                  <div class='places'>
                    <p>
                      <span class='name'><%= place.gilensize %></span>
                      <% if showings.first.latitude.present? && showings.first.longitude.present? %>
                        <span class='address'>
                          <a href='#' class='show_map_link'
                            data-hint='<%= place.text_gilensize %>'
                            data-latitude='<%= showings.first.latitude %>'
                            data-longitude='<%= showings.first.longitude %>'
                            <%= "data-id='#{showings.first.organization.id}'".html_safe if showings.first.organization.present? %>
                            title='Показать на карте'>показать на карте</a>
                        </span>
                      <% end %>
                    </p>
                  </div>
                </div>
                <ul>
                  <% showings.each do |showing| %>
                    <li>
                      <%= showing.for_schedule %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>

        <% end %>

      </div>

      <%= render :partial => 'comments/block', :locals => { :parent_obj => @affiche.model } %>
    </div>

    <div class='right_side'>

      <% if @affiche.geo_present? %>
        <div class='yandex_map'>
          <h2>На карте города</h2>
          <div class='map'
            data-latitude='<%= @affiche.places.first.latitude %>'
            data-longitude='<%= @affiche.places.first.longitude %>'
            data-hint='<%= @affiche.places.first.title.text_gilensize %>'
            <%= "data-id=#{@affiche.places.first.organization.id}" if @affiche.places.first.organization %>>
          </div>
        </div>
      <% end %>

      <% unless @affiche.similar_affiches.blank? %>
        <div class='more_like_this'>
          <h2><%= I18n.t "more_like_this.#{@affiche.kind}" %></h2>
          <ul>
            <% @affiche.similar_affiches.each do |affiche| %>
              <li>
                <div class='title'><%= link_to affiche.title.text_gilensize, affiche.kind_affiche_path %></div>
                <div class='image'>
                  <%= affiche.has_ribbon %>
                  <%= content_tag :div, "#{affiche.age_min.to_i}+", class: :age if affiche.age_min.present? %>
                  <%= affiche.more_like_this_poster %>
                </div>
                <%= content_tag :div, affiche.main_page_place, :class => 'places' unless affiche.main_page_place.blank? %>
              </li>
            <% end %>
          </ul>
          <div class='all_today'>
            <%= @affiche.all_affiches_link %>
          </div>
        </div>
      <% end %>

      <% if Rails.env.production? %>
        <div class='vk_recommended_wrapper'>
          <div id='vk_recommended'></div>
        </div>
      <% end %>

    </div>
  </div>

</div>
