<% content_for :affiche_content do %>
  <%= content_tag(:div, link_to(@affiche.human_kind, affiches_path(@affiche.pluralized_kind, 'all')), :class => 'kind') %>
  <div class="head">
    <%= content_tag :h1, @affiche.html_title(@affiche.title) %>
    <%= content_tag :h2, @affiche.html_title(@affiche.original_title) unless @affiche.original_title.blank? %>
  </div>

  <div class="info">

    <div class="image">
      <%= @affiche.item_poster %>
    </div>
    <div class="description">
      <div class="closest">
        <%= @affiche.when_with_price %>
      </div>
      <% unless @affiche.distribution_movie? && @affiche.showings.many? %>
        <% @affiche.places.each do |place| %>
          <div class="place">
            <%= place.place %>
          </div>
        <% end %>
      <% end %>
      <div class="text">
        <%= @affiche.html_description %>
        <%= @affiche.html_attachments %>
      </div>
    </div>

  </div>
<% end %>
<%= render :file => "affiches/wrapper" %>
