<li>
  <div class="avatar">
  <%= link_to account_path(bet.account), target: :_blank, class: :avatar do %>
    <%= image_tag(resized_image_url(bet.account.avatar.url, 35, 35), size: '35x35', title: bet.account, alt: bet.account) %>
  <% end %>
  </div>
  <div class="details">
    <%= link_to(bet.account, account_path(bet.account), class: :user_name) %>
    <div class="info">
      Хочет купить <%= t 'bet.tickets', :count => bet.number %> за <%= bet.amount %> руб.
    </div>
    <div class="<%= bet.state %>">
      <%= Bet.human_state_name(bet.state) %>
    </div>
  </div>
</li>
