<% bet = @afisha.bets.build(params[:bet]) %>

<%= simple_form_for [:my, @afisha, bet], html: { remote: true } do |f| %>
  <div class="line">
    <span>Куплю</span>
    <%= f.input :number, :label => false, :as => :select, :collection => (1..10), :include_blank => false %>
    <span>билетов</span>
  </div>

  <div class="line">
    <span>за</span>
    <%= f.input :amount, :label => false, :as => :string %>
    <span>рублей</span>
  </div>

  <div class="line">
  <% if !bet.valid? && bet.errors.messages.key?(:amount) %>
    <span class="errors"><%= bet.errors.messages[:amount].join %></span>
  <% end %>
  </div>

  <div class="submit">
    <%= f.submit 'Предложить' %>
  </div>
<% end %>
