<% if params[:review_gallery] %>
  <li data-id="attachments_<%= gallery_image.id %>">
    <%= link_to gallery_image.file_url, :class => :colorbox, :rel => 'gallery' do %>
      <%= image_tag resized_image_url(gallery_image.file_url, 230, 172), :size => '230x172', :alt => gallery_image.description %>
    <% end %>
    <%= link_to '', my_gallery_image_path(gallery_image), :method => :delete, :remote => true, :class => 'ajax_delete icon-trash show_tipsy', :title => 'Удалить' %>

    <%= link_to gallery_image.to_s, edit_my_attachment_path(gallery_image),
      :remote => true,
      :class => 'attachment-description js-edit-attachment-description',
      :data => { :title => 'Редактирование описания' },
      :title => "#{gallery_image.description} (нажмите, чтобы редактировать)" %>
  </li>
<% else %>
  <li>
    <div class='image_wrapper'>
      <%= image_tag resized_image_url(gallery_image.file.url, 130, 100), :size => '130x100', :alt => gallery_image.description  %>
    </div>
    <%= link_to "Удалить", my_gallery_image_path(gallery_image), :method => :delete, :remote => true, :class => 'ajax_delete' %>
  </li>
<% end %>
