<% content_for :account_content do %>
  <div class='feeds'>
    <div class="invitations header">
      <div class='clear'>
        <span class="panel"></span>
      </div>
      <h3>
        <%= link_to "Фотографии", new_my_gallery_image_path, class: 'add_link' %>
      </h3>
      <%= link_to 'Добавить фотографии', new_my_gallery_image_path, class: :invitation_link if can? :new, GalleryImage %>
    </div>
  </div>

  <div class="images_list">
    <ul class="posters">
      <% if current_user.account.gallery_images.any? %>
        <%= render partial: 'account_gallery_images' %>
      <% else %>
        <div class="not_found">
          Фотографий не найдено. Если Вы хотите уставновить новую аватарку, либо показать фотографии в профиле сначала их необходимо <%= link_to 'загрузить', new_my_gallery_image_path, class: :invitation_link if can? :new, GalleryImage %>.
        </div>
      <% end %>
    </ul>
  </div>

  <%#= paginate current_user.account.gallery_images %>
<% end %>
<%= render file: "my/accounts/wrapper" %>
