<%= f.input :category, :input_html => { :rows => 1 } %>
<%= f.input :cuisine, :input_html => { :rows => 1 } %>
<%= f.input :feature, :input_html => { :rows => 1 } %>
<%= f.input :offer, :input_html => { :rows => 1 } %>
<%= f.input :payment, :input_html => { :rows => 1 } %>

<div class="form-actions btn-group">
  <%= link_to "&larr; Назад".html_safe, :back, :class => 'btn' %>
  <%= button_tag 'Сохранить'.html_safe, :class => 'btn' %>
</div>
