<div class='type'>
  <h3>
    Заведение питания
    <%= link_to t('edit'), edit_manage_organization_meal_path(meal.organization), :class => 'edit_link' %>
    <%= link_to t('add_image'), new_manage_meal_image_path(meal), :class => 'edit_link' %>
    <%= link_to t('delete'), manage_organization_meal_path(meal.organization), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>
  </h3>
  <div>
    <span class="label">Название:</span>
    <% if meal.title? %>
      <span class="value"><%= meal.title %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Описание:</span>
    <% if meal.description? %>
      <span class="value"><%= meal.description %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Категория:</span>
    <% if meal.category.present? %>
      <span class="value"><%= meal.category %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Кухня:</span>
    <% if meal.cuisine.present? %>
      <span class="value"><%= meal.cuisine %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Особенности:</span>
    <% if meal.feature.present? %>
      <span class="value"><%= meal.feature %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Предложение:</span>
    <% if meal.offer.present? %>
      <span class="value"><%= meal.offer %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <% meal.images.each do |image| %>
      <%= image_tag(resized_image_url(image.url, 100, 100, false), :alt => image.description, :title => image.description) %>
      <%= link_to "Удалить", manage_meal_image_path(meal, image), :method => :delete, :confirm => 'Вы уверены?' %>
    <% end %>
  </div>
</div>
