<% content_for :page_title, t('meta.cooperation.title') %>
<% content_for :meta_keywords, t('meta.cooperation.keywords') %>
<% content_for :meta_description, t('meta.cooperation.description') %>

<div class='cooperation'>

  <h1>Услуги и цены ЗнайГород</h1>

  <p>Мы предлагаем Вам сотрудничество с командой информационного ресурса Znaigorod.ru.</p>

  <p>Наш проект &mdash; это информационный портал, содержащий полную информацию обо всех мероприятиях и культурно-развлекательных заведениях Томска.</p>

  <h2>5 плюсов в нашу пользу, которые говорят сами за себя:</h2>

  <ol class='advantages'>
    <li><p>Всегда <strong>актуальная афиша</strong> всех предстоящих мероприятий города, с гибкими возможностями выбора.</p></li>
    <li><p><strong>Уникальная система подбора заведений</strong> по множеству характеристик позволяет выделить уникальные особенности каждого заведения.</p></li>
    <li><p><strong>Представление исчерпывающей информации о заведении</strong> с детальным описанием, режимом работы и месторасположением, фотографиями интерьера, 3D-туром (от профессиональной команды 3tour.me), актуальной афиши мероприятий.</p></li>
    <li><p><strong>Постоянное продвижение ресурса</strong> в поисковых системах и реклама на наиболее популярных ресурсах Тонета.</p></li>
    <li><p>Динамично развивающаяся группа <a class='icon_vk_big' href='http://vk.com/znaigorod'>ЗнайГород ВКонтакте</a></p>
    </li>
  </ol>

  <p>Информацию о предстоящих событиях присылайте на <%= mail_to 'afisha@znaigorod.ru' %></p>
  <p>Чтобы ваше заведение появилось в каталоге отправьте письмо на <%= mail_to 'info@znaigorod.ru' %></p>
  <p>Если хотите сотрудничать с нами напишите на <%= mail_to 'office@znaigorod.ru' %></p>

  <p>Для осуществления взаимовыгодного партнёрства Вы можете связаться с нашим менеджером по телефону <strong><%= t('contacts.phone') %></strong> или по электронной почте <a href="mailto:team@znaigorod.ru">team@znaigorod.ru</a></p>

  <div class='service_payment_link'>
    <%= link_to 'Оплата услуг', new_service_payment_path, :class => 'payment_link' %>
    <%= link_to 'Перечень услуг', asset_path('nashi_uslugi.pdf'), :class => 'icon_pdf_small' %>
  </div>

</div>
