<ol class='ticket_payment_instruction'>
  <li>Выбери количество и укажи номер сотового телефона</li>
  <li>Оплати наиболее удобным для тебя способом: банковской картой, через интернет-банк, электронными деньгами, в терминале или салоне сотовой связи</span></li>
  <li>Мы пришлем SMS с кодами, эти коды и есть входные билеты, просто покажи это SMS на входе</li>
</ol>
<div class='ticket_info'>
  <div class='ticket_prices'>
    <p class='ticket_original_price'><span class='stroke'><%= @ticket.original_price.to_i %> р.</span></p>
    <p class='ticket_price'><%= @ticket.price.to_i %> р.</p>
  </div>
  <div class='ticket_description_and_tickets'>
    <p class='ticket_description'><%= @ticket.description.gilensize %></p>
    <% if @ticket.organization_price %>
      <p>
        Покажи код, полученный по SMS и заплатите всего  <span class='ticket_price'><%=@ticket.organization_price.to_i  %> р.</span> в кассе заведения. Кроме того, ты можешь быть уверен, что билет на выбранное место будет забронирован за тобой.
      </p>
    <% end %>
    <p class='ticket_for_sale'><%= t 'copy.for_sale', count: @ticket.copies_for_sale.count %></p>
  </div>
</div>
