<% @tickets.each do |ticket| %>
  <li class='<%= cycle 'first', 'second', 'third' %>'>
    <div class='has_items_for_sale'>
      -<%= ticket.discount %>%
    </div>
    <div class='item_wrapper'>
      <div class='image'><%= link_to image_tag(resized_image_url(ticket.afisha.poster_url, 120, 160), :size => '120x160', :alt => ticket.afisha.title), afisha_show_path(ticket.afisha) %></div>
      <div class='column'>
        <div class='description'><%= link_to ticket.description.truncate(55).gilensize, afisha_show_path(ticket.afisha), title: ticket.description %></div>
        <div class='place'><%= AfishaDecorator.decorate(ticket.afisha).afisha_place %></div>
        <div class='original_price'><span class='stroke'><%= ticket.original_price.to_i %> р.</span></div>
        <div class='price'><%= ticket.price.to_i %> р.<%= " + #{ticket.organization_price.to_i} р." if ticket.organization_price %></div>
        <div class='buy_ticket'>
          <div class='ticket_for_sale'><%= t 'copy.for_sale', count: ticket.copies_for_sale.count %></div>
          <%= link_to 'Купить', new_ticket_copy_payment_path(ticket), class: :payment_link, :rel => :nofollow %>
        </div>
      </div>
    </div>
  </li>
<% end %>
