<% content_for :page_title, t('meta.tickets.title') %>
<% content_for :meta_description, t('meta.tickets.description') %>
<% content_for :meta_keywords, t('meta.tickets.keywords') %>

<div class='content_wrapper'>
  <%= render 'breadcrumbs', :index => true %>
  <h1>Билеты Томска</h1>
  <ul class='tickets_list'>
    <% @ticket_infos.each do |ticket_info| %>
      <% if ticket_info.tickets_for_sale.any? %>
        <li class='<%= cycle 'first', 'second', 'third' %>'>
          <div class='has_tickets_for_sale'>
            -<%= ticket_info.discount %>%
          </div>
          <div class='item_wrapper'>
            <div class='image'><%= image_tag_for ticket_info.affiche.poster_url, 120, 160 %></div>
            <div class='column'>
              <div class='description'><%= link_to ticket_info.description.truncate(55).gilensize, ticket_info.affiche, title: ticket_info.description %></div>
              <div class='place'><%= AfficheDecorator.decorate(ticket_info.affiche).affiche_place %></div>
              <div class='original_price'><span class='stroke'><%= ticket_info.original_price.to_i %> р.</span></div>
              <div class='price'><%= ticket_info.price.to_i %> р.</div>
              <div class='buy_ticket'>
                <div class='ticket_for_sale'><%= t 'ticket.for_sale', count: ticket_info.tickets_for_sale.count %></div>
                <%= link_to 'Купить', new_ticket_info_payment_path(ticket_info), class: :ticket_payment %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= paginate @ticket_infos %>
