<div class="invite_form_wrapper">
  <%= simple_form_for [@invitation.inviteable, @invitation], :remote => true, :html => { :class => 'need_attributes' } do |f| %>
    <div class="left">
      <%= hidden_field_tag :render, 'social' %>
      <%= f.input :kind, :as => :hidden %>
      <div class="floatl">
        <%= f.input :category, :collection => Inviteables.instance.categories.keys, :include_blank => false, :disabled => true %>
        <span class="disabled">Уточнить &darr;</span>
      </div>
    </div>

    <div class="right">
      <div class="floatl">
        <% unless @invitation.invited %>
          <%= f.input :gender, :include_blank => false, :label_method => ->(item) { t "enumerize.invitation.gender.custom.#{@invitation.kind}.#{item.last}" } %>
          <%= link_to "Уточнить &darr;".html_safe,
            accounts_search_path(:kind => @invitation.kind, :parent => "#{@invitation.inviteable.class.name.underscore}_#{@invitation.inviteable.id}"),
            :remote => true,
            :class => 'accounts_search_open' %>
          <%= link_to "Скрыть &uarr;".html_safe, '#', :class => 'accounts_search_close' %>
        <% end %>
      </div>
    </div>

    <div class="forml">
      <div class="inviteables_search_wrapper">
        <%= render :partial => 'inviteables_search/results', :locals => { :results => [@invitation.inviteable] } %>
      </div>
    </div>

    <div class="form_footer">
      <div class="actions">
        <%= f.submit 'Готово', :class => 'button',
          :onClick => 'set_data_attributes_for_vk(this);share_on_click(this);',
          'data-owner_id' => current_user.try(:vk_uid),
          'data-gender' => t("enumerize.invitation.gender.custom.#{@invitation.kind}.all").mb_chars.downcase,
          'data-category' => '',
          'data-action' => t("enumerize.invitation.kind.#{@invitation.kind}"),
          'data-attachments' => data_attachments(@invitation.inviteable),
          'data-inviteable_title' => @invitation.inviteable,
          'data-preposition' =>  Preposition.new(@invitation.inviteable).value %>
        <%= link_to 'Отмена', '#', :class => 'cancel' %>
      </div>
    </div>
  <% end %>

  <div class="formr">
    <div class="info">
      Нажав "Уточнить", вы можете выбрать конкретное мероприятие или заведение.
    </div>

    <div class="accounts_search_wrapper"></div>
  </div>
</div>
