<div class="invite_form_wrapper">
  <%= simple_form_for @invitation, :remote => true do |f| %>
    <div class="left">
      <%= hidden_field_tag :render, 'show' %>
      <%= f.input :kind, :as => :hidden %>
      <div class="floatl">
        <%= f.input :category, :collection => Inviteables.instance.categories.keys, :include_blank => false %>
        <%= link_to "Уточнить &darr;".html_safe,
          inviteables_search_path(:category => Inviteables.instance.categories.keys.first, :gender_value => t("enumerize.invitation.gender.custom.#{@invitation.kind}.all")),
          :remote => true,
          :class => 'inviteables_search_open' %>
        <%= link_to "Скрыть &uarr;".html_safe, '#', :class => 'inviteables_search_close' %>
      </div>
    </div>

    <div class="right">
      <div class="floatl">
        <% if @invitation.invited %>
          <%= f.input :gender, :disabled => true %>
          <span class="disabled">Уточнить &darr;</span>
          <%= link_to "Уточнить &darr;".html_safe,
            accounts_search_path(:category => Inviteables.instance.categories.keys.first, :kind => @invitation.kind, :account_id => @invitation.invited.id),
            :remote => true,
            :class => 'accounts_search_open hidden' %>
        <% else %>
          <%= f.input :gender,
            :include_blank => false,
            :label_method => ->(item) { t "enumerize.invitation.gender.custom.#{@invitation.kind}.#{item.last}" },
            :label => t("invitation.whom.#{@invitation.kind}") %>
          <%= link_to "Уточнить &darr;".html_safe,
            accounts_search_path(:category => Inviteables.instance.categories.keys.first, :kind => @invitation.kind),
            :remote => true,
            :class => 'accounts_search_open' %>
          <%= link_to "Скрыть &uarr;".html_safe, '#', :class => 'accounts_search_close' %>
        <% end %>
      </div>
    </div>

    <div class="forml">
      <div class="info">
        Нажав "Уточнить", вы можете выбрать конкретное мероприятие или заведение.
      </div>

      <div class="inviteables_search_wrapper"></div>
    </div>

    <div class="form_footer">
      <div class="actions">
        <% if @invitation.invited_id.blank? %>
          <%= f.submit 'Готово', :class => 'button',
            :onClick => 'set_data_attributes_for_vk(this);share_on_click(this);',
            'data-owner_id' => current_user.try(:vk_uid),
            'data-gender' => t("enumerize.invitation.gender.custom.#{@invitation.kind}.all").mb_chars.downcase,
            'data-category' => Inviteables.instance.categories.keys.first,
            'data-link' => 'http://znaigorod.ru',
            'data-poster' => '',
            'data-action' => t("enumerize.invitation.kind.#{@invitation.kind}"),
            'data-inviteable_title' => '',
            'data-preposition' => ''
          %>
      <% end %>
      <%= link_to 'Отмена', '#', :class => 'cancel' %>
    </div>
  </div>
<% end %>

<div class="formr">
  <% unless @invitation.invited %>
    <div class="info">
      Нажав "Уточнить", вы можете выбрать конкретное мероприятие или заведение.
    </div>
  <% end %>

  <div class="accounts_search_wrapper">
    <% if @invitation.invited %>
      <div class="accounts_search_results_wrapper auto_accounts_search">
      </div>
    <% end %>
  </div>
</div>
</div>
