<li>
  <%= t "enumerize.invitation.gender.custom.#{invitation.kind}.#{invitation.gender}" %>


  <% if invitation.inviteable %>
    <%= Preposition.new(invitation.inviteable).value %>
    <%= link_to invitation.inviteable.title, invitation.inviteable %>
  <% else %>
    <%= link_to invitation.category %>
  <% end %>

  <% if invitation.description? %>
    <span class="description">&mdash; <%= invitation.description %></span>
  <% end %>

  <% if can? :destroy, invitation %>
    <%= link_to 'Удалить', invitation_path(invitation), :method => :delete, :class => 'delete_invitation', :remote => true %>
  <% end %>

  <% if current_user.nil? || invitation.account != current_user.account %>
    <% if current_user %>
      <%= simple_form_for :invitation,
        :url => invitation.inviteable ? [invitation.inviteable, :invitations] : [:invitations],
        :remote => true,
        :html => { :class => 'new_invitation' } do |f| %>

        <%= hidden_field_tag :render, 'status' %>
        <%= f.input :category, :as => :hidden, :input_html => { :value => invitation.category } %>
        <%= f.input :kind, :as => :hidden, :input_html => { :value => invitation.opposite_kind } %>
        <%= f.input :invited_id, :as => :hidden, :input_html => { :value => invitation.account.id } %>

        <%= f.submit t("invite.#{invitation.opposite_kind}").mb_chars.capitalize,
          :class => 'gray_button',
          :onClick => 'share_on_click(this);',
          'data-owner_id' => (invitation.account.users.first.try(:vk_uid) if current_user.provider == 'vkontakte'),
          'data-action' => t("invitation.without_inviteable.#{invitation.opposite_kind}"),
          'data-category' => (invitation.category unless invitation.inviteable),
          'data-preposition' => (Preposition.new(invitation.inviteable).value if invitation.inviteable),
          'data-attachments' => (data_attachments(invitation.inviteable) if invitation.inviteable),
          'data-inviteable_title' => (invitation.inviteable if invitation.inviteable),
          'data-link' => 'http://znaigorod.ru',
          'data-gender' => ''
        %>
      <% end %>
    <% end %>
  <% end %>
</li>
