<li class="ajax_message_status <%= @private_message.state %> message_<%= @private_message.id %>"
  data-counter="<%= current_user.account.messages.unread.count %>"
  data-messages="<%= current_user.account.messages.count %>"
  data-account_id="<%= @private_message.account_id %>"
  data-notification_counter="<%= current_user.account.notification_messages.unread.count %>"
  data-dialog_counter="<%= current_user.account.private_messages.unread.count %>"
  data-invite_counter="<%= current_user.account.invite_messages.unread.count %>">

  <div class="item">
    <div class="avatar">
      <%= link_to account_path(@private_message.producer) do %>
        <%= image_tag(resized_image_url(@private_message.producer.avatar.url, 35, 35), size: '35x35') %>
      <% end %>
    </div>

    <div class="info">
      <%= link_to @private_message.producer, account_path(@private_message.producer) %>
      <div class="date">
        <%= time_ago_in_words(@private_message.created_at) %> назад
      </div>
    </div>

    <div class="body">
      <%= @private_message.body_html %>
    </div>
  </div>
  <%= link_to 'read', change_status_my_private_message_path(@private_message), class: "change_message_status #{@private_message.state}" %>
</li>
