<% @related_organizations.each do |organization| %>
  <li class='poster'>
    <div class="image">
      <%= image_tag organization.logotype_url.blank? ? 'public/default_image.png' : organization.logotype_url, size: "66x66"  %>
    </div>
    <div class="details">
      <%= link_to organization.title.truncate(25), organization_url(organization), :target => '_blank' %>
      <div>
        <% if @related_items.include? organization.id %>
          <%= button_tag "Добавлено", type: 'button', class: "js-button-add-related-item add_button", remote: true, disabled: true %>
        <% else %>
          <%= button_tag "Добавить", type: 'button', class: "js-button-add-related-item add_button", remote: true %>
        <% end %>
      </div>
      <%= hidden_field_tag "hidden_id","organization_#{organization.id}" %>
    </div>
  </li>
<% end %>

<%= paginate @related_organizations %>
