<% @related_photogalleries.each do |photogallery| %>
  <li class="poster">
    <div class="image">
      <%= image_tag resized_image_url(photogallery.image_url, 66, 87), size: "66x87"  %>
    </div>
    <div class="details">
      <%= link_to photogallery.title.truncate(25), photogallery_path(photogallery), :target => '_blank' %>
      <div>
        <% if @related_items.include? photogallery.id %>
          <%= button_tag "Добавлено", type: 'button', class: "js-button-add-related-item add_button", remote: true, disabled: true %>
        <% else %>
          <%= button_tag "Добавить", type: 'button', class: "js-button-add-related-item add_button", remote: true %>
        <% end %>
      </div>
      <%= hidden_field_tag "hidden_id","photogallery_#{photogallery.id}" %>
    </div>
  </li>
<% end %>

<%= paginate @related_photogalleries %>
