<% @related_reviews.each do |review| %>
  <li class='poster'>
    <div class="image">
      <% poster_url = resized_image_url(review.poster_image_url, 88, 50) || review.all_images.first.nil? ? 'public/default_preview.jpg' : resized_image_url(review.all_images.first.file_url, 88, 50) %>
      <%= image_tag poster_url, size: "88x50"  %>
    </div>
    <div class="details">
      <%= link_to review.title.truncate(25), review_path(review), :target => '_blank' %>
      <div>
        <% if @related_items.include? review.id %>
          <%= button_tag "Добавлено", type: 'button', class: "js-button-add-related-item add_button", remote: true, disabled: true %>
        <% else %>
          <%= button_tag "Добавить", type: 'button', class: "js-button-add-related-item add_button", remote: true %>
        <% end %>
      </div>
      <%= hidden_field_tag "hidden_id","review_#{review.id}" %>
    </div>
  </li>
<% end %>

<%= paginate @related_reviews %>
