Доброго времени суток <%= @account.title %>!
<span class="name">123</span>
Статистика по вашей афише
<% @afishas.each do |afisha| %>
  <%= afisha.inspect %>
  Участники <%= afisha.visits.size %>
  Приглашения <%= afisha.invitations.inviter.without_invited.size %>
  Комментарии <%= afisha.comments.size %>
  Голоса <%= afisha.likes_count %>
  Просмотры <%= afisha.page_visits.count %>
<% end %>
