<% content_for :content do %>

  <% @afishas.each do |afisha| %>
    <tr class="dashed_border" align="left">
      <td id="left_content" align="left" valign="top">
        <table class="custom_column columns" >
          <tr align="left">
            <td align="left" valign="top">
              <a href="<%= afisha_path afisha, :only_path => false %>">

                <% if afisha.poster_url.present? %>
                  <%= image_tag(resized_image_url(afisha.poster_url, 100 , 135),
                                :size => '100x135', :alt => afisha.title) %>
                            <% else %>
                              <%= image_tag(resized_image_url('public/stub_poster.png', 100 , 135),
                                            :size => '100x135', :alt => afisha.title) %>
                <% end %>
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td id="right_content_stat" align="left" valign="top">
        <table class="eight columns">
          <tr align="left">
            <td class="line_height" align="left" valign="top">
              <a href="<%= afisha_path afisha, :only_path => false %>"><%= afisha.title %></a>
            </td>
          </tr>
          <tr align="left">
            <td align="left" valign="top">
              <table class="eight columns">
                <tr align="left">
                  <td class="category" align="left" valign="top">
                    <span>Участники: </span>
                    <span class="category_value"><%= afisha.visits.size %></span>
                  </td>
                  <td class="category" align="left" valign="top">
                    <span>Приглашения: </span>
                    <span class="category_value"><%= afisha.invitations.inviter.without_invited.size %></span>
                  </td>
                </tr>
                <tr align="left">
                  <td class="category" align="left" valign="top">
                    <span>Комментарии: </span>
                    <span class="category_value"><%= afisha.comments.size %></span>
                  </td>
                  <td class="category" align="left" valign="top">
                    <span>Понравилось: </span>
                    <span class="category_value"><%= afisha.likes_count %></span>
                  </td>
                </tr>
                <tr align="left"><td class="category" align="left" valign="top">
                    <span>Просмотры: </span>
                    <span class="category_value"><%= afisha.page_visits.count %></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
<% end %>
