<% content_for :content do %>
  <tr align="left">
    <td align="left" valign="top">
      <table class="one columns" >
        <tr align="left">
          <td align="left" valign="top">
            <a href="<%= account_path @comment.user.account, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email"  %>">
              <img src="<%= resized_image_url(@comment.user.account.avatar.url, 30, 30) %>" align="left" title="<%= @comment.user.account.title %>" alt="<%= @comment.user.account.title %>" />
            </a>
          </td>
        </tr>
      </table>
    </td>
    <td id="right_content" align="left" valign="top">
      <table class="nine columns">
        <tr align="left">
          <td class="line_height" align="left" valign="top">
            <a href="<%= account_path @comment.user.account, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email" %>"><%= @comment.user.account.title %></a>, <span id="time"><%= l(@comment.created_at, format: "%d %B %Y, %k:%M") %><span>
          </td>
        </tr>
        <tr align="left">
          <td id="time" class="line_height" align="left" valign="top">
            <span><a href="<%= afisha_path @comment.commentable, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email" %>"><%= @comment.commentable.title %></a></span>
          </td>
        </tr>
        <tr align="left">
          <td align="left" valign="top">
            <span><%= @comment.body.truncated.as_html if @comment.body? %></span>

          </td>
        </tr>
      </table>
      <table class="nine columns">
        <tr align="left">
          <td align="left" valign="top">
            <table id="orange-button">
              <tr align="left">
                <td align="left" valign="top">

                  <% if @comment.commentable.is_a?(Afisha) %>
                    <%= link_to image_tag("#{Settings['app']['url']}/assets/public/mailer_buttons_answer.png", :title => t("notice_mailer.answer"), :alt => t("notice_mailer.answer")), afisha_path(@comment.commentable, :only_path => false, :anchor => "answer_#{@comment.id}", :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email") %>
                  <% end %>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr align="left">
    <td id="whitespace" align="left" valign="top">
    </td>
  </tr>
<% end %>
