<% content_for :content do %>
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; padding: 0 0 10px;" align="left" valign="top">
      <table class="one columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 30px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; padding: 0 0 10px;" align="left" valign="top">
            <a href="<%= account_path @comment.user.account, :only_path => false  %>" style="color: #0081d5; text-decoration: none;">
              <img src="<%= @comment.user.account.avatar.url %>" style="outline: 0; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border: 0;" align="left" /></a>
          </td>
    </tr></table></td>
    <td id="right_content" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-size: 12px !important; padding: 0 0 10px 10px;" align="left" valign="top">
      <table class="nine columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 430px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="line_height" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; height: 19px !important; padding: 0 0 0px;" align="left" valign="top">
            <a href="<%= account_path @comment.user.account, :only_path => false %>" style="color: #0081d5; text-decoration: none; font-size: 12px !important;"><%= @comment.user.account.title %></a>, <span id="time" style="color: #9a9a9a; font-size: 12px !important;"><%= l(@comment.created_at, format: "%d %B %Y, %k:%M") %><span style="font-size: 12px !important;">
    </span></span>
          </td>
            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td id="time" class="line_height" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; height: 19px !important; padding: 0 0 0px;" align="left" valign="top"><span style="font-size: 12px !important;"><a href="<%= afisha_path @comment.commentable, :only_path => false %>" style="color: #0081d5; text-decoration: none; font-size: 12px !important;"><%= @comment.commentable.title %></a><span style="font-size: 12px !important;"></span></span></td>
            </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; padding: 0 0 10px;" align="left" valign="top">
      <span style="font-size: 12px !important;"><%= @comment.body.truncated.as_html if @comment.body? %></span>

    </td>
      </tr></table><table class="nine columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 430px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; padding: 0 0 10px;" align="left" valign="top">
            <table id="orange-button" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; display: block; padding: 0 0 10px;" align="left" valign="top">

                  <% if @comment.commentable.is_a?(Afisha) %>
                    <%= link_to '', afisha_path(@comment.commentable, :only_path => false, :anchor => "comment_#{@comment.id}"), {:style => "color: #0081d5; text-decoration: none; font-size: 12px !important; background: url('https://raw.github.com/Nimdis/ink_design2/master/mailer_buttons.png') no-repeat -28px -51px; padding: 0px 100px 10px 0px;"} %>
                  <% end %>

                </td>
          </tr></table></td>
    </tr></table></td>
    </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td id="whitespace" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; height: 100px; padding: 0 0 10px;" align="left" valign="top"></td>
  </tr>
<% end %>
