<% content_for :content do %>
  <tr align="left">
    <td align="left" valign="top">
      <table class="one columns">
        <tr align="left">
          <td align="left" valign="top">
            <a href="<%= account_path @comment.parent.user.account, :only_path => false  %>">
              <img src="<%= resized_image_url(@comment.parent.user.account.avatar.url, 30, 30) %>" align="left" /></a>
          </td>
        </tr>
      </table>
    </td>
    <td id="right_content" align="left" valign="top">
      <table class="another_custom_column columns">
        <tr align="left">
          <td class="line_height" align="left" valign="top">
            <a href="<%= account_path @comment.parent.user.account, :only_path => false  %>"><%= @comment.parent.user.account.title %></a>, <span id="time"><%= l(@comment.parent.created_at, format: "%d %B %Y, %k:%M") %></span>
          </td>
        </tr>

        <tr align="left">
          <td id="time" class="line_height" align="left" valign="top">
            <span>

              <% if @comment.commentable.is_a?(Work) %>
                <%= link_to (@comment.commentable.title.present? ? @comment.commentable.title : @comment.commentable.slug), work_path([@comment.commentable.contest, @comment.commentable], :only_path => false) %>
              <% end %>
              <% if @comment.commentable.is_a?(Afisha) %>
                <%= link_to @comment.commentable.title, afisha_path(@comment.commentable, :only_path => false) %>
              <% end %>
              <% if @comment.commentable.is_a?(Discount) %>
                <%= link_to @comment.commentable.title, discount_path(@comment.commentable, :only_path => false) %>
              <% end %>
              <% if @comment.commentable.is_a?(Organization) %>
                <%= link_to @comment.commentable.title, organization_path(@comment.commentable, :only_path => false) %>
              <% end %>
              <% if @comment.commentable.is_a?(Post) %>
                <%= link_to @comment.commentable.title, post_path(@comment.commentable, :only_path => false) %>
              <% end %>

            </span>
          </td>
        </tr>

        <tr align="left"><td align="left" valign="top">
            <span><%= @comment.parent.body %></span>
          </td>
        </tr>
      </table>
      <table class="another_custom_column columns">
        <tr align="left">
          <td align="left" valign="top">
            <table class="another_custom_column columns">
              <tr align="left">
                <td align="left" valign="top">
                  <table class="one columns">
                    <tr align="left">
                      <td align="left" valign="top">
                        <a href="<%= account_path @comment.user.account, :only_path => false %>">
                          <img src="<%= resized_image_url(@comment.user.account.avatar.url, 30, 30) %>" align="left" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
                <td align="left" valign="top">
                  <table class="eight_half columns">
                    <tr align="left">
                      <td class="line_height" align="left" valign="top">
                        <a href="<%= account_path @comment.user.account, :only_path => false  %>"><%= @comment.user.account.title %></a>, <span id="time"><%= l(@comment.created_at, format: "%d %B %Y, %k:%M") %></span>
                      </td>
                    </tr>
                    <tr align="left">
                      <td align="left" valign="top">
                        <span><%= @comment.body.truncated.as_html if @comment.body? %></span>
                      </td>
                    </tr>
                  </table>
                  <table class="nine columns">
                    <tr align="left">
                      <td align="left" valign="top">
                        <table id="orange-button">
                          <tr align="left">
                            <td id="answer_button_reply" align="left" valign="top">

                              <% if @comment.commentable.is_a?(Work) %>
                                <%= link_to image_tag("#{Settings['app']['url']}/assets/public/mailer_buttons_answer.png"), work_path([@comment.commentable.contest, @comment.commentable], :only_path => false, :anchor => "comment_#{@comment.id}") %>
                              <% end %>
                              <% if @comment.commentable.is_a?(Afisha) %>
                                <%= link_to image_tag("#{Settings['app']['url']}/assets/public/mailer_buttons_answer.png"), afisha_path(@comment.commentable, :only_path => false, :anchor => "comment_#{@comment.id}") %>
                              <% end %>
                              <% if @comment.commentable.is_a?(Discount) %>
                                <%= link_to image_tag("#{Settings['app']['url']}/assets/public/mailer_buttons_answer.png"), discount_path(@comment.commentable, :only_path => false, :anchor => "comment_#{@comment.id}") %>
                              <% end %>
                              <% if @comment.commentable.is_a?(Organization) %>
                                <%= link_to image_tag("#{Settings['app']['url']}/assets/public/mailer_buttons_answer.png"), organization_path(@comment.commentable, :only_path => false, :anchor => "comment_#{@comment.id}") %>
                              <% end %>
                              <% if @comment.commentable.is_a?(Post) %>
                                <%= link_to image_tag("#{Settings['app']['url']}/assets/public/mailer_buttons_answer.png"), post_path(@comment.commentable, :only_path => false, :anchor => "comment_#{@comment.id}") %>
                              <% end %>


                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr align="left">
    <td id="whitespace" align="left" valign="top"></td>
  </tr>
<% end %>
