<% content_for :content do %>
  <tr align="left">
    <td align="left" valign="top">
      <table class="one columns">
        <tr align="left">
          <td align="left" valign="top">
            <a href="<%= account_path @comment.parent.user.account, :only_path => false  %>">
              <img src="<%= resized_image_url(@comment.parent.user.account.avatar.url, 30, 30) %>" align="left" /></a>
          </td>
        </tr>
      </table>
    </td>
    <td id="right_content" align="left" valign="top">
      <table class="another_custom_column columns">
        <tr align="left">
          <td class="line_height" align="left" valign="top">
            <a href="<%= account_path @comment.parent.user.account, :only_path => false  %>"><%= @comment.parent.user.account.title %></a>, <span id="time"><%= l(@comment.parent.created_at, format: "%d %B %Y, %k:%M") %></span>
          </td>
        </tr>

        <tr align="left">
          <td id="time" class="line_height" align="left" valign="top">
            <span>

              <% if @comment.commentable.is_a?(Work) %>
                <%= link_to (@comment.commentable.title || @comment.commentable.slug), work_path([@comment.commentable.contest, @comment.commentable], :only_path => false) %>
              <% end %>
              <% %w[afisha discount organization post].each do |item| %>
                <% if @comment.commentable.is_a?(item.camelize.constantize) %>
                  <%= link_to @comment.commentable.title, send("#{item}_path", @comment.commentable, :only_path => false) %>
                <% end %>
              <% end %>

            </span>
          </td>
        </tr>

        <tr align="left"><td align="left" valign="top">
            <span><%= @comment.parent.body %></span>
          </td>
        </tr>
      </table>
      <table class="another_custom_column columns">
        <tr align="left">
          <td align="left" valign="top">
            <table class="another_custom_column columns">
              <tr align="left">
                <td align="left" valign="top">
                  <table class="one columns">
                    <tr align="left">
                      <td align="left" valign="top">
                        <a href="<%= account_path @comment.user.account, :only_path => false %>">
                          <img src="<%= resized_image_url(@comment.user.account.avatar.url, 30, 30) %>" align="left" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
                <td align="left" valign="top">
                  <table class="eight_half columns">
                    <tr align="left">
                      <td class="line_height" align="left" valign="top">
                        <a href="<%= account_path @comment.user.account, :only_path => false  %>"><%= @comment.user.account.title %></a>, <span id="time"><%= l(@comment.created_at, format: "%d %B %Y, %k:%M") %></span>
                      </td>
                    </tr>
                    <tr align="left">
                      <td align="left" valign="top">
                        <span><%= @comment.body.truncated.as_html if @comment.body? %></span>
                      </td>
                    </tr>
                  </table>
                  <table class="nine columns">
                    <tr align="left">
                      <td align="left" valign="top">
                        <table id="orange-button">
                          <tr align="left">
                            <td id="answer_button_reply" align="left" valign="top">

                              <% if @comment.commentable.is_a?(Work) %>
                                <%= link_to image_tag("#{Settings['app']['url']}/assets/public/mailer_buttons_answer.png"), work_path([@comment.commentable.contest, @comment.commentable], :only_path => false, :anchor => "answer_#{@comment.id}") %>
                              <% end %>
                              <% %w[afisha discount organization post].each do |item| %>
                                <% if @comment.commentable.is_a?(item.camelize.constantize) %>
                                  <%= link_to image_tag("#{Settings['app']['url']}/assets/public/mailer_buttons_answer.png"), send("#{item}_path", @comment.commentable, :only_path => false, :anchor => "answer_#{@comment.id}") %>
                                <% end %>
                              <% end %>

                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr align="left">
    <td id="whitespace" align="left" valign="top"></td>
  </tr>
<% end %>
