<% content_for :content do %>
  <% @discounts.each do |discount| %>
    <tr class="dashed_border" align="left">
      <td id="left_content" align="left" valign="top">
        <table class="custom_column columns">
          <tr align="left">
            <td align="left" valign="top">
              <a href="<%= discount_path discount, :only_path => false %>" >

                <%= image_tag(resized_image_url(discount.poster_url.nil? ? 'public/stub_poster.png' : discount.poster_url, 100 , 74),
                              :size => '100x74', :alt => discount.title) %>
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td id="right_content_stat" align="left" valign="top">
        <table class="eight columns" >
          <tr align="left">
            <td class="line_height" align="left" valign="top">
              <a href="<%= discount_path discount, :only_path => false %>" ><%= discount.title %></a>
            </td>
          </tr>
          <tr align="left">
            <td align="left" valign="top">
              <table class="eight columns">
                <tr align="left">
                  <td class="category" align="left" valign="top">
                    <span>Участники: </span>
                    <span class="category_value"><%= discount.members.size %></span>
                  </td>
                  <td class="category" align="left" valign="top">
                    <span >Комментарии: </span>
                    <span class="category_value"><%= discount.comments.size %></span>
                  </td>
                </tr>
                <tr align="left">
                  <td class="category" align="left" valign="top">
                    <span >Понравилось: </span>
                    <span class="category_value"><%= discount.likes_count %></span>
                  </td>
                  <td class="category" align="left" valign="top">
                    <span>Просмотры: </span>
                    <span class="category_value"><%= discount.page_visits.count %></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
<% end %>
