Статистика по вашим скидкам
<%= @account.inspect %>
<% @discounts.each do |discount| %>
  <%= discount.inspect %>
  Участники <%= discount.members.size %>
  Комментарии <%= discount.comments.size %>
  Голоса <%= discount.votes.liked.size %>
  Просмотры <%= discount.page_visits.size %>
<% end %>

<% content_for :content do %>

  <% @discounts.each do |discount| %>
    <tr class="dashed_border" style="vertical-align: top; text-align: left; border-bottom-style: dashed; border-bottom-width: 1px; border-bottom-color: #ccc; margin-bottom: 10px; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; padding: 10px 0 0;" align="left" valign="top">
        <table class="custom_column columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100px !important; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; padding: 0 0 10px;" align="left" valign="top">
              <a href="<%= discount_path discount, :only_path => false %>" style="color: #0081d5; text-decoration: none;">

                <%= image_tag(resized_image_url(discount.poster_url.nil? ? 'public/stub_poster.png' : discount.poster_url, 100 , 74),
                              :size => '100x74', :alt => discount.title) %>
                                      </a>
            </td>
      </tr></table></td>
      <td id="right_content" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-size: 12px !important; padding: 10px 0 10px 10px;" align="left" valign="top">
        <table class="eight columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 380px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="line_height" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; height: 19px !important; padding: 0 0 0px;" align="left" valign="top">
              <a href="<%= discount_path discount, :only_path => false %>" style="color: #0081d5; text-decoration: none; font-size: 12px !important;"><%= discount.title %></a>
            </td>
              </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; padding: 0 0 10px;" align="left" valign="top">
              <table class="eight columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 380px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="category" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100px; padding: 0 0 10px;" align="left" valign="top">
                    <span style="font-size: 12px !important;">Участники: </span>
                    <span class="category_value" style="font-size: 12px !important; color: #f93;"><%= discount.members.size %></span>
                  </td>
                    <td class="category" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100px; padding: 0 0 10px;" align="left" valign="top">
                    <span style="font-size: 12px !important;">Комментарии: </span>
                    <span class="category_value" style="font-size: 12px !important; color: #f93;"><%= discount.comments.size %></span>
                  </td>
                  </tr><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="category" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100px; padding: 0 0 10px;" align="left" valign="top">
                    <span style="font-size: 12px !important;">Понравилось: </span>
                    <span class="category_value" style="font-size: 12px !important; color: #f93;"><%= discount.likes_count %></span>
                  </td>
                    <td class="category" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100px; padding: 0 0 10px;" align="left" valign="top">
                    <span style="font-size: 12px !important;">Просмотры: </span>
                    <span class="category_value" style="font-size: 12px !important; color: #f93;"><%= discount.page_visits.count %></span>
                  </td>
            </tr></table></td>
      </tr></table></td>
    </tr>


  <% end %>



<% end %>
