<% content_for :content do %>
  <tr align="left">
    <td align="left" valign="top">
      <table class="one columns">
        <tr align="left">
          <td align="left" valign="top">
            <a href="<%= account_path @invite.account, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email"  %>">
              <img src="<%= resized_image_url(@invite.account.avatar.url, 30, 30) %>" align="left" />
            </a>
          </td>
        </tr>
      </table>
    </td>
    <td id="right_content" align="left" valign="top">
      <table class="nine columns">
        <tr align="left">
          <td class="line_height" align="left" valign="top">
            <a href="<%= account_path @invite.account, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email"  %>"><%= @invite.account.title %></a> <span><%= t "notice_mailer.is_invite_you_at" %></span>
            <% if @invite.category.blank? %>
              <% if @invite.inviteable.is_a?(Afisha) %>

                  на <%= link_to @invite.inviteable.title, afisha_path(@invite.inviteable, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email") %>
              <% end %>

              <% if @invite.inviteable.is_a?(Organization) %>

                на <%= link_to @invite.inviteable.title, organization_path(@invite.inviteable, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email") %>
              <% end %>

            <% else %>
              <span> <%= @invite.category %></span>
            <% end %>
          </td>
        </tr>
        <tr align="left">
          <td id="time" class="line_height" align="left" valign="top"><%= l(@invite.created_at, format: "%d %B %Y, %k:%M") %></span></span></td>
        </tr>
      </table>
      <table class="nine columns">
        <tr align="left">
          <td align="left" valign="top">
            <table id="orange-button">
              <tr align="left">
                <td align="left" valign="top">
                  <a href="<%= my_invite_messages_path(:only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email") %>">
                    <img src="<%= "#{Settings['app']['url']}/assets/public/button.png" %>" />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr align="left">
    <td id="whitespace" align="left" valign="top"></td>
  </tr>
<% end %>
