<%= link_to t('clear_filters'), organizations_path, :class => 'clear_filters' %>
<% Organization::FACETS.each do |facet| %>
  <div class="row-fluid">
    <h2><%= Organization.human_attribute_name(facet) %></h2>
    <ul class='<%= facet %> span12 unstyled'>

      <% @search.facet(facet).rows.each do |row| %>
        <li class='span4 <%= facet_status(facet, row) %>'>
          <% if params_have_facet?(facet, row.value) %>
            <%= link_to "#{row.value} (#{row.count})", organizations_path(params_without_facet(facet, row.value)) %>
          <% else %>
            <%= link_to "#{row.value} (#{row.count})", organizations_path(params_with_facet(facet, row.value)) %>
          <% end %>
        </li>
      <% end %>

    </ul>
  </div>
<% end %>

<% if false %>

<div class="row-fluid">
  <h2>Вместимость&nbsp;&#40;<span class='capacity'><%= params[:capacity] ? "больше #{params[:capacity]}" : "не важно" %></span>&#41;</h2>
  <div class="slider-seating-capacity"></div>
</div>
<% end %>
