<div class='header'>
  <%= link_to 'Система управления взаимоотношениями с клиентами', root_path, class: :crm_logo, target: '_blank' %>
  <% unless @current_user.blank? %>
    <div class='user_box'>
      <%= @current_user.name %>
      <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'sign_out' %>
    </div>
    <div class="search">
      <% if [Organization, Meal, Entertainment, Culture, Sauna, Sport, Creation, CarWash].include?(resource_class)  %>
        <%= form_tag manage_organizations_path, :method => :get do %>
          <div class='wrapper'>
            <%= text_field_tag 'q', params[:q], :placeholder => 'Поиск' %>
            <%= submit_tag 'Поиск', class: :button %>
          </div>
        <% end %>
      <% end %>
      <% if resource_class == Afisha || resource_class.try(:superclass) == Afisha %>
        <%= form_tag manage_afisha_index_path, :method => :get do %>
          <div class='wrapper'>
            <%= text_field_tag 'q', params[:q], :placeholder => 'Поиск' %>
            <%= submit_tag 'Поиск', class: :button %>
          </div>
          <div class="include_gone">
            <%= check_box_tag 'include_gone', '1', params[:include_gone] %>
            <%= label_tag 'include_gone', 'Включая прошедшие' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= render_navigation context: 'manage', expand_all: true %>
  <% end %>
</div>
