<div class='header_wrapper'>
  <div class='header'>
    <div class='logo'><a href='/'><%= t('meta.default.title') %></a></div>
    <div class='tomsk'>Томск</div>
    <div class='dashboard'>
      <% if user_signed_in? %>
        <p class='user'>
          <%= link_to 'Добавить скидку', help_my_discounts_path, class: :new_my_afisha %>
          <%= link_to 'Добавить афишу', new_my_afisha_path, class: :new_my_afisha %>
          <%= link_to 'Добавить обзор', new_my_post_path, class: :new_my_afisha %>

          <%= link_to account_path(current_user.account), target: :_blank, class: :avatar do %>
            <%= image_tag(resized_image_url(current_user.account.avatar.url, 22, 22), size: '22x22', title: current_user.account, alt: current_user.account) %>
          <% end %>
          <%= link_to(current_user.account, my_root_path, class: :user_name) %>
          <%= link_to('Выйти', destroy_user_session_path, method: :delete, class: :sign_out) %>
        </p>
        <p class='private'><%= link_to('Личный кабинет', my_root_path) %></p>
        <p class='messages'>
        <% if current_user.account.private_messages.unread.any? %>
          <%= link_to "+#{current_user.account.messages.unread.count}", my_dialogs_path, class: :new, title: 'Есть новые соощения' %>
        <% elsif current_user.account.notification_messages.unread.any? %>
          <%= link_to "+#{current_user.account.messages.unread.count}", my_notification_messages_path, class: :new, title: 'Есть новые соощения' %>
        <% else %>
          <%= link_to current_user.account.messages.count, my_root_path, class: :empty, title: 'Нет новых соощений' %>
        <% end %>
        </p>
      <% else %>
        <%= link_to 'Добавить скидку', help_my_discounts_path, class: :new_my_afisha %>
        <%= link_to 'Добавить афишу', new_my_afisha_path, class: :new_my_afisha %>
        <span class='sign_in'>Войти:</span>
        <%= render :partial => 'commons/social_auth' %>
      <% end %>
    </div>
    <%= render :partial => 'commons/public_menu' %>
  </div>
</div>

<%= render :partial => 'filters' %>
