<div class='promo_wrapper'>
  <div class='promo'>
    <%= link_to 'Непрелично дешевые билеты на все развлечения Томска! Купи в 2 клика! Только на сайте znaigorod.ru', tickets_path %>
  </div>
</div>

<div class='header_wrapper'>
  <div class='header'>
    <div class='logo'><a href='/'><%= t('meta.default.title') %></a></div>
    <div class='tomsk'><a href='/'>Томск</a></div>
    <div class='dashboard'>
      <% if user_signed_in? %>
        <p class='user'>
          <%= link_to(image_tag(current_user.avatar, size: '22x22'), current_user.profile, target: :_blank, class: :avatar) %>
          <%= link_to(current_user.name, current_user.profile, target: :_blank, class: :user_name) %>
          <%= link_to('Выйти', destroy_user_session_path, method: :delete, class: :logout) %>
        </p>
        <p class='private'><%= link_to('Личный кабинет', my_root_path) %></p>
        <p class='messages'><%= link_to '0', '#', class: :empty, title: 'Нет новых соощений' %></p>
        <!--
        <p class='messages'><%= link_to '0', '#', class: :empty, title: 'Нет новых соощений' %></p>
        <p class='messages'><%= link_to '+2', '#', class: :new, title: '2 новых сообщения' %></p>
        -->
      <% else %>
        <%= render :partial => 'commons/social_auth' %>
      <% end %>
    </div>
    <%= render :partial => "commons/public_menu" %>
  </div>
</div>

<%= render :partial => 'filters' %>
