<ul class='social_signin_links auth_links'>
  <li class='vkontakte'>
    <%= link_to 'ВКонтакте', user_omniauth_authorize_path(:vkontakte), :title => 'ВКонтакте' %>
  </li>
  <li class='yandex'>
    <%= link_to 'Яндекс', user_omniauth_authorize_path(:yandex), :title => 'Яндекс' %>
  </li>
  <li class='facebook'>
    <%= link_to 'Facebook', user_omniauth_authorize_path(:facebook), :title => 'Facebook' %>
  </li>
  <li class='twitter'>
    <%= link_to 'Twitter', user_omniauth_authorize_path(:twitter), :title => 'Twitter' %>
  </li>
  <li class='google'>
    <%= link_to 'Google', user_omniauth_authorize_path(:google_oauth2), :title => 'Google' %>
  </li>
  <li class='mail_ru'>
    <%= link_to 'Mail.Ru', user_omniauth_authorize_path(:mailru), :title => 'Mail.Ru' %>
  </li>
  <li class='odnoklassniki'>
    <%= link_to 'Одноклассники', user_omniauth_authorize_path(:odnoklassniki), :title => 'Одноклассники' %>
  </li>
</ul>
