<div class="social_actions">
  <ul class='user_actions'>
    <%= render :partial => 'visits/visit', :locals => { :visitable => inviteable } %>
    <%= render :partial => 'invitations/inviteable_link', :locals => { :inviteable => inviteable, :kind => :inviter } %>
    <%= render :partial => 'invitations/inviteable_link', :locals => { :inviteable => inviteable, :kind => :invited } %>
  </ul>

  <div class='visits_counter'>
    <%= content_tag :div, I18n.t("visit.#{inviteable.class.name.underscore}"), class: :floatl %>
    <div class='floatr'><%= t('afisha.visitors', :count => inviteable.visits.count) %></div>
  </div>

  <div class='visitors list'>
    <%= render :partial => 'commons/social_block_visits' %>
  </div>
</div>
