<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<div class='clearfix'>
  <div class='form_fields'>
    <div class='wrapper'>
      <%= f.input :organization_id, :as => :hidden, :input_html => { :class => 'autosuggest_target' } %>
      <%= f.input :latitude, :as => :hidden, :input_html => { :class => 'latitude', :value => @showing.get_latitude } %>
      <%= f.input :longitude, :as => :hidden, :input_html => { :class => 'longitude', :value => @showing.get_longitude } %>
      <%= f.input :place, :input_html => { :class => 'autosuggest' } %>
    </div>
    <div class='wrapper'>
      <%= f.input :starts_at, :as => :datetime_picker %>
      <%= f.input :ends_at, :as => :datetime_picker %>
    </div>
    <div class='wrapper'>
      <%= f.input :price_min %>
      <%= f.input :price_max %>
    </div>
    <div class='submit'>
      <%= f.button :submit, 'Сохранить сеанс', class: :button %>
      <%= link_to 'Отмена', my_afisha_show_path(@afisha) %>
      <%= link_to('Удалить', my_afisha_showing_path(@afisha, @showing), method: :delete, confirm: 'Вы уверены что хотите удалить?', class: :floatr) unless @showing.new_record? %>
    </div>
  </div>
  <div class='my_afisha_map'>
  </div>
</div>
