<div class='content_wrapper'>
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <h1>
    <%= t("my.edit_showing") %>
    <%= link_to 'помощь', '#', :class => 'show_help' %>
  </h1>

  <div class='help_wrapper'>
    <div class='help'>
      <%= render :partial => 'help' %>
    </div>
  </div>

  <div class='my_affiche_wrapper'>
    <%= simple_form_for [@afisha, @showing].flatten, :url => my_afisha_showing_path(@afisha, @showing), html: { class: :my_affiche_showings } do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
    <% end %>
  </div>
</div>
