<%= render_navigation context: 'my', :renderer => :breadcrumbs %>

<h1>
  <%= t("my.add_showing") %>
  <%= link_to 'помощь', '#', :class => 'show_help' %>
</h1>

<div class='help_wrapper'>
  <div class='help'>
    <%= render :partial => 'help' %>
  </div>
</div>

<div class='my_afisha_wrapper'>
  <%= simple_form_for [@afisha, @showing].flatten, :url => my_afisha_showings_path(@afisha), html: { class: :my_afisha_showings } do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
</div>
