<h1>Обзоры</h1>
<div class='period'>
  <%= simple_form_for :search, :url => manage_statistics_reviews_path, :method => :get do |f| %>
    <span class='label'>С:</span>
    <%= f.input :starts_at, :as => :date_picker, :label => false, :input_html => {:value => @starts_at.strftime('%d.%m.%Y')} %>
    <span class='label'>По:</span>
    <%= f.input :ends_at, :as => :date_picker, :label => false, :input_html => {:value => @ends_at.strftime('%d.%m.%Y')} %>
    <%= f.submit 'Найти' %>
  <% end %>
</div>
<%= link_to "CSV", manage_statistics_reviews_path(format: "csv", params: params ) %>
<table class='reviews'>
  <thead>
    <tr>
      <th>Автор</th>
      <th>Обзоры</th>
      <th>Общее кол-во символов</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |author, review| %>
      <tr>
        <td class='author'><%= Account.find(author) %></td>
        <td>
          <table>
            <thead>
              <th>Название</th>
              <th>Кол-во символов</th>
              <th>Кол-во просмотров</th>
            </thead>
            <% review.each do |e| %>
              <tr>
                <td>
                  <p class='with_border'><%= link_to e.title, review_path(e), target: '_blank' %></p>
                </td>
                <td>
                  <p><%= e.content.size if e.content %></p>
                </td>
                <td>
                  <p><%= e.page_visits.count %></p>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
        <td class='author'><%= review.map{ |review| review.content ? review.content.size : 0 }.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
