<div class="teaser_form">
  <h1>Тизер:</h1>
  <%= simple_form_for [:manage, @teaser] do |f| %>
    <%= f.input :title %>
    <%= f.input :items_quantity %>
    <%= f.submit %>
    <%= link_to 'Назад', manage_teasers_path %>
  <% end %>
</div>
