<h1>Тизер:</h1>
<%= simple_form_for [:manage, @teaser] do |f| %>
  <%= f.input :title %>
  <%= f.input :items_quantity %>
  <%= f.input :image_width %>
  <%= f.input :image_height %>
  <%= f.input :background_color, as: :minicolors %>
  <%= f.input :border_color, as: :minicolors %>
  <%= f.input :text_color, as: :minicolors  %>
  <%= f.input :link_color, as: :minicolors  %>
  <%= f.submit %>
  <%= link_to 'Назад', manage_teasers_path %>
<% end %>
