<%= simple_nested_form_for [:manage, @organization, :meal, resource].flatten,
  :html => { :novalidate => true } do |f| %>

  <%= f.input :category,
    :as => :select,
    :selected => f.object.category,
    :collection => Values.instance.send(:meal).menu_categories,
    :wrapper_html => { :class => :category_list },
    :include_blank => false %>

  <%= f.input :description, :input_html => { :class => 'menu_description' } %>

  <div>
    <%= f.simple_fields_for :menu_positions do |mpf| %>
      <%= mpf.input :position,
        :as => :select,
        :selected => mpf.object.position,
        :collection => Values.instance.send(:meal).menu_positions,
        :wrapper_html => { :class => :category_list },
        :include_blank => false %>

      <%= mpf.input :title %>
      <%= mpf.input :description %>
      <%= mpf.input :cooking_time %>
      <%= mpf.input :count %>
      <%= mpf.input :price %>
      <%= mpf.link_to_remove t('remove_menu_position'), :class => 'remove_price' %>
    <% end %>
    <%= f.link_to_add t('add_menu_position'), :menu_positions, :class => 'add_price' %>
  </div>

  <%= f.submit "Сохранить" %>
<% end %>
