<div class="type">
  <h3>
    Бильярдный зал
    <%= link_to t('edit'), edit_manage_organization_billiard_path(billiard.organization), :class => 'edit_link' %>
    <%= link_to t('add_image'), new_manage_billiard_image_path(billiard), :class => 'edit_link' %>
    <%= link_to t('delete'), manage_organization_billiard_path(billiard.organization), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>
</h3>
  <div>
    <span class="label">Название:</span>
    <% if billiard.title? %>
      <span class="value"><%= billiard.title %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Описание:</span>
    <% if billiard.description? %>
      <span class="value"><%= billiard.description %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Категория:</span>
    <% if billiard.category.present? %>
      <span class="value"><%= billiard.category %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Особенности:</span>
    <% if billiard.feature.present? %>
      <span class="value"><%= billiard.feature %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <div>
    <span class="label">Предложение:</span>
    <% if billiard.offer.present? %>
      <span class="value"><%= billiard.offer %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>
  <fieldset>
    <legend>Столы</legend>
    <ul>
      <% billiard.pool_tables.each do |pool_table| %>
        <li>
          <%= link_to pool_table.title, [:edit, :manage, @organization, :billiard, pool_table] %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Добавить стол', new_manage_organization_billiard_pool_table_path(billiard.organization) %>
  </fieldset>
  <div>
    <% billiard.images.each do |image| %>
      <%= image_tag(resized_image_url(image.url, 100, 100, false), :alt => image.description, :title => image.description) %>
      <%= link_to "Удалить", manage_billiard_image_path(billiard, image), :method => :delete, :confirm => 'Вы уверены?' %>
    <% end %>
  </div>
</div>
