<li class='my_affiche_item'>
  <% if defined?(editable) %>
    <%= link_to my_affiche_path(affiche) do %>
      <%= image_tag (affiche.poster_image_url? ? resized_image_url(affiche.poster_image_url, 80, 108, true) : 'public/stub_poster.png'), :width => 80, :height => 108 %>
    <% end %>
  <% else %>
    <%= image_tag (affiche.poster_image_url? ? resized_image_url(affiche.poster_image_url, 80, 108, true) : 'public/stub_poster.png'), :width => 80, :height => 108 %>
  <% end %>
  <span class="title"><%= affiche.title.present? ? affiche : 'Нет названия' %></span>

  <% if defined?(editable) %>
    <%= link_to 'Редактировать', my_affiche_path(affiche) if can? :edit, affiche %>
  <% end %>

  <% if defined?(deletable) %>
    <%= link_to 'Удалить', my_affiche_path(affiche), method: :delete, confirm: 'Вы уверены что хотите удалить?' if can? :destroy, affiche %>
  <% end %>
</li>
