<%= simple_form_for @affiche, as: :affiche, url: my_affiche_path(@affiche.id) do |f| %>
  <%= hidden_field_tag :step, @step %>
  <%= f.input :title, required: true, input_html: { id: :affiche_title } %>
  <%= f.input :description, required: true, input_html: { id: :affiche_description } %>
  <%= f.input :tag, as: :string, input_html: { id: :affiche_tag } %>
  <div class='submit'>
    <%= f.submit %>
  </div>
<% end %>

<%= render :partial => 'textile_syntax' %>
