<h2>Постер мероприятия</h2>

<% if @affiche.poster_image_url? %>
  <% crop_opt = @affiche.poster_url ? @affiche.poster_url.match(/(?<=\/region\/)\w+\/\w+\/\w+\/\w+/).to_s.split('/').map{|o| (o.to_i/@affiche.resize_factor).round} : [] %>
  <% crop_width, crop_height, crop_x, crop_y = crop_opt.any? ? crop_opt : [@affiche.poster_image_resized_dimensions[:width] / @affiche.resize_factor, @affiche.poster_image_resized_dimensions[:height] , 0, 0] %>

  <%= link_to 'Удалить постер', destroy_image_my_affiche_path(@affiche.id), :method => :delete, :confirm => 'Вы уверены?' %>
  <%= simple_form_for @affiche, as: :affiche, :url => my_affiche_path(@affiche.id) do |f| %>
    <%= hidden_field_tag :step, @step %>
    <div>
      <%= f.input :set_region, :as => :hidden, :input_html => { :value => true } %>
      <%= f.input :crop_x, :as => :hidden, :input_html => { :value => crop_x } %>
      <%= f.input :crop_y, :as => :hidden, :input_html => { :value => crop_y } %>
      <%= f.input :crop_width, :as => :hidden, :input_html => { :value => crop_width } %>
      <%= f.input :crop_height, :as => :hidden, :input_html => { :value => crop_height } %>
      <%= image_tag resized_image_url(@affiche.poster_image_url,
                                      @affiche.poster_image_resized_dimensions[:width],
                                      @affiche.poster_image_resized_dimensions[:height],
                                      false), :class => 'jcrop' %>
    </div>
    <div class='submit'>
      <%= f.button :submit, 'Обрезать постер и продолжить', class: :button %>
    </div>
  <% end %>
<% else %>
  <%= simple_form_for @affiche, as: :affiche, url: my_affiche_path(@affiche.id) do |f| %>
    <%= hidden_field_tag :step, @step %>
    <%= f.input :poster_image, required: true, class: :button %>
    <%= f.error :poster_image_content_type %>
  <% end %>
<% end %>
