<%= simple_form_for @affiche, as: :affiche, url: my_affiche_path(@affiche) do |f| %>
  <%= hidden_field_tag :step, @step %>
  <%= f.input :poster_image %>
  <%= image_tag_for @affiche.poster_image_url, 200, 200 if @affiche.poster_image_url%>

  <div class='submit'>
    <%= f.submit %>
  </div>
<% end %>

