<div class='content_wrapper'>
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

  <div class='my_affiche_wrapper'>
    <h2><%= t('my.add_affiche') %></h2>
    <% Affiche.ordered_descendants.map(&:name).map(&:underscore).each_slice(2) do |affiche_types| %>
      <ul class='new_affiche_list'>
        <% affiche_types.each do |name| %>
          <li>
            <%= simple_form_for [:my, Affiche.new] do |f| %>
              <%= hidden_field_tag 'type', name %>
              <%= f.button :submit, t("my.button.#{name}"), class: "button #{name}" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class='my_affiches_preview'>
      <% if current_user.affiches.draft.any? %>
        <h2>Черновики</h2>
        <% current_user.affiches.draft.order("created_at DESC").each_slice(5) do |affiches| %>
          <ul class='my_affiche_items'>
            <% affiches.each do |affiche| %>
              <%= render :partial => 'affiches_list', :locals => { :affiche => affiche, :editable => true, :deletable => true } %>
            <% end %>
          </ul>
        <% end %>
      <% end %>

      <% if current_user.affiches.pending.any? %>
        <h2>На модерации</h2>
        <% current_user.affiches.pending.order("created_at DESC").each_slice(5) do |affiches| %>
          <ul class='my_affiche_items'>
            <% affiches.each do |affiche| %>
              <%= render :partial => 'affiches_list', :locals => { :affiche => affiche } %>
            <% end %>
          </ul>
        <% end %>
      <% end %>

      <% if current_user.affiches.actual.published.any? %>
        <h2>Опубликованы</h2>
        <% current_user.affiches.actual.published.order("created_at DESC").each_slice(5) do |affiches| %>
          <ul class='my_affiche_items'>
            <% affiches.each do |affiche| %>
              <%= render :partial => 'affiches_list', :locals => { :affiche => affiche, :editable => true } %>
            <% end %>
          </ul>
        <% end %>
      <% end %>


    <% if current_user.affiches.archive.any? %>
      <div class='my_affiche_archive'>
        <h2>
          <%= link_to t('my.archive'), archive_my_affiches_path %>
        </h2>
      </div>
    <% end %>

    </div>
  </div>
</div>
