<div class='content_wrapper'>
  <h1><%= t("my.affiche") %></h1>
  <div class='my_affiche_wrapper'>
    <h2>Черновики<h2>
    <ul>
      <% current_user.affiches.published.each do |affiche| %>
        <%= render :partial => 'affiches_list', :locals => { :affiche => affiche } %>
      <% end %>
    </ul>

    <h2>На модерации<h2>
    <ul>
      <% current_user.affiches.pending.each do |affiche| %>
        <%= render :partial => 'affiches_list', :locals => { :affiche => affiche } %>
      <% end %>
    </ul>

    <h2>Опубликованы<h2>
    <ul>
      <% current_user.affiches.draft.each do |affiche| %>
        <%= render :partial => 'affiches_list', :locals => { :affiche => affiche } %>
      <% end %>
    </ul>

    <%= link_to 'Добавить афишу', new_my_affiche_path %>
  </div>
</div>
