<% content_for :page_title do %>
  <% if @affiche.title.present? %>
    <%= @affiche.title.to_s.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @affiche.human_kind.mb_chars.downcase %> в Томске
<% end %>

<div class='content_wrapper'>

  <div class='clearfix'>

    <div class='content'>

      <div class='affiche'>
        <%= content_tag(:div, link_to(@affiche.human_kind, affiches_path(period: 'all', categories: [@affiche.kind])), class: 'kind') %>
        <div class='head'>
          <% if @affiche.title.present? %>
            <h1>
              <%= @affiche.title.to_s.text_gilensize %>
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :first) %>
            </h1>
          <% else %>
            <h1>
              <span class='red'>Нет</span> названия
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :first) %>
            </h1>
          <% end %>
          <%= content_tag :h2, @affiche.original_title.text_gilensize if @affiche.original_title? %>
        </div>

        <div class='info'>
          <div class='left_part'>
            <div class='image'>
              <% if @affiche.poster_url.present? %>
                <div class="rating like_a_line">
                  <%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => @affiche.model } %>
                </div>
                <%= content_tag :div, "#{@affiche.age_min.to_i}+", class: :age if @affiche.age_min.present? %>
                <%= @affiche.item_poster %>
              <% else %>
                <%= image_tag 'public/stub_poster.png', size: '180x242', alt: :poster %>
                <span class='red'>Нет</span> постера
              <% end %>
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :second) %>
            </div>
          </div>
          <div class='description'>
            <div class='closest'>
              <%= @affiche.when_with_price %>
              <a href='#'>изменить</a>
            </div>
            <% unless @affiche.distribution_movie? %>
              <% @affiche.places.each do |place| %>
                <div class='place'>
                  <%= place.place %>
                </div>
              <% end %>
            <% end %>
            <div class='text'>
              <% if @affiche.description.present? %>
                <%= @affiche.html_description %>
              <% else %>
                <p><span class='red'>Нет</span> описания</p>
              <% end %>
              <p><%= link_to 'изменить описание', edit_step_my_affiche_path(@affiche.id, step: :first) %></p>
              <% if @affiche.html_attachments.present? %>
                <%= @affiche.html_attachments %>
              <% else %>
                <p><span class='red'>Нет</span> файлов</p>
              <% end %>
              <%= link_to 'изменить файлы', edit_step_my_affiche_path(@affiche.id, step: :fourth) %>
            </div>
          </div>
        </div>

        <div class='tags_and_share'>
          <ul class='tags'>
            <% if @affiche.tags.any? %>
              <li class='transparent'>Тэги:</li>
              <% @affiche.tags.each do |tag| %>
                <li><%= link_to(tag, affiches_path('tags[]' => tag)) %></li>
              <% end %>
              <li class='transparent'>
                <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :first) %>
              </li>
            <% else %>
              <li class='transparent'>
                <span class='red'>Нет</span> тэгов
                <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :first) %>
              </li>
            <% end %>
          </ul>
          <div class="votes">
            <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @affiche.model } %>
          </div>
          <div class='share'>
            <%= render :partial => 'commons/share_this' %>
          </div>
        </div>

        <% if @affiche.images.present? %>
          <div class='photogallery_header'>
            Фотографии
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :fourth) %>
          </div>
          <div class='photogallery'>
            <ul>
              <% @affiche.images.each do |image| %>
                <li>
                  <%= resized_link_image(image, 124, 94) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <div class='photogallery_header'>
            <span class='red'>Нет</span> фотографий
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :fourth) %>
          </div>
        <% end %>

        <% if @affiche.trailer_code.present? %>
          <div class='trailer_header'>
            Видео
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :fifth) %>
          </div>
          <div class='trailer'>
            <%= @affiche.trailer_code_html %>
          </div>
        <% else %>
          <div class='trailer_header'>
            <span class='red'>Нет</span> видео
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche.id, step: :fifth) %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
