<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU') %>

<% content_for :page_title do %>
  <% if @affiche.title.present? %>
    <%= @affiche.title.to_s.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @affiche.human_kind.mb_chars.downcase %> в Томске
<% end %>

<div class='content_wrapper'>

  <div class='clearfix'>

    <div class='content'>

      <div class='affiche'>
        <%= content_tag(:div, link_to(@affiche.human_kind, affiches_path(period: 'all', categories: [@affiche.kind])), class: 'kind') %>
        <div class='head'>
          <% if @affiche.title.present? %>
            <h1>
              <%= @affiche.title.to_s.text_gilensize %>
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :first) %>
            </h1>
          <% else %>
            <h1>
              <span class='red'>Нет</span> названия
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :first) %>
            </h1>
          <% end %>
          <%= content_tag :h2, @affiche.original_title.text_gilensize if @affiche.original_title? %>
        </div>

        <div class='info'>
          <div class='left_part'>
            <div class='image'>
              <% if @affiche.poster_url.present? %>
                <div class="rating like_a_line">
                  <%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => @affiche.model } %>
                </div>
                <%= content_tag :div, "#{@affiche.age_min.to_i}+", class: :age if @affiche.age_min.present? %>
                <%= @affiche.item_poster %>
              <% else %>
                <%= image_tag 'public/stub_poster.png', size: '180x242', alt: :poster %>
                <span class='red'>Нет</span> постера
              <% end %>
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :second) %>
            </div>
          </div>
          <div class='description'>
            <div class='closest'>
              <%= @affiche.when_with_price %>
              <% if @affiche.showings.any? %>
                <%= link_to 'изменить', edit_my_affiche_showing_path(@affiche, @affiche.showings.first) %>
              <% else %>
                <%= link_to 'изменить', new_my_affiche_showing_path(@affiche) %>
              <% end %>
            </div>
            <% unless @affiche.distribution_movie? %>
              <% @affiche.places.each do |place| %>
                <div class='place'>
                  <%= place.place %>
                </div>
              <% end %>
            <% end %>
            <div class='text'>
              <% if @affiche.description.present? %>
                <%= @affiche.html_description %>
              <% else %>
                <p><span class='red'>Нет</span> описания</p>
              <% end %>
              <p><%= link_to 'изменить описание', edit_step_my_affiche_path(@affiche, step: :first) %></p>
              <% if @affiche.html_attachments.present? %>
                <%= @affiche.html_attachments %>
              <% else %>
                <p><span class='red'>Нет</span> файлов</p>
              <% end %>
              <%= link_to 'изменить файлы', edit_step_my_affiche_path(@affiche, step: :fourth) %>
            </div>
          </div>
        </div>

        <div class='tags_and_share'>
          <ul class='tags'>
            <% if @affiche.tags.any? %>
              <li class='transparent'>Тэги:</li>
              <% @affiche.tags.each do |tag| %>
                <li><%= link_to(tag, affiches_path('tags[]' => tag)) %></li>
              <% end %>
              <li class='transparent'>
                <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :first) %>
              </li>
            <% else %>
              <li class='transparent'>
                <span class='red'>Нет</span> тэгов
                <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :first) %>
              </li>
            <% end %>
          </ul>
          <div class="votes">
            <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @affiche.model } %>
          </div>
          <div class='share'>
            <%= render :partial => 'commons/share_this' %>
          </div>
        </div>

        <% if @affiche.images.present? %>
          <div class='photogallery_header'>
            Фотографии
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :fourth) %>
          </div>
          <div class='photogallery'>
            <ul>
              <% @affiche.images.each do |image| %>
                <li>
                  <%= resized_link_image(image, 124, 94) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <div class='photogallery_header'>
            <span class='red'>Нет</span> фотографий
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :fourth) %>
          </div>
        <% end %>

        <% if @affiche.trailer_code.present? %>
          <div class='trailer_header'>
            Видео
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :fifth) %>
          </div>
          <div class='trailer'>
            <%= @affiche.trailer_code_html %>
          </div>
        <% else %>
          <div class='trailer_header'>
            <span class='red'>Нет</span> видео
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :fifth) %>
          </div>
        <% end %>

        <div class='sheduled'>
          <div class='head'>
            <h3 class='inline'>
              Ещё сеансы
              <%= link_to 'добавить', new_my_affiche_showing_path(@affiche) %>
            </h3>
          </div>
        </div>

        <% if @affiche.viewable_showings? %>

          <% if @affiche.distribution_movie? %>

            <div class='distribution'>
              <ul class='dates'>
                <li class='first'>
                  <h3>Сеансы</h3>
                </li>
                <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
                  <% unless showings_with_place.values.blank? %>
                    <li class='text'>
                      <p class='date' data-id='date-<%= date %>'><%= showings_with_place.values.first.first.human_date %></p>
                      <p class='day_of_week'><%= l date, format: '%A' %></p>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
                <div class='theaters' data-id='date-<%= date %>'>
                  <% showings_with_place.each do |place, showings| %>
                    <ul>
                      <li class='theater'>
                        <p class='name'><%= showings.first.place_decorator.link_short_title %></p>
                        <p class='address'><%= showings.first.place_decorator.address_link %></p>
                      </li>
                      <% showings.each_with_index do |showing, index| %>
                        <li class='seance<%= ' break' if index > 0 && index % 7 == 0 %>'>
                          <%= content_tag :p, showing.human_time_starts_at, :class => 'time' unless showing.human_time_starts_at.blank? %>
                          <%= content_tag :p, showing.human_price, :class => 'price' unless showing.human_price.blank? %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% elsif @affiche.scheduled_showings? %>
            <div class='sheduled'>
              <div class='head'>
                <h3>Расписание</h3>
                <div class='places'>
                  <% @affiche.places.each do |place| %>
                    <%= place.place %>
                  <% end %>
                </div>
              </div>
              <div class='shedule'>
                <div class='price'><strong>Стоимость:</strong> <%= @affiche.schedule.human_price %></div>
                <ul>
                  <% @affiche.schedule.days.each do |li| %>
                    <%= li %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% else %>
            <% @affiche.showings.group_by(&:place).each do |place, showings| %>
              <div class='many_showings'>
                <div class='head'>
                  <div class='places'>
                    <p>
                      <span class='name'><%= place.gilensize %></span>
                      <% if showings.first.latitude.present? && showings.first.longitude.present? %>
                        <span class='address'>
                          <a href='#' class='show_map_link'
                            data-hint='<%= place.text_gilensize %>'
                            data-latitude='<%= showings.first.latitude %>'
                            data-longitude='<%= showings.first.longitude %>'
                            <%= "data-id='#{showings.first.organization.id}'".html_safe if showings.first.organization.present? %>
                            title='Показать на карте'>показать на карте</a>
                        </span>
                      <% end %>
                    </p>
                  </div>
                </div>
                <ul>
                  <% showings.each do |showing| %>
                    <li>
                      <%= showing.for_schedule %>
                      <p class='edit'><%= link_to 'изменить', edit_my_affiche_showing_path(@affiche, showing) %></p>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>

</div>
