<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU') %>

<% content_for :page_title do %>
  <% if @affiche.title.present? %>
    <%= @affiche.title.to_s.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @affiche.human_kind.mb_chars.downcase %> в Томске
<% end %>

<div class='content_wrapper'>
  <%= render_navigation context: 'my', :renderer => :breadcrumbs %>

  <div class='clearfix'>

    <div class='content'>

      <div class='affiche'>
        <%= content_tag(:div, link_to(@affiche.human_kind, affiches_path(period: 'all', categories: [@affiche.kind])), class: 'kind') %>
        <div class='head'>
          <% if @affiche.title.present? %>
            <h1>
              <%= @affiche.title.to_s.text_gilensize %>
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :first) if can? :edit, @affiche %>
            </h1>
          <% else %>
            <h1>
              <span class='red'>Нет</span> названия
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :first) if can? :edit, @affiche %>
            </h1>
          <% end %>
          <%= content_tag :h2, @affiche.original_title.text_gilensize if @affiche.original_title? %>
        </div>

        <div class='info'>
          <div class='left_part'>
            <div class='image'>
              <% if @affiche.poster_url.present? %>
                <%= @affiche.item_poster %>
              <% else %>
                <% if can? :edit, @affiche %>
                  <%= link_to image_tag('public/stub_poster.png', size: '180x242', alt: :poster), edit_step_my_affiche_path(@affiche, step: :second) %>
                <% else %>
                  <%= image_tag('public/stub_poster.png', size: '180x242', alt: :poster) %>
                <% end %>
                <span class='red'>Нет</span> постера
              <% end %>
              <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :second) if can? :edit, @affiche %>
            </div>
          </div>
          <div class='description'>
            <div class='closest'>
              <%= @affiche.when_with_price %>
              <% if @affiche.showings.any? %>
                <%= link_to 'изменить', edit_my_affiche_showing_path(@affiche, @affiche.showings.first) if can? :edit, @affiche.showings.first %>
                <%= link_to 'добавить ещё сеанс', new_my_affiche_showing_path(@affiche), class: :add_more_schedule if can? :new, @affiche.showings.new %>
              <% else %>
                <%= link_to 'добавить сеанс', new_my_affiche_showing_path(@affiche) if can? :new, @affiche.showings.new %>
              <% end %>
            </div>
            <% unless @affiche.distribution_movie? %>
              <% @affiche.places.each do |place| %>
                <div class='place'>
                  <%= place.place %>
                </div>
              <% end %>
            <% end %>
            <div class='text'>
              <% if @affiche.description.present? %>
                <%= @affiche.html_description %>
              <% else %>
                <p><span class='red'>Нет</span> описания</p>
              <% end %>
              <p><%= link_to 'изменить описание', edit_step_my_affiche_path(@affiche, step: :first) if can? :edit, @affiche %></p>
              <% if @affiche.html_attachments.present? %>
                <%= @affiche.html_attachments %>
              <% else %>
                <p><span class='red'>Нет</span> файлов</p>
              <% end %>
              <p><%= link_to 'изменить файлы', edit_step_my_affiche_path(@affiche, step: :sixth) if can? :edit, @affiche %></p>
              <% if @affiche.user.present? %>
                <p class='affiche_owner'>
                  <span>Автор:</span>
                  <%= image_tag @affiche.user.avatar, size: '24x24', alt: @affiche.user.name if @affiche.user.avatar.present? %>
                  <%= link_to @affiche.user.name, @affiche.user.profile %>
                </p>
              <% end %>
            </div>
          </div>
        </div>

        <div class='tags_and_share'>
          <ul class='tags'>
            <% if @affiche.tags.any? %>
              <li class='transparent'>Тэги:</li>
              <% @affiche.tags.each do |tag| %>
                <li><%= link_to(tag, affiches_path('tags[]' => tag)) %></li>
              <% end %>
              <li class='transparent'>
                <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :first) if can? :edit, @affiche %>
              </li>
            <% else %>
              <li class='transparent'>
                <span class='red'>Нет</span> тэгов
                <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :first) if can? :edit, @affiche %>
              </li>
            <% end %>
          </ul>
          <div class="votes">
            <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @affiche.model } %>
          </div>
          <div class='share'>
            <%= render :partial => 'commons/share_this' %>
          </div>
        </div>

        <% if @affiche.images.present? %>
          <div class='photogallery_header'>
            Фотографии
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :fourth) if can? :edit, @affiche %>
          </div>
          <div class='photogallery'>
            <ul>
              <% @affiche.images.each do |image| %>
                <li>
                  <%= resized_link_image(image, 124, 94) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <div class='photogallery_header'>
            <span class='red'>Нет</span> фотографий
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :fourth) if can? :edit, @affiche %>
          </div>
        <% end %>

        <% if @affiche.trailer_code.present? %>
          <div class='trailer_header'>
            Видео
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :fifth) if can? :edit, @affiche %>
          </div>
          <div class='trailer'>
            <%= @affiche.trailer_code_html %>
          </div>
        <% else %>
          <div class='trailer_header'>
            <span class='red'>Нет</span> видео
            <%= link_to 'изменить', edit_step_my_affiche_path(@affiche, step: :fifth) if can? :edit, @affiche %>
          </div>
        <% end %>

        <div class='sheduled'>
          <div class='head'>
            <h3 class='inline'>
              Ещё сеансы
              <%= link_to 'добавить', new_my_affiche_showing_path(@affiche) if can? :new, @affiche.showings.new %>
            </h3>
          </div>
        </div>

        <% if @affiche.viewable_showings? %>

          <% if @affiche.distribution_movie? %>

            <div class='distribution'>
              <ul class='dates'>
                <li class='first'>
                  <h3>Сеансы</h3>
                </li>
                <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
                  <% unless showings_with_place.values.blank? %>
                    <li class='text'>
                      <p class='date' data-id='date-<%= date %>'><%= showings_with_place.values.first.first.human_date %></p>
                      <p class='day_of_week'><%= l date, format: '%A' %></p>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <% @affiche.distribution_movie_grouped_showings.each do |date, showings_with_place| %>
                <div class='theaters' data-id='date-<%= date %>'>
                  <% showings_with_place.each do |place, showings| %>
                    <ul>
                      <li class='theater'>
                        <p class='name'><%= showings.first.place_decorator.link_short_title %></p>
                        <p class='address'><%= showings.first.place_decorator.address_link %></p>
                      </li>
                      <% showings.each_with_index do |showing, index| %>
                        <li class='seance<%= ' break' if index > 0 && index % 7 == 0 %>'>
                          <%= content_tag :p, showing.human_time_starts_at, :class => 'time' unless showing.human_time_starts_at.blank? %>
                          <%= content_tag :p, showing.human_price, :class => 'price' unless showing.human_price.blank? %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% elsif @affiche.scheduled_showings? %>
            <div class='sheduled'>
              <div class='head'>
                <h3>Расписание</h3>
                <div class='places'>
                  <% @affiche.places.each do |place| %>
                    <%= place.place %>
                  <% end %>
                </div>
              </div>
              <div class='shedule'>
                <div class='price'><strong>Стоимость:</strong> <%= @affiche.schedule.human_price %></div>
                <ul>
                  <% @affiche.schedule.days.each do |li| %>
                    <%= li %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% else %>
            <% @affiche.showings.group_by(&:place).each do |place, showings| %>
              <div class='many_showings'>
                <div class='head'>
                  <div class='places'>
                    <p>
                      <span class='name'><%= place.gilensize %></span>
                      <% if showings.first.latitude.present? && showings.first.longitude.present? %>
                        <span class='address'>
                          <a href='#' class='show_map_link'
                            data-hint='<%= place.text_gilensize %>'
                            data-latitude='<%= showings.first.latitude %>'
                            data-longitude='<%= showings.first.longitude %>'
                            <%= "data-id='#{showings.first.organization.id}'".html_safe if showings.first.organization.present? %>
                            title='Показать на карте'>показать на карте</a>
                        </span>
                      <% end %>
                    </p>
                  </div>
                </div>
                <ul>
                  <% showings.each do |showing| %>
                    <li>
                      <%= showing.for_schedule %>
                      <p class='edit'><%= link_to 'изменить', edit_my_affiche_showing_path(@affiche, showing) if can? :edit, showing %></p>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>

        <% end %>
      </div>

    </div>

    <div class='public_action'>
      <% if @affiche.draft? %>
        <h4>Публикация мероприятия</h4>
        <p>Для того, чтобы опубликовать созданное мероприятие, необходимо заполнить следующие поля:</p>
        <ul class='requirements'>
          <li class='<%= @affiche.title? ? 'enabled' : 'disabled' %>'>Название мероприятия</li>
          <li class='<%= @affiche.description? ? 'enabled' : 'disabled' %>'>Описание</li>
          <li class='<%= @affiche.poster_image_url? ? 'enabled' : 'disabled' %>'>Постер</li>
          <li class='<%= @affiche.showings.any? ? 'enabled' : 'disabled' %>'>Сеансы</li>
        </ul>

        <% if current_user.is_affiches_trusted_editor? %>
          <%= link_to t('my.send_to_public'), publish_my_affiche_path(@affiche), :method => :put, :class => "#{@affiche.ready_for_moderation? ? 'enabled' : 'disabled'}", :confirm => 'Вы уверены?' %>
        <% else %>
          <% if can? :send_to_moderation, @affiche %>
            <%= link_to t('my.send_to_public'), moderate_my_affiche_path(@affiche), :method => :put, :class => "#{@affiche.ready_for_moderation? ? 'enabled' : 'disabled'}", :confirm => 'Вы уверены? Отправляя афишу на публикацию вы больше не сможете ее редактировать пока она не будет опубликована!' %>
          <% end %>
        <% end %>
      <% else %>
        <h4>Опубликовано</h4>
      <% end %>
    </div>
  </div>

</div>
