<div class='form_view'>
  <%= simple_nested_form_for @coupon, :url => [:manage, @coupon], :html => { :novalidate => true }  do |f| %>
    <%= f.input :title %>
    <%= f.input :organization_id, :collection => Organization.grouped_collection_for_select, :selected => f.object.organization_id  %>
    <%= f.input :description %>
    <%= f.input :price_with_discount %>
    <%= f.input :price_without_discount %>
    <%= f.input :price %>
    <%= f.input :organization_quota %>
    <%  unless f.object.image_url? %>
      <%= f.input :image %>
    <% else %>
      <div class='input_with_image'>
        <%= image_tag f.object.image_url %>
        <%= link_to "удалить изображение", '#', class: :remove %>
        <%= f.input :image, wrapper_html: { class: :hidden } %>
      </div>
    <% end %>


    <div class="actions">
      <%= link_to "&larr; Назад".html_safe, :back %>
      <%= button_tag 'Сохранить'.html_safe %>
      <%= link_to 'Удалить'.html_safe, resource_path, method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
    </div>
  <% end %>
</div>
