<%= render :partial => 'kind_links' %>

<div class="new_link">
  <%= link_to t('new_coupon'), new_manage_coupon_path('coupon[vfs_path]' => Coupon.generate_vfs_path), :class => 'new_resource' %>
</div>

<ul class='collection'>
  <% collection.each do |item| %>
    <li>
      <%= link_to item.title, [:manage, item] %>
      <% if item.organization_id? %>
        <%= link_to item.organization, [:manage, item.organization] %>
      <% else %>
        <%= item.place %>
      <% end %>
    </li>
  <% end %>
</ul>

