<%= simple_form_for [:manage, @promotion] do |f| %>
  <%= f.input :url %>
  <div class="buttons">
    <%= f.submit 'Сохранить', :class => 'button' %>
    <%= link_to 'Отмена', :back %>
    <%= link_to 'Удалить', manage_promotion_path(@promotion), :method => :delete, :confirm => 'Вы точно хотите удалить?', :class => 'warn' if @promotion.persisted? %>
  </div>
<% end %>
