<h3>Promotion for <%= @promotion %></h3>

<h4>Places</h4>

<ul>
  <% @promotion.promotion_places.each do |promotion_place| %>
    <li>
      <h5><%= "Place ##{promotion_place.id}" %></h5>

      <ul>
        <% promotion_place.place_items.each do |place_item| %>
          <li>
            <%= place_item %>
            <%= link_to 'Edit', [:edit, :manage, place_item] %>
            <%= link_to 'Delete', [:manage, place_item], :confirm => 'Are you sure?', :method => :delete %>
          </li>
        <% end %>
      </ul>

      <div>
        <%= link_to 'New Item', new_manage_promotion_place_place_item_path(promotion_place) %>
      </div>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to 'New Place', new_manage_promotion_promotion_place_path(@promotion) %>
</div>

<div>
  <%= link_to 'Back to Promotions', manage_promotions_path %>
</div>
