<h1><%= @account %></h1>

<%= simple_form_for [:manage, :admin, @account] do |f| %>
  <%= f.input :badge, :as => :check_boxes %>

  <%= f.submit 'Применить' %>
  или <%= link_to 'Отмена', manage_admin_accounts_path %>
<% end %>
