<h5><%= @user.name %><h5>
<p>Id: <%= @user.id %></p>
<p>Name: <%= @user.name %></p>
<p>UID: <%= @user.uid %></p>
<p>Roles: <%= @user.roles.join(", ") %></p>
<p>Oauth: <%= @user.oauth_key %></p>
<%= link_to I18n.t("edit"), edit_manage_admin_user_path(@user) %>
<%= link_to I18n.t("delete"), manage_admin_user_path(@user),
    :method => :delete, data: { confirm: I18n.t("confirm_ask") }%>
<%= link_to I18n.t("back"), manage_admin_users_path %>
