<%= javascript_include_tag 'esp-ckeditor/application' %>
<%= javascript_include_tag 'manage/info_plugin/info_plugin' %>

<div class='form_view'>
  <%= simple_form_for @contest, :url => [:manage, @contest], :html => { :novalidate => true }  do |f| %>
    <%= f.input :vfs_path, :as => :hidden, :input_html => { :id => 'post_vfs_path' } %>
    <%= f.input :title %>
    <%= f.input :description, :as => :ckeditor, :label => false %>
    <%= f.input :starts_on, :as => :string, :as => :date_picker %>
    <%= f.input :ends_on, :as => :string, :as => :date_picker %>
    <div class="actions">
      <%= link_to "&larr; Назад".html_safe, :back %>
      <%= button_tag 'Сохранить'.html_safe %>
      <%= link_to 'Удалить'.html_safe, resource_path, method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
    </div>
  <% end %>
</div>
