<ul>
  <% resource.works.each do |work| %>
    <li>
      <%= link_to image_tag(resized_image_url(work.image_url, 100, 125), :size => '100x125'), [:edit, :manage, resource, work.becomes(Work)] %>
      <div>
        <span class="label">Название:</span>
        <% if work.title? %>
          <span class="value"><%= work.title %></span>
        <% else %>
          <span class="value">Не указано</span>
        <% end %>
      </div>

      <div>
        <span class="label">Описание:</span>
        <% if work.description? %>
          <span class="value"><%= simple_format work.description %></span>
        <% else %>
          <span class="value">Не указано</span>
        <% end %>
      </div>

      <div>
        <span class="label">Информация об авторе:</span>
        <% if work.author_info? %>
          <span class="value"><%= work.author_info %></span>
        <% else %>
          <span class="value">Не указано</span>
        <% end %>
      </div>

      <div>
        <span class="label">Автор:</span>
        <span class="value"><%= work.account.title %></span>
        <span class="value"><%= link_to('Профиль в социальной сети', work.account.link_to_social, :rel => 'nofollow', :target => '_blank') %> </span>
      </div>
      <div>
        <%= link_to 'Редактировать', [:edit, :manage, resource, work.becomes(Work)]  %>
      </div>
    </li>
  <% end %>
</ul>
