<div class='type'>
  <h3>
    Творческо-развивающее заведение
    <%= link_to t('edit'), edit_manage_organization_creation_path(creation.organization), :class => 'edit_link' %>
    <%= link_to t('add_image'), new_manage_creation_image_path(creation), :class => 'edit_link' %>
    <%= link_to t('delete'), manage_organization_creation_path(creation.organization), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>
  </h3>

  <div>
    <span class="label">Название:</span>
    <% if creation.title? %>
      <span class="value"><%= creation.title %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Категория:</span>
    <span class="value"><%= creation.category %></span>
  </div>

  <div>
    <span class="label">Описание:</span>
    <% if creation.description? %>
      <span class="value"><%= creation.description %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <span class="label">Услуги:</h4>
  <% if creation.services.any? %>
    <ul>
      <% creation.services.each do |service| %>
        <li><%= service.title %></li>
      <% end %>
    </ul>
  <% else %>
    <span class="blank">Не указано</span>
  <% end %>
  <div>
    <% creation.images.each do |image| %>
      <%= image_tag(resized_image_url(image.url, 100, 100, false), :alt => image.description, :title => image.description) %>
      <%= link_to "Удалить", manage_creation_image_path(creation, image), :method => :delete, :confirm => 'Вы уверены?' %>
    <% end %>
  </div>
</div>
