<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>

<h1><%= @map_project.title %></h1>
<%= link_to 'Редактировать', edit_manage_map_project_path(@map_project) %>
<%= link_to 'Удалить', manage_map_project_path(@map_project), method: 'DELETE', confirm: 'Вы уверены?' %>

<div class="map_project_wrapper">
  <%= link_to 'Новая метка', new_manage_map_project_map_placemarks_path(@map_project)  %>
  <div class="left">
    <ul>
      <% @map_project.map_layers.each do |map_layer| %>
        <li>
          <%= link_to map_layer.title,  manage_map_project_map_layer_path(@map_project, map_layer) %>
          (<%= link_to "Редактировать", edit_manage_map_project_map_layer_path(@map_project, map_layer) %>
          <%= link_to "Удалить", manage_map_project_map_layer_path(@map_project, map_layer), method: 'DELETE', confirm: 'Вы уверены?' %>)
        </li>
      <% end %>
    </ul>
    <%= link_to 'Новый слой', new_manage_map_project_map_layer_path(@map_project) %>
  </div>
  <div class="right">
    <div class="map_project_map" data-latitude='56.493246' data-longitude='84.982112'></div>
  </div>
  <div style="clear:both"> </div>
  <div class="placemarks_list">
     <% @map_project.map_layers.each do |map_layer|  %>
       <% map_layer.map_placemarks.each do |map_placemark| %>
         <p data-latitude='<%= map_placemark.latitude %>' data-longitude='<%= map_placemark.longitude %>'
           data-title='<%= map_placemark.title.as_html %>' data-image='<%= map_placemark.image_url %>'
           data-icon='<%= map_layer.image_url %>' data-address='<%= map_placemark.address %>'
           data-when='<%= map_placemark.when %>'>
           <%= link_to map_placemark.title, map_placemark.url %>
         </p>
       <% end %>
     <% end %>
  </div>

</div>
