<%= simple_form_for [:manage, @certificate] do |f| %>
  <%= f.input :title %>
  <%= f.input :kind, :as => :check_boxes %>
  <%= f.input :description %>
  <%= f.input :number %>
  <%= f.input :origin_price %>
  <%= f.input :discounted_price %>
  <%= f.input :discount %>
  <%= f.input :price %>
  <%= f.input :starts_at, :as => :date_picker %>
  <%= f.input :ends_at, :as => :date_picker %>
  <%= f.input :payment_system %>

  <div class="actions">
    <%= link_to "&larr; Назад".html_safe, :back %>
    <%= f.submit 'Сохранить' %>
    <%= link_to 'Удалить'.html_safe, manage_discount_path(resource), method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
  </div>
<% end %>
