<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    На сайте <%= link_to 'ЗнайГород', 'http://znaigorod.ru' %> пользователь <%= @feedback.fullname %> оставил вопрос:

    <p>
      <%= @feedback.message %>
    </p>

    Для связи с <%= @feedback.fullname %> используйте электронную почту: <%= mail_to @feedback.email, @feedback.email %>
  </body>
</html>
