<tr class="dashed_border">
  <td class="center" align="center">
    <center>

      <table id="content_row" class="row content_row">
        <tr align="left">
          <td align="left" valign="top">
            <table class="one columns">
              <tr align="left">
                <td align="left" valign="top">
                  <a href="<%= account_path vote.user.account, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email"  %>">
                    <img src="<%= resized_image_url(vote.user.account.avatar.url, 30, 30) %>" align="left" title="<%= vote.user.account.title %>" alt="<%= vote.user.account.title %>" />
                  </a>
                </td>
              </tr>
            </table>
          </td>
          <td class="without-padding" id="right_content" align="left" valign="top">
            <table class="nine columns">
              <tr align="left">
                <td class="line_height" align="left" valign="top">
                  <a href="<%= account_path vote.user.account, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email" %>"><%= vote.user.account.title %></a> <span><%= t "notice_mailer.liked_your_comment.#{vote.user.account.gender}" %> </span>

                  <% if vote.voteable.commentable.is_a?(Work) %>
                    <% if vote.voteable.commentable.title.present? %>
                      <%= link_to vote.voteable.commentable.title, contest_work_path(vote.voteable.commentable.contest, vote.voteable.commentable, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email") %>
                    <% else %>
                      <%= link_to vote.voteable.commentable.slug, contest_work_path(vote.voteable.commentable.contest, vote.voteable.commentable, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email") %>
                    <% end %>
                  <% end %>
                  <% %w[afisha discount organization post].each do |item| %>
                    <% if vote.voteable.commentable.is_a?(item.camelize.constantize) %>
                      <%= link_to vote.voteable.commentable.title, send("#{item}_path", vote.voteable.commentable, :only_path => false, :utm_campaign => "znaigorod", :utm_medium => "email", :utm_source => "email") %>
                    <% end %>
                  <% end %>

                </td>
              </tr>
              <tr align="left">
                <td id="time" class="line_height" align="left" valign="top">
                  <span id="time"><%= l(vote.created_at, format: "%d %B %Y, %k:%M") %></span>
                </td>
              </tr>
              <tr align="left">
                <td class="without-padding" align="left" valign="top">
                  <span><%= vote.voteable.body.truncated.as_html if vote.voteable.body? %></span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>

  </td>
</tr>
