<%= simple_nested_form_for [:manage, @discount] do |f| %>
  <% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>

  <%= render :partial => 'common_form', :locals => { :f => f, :resource => @discount } %>

  <%= f.input :kind, :as => :check_boxes %>
  <%= f.input :description, :required => true, :input_html => { :class => 'markitup' } %>

  <%= f.input :discount %>
  <%= f.input :discount_type, :label => false, :input_html => { class: 'select_type' }, :selected => 'percentages' %>
  <%= f.input :sale %>
  <%= f.input :constant %>
  <%= f.input :starts_at, :as => :date_picker %>
  <%= f.input :ends_at, :as => :datetime_picker %>

  <div class="actions">
    <%= link_to "&larr; Назад".html_safe, :back %>
    <%= f.submit 'Сохранить' %>
    <%= link_to 'Удалить'.html_safe, manage_discount_path(resource), method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
  </div>
<% end %>
