<%= simple_form_for [:manage, @discount] do |f| %>
  <%= f.input :title %>
  <%= f.input :organization_title, :input_html => { :class => 'autosuggest' } %>
  <%= f.input :organization_id, :as => :hidden, :input_html => { :class => 'autosuggest_target' } %>
  <%= link_to 'Удалить организацию', '#', :remote => true, :class => 'clear_autosuggest_link' unless resource.new_record? %>
  <%= f.input :kind, :as => :check_boxes %>
  <%= f.input :description %>
  <%= f.input :discount %>
  <%= f.input :constant %>
  <%= f.input :starts_at, :as => :date_picker %>
  <%= f.input :ends_at, :as => :date_picker %>

  <div class="actions">
    <%= link_to "&larr; Назад".html_safe, :back %>
    <%= f.submit 'Сохранить' %>
    <%= link_to 'Удалить'.html_safe, manage_discount_path(resource), method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
  </div>
<% end %>
