<div class="show discount">
  <h1><%= resource.title %></h1>
  <%= link_to "редактировать", [:edit, :manage, resource], :class => 'edit_link' unless resource.is_a?(AffiliatedCoupon) %>
  <%= link_to "посмотреть в публичном виде", discount_path(resource), :target => :_blank, :class => 'edit_link floatr' %>

  <div class="logo">
    <% if resource.poster_url? %>
      <%= image_tag(resized_image_url(resource.poster_url, 288, 215), :size => '288x215') %>
    <% else %>
      <%= image_tag 'public/stub_poster.png', size: '288x215' %>
    <% end %>
    <%= link_to 'изменить постер', poster_manage_discount_path(resource) %>
  </div>

  <div class="column">
    <div>
      <span class="label">Статус:</span>
      <span class="value">
        <%= resource.human_state_name %>
      </span>
      <%= render :partial => 'state_actions' %>
    </div>

    <div>
      <span class="label">Организация или место:</span>
      <% if resource.places.any? %>
        <span class="value"><%= resource.places.pluck(:address).uniq.join(', ') %></span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
      <span class="label">Мероприятие:</span>
      <% if resource.afisha %>
        <span class="value"><%= link_to resource.afisha.title, manage_afisha_path(resource.afisha) %></span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
      <span class="label">Описание:</span>
      <span class="value"><%= resource.html_description %></span>
    </div>

    <div>
      <span class="label">Тип:</span>
      <span class="value"><%= resource.kind.values.map(&:text).join(', ') %></span>
    </div>

    <% if resource.constant? %>
      <div>
        <span class="label">Постоянная скидка:</span>
        <span class="value">Да</span>
      </div>
    <% else %>

      <div>
        <span class="label">Дата начала:</span>
        <span class="value"><%= l resource.starts_at, :format => :short %></span>
      </div>

      <div>
        <span class="label">Дата окончания:</span>
        <span class="value"><%= l resource.ends_at, :format => :short %></span>
      </div>
    <% end %>

    <div>
      <span class="label">Скидка:</span>
      <span class="value"><%= resource.discount %>%</span>
    </div>

    <div>
      <span class="label">Цена без скидки:</span>
      <% if resource.origin_price? %>
        <span class="value"><%= resource.origin_price %></span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
      <span class="label">Цена со скидкой:</span>
      <% if resource.discounted_price? %>
        <span class="value"><%= resource.discounted_price %></span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
      <span class="label">Цена сертификата (купона):</span>
      <% if resource.price? %>
        <span class="value"><%= resource.price %></span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
      <span class="label">Количество сертификатов (купонов):</span>
      <% if resource.number? %>
        <span class="value"><%= resource.number %></span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
      <span class="label">Платежная система:</span>
      <% if resource.payment_system? %>
        <span class="value"><%= resource.payment_system_text %></span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
      <span class="label">Ссылка на источник:</span>
      <% if resource.origin_url? %>
        <span class="value"><%= link_to resource.origin_url, resource.origin_url, :target => :blank %></span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
      <span class="label">Коды:</span>
      <table class='tickets'>
        <% resource.copies.each do |copy| %>
          <tr>
            <td class='code'><%= copy.code %></td>
            <td class='phone'><%= copy.copy_payment ? copy.copy_payment.phone : '' %></td>
            <td class='state'><%= copy.state_text %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
