<div class="form_view vk_token">
  <h2></h2>
  <h1>Получение ВКонтакте-токена</h1>
  <%= simple_form_for [:manage, @vk_token], url: manage_create_vk_token_path do |f| %>
    <%= f.input :token %>
    <%= f.input :expires_in %>

    <div class="actions">
      <%= link_to "&larr; Назад".html_safe, :back %>
      <%= button_tag 'Сохранить'.html_safe %>
    </div>
  <% end %>
</div>
