<%= simple_form_for [parent, @offer], :remote => true, :html => { :class => 'new_lined_inputs', :validate => true } do |f| %>
  <%= f.input :name, :input_html => { :placeholder => 'Укажите имя', :autofocus => true } %>
  <%= f.input :phone, :input_html => { :placeholder => 'Укажите номер телефона' } %>
  <%= f.input :details, :input_html => { :placeholder => parent.placeholder } %>
  <%= f.input :amount %>

  <div class="submit">
    <%= f.submit 'Предложить' %>
  </div>
<% end %>
