<div class="logo">
  <% if resource.poster_url.present? %>
    <%= image_tag_for resource.poster_url, 290, 390 %>
  <% else %>
    <%= image_tag "stub.jpg", :width => '137', :height => '100', :alt => resource.title, :title => resource.title %>
  <% end %>
</div>

<div class="right_side">
  <div>
    <span class="label">Оригинальное название:</span>
    <% if resource.original_title.present? %>
      <span class="value"><%= resource.original_title %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Тип события:</span>
    <% if resource.type.present? %>
      <span class="value"><%= resource.class.model_name.human %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Описание:</span>
    <% if resource.description? %>
      <span class="value"><%= resource.html_description %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Тэги:</span>
    <% if resource.tag.present? %>
      <span class="value"><%= resource.tags.join(', ') %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Начало проката:</span>
    <% if resource.distribution_starts_on? %>
      <span class="value"><%= l(resource.distribution_starts_on, :format => '%e %B') %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Окончание проката:</span>
    <% if resource.distribution_ends_on? %>
      <span class="value"><%= l(resource.distribution_ends_on, :format => '%e %B') %></span>
    <% else %>
      <span class="blank">Не указано</span>
    <% end %>
  </div>

  <div>
    <span class="label">Постоянная экспозиция:</span>
    <% if resource.constant? %>
      <span class="value">Да</span>
    <% else %>
      <span class="blank">Нет</span>
    <% end %>
  </div>
</div>

<div style='clear:both;'>
  <h3>
    Видеоролик
  </h3>
  <% if resource.trailer_code.present? %>
    <span class="value">
      <%= auto_html(resource.trailer_code) { youtube(:width => 740, :height => 450); link :target => "_blank", :rel => "nofollow"; simple_format } %>
    </span>
  <% else %>
    <span class="blank">Нет видеоролика</span>
  <% end %>
</div>

<div class='images'>
  <h3>
    Галерея изображений
    <%= link_to "Добавить изображение", new_manage_affiche_image_path(resource), :class => 'edit_link'  %>
  </h3>
  <% if resource.images.any? %>
    <span class="value">
      <ul>
        <% resource.images.each do |image| %>
          <li>
            <%= image_tag image.url, :alt => image.description, :title => image.description %>
            <%= link_to "Удалить", manage_affiche_image_path(resource, image), :method => :delete, :confirm => 'Вы уверены?' %>
            <%= link_to 'Редактировать', edit_manage_affiche_image_path(resource, image) %>
          </li>
        <% end %>
      </ul>
    </span>
  <% else %>
    <span class="blank">Нет изображений</span>
  <% end %>
</div>

<div class='attachments'>
  <h3>
    Прикрепленные файлы
    <%= link_to "Добавить файл", new_manage_affiche_attachment_path(resource), :class => 'edit_link'  %>
  </h3>
  <% if resource.attachments.any?  %>
    <span class="value">
      <ul>
        <% resource.attachments.each do |attachment| %>
          <li>
            <%= link_to attachment.description, attachment.url %>
            <%= link_to "Удалить", manage_affiche_attachment_path(resource, attachment), :method => :delete, :confirm => 'Вы уверены?' %>
            <%= link_to 'Редактировать', edit_manage_affiche_attachment_path(resource, attachment) %>
          </li>
        <% end %>
      </ul>
    </span>
  <% else %>
    <span class="blank">Нет файлов</span>
  <% end %>
</div>

<% if resource.affiche_schedule.present? %>
  <div>
    <h3>Расписание:</h3>
    <div class="date_range">
      <div class='preposition'>С</div>
      <div class="date_box">
        <%= l(resource.affiche_schedule.starts_on, :format => "%B %d").split.each_with_index.map{|d, i| content_tag(:span, d, :class => "date_#{i}")}.join.html_safe %>
      </div>
      <div class='preposition'>по</div>
      <div class="date_box">
        <%= l(resource.affiche_schedule.ends_on, :format => "%B %d").split.each_with_index.map{|d, i| content_tag(:span, d, :class => "date_#{i}")}.join.html_safe %>
      </div>
    </div>

    <div>
    	<span class="label">Время работы:</span>
        <span class="value"><%= [resource.affiche_schedule.starts_at, resource.affiche_schedule.ends_at].map{|t| l(t, :format => "%H:%M")}.join(' &mdash; ').html_safe %></span>
    </div>

    <div>
      <span class="label">Выходные дни:</span>
      <% if resource.affiche_schedule.holidays.any? %>
        <span class="value">
          <%= resource.affiche_schedule.holidays.map{|h| t('date.standalone_day_names')[h]}.join(', ') %>
        </span>
      <% else %>
        <span class="blank">Не указано</span>
      <% end %>
    </div>

    <div>
        <span class="label">Место проведения:</span>
        <% if resource.affiche_schedule.place.present? %>
          <span class="value">
            <%= [resource.affiche_schedule.place, resource.affiche_schedule.hall].join(', ') %>
          </span>
        <% else %>
          <span class="blank">Не указано</span>
        <% end %>
      </div>

    <div>
      <span class="label">Цена:</span>
      <span class="value">
        <%= [resource.affiche_schedule.price_min, resource.affiche_schedule.price_max].map{|p| number_to_currency(p, :precision => 0)}.join(' &mdash; ').html_safe %>
      </span>
    </div>
  </div>
<% else %>
  <div class='seances'>
    <h3>Сеансы:</h3>
    <% if resource.showings.any? %>
      <% resource.showings.reverse.group_by(&:starts_on).each do |date, showings| %>
        <div class='seanses_for_a_day'>
          <div class="date_box">
            <%= l(date, :format => "%B %d").split.each_with_index.map{|d, i| content_tag(:span, d, :class => "date_#{i}")}.join.html_safe %>
          </div>

          <ul>
            <% showings.reverse.each do |showing| %>
              <li <%= "class=gone" if DateTime.now >= showing.starts_at && (showing.ends_at.present? ? DateTime.now >= showing.ends_at : true) %>>
                <div class='time'><%= l showing.starts_at, :format => "%H:%M" %></div>
                <div class="place">
                  <% if showing.organization_id.present? %>
                    <%= link_to showing.organization, [:manage, showing.organization] %>
                  <% else %>
                    <%= showing.place %>
                  <% end %>
                </div>
                <div class="hall">
                  <%= showing.hall %>
                </div>
                <div class="price">
                  <%= "#{showing.price_min} &mdash; #{showing.price_min}".html_safe %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% else %>
      <span class="blank">Нет мероприятий</span>
    <% end %>
  </div>
<% end %>
