<div class="description">
  <h2><%= resource.title %></h2>

  <div class="poster">
    <%= image_tag_for(resource.poster_url, 290, 390, true) %>
    <%= resource.image_url %>
  </div>

  <div class="info">
    <div class="story">
      <%= raw RedCloth.new(resource.description).to_html %>
    </div>

    <div class="meta">
      <div class="tags">
        <ul>
          <% resource.tags.split(', ').flatten.each do |tag| %>
            <li><%= link_to tag, affiches_path('search[tags][]' => tag) %></span></li>
          <% end %>
        </ul>
      </div>

      <% if resource.affiche_schedule %>
        <div class="showing_wrapper">
          <ul>
            <li><strong>Место проведения:</strong> <%= resource.affiche_schedule.place %></li>
            <li><strong>Зал:</strong> <%= resource.affiche_schedule.hall %></li>
            <li>
              <strong>Время проведения:</strong>
              <%= l resource.affiche_schedule.starts_on %>, <%= l resource.affiche_schedule.starts_at, :format => '%H:%M' %>
              &mdash;
              <%= l resource.affiche_schedule.ends_on %>, <%= l resource.affiche_schedule.ends_at, :format => '%H:%M' %>
            </li>
            <li><strong>Выходные:</strong> <%= resource.affiche_schedule.holidays %></li>
            <li>
              <strong>Стоимость:</strong>
              <%= resource.affiche_schedule.price_min %> &mdash; <%= resource.affiche_schedule.price_max %>
            </li>
        </ul>
        </div>
      </div>

    <% else %>
      <%= resource.showings %>
    <% end %>

    <% if resource.images.any? %>
      <h4>Фотографии:</h4>
      <ul>
        <% resource.images.each do |image| %>
          <li><%= image_tag_for image.url, 600, 400 %></li>
        <% end %>
      </ul>
    <% end %>

    <% if resource.attachments.any? %>
      <h4>Прикрепленные файлы</h4>
      <ul>
        <% resource.attachments.each do |attachment| %>
          <li><%= link_to attachment.description, attachment.url %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
