<%= f.input :title %>

<div class="row-fluid">
  <%= f.input :description, :wrapper_html => {:class => 'span6'}, :input_html => { :class => 'description span12' } %>

  <div class="red_cloth span6">
    <%= f.object.description? ? RedCloth.new(f.object.description).to_html.html_safe : '' %>
  </div>
</div>

<%= f.input :tag %>

<%= yield :additional_fields %>

<div>
  <%= link_to 'Добавить постер', '#', :class => 'choose_file', :id => 'poster_wrapper', :params => "vfs_path=#{resource.vfs_path}" %>
  <%= f.input :poster_url, :input_html => { :id => 'poster_url' } %>
  <%= image_tag_for resource.poster_url, 290, 390 if resource.poster_url? %>
</div>

<div>
  <%= link_to 'Добавить изображение для главной страницы', '#', :class => 'choose_file', :id => 'image_wrapper', :params => "vfs_path=#{resource.vfs_path}" %>
  <%= f.input :image_url, :input_html => { :id => 'image_url' } %>
  <%= image_tag_for resource.image_url, 653, 363 if resource.image_url? %>
</div>

<%= f.hidden_field :vfs_path %>

<%= field_set_tag "<i class='icon-resize-full' style='margin: 5px 5px 0 0'></i>#{t('simple_form.fieldset.showings')}".html_safe do %>
  <%= f.simple_fields_for :showings %>
  <%= f.link_to_add t('add_showing'), :showings %>
<% end %>

<%= field_set_tag "<i class='icon-resize-full' style='margin: 5px 5px 0 0'></i>#{t('simple_form.fieldset.affiche_schedule')}".html_safe do %>
  <% f.object.build_affiche_schedule unless f.object.affiche_schedule %>
  <%= f.simple_fields_for :affiche_schedule do |f| %>
    <%= f.input :starts_on,
                :as => :string,
                :input_html => { :class => 'span2', :value => f.object.starts_on ? f.object.starts_on : '' } %>
    <%= f.input :ends_on,
                :as => :string,
                :input_html => { :class => 'span2', :value => f.object.ends_on ? f.object.ends_on : '' } %>
    <%= f.input :starts_at, :as => :string, :input_html => { :class => 'span2', :value => f.object.starts_at ? l(f.object.starts_at, :format => '%H:%M') : '' } %>
    <%= f.input :ends_at, :as => :string, :input_html => { :class => 'span2', :value => f.object.ends_at ? l(f.object.ends_at, :format => '%H:%M') : '' } %>
    <%= f.input :place %>
    <%= f.link_to_remove t('remove_affiche_schedule') %>
  <% end %>
<% end %>
