<%= f.input :title %>
<%= f.input :description %>

<%= link_to 'Добавить постер', '#', :class => 'add_poster', :id => 'poster_wrapper' %>
<%= f.input :poster_url, :input_html => { :id => 'file_url' } %>
<%= poster_image_tag_for resource, 290, 390 if resource.poster_url? %>
<div class='poster_wrapper'></div>

<%= field_set_tag "<i class='icon-resize-full' style='margin: 5px 5px 0 0'></i>#{t('simple_form.fieldset.showings')}".html_safe do %>
  <%= f.simple_fields_for :showings %>
  <%= f.link_to_add t('add_showing'), :showings %>
<% end %>

