<ul>
  <li><%= link_to 'Добавить кино', new_manage_movie_path %></li>
  <li><%= link_to 'Добавить концерт', new_manage_concert_path %></li>
  <li><%= link_to 'Добавить выставку', new_manage_exhibition_path %></li>
  <li><%= link_to 'Добавить спектакль', new_manage_spectacle_path %></li>
  <li><%= link_to 'Добавить вечеринку', new_manage_party_path %></li>
  <li><%= link_to 'Добавить спортивное мероприятие', new_manage_sports_event_path %></li>
</ul>
