<h3>Статистика Яндекс.Метрика (количество просмотров)</h3>
<table>
  <tbody>
    <% @statistics_presenter.affiches_with_page_views.each do |affiche| %>
      <tr>
        <td>
          <%= link_to image_tag(resized_image_url(affiche.poster_url, 25, 40, false)), affiche.kind_affiche_path  %>
        </td>
        <td>
          <%= link_to affiche.title, affiche.kind_affiche_path  %>
        </td>
        <td>
          <%= affiche.yandex_metrika_page_views %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Статистика Вконтакте (количество лайков)</h3>
<table>
  <tbody>
    <% @statistics_presenter.affiches_with_likes.each do |affiche| %>
      <tr>
        <td>
          <%= link_to image_tag(resized_image_url(affiche.poster_url, 25, 40, false)), affiche.kind_affiche_path  %>
        </td>
        <td>
          <%= link_to affiche.title, affiche.kind_affiche_path  %>
        </td>
        <td>
          <%= affiche.vkontakte_likes %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


