<%= simple_nested_form_for [:manage, @organization, context_type, resource], :html => { :novalidate => true } do |f| %>
  <%= f.input :title %>
  <%= f.input :capacity %>
  <%= f.input :rooms_count %>
  <%= f.input :feature_list, :as => :check_boxes, :collection => f.object.available_features, :checked => f.object.features %>
  <%= f.input :description %>
  <%= render :partial => 'virtual_tour_form_fields', :locals => { :f => f } %>
  <div>
    <%= f.simple_fields_for :prices do |pf| %>
      <%= pf.input :day_kind, :as => :select %>
      <%= pf.input :value %>
      <%= pf.input :max_value %>
      <%= pf.link_to_remove t('remove_price'), :class => 'remove_price' %>
    <% end %>
    <%= f.link_to_add t('add_price'), :prices, :class => 'add_price' %>
  </div>
  <%= f.submit %>
<% end %>
