<div class="room_info">
  <h1><%= @room.title.present? ? @room.title : "Без названия" %> (<%= @room.context.organization.title %>)</h1>

  <div class="columns_wrapper">

    <div class="column">

      <p class="actions">
        <%= link_to 'Назад', manage_organization_path(@room.context.organization) %>
        <%= link_to t('edit'), [:edit, :manage, @room.context.organization, @room.context.class.name.underscore.to_sym, @room], :class => 'edit_link' %>
        <%= link_to t('delete'), [:manage, @room.context.organization, @room.context.class.name.underscore.to_sym, @room], :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>
      </p>

      <div class="details">
        <% %w[capacity rooms_count feature description].each do |attribute| %>
          <% if resource.respond_to?(attribute) %>
            <div>
              <span class="label"><%= resource.class.human_attribute_name(attribute) %>:</span>
              <% if resource.send(attribute).present? %>
                <span class="value"><%= resource.send(attribute) %></span>
              <% else %>
                <span class="blank">Не указано</span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="prices_list">
        <h4>Цены по дням недели:</h4>
        <ul class="prices">
          <% @room.prices.ordered.each do |price| %>
            <li>
              <span class='day_kind label'><%= price.day_kind_text %>:</span>
              <span class='price'><%= price.price_value %></span>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="images">
        <h3>Галерея изображений</h3>

        <div class="gallery_images">
          <span class="value">
            <ul>
              <%= render resource.gallery_images %>
            </ul>
          </span>
        </div>

        <%= simple_form_for resource.gallery_images.new, :url => manage_organization_room_gallery_images_path(@organization, resource.id), :html => { :multipart => true, :class => 'file_upload' } do |f| %>
          <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_images[file]' } %>
      <% end %>
      </div>

      <div class="upload_wrapper">
        <script id="template-upload" type="text/x-tmpl">
          <div class="upload">
            {%=o.name%}
            <div class="progress"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
      </div>
    </div>
  </div>
</div>
