<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>

<div class="map_projects_wrapper">
  <div class="map_projects_content">
    <div class="map_projects_header">
    <h1 class="lobster_font">Отдых в новогодние праздники</h1>
    </div>
    <div class="map_projects_main clearfix1">
      <div class="other_wrapper">
        <div class="text_block">
          Тут какой-то текст
        </div>
        <div class="left_image">
          <%= image_tag asset_path('public/map_projects/left.png') %>
        </div>
        <div class="right_image">
          <%= image_tag asset_path('public/map_projects/right.png') %>
        </div>
      </div>

      <div class="placemarks_list">
        <% resource.map_placemarks.each do |map_placemark| %>
          <p data-latitude='<%= map_placemark.latitude %>' data-longitude='<%= map_placemark.longitude %>'
            data-title='<%= map_placemark.title.as_html %>' data-image='<%= map_placemark.image_url %>'
            data-icon='<%= resource.image_url %>' data-address='<%= map_placemark.address %>'
            data-when='<%= map_placemark.when %>'>
            <%= link_to map_placemark.title, map_placemark.url %>
          </p>
        <% end %>
      </div>

      <div class="left">
        <ul>
          <li class="<%= controller_name == 'map_projects' ? 'selected' : ''%> ">
            <span class='icon'></span>
            <span class='title'>
              <%= link_to 'Все слои', new_year_2015_path %>
            </span>
          </li>
          <% resource.map_project.map_layers.each do |map_layer| %>
            <li class="<%= map_layer.slug == params[:id] ? 'selected' : ''%>">
              <span class='icon'><%= image_tag map_layer.image_url %></span>
              <span class='title'>
                <%= link_to map_layer.title, new_year_2015_layers_path(map_layer) %>
              </span>
            </li>
          <% end %>
        </ul>

        <div class="actual_reviews">
          <a href='#actual_reviews'>Актуальные обзоры</a>
          <span class='icon'></span>
          <span class="title">Актуальные обзоры</span>
        </div>

      </div>
      <div class="right">
        <div class="map_wrapper">
          <div class="map" data-latitude='56.493246' data-longitude='84.982112'></div>
        </div>
      </div>
    </div>
    <div class="map_project_reviews">
      <div class="likes">
        <%= render :partial => 'commons/like_this', :locals => { :url => request.url.split('?').first } %>
      </div>
      <div class="reviews_title">
        Обзоры
      </div>
      <a name='actual_reviews'></a>
      <div class='suborganization_info related-reviews'>
        <ul class='posters js-isotoped-content' data-item-width="220">
          <%= render :partial => 'reviews/posters', :locals => { :collection => @reviews, :height => '120', :width => '184' } %>
        </ul>
      </div>
    </div>
  </div>
</div>
