<div class="item">
  <div class="avatar">
    <%= link_to account_path(message.producer) do %>
      <%= image_tag(resized_image_url(message.producer.avatar.url, 35, 35), size: '35x35', title: message.producer, alt: message.producer) %>
    <% end %>
  </div>
  <div class="body">
    <%= link_to message.producer, account_path(message.producer) %>
    <span>
      <%= message.kind_text %>
      <%= t 'bet.tickets', :count => message.messageable.number %> за <%= message.messageable.amount %> руб. на
    </span>
    <%= link_to(message.messageable.afisha.title, polymorphic_path([message.messageable.afisha, :show])) %>
    <span>(<%= Bet.human_state_name message.messageable.state %>)</span>

    <div class="date">
      <%= time_ago_in_words(message.created_at) %> назад
    </div>
  </div>

  <% unless message.messageable.paid? %>
    <div class="bet_actions">
      <% if message.auction_bet? && message.messageable.fresh? %>
        <%= link_to Bet.human_state_event_name(:approve),
          approve_my_afisha_bet_path(message.messageable.afisha, message.messageable, :message_id => message.id),
          :method => :put, class: 'bet', remote: true %>

        <%= link_to Bet.human_state_event_name(:cancel),
          cancel_my_afisha_bet_path(message.messageable.afisha, message.messageable, :message_id => message.id),
          :method => :put, class: 'bet', remote: true %>
      <% end %>

      <% if message.auction_bet_approve? %>
        <%= link_to 'Купить', new_my_afisha_bet_bet_payment_path(message.messageable.afisha, message.messageable), remote: true, class: 'bet' %>
      <% end %>
    </div>
  <% else %>
    <% if message.auction_bet_pay? %>
      <div class="codes">
        Коды для входа: <%= message.messageable.codes.join(', ') %>
      </div>
    <% end %>
  <% end %>
</div>
