<div class="item">
  <div class="avatar">
    <%= link_to account_path(message.messageable.account) do %>
      <%= image_tag(resized_image_url(message.messageable.account.avatar.url, 35, 35), size: '35x35', title: message.messageable.account, alt: message.messageable.account) %>
    <% end %>
  </div>
  <div class="body">
    <%= link_to message.messageable.account, account_path(message.messageable.account) %>
    <span>
      <%= message.kind_text %>
      <%= t 'bet.tickets', :count => message.messageable.number %> за <%= message.messageable.amount %> руб. на
    </span>
    <%= link_to(message.messageable.afisha.title, polymorphic_path([message.messageable.afisha, :show])) %>
    <span>(<%= Bet.human_state_name message.messageable.state %>)</span>

    <div class="date">
      <%= time_ago_in_words(message.created_at) %> назад
    </div>
  </div>

  <% unless message.messageable.paid? %>
    <div class="bet_actions">
      <% if message.auction_bet? && message.messageable.fresh? %>
        <%= link_to Bet.human_state_event_name(:approve), approve_my_afisha_bet_path(message.messageable.afisha, message.messageable), :method => :put, class: 'bet' %>
        <%= link_to Bet.human_state_event_name(:cancel), cancel_my_afisha_bet_path(message.messageable.afisha, message.messageable), :method => :put, class: 'bet' %>
      <% end %>

      <% if message.auction_bet_approve? %>
        <%= link_to 'Купить', new_my_afisha_bet_bet_payment_path(message.messageable.afisha, message.messageable), remote: true, class: 'bet' %>
      <% end %>
    </div>
  <% end %>
</div>
