<div class="item">
  <div class="avatar">
    <%= link_to account_path(message.producer) do %>
      <%= image_tag(resized_image_url(message.producer.avatar.url, 35, 35), size: '35x35', title: message.producer, alt: message.producer) %>
    <% end %>
  </div>

  <div class="body">
    <%= link_to message.producer, message.producer %>
    <span><%= t "notification_message.#{message.kind}.#{message.producer.gender}" %>:</span>
    <%= message.messageable.parent.body if message.kind.reply_on_comment? %>
    <span>к
      <% if message.messageable.commentable.is_a?(Afisha) %>
        <%= link_to(message.messageable.commentable.title, polymorphic_path([message.messageable.commentable, :show], anchor: "comment_#{message.messageable.id}")) %>
      <% elsif message.messageable.commentable.is_a?(Work) %>
        <%= link_to message.messageable.commentable.title, polymorphic_path([message.messageable.commentable.contest, message.messageable.commentable], anchor: "comment_#{message.messageable.id}") %>
      <% elsif message.messageable.commentable.is_a?(Discount) or message.messageable.commentable.is_a?(Certificate) or message.messageable.commentable.is_a?(Coupon) %>
        <%= link_to(message.messageable.commentable.title, discount_path(message.messageable.commentable, anchor: "comment_#{message.messageable.id}")) %>
      <% else %>
        <%= link_to(message.messageable.commentable.title, polymorphic_path(message.messageable.commentable, anchor: "comment_#{message.messageable.id}")) %>
      <% end %>
      <p><%= message.messageable.body %></p>
    </span>

    <div class="date">
      <%= time_ago_in_words(message.created_at) %> назад
    </div>
  </div>
</div>
