<li class="ajax_message_status <%= message.state %> message_<%= message.id %>"
  data-counter="<%= current_user.account.messages.with_state(:new).count %>"
  data-messages="<%= current_user.account.messages.count %>">
  <%= render partial: 'my/messages/afisha_message', locals: { message: message } if message.messageable.is_a?(Afisha) %>
  <%= render partial: 'my/messages/comment_message', locals: { message: message } if message.messageable.is_a?(Comment) %>
  <%= render partial: 'my/messages/friend_message', locals: { message: message } if message.messageable.is_a?(Friend) %>
  <%= render partial: 'my/messages/visit_message', locals: { message: message } if message.messageable.is_a?(Visit) %>
  <%= render partial: 'my/messages/vote_message', locals: { message: message } if message.messageable.is_a?(Vote) %>

  <%= link_to 'read', change_status_my_message_path(message), method: :put, remote: true, class: 'change_message_status #{message.status}' %>
</li>
