<li class="ajax_message_status <%= message.state %> message_<%= message.id %>"
  data-account_id="<%= message.account_id %>"
  data-counter="<%= current_user.account.messages.unread.count %>"
  data-messages="<%= current_user.account.messages.count %>"
  data-dialog_counter="<%= current_user.account.private_messages.unread.count %>"
  data-invite_counter="<%= current_user.account.invite_messages.unread.count %>"
  data-notification_counter="<%= current_user.account.notification_messages.unread.count %>">

  <%= render :partial => "my/messages/#{message.messageable.class.name.underscore}_message",
   :locals => { :message => message } if message.messageable %>

  <%= link_to 'read', change_status_my_notification_message_path(message), method: :put, remote: true, class: "change_message_status #{message.state}" %>
</li>
