<div class="item">
  <div class="avatar">
    <%= image_tag(resized_image_url(message.producer.avatar.url, 35, 35), size: '35x35') %>
  </div>

  <div class="body">
    <%= link_to message.producer, message.producer %>
    <span><%= message.kind_text %>:</span>
    <%= link_to(message.messageable.visitable.title, polymorphic_path([message.messageable.visitable, :show])) %>

    <div class="date">
      <%= time_ago_in_words(message.created_at) %> назад
    </div>
  </div>
</div>
