<h3>Обзор на главной странице <%= "№#{@main_page_review.position}" %></h3>

<%= simple_form_for [:manage, @main_page_review] do |f| %>
  <div>
    <%= label_tag :q, 'Поиск обзора' %>
    <%= text_field_tag :main_page_reviews_autocomplete,
      nil,
      :class => 'js-main_page_reviews_autocomplete main_page_reviews_autocomplete',
      :placeholder => 'Введите название обзора',
      :data => { 'autocomplete-source' => manage_main_page_reviews_path, :target => '#main_page_poster_afisha_id' } %>

    <%= f.input :review_id, :as => :hidden %>
  </div>

  <%= f.input :expires_at, :as => :datetime_picker %>

  <%= f.submit 'Сохранить' %> или <%= link_to 'Отмена', manage_main_page_reviews_path %>
<% end %>
