<%= simple_form_for @account, as: :account, url: my_account_path do |f| %>
  <div class="properties_place">
    <div class="line">
      <span>Пол</span>
      <%= f.input :gender, label: false, as: :select, include_blank: false %>
    </div>
    <div class="line">
      <span>Дата рождения</span>
      <%= f.input :birthday, label: false, as: :date_picker %>
    </div>
    <div class="line">
      <span>E-mail</span>
      <%= f.input :email, label: false, as: :string, :input_html => {:size => 30} %>
    </div>
  </div>
  <div class="email_notifications">
    <h3>Присылать уведомления на E-mail</h3>
    <div class="email_notifications_form">
      <%= f.simple_fields_for :account_settings do |s| %>
        <ul>
          <% [
            :afishas_statistics,
            :personal_invites,
            :discounts_statistics,
            :personal_messages,
            :comments_to_afishas,
            :comments_answers,
            :comments_to_discounts,
            :comments_likes
          ].each do |item| %>
          <li>
            <%= s.input item, :wrapper => :checkbox %>
          </li>
        <% end %>
      </ul>
        <% end %>
    </div>
  </div>
  <div class="button_place">
    <%= f.submit 'Сохранить', class: :properties_submit %>
  </div>
<% end %>

