<div class="messages header">
  Сообщения
</div>

<div id="messages_filter">
  <ul>
    <li><%= link_to t('dialogs', count: current_user.account.private_messages.unread.to(current_user.account).count), '#dialogs', class: 'dialogs' %></li>
    <li><%= link_to t('invites', count: current_user.account.received_invite_messages.unread.count), '#invites', class: 'invites' %></li>
    <li><%= link_to t('notifications', count: current_user.account.notification_messages.unread.count), '#notifications', class: 'notifications' %></li>
  </ul>

  <div id="dialogs" class="list">
    <%= render partial: 'my/dialogs/messages', locals: { collection: @dialogs } %>
  </div>


  <div id="invites" class='list'>
    <%= render file: 'my/invite_messages/index' %>
  </div>

  <div id="notifications" class="list">
    <%= render partial: 'my/messages/messages', locals: { collection: @notification_messages } %>
  </div>
</div>
