<div class="messages header">
  Сообщения
</div>

<div id="messages_filter">
  <ul>
    <% if @account.messages.unread.any? %>
      <li>
        <%= link_to "#new" do %>
          Новые <span class="counter">(<%= @account.messages.unread.count %>)</span>
        <% end %>
      </li>
    <% end %>
    <li><%= link_to t('notifications'), '#notifications' %></li>
  </ul>

  <% if @account.messages.unread.any? %>
    <div id="new">
      <div class="messages list">
        <%= render partial: 'messages_list', locals: { collection: @account.messages.unread } %>
      </div>
    </div>
  <% end %>
  <div id="notifications">
    <div class="messages list">
      <%= render partial: 'messages_list', locals: { collection: @account.messages } %>
    </div>
  </div>
</div>
