<div class="account_show">
  <div class="left">
    <div class="image">
      <%= image_tag(resized_image_url(@account.avatar.url, 200, 200), size: '200x200', title: @account.title, alt: @account.title) %>
      <%= render 'form' %>
    </div>
    <h1><%= @account.title %></h1>

    <div class="social_actions">
      <% if @friends.any? %>
        <div class="friends_counter">
          <div class="floatl">Друзья</div>
          <div class="floatr"><%= t('account_friends', count: @friends.total_count) %></div>
        </div>
        <div class="friends list">
          <ul class="avatars">
            <%= render partial: 'friends/account_friends', locals: { collection: @friends } %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right">
    <%= render 'messages' if @notification_messages.any? || @dialogs.any? %>
    <%= render 'accounts/events' if @events.any? %>

    <% if @votes.any? %>
      <div class="votes header">
        Нравится
      </div>
      <div class="votes list">
        <ul>
          <%= render 'accounts/votes' %>
        </ul>
      </div>
    <% end %>

    <% if @comments.any? %>
      <div class="comments header">
        Комментарии
      </div>
      <div class="comments list">
        <ul>
          <%= render 'accounts/comments' %>
        </ul>
      </div>
    <% end %>

  </div>
</div>
