<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>
<div class="account_show">
  <div class="left">
    <div class="image">
      <%= image_tag(resized_image_url(current_user.account.avatar.url, 200, 200), size: '200x200', alt: current_user.account.title) %>
      <%= render 'my/accounts/avatar_form' %>
    </div>
    <div class="properties">
      <%= link_to t("edit_profile"), edit_my_account_path %>
    </div>
    <div class="social_actions">
      <div class="user_menu">
        <div class="feeds_filter">
          <div class="all_feeds <%= "selected" if params[:action] == "show" && params[:controller] == "my/accounts" && (params[:activity].nil? || params[:activity] == "all") %>">
            <%= link_to content_tag(:span, 'Активность', :class => :menu_text), my_account_path() %>
          </div>
          <div class="sub_filter">
            <div class="my_feeds <%= "selected" if params[:activity].present? && params[:activity] == "my" %>">
              <%= link_to content_tag(:span, 'Моя активность', :class => :menu_text), my_account_path(:activity => "my") %>
            </div>
            <div class="friends_feeds <%= "selected" if params[:activity].present? && params[:activity] == "friends" %>">
              <%= link_to content_tag(:span, 'Активность моих друзей', :class => :menu_text), my_account_path(:activity => "friends") %>
            </div>
          </div>
          <div class="show_button <%= "selected" if params[:controller] == "my/dialogs" %>">
            <a href="<%= my_dialogs_path() %>">
              <% if current_user.account.private_messages.unread.to(current_user.account).count > 0 %>
                <span id="dialogs_counter">+<%= current_user.account.private_messages.unread.to(current_user.account).count %></span>
              <% end %>
              <span class="menu_text">Диалоги</span>
            </a>
          </div>
          <div class="show_button <%= "selected" if params[:controller] == "my/notification_messages" %>">
            <a href="<%= my_notification_messages_path() %>">
              <% if current_user.account.notification_messages.unread.count > 0 %>
                <span id="afisha_counter">+<%= current_user.account.notification_messages.unread.count %></span>
              <% end %>
              <span class="menu_text">Уведомления</span>
            </a>
          </div>
          <div class="show_button <%= "selected" if params[:controller] == "my/invite_messages" %>">
            <a href="<%= my_invite_messages_path() %>">
              <% if current_user.account.received_invite_messages.unread.count > 0 %>
                <span id="afisha_counter">+<%= current_user.account.received_invite_messages.unread.count %></span>
              <% end %>
              <span class="menu_text">Приглашения</span>
            </a>
          </div>
          <div class="show_friends <%= "selected" if params[:controller] == "my/friends" %>">
            <a href="<%= my_account_friends_path() %>">
              <span id="friends_counter"><%= current_user.account.friends_count %></span>
              <span class="menu_text">Друзья</span>
            </a>
          </div>
          <div class="show_button <%= "selected" if params[:controller] == "my/afishas" %>">
            <a href="<%= my_afisha_index_path() %>">
              <% if current_user.account.afisha.count > 0 %>
                <span id="afisha_counter"><%= current_user.account.afisha.count %></span>
              <% end %>
              <span class="menu_text">Мои афиши</span>
            </a>
          </div>
          <div class="show_button <%= "selected" if params[:controller] == "my/discounts" %>">
            <a href="<%= my_discounts_path() %>">
              <% if current_user.account.discounts.count > 0 %>
                <span id="afisha_counter"><%= current_user.account.discounts.count %></span>
              <% end %>
              <span class="menu_text">Скидки</span>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="right">
  <% unless params[:controller] == "my/accounts" && params[:action] == "edit" %>
    <div class="invitations_wrapper">
    <% if current_user.account.last_visit_at? %>
      <div class='last_visit'>
        <% if current_user.account.last_visit_at > DateTime.now - 5.minute %>
          сейчас на сайте
        <% else %>
          последнее посещение было <%= time_ago_in_words current_user.account.last_visit_at %> назад
        <% end %>
      </div>
    <% end %>

    <h1><%= current_user.account.title %></h1>

    <div class="account_info">
      <%= content_tag :div, "Возраст: #{current_user.account.age}", :class => :row if current_user.account.birthday? %>
      <%= content_tag :div, "Пол: #{current_user.account.gender.text.mb_chars.downcase}", :class => :row unless current_user.account.gender == 'undefined' %>
    </div>

    <% if current_user.account.link_to_social.present? %>
      <div class='link_to_social'>
        <%= link_to('Профиль в социальной сети', current_user.account.link_to_social, :rel => 'nofollow', :target => '_blank') %>
      </div>
    <% end %>
    <div class="invitations header">
      <%= link_to 'Добавить приглашение',
        new_invitation_path('invitation[kind]' => :inviter),
        :remote => true,
        :class => 'invitation_link',
        :data => { :title => 'Хочу пригласить', :target => '.inviter' } %>
        <div class='clear'>
          <span class="panel"></span>
        </div>
        <h3>
          <%= link_to 'Хочу пригласить',
            new_invitation_path('invitation[kind]' => :inviter),
            :remote => true,
            :class => 'add_link',
            :data => { :title => 'Хочу пригласить', :target => '.inviter' } %>
          </h3>
        </div>

        <div class="invitations list">
        <ul class="inviter">
          <% if current_user.account.invitations.inviter.without_invited.any? %>
            <% current_user.account.invitations.inviter.without_invited.each do |invitation| %>
              <%= render :partial => 'invitations/invitation', :locals => { :invitation => invitation } %>
            <% end %>
          <% else %>
            <li class="empty">Нет приглашений</li>
          <% end %>
        </ul>
      </div>

      <div class="invitations header">
        <%= link_to 'Добавить приглашение',
          new_invitation_path('invitation[kind]' => :invited),
          :remote => true,
          :class => 'invitation_link',
          :data => { :title => 'Жду приглашения', :target => '.invited' } %>
          <div class='clear'>
            <span class="panel"></span>
          </div>
          <h3>
            <%= link_to 'Жду приглашения',
              new_invitation_path('invitation[kind]' => :invited),
              :remote => true,
              :class => 'add_link',
              :data => { :title => 'Жду приглашения', :target => '.invited' } %>
            </h3>
        </div>

        <div class="invitations list">
          <ul class="invited">
            <% if current_user.account.invitations.invited.without_invited.any? %>
              <% current_user.account.invitations.invited.without_invited.each do |invitation| %>
                <%= render :partial => 'invitations/invitation', :locals => { :invitation => invitation } %>
              <% end %>
            <% else %>
              <li class="empty">Нет приглашений</li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>

      <%= yield(:account_content) %>

    </div>
  </div>
