<div class="post_item">
  <div class="title">
    <%= post.truncated_title_link(90) %>
  </div>

  <div class="details">
    <span class="first_line">
      <span class="show_tipsy comments" title="Комментарии"><%= post.comments.count %></span>
      <span class="show_tipsy likes" title="Понравилось"><%= post.likes_count %></span>
      <span class="show_tipsy visits" title="Просмотры"><%= post.page_visits.count %></span>
    </span>
  </div>

  <div class="post_date">
    <%= post.date %>
  </div>

  <div class="annotation">
    <%= render :partial => 'posts/poster', :locals => { :post => post, :url => post_path(post) } %>

    <%= post.content_for_index %>
  </div>
</div>
