<div class='item'>
  <div class='title'>
    <%= post.truncated_title_link(50) %>
  </div>

  <%= post.annotation_image(218, 166) if post.annotation_image? %>
  <div class="<%= post.annotation_image? ? 'text_with_image' : 'text' %>">
    <%= link_to post.truncated_description(180), post_path(post) %>

    <%= link_to post_path(post), class: :details do %>
      <span class='first_line'>
        <span class='show_tipsy comments' title='Комментарии'><%= post.comments.count %></span>
        <span class='show_tipsy likes' title='Понравилось'><%= post.likes_count %></span>
        <span class='show_tipsy visits' title='Просмотры'><%= post.page_visits.count %></span>
      </span>
    <% end %>
  </div>

  <%= post.date %>
</div>
