<div class="post_item">
  <div class="title">
    <%= post.truncated_title_link(50) %>
  </div>
  <div class="details">
    <span class="first_line">
      <span class="show_tipsy comments" title="Комментарии"><%= post.comments.count %></span>
      <span class="show_tipsy likes" title="Понравилось"><%= post.likes_count %></span>
      <span class="show_tipsy visits" title="Просмотры"><%= post.page_visits.count %></span>
    </span>
  </div>
  <div class="date">
    <%= post.date %>
  </div>
  <div class="annotation">
    <% if post.annotation_image? %>
      <%= post.content_for_index(180) %>
    <% else %>
      <% if post.poster_url? %>
        <%= link_to image_tag(resized_image_url(post.poster_url, 353, 199), :size => '353x199', :title => post.title, :alt => post.title), post.poster_url %>
      <% else %>
        <div class="stub_poster"></div>
      <% end %>
      <%= post.content_for_index %>
    <% end %>
  </div>
</div>
