<div class="item">
  <div class="title">
    <%= post.truncated_title_link(50) %>
  </div>
  <div class="details">
    <span class="first_line">
      <span class="show_tipsy comments" title="Комментарии"><%= post.comments.count %></span>
      <span class="show_tipsy likes" title="Понравилось"><%= post.likes_count %></span>
      <span class="show_tipsy visits" title="Просмотры"><%= post.page_visits.count %></span>
    </span>
  </div>
  <div class="date">
    <%= post.date %>
  </div>
  <% if post.annotation_image? %>
    <div class="image">
      <%= image_tag(resized_image_url(post.gallery_images.first.file_url, 378, 166)) %>
    </div>
  <% end %>
  <div class="annotation">
    <% if post.annotation_image? %>
      <%= post.truncated_description(180) %>
    <% else %>
      <%= post.truncated_description(480) %>
    <% end %>
  </div>
</div>
