<div class="presentation_filters posts">
  <div class="filter_header">
    <h1><%= t('meta.posts.page_header') %></h1>
  </div>

  <div class="order_by">
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.order_by_filter.links.each do |link| %>
        <li class="<%= link.klass %>">
        <%= link_to link.title, link.path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="posts_list">
  <ul class="posters">
    <%= render :partial => 'posts/post_posters', :locals => { :collection => @presenter.collection } %>
  </ul>
</div>

<%= paginate @presenter.collection %>

<% if false %>
  <div class='introduction'>
    <%= t("meta.discount.introduction").as_html %>
  </div>
<% end %>
