<div class="post_show">
  <div class="title">
    <h1><%= @post.title %></h1>
    <div class="date"><%= @post.date %></div>
  </div>

  <div class="left">
    <div class="wrapper">
      <div class="post_annotation">
        <div class="image">
          <%= image_tag resized_image_url(@post.poster_url, 300, 224), :size => '300x224', :alt => @post.title.text_gilensize %>
        </div>
        <%= strip_tags @post.annotation %>
      </div>

      <div class="post_content">
        <%= strip_tags @post.content %>
      </div>

      <div class="share_and_likes">
        <%= render :partial => 'share_this' %>
      </div>

      <% if @post.tags.any? %>
        <ul class="tags">
          <% @post.tags.each do |tag| %>
            <li><%= tag %></li>
          <%end%>
        </ul>
      <%end%>
    </div>

    <% if @post.images.present? %>
      <div class="photogallery_header">Фотографии</div>
      <div class="photogallery">
        <ul>
          <% @post.images.each do |image| %>
            <%= render :partial => image.partial_for_render_object, :object => image, :locals => { :rel => "post_images_gallery_#{@post.id}" } %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render :partial => 'comments/block', :locals => { :parent_obj => @post } %>
  </div>

  <div class="right">
    <% if @post.similar_post.present? %>
      <div class="more_like_this">
        <p class="title">Другие обзоры</p>
        <ul>
          <% @post.similar_post.each do |post| %>
            <li>
              <div class="image">
                <%= link_to post do %>
                  <%= image_tag resized_image_url(post.poster_url, 87, 65), :size => '87x65', :alt => post.title.text_gilensize %>
                <% end %>
              </div>
              <div class="title"><%= link_to truncate(post.title.text_gilensize, length: 40, separator: ' '), post %></div>
              <div class="date"><%= l(post.created_at, :format => "%d %B %Y") %></div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>


</div>
