<% content_for :page_title, "#{@post.title}. #{t('meta.default.title')}" %>

<div class="post_show">
  <div class="title">
    <h1><%= @post.title %></h1>
    <%= @post.date %>
  </div>

  <div class="left">
    <div class="wrapper">

      <div class="post_content">
        <%= @post.annotation_image(300, 224) if @post.annotation_image? %>
        <%= @post.html_content %>
      </div>

      <div class="share_and_likes">
        <%= render :partial => 'share_this' %>
      </div>

      <div class='tags_and_visits'>
        <% if @post.tags.any? %>
          <ul class='tags'>
            <% @post.tags.each do |tag| %>
              <li><%= tag %></li>
            <%end%>
          </ul>
        <%end%>

        <span class='details'>
          <span class='show_tipsy comments' title='Комментарии'><%= @post.comments.count %></span>
          <span class='show_tipsy likes' title='Понравилось'><%= @post.likes_count %></span>
          <span class='show_tipsy visits' title='Просмотры'><%= @post.page_visits.count %></span>
        </span>
      </div>
    </div>

    <% if @post.images.many? %>
      <div class='photogallery_header'>Фотографии</div>
      <div class='photogallery'>
        <ul>
          <% @post.images.each do |image| %>
            <%= render :partial => image.partial_for_render_object, :object => image, :locals => { :rel => "post_images_gallery_#{@post.id}" } %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render :partial => 'comments/block', :locals => { :parent_obj => @post } %>
  </div>

  <div class="right">
    <% if @post.similar_post.present? %>
      <div class="more_like_this">
        <p class="title">Другие обзоры</p>
        <ul>
          <% @post.similar_post.each do |item| %>
            <% post = PostDecorator.new(item) %>
            <li>
              <%= post.annotation_image(87, 65) if post.annotation_image? %>
              <div class="title"><%= link_to truncate(post.title.text_gilensize, length: 30), post %></div>
              <%= post.date %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

</div>
