<ol class="ticket_payment_instruction <%= parent.price.zero? ? 'free_coupon' : '' %>">
  <% if parent.price.zero? %>
    <li>Нажми «Участвовать» Размести запись на стене в социальных сетях</li>
    <li>Мы пришлем вам SMS с кодом</li>
  <% else %>
    <li>Выбери количество и укажи номер сотового телефона</li>
    <li>Оплати наиболее удобным для тебя способом, мы пришлем SMS с кодами</li>
  <% end %>
    <li>Коды - это твой купон, просто покажи это SMS на входе</li>
</ol>

<div class="ticket_info">
  <%= render :partial => "discounts/#{parent.class.name.underscore}_info", :locals => { :discount => parent } %>

  <div class="ticket_description_and_tickets">
    <div class="ticket_description">
      <p><%= parent.title %> <%= "в #{parent.places.first.organization.title}" if parent.places.first.organization.present? %></p>
    </div>
  </div>
</div>

<%= simple_form_for [parent, @copy_payment] do |f| %>
  <%= f.input :number, label: 'Количество', as: :select, collection: 1..parent.copies_for_sale.count, include_blank: false, require: false %>
  <%= f.input :phone, label: 'Введите номер мобильного телефона', require: false %>

  <% if parent.payment_system_rbkmoney? %>
    <%= f.input :email, label: 'Введите адрес электронной почты', require: false %>
  <% end %>

  <div class="submit">
    <%= f.submit 'Купить' %>
  </div>
<% end %>
