<div class="item">
  <div class="title">
    <%= link_to truncate(discount.title.text_gilensize, :length => 45), discount_path(discount) %>
  </div>

  <div class="image">
    <%= link_to image_tag(resized_image_url(discount.poster_url, 220, 164), :size => '220x164', :title => discount.title.text_gilensize, :alt => discount.title.text_gilensize), discount_path(discount) %>

    <%= content_tag(:div, discount.label_url, :class => :origin_url) if discount.origin_url? %>

    <% unless discount.is_a?(AffiliatedCoupon) %>
      <% if discount.price.nil? || discount.price.zero? %>
        <%= link_to 'Участвовать', discount_path(discount, :anchor => :buy_ticket), :class => :for_sale %>
      <% else %>
        <%= link_to 'Купить', discount_path(discount, :anchor => :buy_ticket), :class => :for_sale %>
      <% end %>
    <% else %>
      <% if discount.price.nil? || discount.price.zero? %>
        <%= link_to 'Получить', discount.origin_url, :target => '_blank', :class => :for_sale %>
      <% else %>
        <%= link_to 'Купить', discount.origin_url, :target => '_blank', :class => :for_sale %>
      <% end %>
    <% end %>

    <%= link_to discount_path(discount), :class => :details do %>
      <span class="first_line">
        <span class="show_tipsy to_go" title="Участники"><%= discount.members.count %></span>
        <span class="show_tipsy comments" title="Комментарии"><%= discount.comments.count %></span>
        <span class="show_tipsy likes" title="Понравилось"><%= discount.likes_count %></span>
        <span class="show_tipsy visits" title="Просмотры"><%= discount.page_visits.count %></span>
      </span>
    <% end %>
  </div>

  <div class="info">
    <%= render :partial => "discounts/#{discount.class.name.underscore}_info", :locals => { :discount => discount } %>
  </div>
</div>
