<div class="item">
  <div class="title">
    <%= link_to truncate(discount.title.text_gilensize, :length => 45), discount.smart_path, :title => discount.title.text_gilensize %>
  </div>

  <div class="image">
    <%= link_to image_tag(resized_image_url(discount.poster_url, @width, @height),
                          :size => "#{@width}x#{@height}",
                          :title => discount.title.text_gilensize,
                          :alt => discount.title.text_gilensize),
                discount.smart_path %>

    <%= content_tag(:div, discount.label_url, :class => :origin_url) if discount.supplier.try(:link).present? %>

    <% unless discount.is_a?(AffiliatedCoupon) %>
      <% if discount.is_a?(OfferedDiscount) %>
        <%= link_to 'Предложить свою цену', discount.smart_path(:anchor => :offer_price), :class => 'for_sale offer_price' %>
      <% else %>
        <% if discount.price.nil? || discount.price.zero? %>
          <%= link_to 'Участвовать', discount.smart_path(:anchor => :buy_ticket), :class => :for_sale %>
        <% else %>
          <%= link_to 'Купить', discount.smart_path(:anchor => :buy_ticket), :class => :for_sale %>
        <% end %>
      <% end %>
    <% else %>
      <% if discount.price.nil? || discount.price.zero? %>
        <%= link_to 'Получить', discount.supplier.try(:link), :target => '_blank', :class => :for_sale %>
      <% else %>
        <%= link_to 'Купить', discount.supplier.try(:link), :target => '_blank', :class => :for_sale %>
      <% end %>
    <% end %>

    <%= link_to discount_path(discount), :class => :details do %>
      <span class="first_line">
        <span class="show_tipsy to_go" title="Участники"><%= discount.members.count %></span>
        <span class="show_tipsy comments" title="Комментарии"><%= discount.comments.count %></span>
        <span class="show_tipsy likes" title="Понравилось"><%= discount.likes_count %></span>
        <span class="show_tipsy visits" title="Просмотры"><%= discount.page_visits.count %></span>
      </span>
    <% end %>
  </div>

  <div class="place">
    <%= discount.place_without_map %>
  </div>

  <div class="info">
    <%= render :partial => "discounts/#{discount.model.class.name.underscore}_info", :locals => { :discount => discount.model } %>
  </div>
</div>
