<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>

<% content_for :extra_meta do %>
  <% if page_meta %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% else %>
    <%= vk_meta('discount', discounts_url, 'public/vk_logotype.png') %>
  <% end %>
<% end %>

<div class="discount_left">
  <div class="filter_header">
    <% if page_meta %>
      <h1><%= page_meta.header.squish.html_safe %></h1>
    <% else %>
      <h1><%= t('meta.discount.page_header') %></h1>
    <% end %>
  </div>

  <div class="filter_and_share">
    <div class="presentation_filters discounts">

      <!--noindex-->
      <div class="order_by">
        <p>Сортировать по:</p>
        <ul>
          <% @presenter.order_by_filter.links.each do |link| %>
            <li class="<%= link.klass %>">
              <%= link_to link.title, link.path %>
            </li>
          <% end %>
        </ul>
      </div>
      <!--/noindex-->

    </div>

    <%= render :partial => 'commons/like_this', :locals => { :url => request.url.split('?').first } %>
  </div>

  <div class="discount_content js-button-pagination">
    <ul class="posters js-paginable-list">
      <%= render :partial => 'discounts/discount_posters', :locals => { :collection => @presenter.collection } %>
    </ul>
  </div>

  <div class='introduction green'>
    <% if page_meta %>
      <%= page_meta.html_introduction %>
    <% else %>
      <%= t("meta.discount.introduction").as_html %>
    <% end %>
  </div>
</div>

<div class="discount_right">
  <%= render :partial => 'commons/promotions' %>
</div>

