<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>

<% content_for :extra_meta do %>
  <link rel='canonical' href='<%= discounts_url %>' />
  <%= vk_meta('discount', discounts_url, 'public/vk_logotype.png') %>
<% end %>

<div class="presentation_filters discounts">
  <div class="filter_header">
    <h1><%= t('meta.discount.page_header') %></h1>
  </div>
  <div class="order_by">
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.order_by_filter.links.each do |link| %>
        <li class="<%= link.klass %>">
          <%= link_to link.title, link.path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="discounts_list">
  <ul class="posters">
    <%= render :partial => 'discounts/discount_posters', :locals => { :collection => @presenter.collection } %>
  </ul>
</div>

<%= paginate @presenter.collection %>
