<% content_for :page_title do %>
  <% if @discount.title.present? %>
    <%= @discount.title.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @discount.kind.map(&:text).join(', ') %> в Томске
<% end %>
<% content_for :meta_keywords, @discount.meta_keywords %>
<% content_for :meta_description, @discount.meta_description %>

<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<div class="discount_show">
  <div class="left">
    <div class="image">
      <% if @discount.poster_url? %>
        <%= link_to image_tag(resized_image_url(@discount.poster_url, 200, 149), :size => '200x149', :title => @discount.title, :alt => @discount.title), @discount.poster_image_url %>
      <% else %>
        <%= image_tag('public/stub_poster.png', :size => '200x149', :alt => :poster) %>
      <% end %>
    </div>
    <div class="info">
      <%= render :partial => "discounts/#{@discount.model.class.name.underscore}_info", :locals => { :discount => @discount.model } %>
    </div>

    <%= render :partial => 'members/social_block', :locals => { :discount => @discount } %>
  </div>

  <div class="right">
    <div class="wrapper">
      <% if @discount.geo_present? %>
        <div class="yandex_map">
          <div class="map"
            data-latitude="<%= @discount.places.first.latitude %>"
            data-longitude="<%= @discount.places.first.longitude %>"
            data-hint="<%= @discount.places.first.organization_id? ? @discount.places.first.organization.title : @discount.places.first.address %>"
            <%= "data-id=#{@discount.places.first.organization_id}" if @discount.places.first.organization %>>
          </div>
        </div>
      <% end %>

      <% if @discount.similar_discount.present? %>
        <div class="more_like_this">
          <p class="title">Другие скидки</p>
          <ul>
            <% @discount.similar_discount.each do |discount| %>
              <li>
                <div class="image">
                  <%= link_to discount_path(discount) do %>
                    <%= image_tag resized_image_url(discount.poster_url, 80, 60), :size => '80x60', :alt => discount.title.text_gilensize %>
                  <% end %>
                </div>
                <div class="clearfix">
                  <div class="title"><%= link_to truncate(discount.title.text_gilensize, :length => 25), discount_path(discount) %></div>
                  <% if discount.discount? %>
                    <div class="profit">Скидка <%= discount.model.discount %>%</div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="center">
    <%= link_to 'изменить', edit_manage_discount_path(@discount), :class => 'icon_edit' if can? :edit, @discount %>

    <h1><%= @discount.title.text_gilensize %></h1>

    <div class="closest">
      <%= @discount.when_with_price %>
    </div>

    <div class="place">
      <%= @discount.human_place %>
    </div>

    <div class="text">
      <%= @discount.html_description %>

      <% if @discount.model.is_a?(AffiliatedCoupon) %>
        <h3>Условия</h3>
        <% if @discount.terms.any? %>
          <ul>
            <% @discount.terms.each do |term| %>
              <li><%= term %></li>
            <% end %>
          <% end %>
        </ul>

        <p class="discount_owner">
          <%= link_to image_tag(@discount.supplier.logo, :size => '50x50'), @discount.supplier.link, :target => '_blank' %>
          <%= link_to @discount.supplier.title, @discount.supplier.link, :target => '_blank' %>
        </p>
      <% else %>
        <% if @discount.account.present? && ![4, 13, 1936, 2303].include?(@discount.account.id) %>
          <p class="discount_owner">
            <span>Автор:</span>
            <%= link_to(@discount.account.title, @discount.account) %>
          </p>
        <% else %>
          <p class="discount_owner">
            <span>Автор:</span>
            <%= link_to('ЗнайГород (Афиша Томска)', 'http://vk.com/znaigorod') %>
          </p>
        <% end %>
      <% end %>
    </div>

    <div class="share_and_likes">
      <%= render :partial => 'commons/share_this', :locals => { :url => discount_url(@discount.model) } %>
    </div>

    <div class="tags_and_visits">
      <ul class="categories">
        Категории:
        <% @discount.kind.each do |key| %>
          <li><%= link_to key.text, discounts_path(:kind => key) %></li>
        <%end%>
      </ul>

      <div class="details">
        <span class="show_tipsy to_go" title="Участники"><%= @discount.members.count %></span>
        <span class="show_tipsy comments" title="Комментарии"><%= @discount.comments.count %></span>
        <span class="show_tipsy likes" title="Понравилось"><%= @discount.likes_count %></span>
        <span class="show_tipsy visits" title="Просмотры"><%= @discount.page_visits.count %></span>
      </div>
    </div>

    <%= render :partial => 'comments/block', :locals => { :parent_obj => @discount } %>

  </div>
</div>
