<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<div class="discount_show">
  <div class="left">
    <div class="image">
      <%= link_to image_tag(resized_image_url(@discount.poster_url, 200, 120), :size => '200x120', :title => @discount.title, :alt => @discount.title), @discount.poster_url %>
    </div>
    <div class="info">
      <%= render :partial => "discounts/#{@discount.model.class.name.underscore}_info", :locals => { :discount => @discount.model } %>
    </div>

    <div class="action">
      <%= link_to 'Участвовать', discount_members_path(@discount), :class => 'participate', :method => :post, :remote => true if @discount.free? %>
      <%= link_to 'Купить', '#', :class => 'participate' if @discount.paid? %>
    </div>

    <% unless @discount.passed? %>
      <div class="counter">
        <h2>До завершения осталось</h2>
        <div class="countdown" data-countdown_time="<%= @discount.countdown_time %>"></div>
      </div>
    <% end %>

    <%= render :partial => 'members/members', :locals => { :memberable => @discount } %>
  </div>

  <div class="right">
    <div class="wrapper">
      <% if @discount.geo_present? %>
        <div class="yandex_map">
          <div class="map"
            data-latitude="<%= @discount.organization.latitude %>"
            data-longitude="<%= @discount.organization.longitude %>"
            data-hint="<%= @discount.organization.title.text_gilensize %>"
            <%= "data-id=#{@discount.organization.id}" %>>
          </div>
        </div>
      <% end %>

      <% if @discount.similar_discount.present? %>
        <div class="more_like_this">
          <p class="title">Другие скидки</p>
          <ul>
            <% @discount.similar_discount.each do |discount| %>
              <li>
                <div class="image">
                  <%= link_to discount_path(discount) do %>
                    <%= image_tag resized_image_url(discount.poster_url, 65, 65), :size => '65x65', :alt => discount.title.text_gilensize %>
                  <% end %>
                </div>
                <div class="clearfix">
                  <div class="title"><%= link_to discount.title.text_gilensize, discount_path(discount) %></div>
                  <%= content_tag :div, discount.place.place, :class => "places" if discount.geo_present? %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="center">
    <h1><%= @discount.title.text_gilensize %></h1>

    <div class="closest">
      <%= @discount.when_with_price %>
    </div>

    <% if @discount.geo_present? %>
      <div class="place">
        <%= @discount.place.place %>
      </div>
    <% end %>

    <div class="text">
      <%= @discount.html_description %>

      <% if @discount.account.present? && ![4, 13, 1936, 2303].include?(@discount.account.id) %>
        <p class="discount_owner">
          <span>Автор:</span>
          <%= link_to(@discount.account.title, @discount.account) %>
        </p>
      <% else %>
        <p class="discount_owner">
          <span>Автор:</span>
          <%= link_to('ЗнайГород (Афиша Томска)', 'http://vk.com/znaigorod') %>
        </p>
      <% end %>
    </div>

    <div class="share_and_likes">
      <%= render :partial => 'commons/share_this', :locals => { :url => discount_path(@discount.model) } %>
    </div>

    <div class="tags_and_visits">
      <ul class="tags">
        <% @discount.kind.map(&:text).each do |tag| %>
          <li><%= tag %></li>
        <%end%>
      </ul>

      <div class="details">
        <span class="show_tipsy to_go" title="Участники"><%= @discount.members.count %></span>
        <span class="show_tipsy comments" title="Комментарии"><%= @discount.comments.count %></span>
        <span class="show_tipsy likes" title="Понравилось"><%= @discount.likes_count %></span>
        <span class="show_tipsy visits" title="Просмотры"><%= @discount.page_visits.count %></span>
      </div>
    </div>

    <%= render :partial => 'comments/block', :locals => { :parent_obj => @discount } %>

  </div>
</div>
