<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<div class="discount_show">
  <div class="left">
    <div class="image">
      <% if @discount.poster_url? %>
        <%= link_to image_tag(resized_image_url(@discount.poster_url, 200, 149), :size => '200x149', :title => @discount.title, :alt => @discount.title), @discount.poster_image_url %>
      <% else %>
        <%= image_tag('public/stub_poster.png', :size => '200x149', :alt => :poster) %>
      <% end %>
    </div>
    <div class="info">
      <%= render :partial => "discounts/#{@discount.model.class.name.underscore}_info", :locals => { :discount => @discount.model } %>
    </div>

    <div class="social_actions">
      <div class="action">
        <% if @discount.free? %>
          <%= link_to 'Участвовать',
              discount_members_path(@discount),
              :class => 'participate share_to_vk',
              :method => :post,
              :remote => true,
              :onClick => 'share_on_click(this);',
              'data-owner_id' => current_user.try(:vk_uid),
              'data-message' => "Участвую в \"#{@discount.title}\"",
              'data-attachments' => data_attachments(@discount) %>

        <% elsif @discount.price.zero? %>
          <%= link_to 'Участвовать', new_discount_copy_payment_path(@discount), :class => 'payment_link participate', :remote => true %>
        <% else %>
          <%= link_to 'Купить', new_discount_copy_payment_path(@discount), :class => 'payment_link participate', :remote => true %>
        <% end %>
      </div>

      <% if @discount.actual? && !@discount.constant? %>
        <div class="counter">
          <h2>До завершения осталось</h2>
          <div class="countdown" data-countdown_time="<%= @discount.countdown_time %>"></div>
        </div>
      <% end %>

      <%= render :partial => 'members/members' %>
    </div>
  </div>

  <div class="right">
    <div class="wrapper">
      <% if @discount.geo_present? %>
        <div class="yandex_map">
          <div class="map"
            data-latitude="<%= @discount.organization.latitude %>"
            data-longitude="<%= @discount.organization.longitude %>"
            data-hint="<%= @discount.organization.title.text_gilensize %>"
            <%= "data-id=#{@discount.organization.id}" %>>
          </div>
        </div>
      <% end %>

      <% if @discount.similar_discount.present? %>
        <div class="more_like_this">
          <p class="title">Другие скидки</p>
          <ul>
            <% @discount.similar_discount.each do |discount| %>
              <li>
                <div class="image">
                  <%= link_to discount_path(discount) do %>
                    <%= image_tag resized_image_url(discount.poster_url, 80, 60), :size => '80x60', :alt => discount.title.text_gilensize %>
                  <% end %>
                </div>
                <div class="clearfix">
                  <div class="title"><%= link_to truncate(discount.title.text_gilensize, :length => 25), discount_path(discount) %></div>
                  <% if discount.discount? %>
                    <div class="profit">Скидка <%= discount.model.discount %>%</div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="center">
    <%= link_to 'изменить', edit_manage_discount_path(@discount), :class => 'icon_edit' if can? :edit, @discount %>

    <h1><%= @discount.title.text_gilensize %></h1>

    <div class="closest">
      <%= @discount.when_with_price %>
    </div>

    <div class="place">
      <%= @discount.human_place %>
    </div>

    <div class="text">
      <%= @discount.html_description %>

      <% if @discount.account.present? && ![4, 13, 1936, 2303].include?(@discount.account.id) %>
        <p class="discount_owner">
          <span>Автор:</span>
          <%= link_to(@discount.account.title, @discount.account) %>
        </p>
      <% else %>
        <p class="discount_owner">
          <span>Автор:</span>
          <%= link_to('ЗнайГород (Афиша Томска)', 'http://vk.com/znaigorod') %>
        </p>
      <% end %>
    </div>

    <div class="share_and_likes">
      <%= render :partial => 'commons/share_this', :locals => { :url => discount_path(@discount.model) } %>
    </div>

    <div class="tags_and_visits">
      <ul class="categories">
        Категории:
        <% @discount.kind.each do |key| %>
          <li><%= link_to key.text, discounts_path(:kind => key) %></li>
        <%end%>
      </ul>

      <div class="details">
        <span class="show_tipsy to_go" title="Участники"><%= @discount.members.count %></span>
        <span class="show_tipsy comments" title="Комментарии"><%= @discount.comments.count %></span>
        <span class="show_tipsy likes" title="Понравилось"><%= @discount.likes_count %></span>
        <span class="show_tipsy visits" title="Просмотры"><%= @discount.page_visits.count %></span>
      </div>
    </div>

    <%= render :partial => 'comments/block', :locals => { :parent_obj => @discount } %>

  </div>
</div>
