<div class="accounts_main_page_list">
  <div class="filter_header">
    <h2><%= link_to t('meta.account.page_header'), accounts_path %></h2>
  </div>

  <div class="by_gender">
    <ul>
      <% @accounts.gender_links.each do |link| %>
        <li><%= link_to link[:title], accounts_path(link[:parameters]) %></li>
      <% end %>
    </ul>
  </div>

  <% cache('main_page_accounts_filters', :expires_in => 10.minutes) do %>
    <div class="filters_wrapper">
      <div class="filters account">
        <div class="by_category">
          <ul>
            <li class="title">
              <div class="text">Ищут компанию:</div>
            </li>
            <% @accounts.categories_links.take(8).each do |link| %>
              <li class='<%= link[:klass] %>'>
                <%= link_to accounts_path(link[:parameters]) do %>
                  <span class='name'><%= link[:title] %></span>
                  <span class='count'><%= link[:count] %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <ul class="posters">
    <% @accounts.collection.each do |account| %>
      <li><%= render :partial => 'accounts/account_poster', :locals => { :account => account } %></li>
    <% end %>
  </ul>
</div>
