<div class="discounts_main_page_list">
  <div class="filter_header">
    <h1><%= link_to t('meta.discount.page_header'), discounts_path %></h1>
  </div>

  <div class="by_type">
    <ul>
      <% @discount_filter.type_filter.links.each do |link| %>
        <li><%= link_to link.title, link.path %></li>
      <% end %>
    </ul>
  </div>

  <div class="filters_wrapper">
    <div class="filters discount">
      <div class="by_kind">
        <ul>
          <% @discounts.kind_filter.links.take(9).each do |link| %>
            <li class="<%= link.klass.gsub('selected', '') %>">
              <%= link_to link.path do %>
                <span class="name"><%= link.title %></span>
                <span class="count"><%= link.results_count %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <ul class="posters">
    <% @discounts.decorated_collection.each do |discount| %>
      <li><%= render :partial => 'discounts/discount_poster', :locals => { :discount => discount } %></li>
    <% end %>
  </ul>
</div>
