<div class="organizations_main_page_list">
  <div class="filter_header">
    <h2><%= link_to t('meta.organizations.page_header'), organizations_path %></h2>
  </div>

  <div class="by_tickets">
    <ul>
      <li><%= link_to 'Бесплатный заказ', organizations_path(:sms_claimable => true) %></li>
    </ul>
  </div>

  <% cache('main_page_organizations_filters', :expires_in => 10.minutes) do %>
    <div class="filters_wrapper">
      <div class="filters organization">
        <div class="by_categories">
          <ul>
            <% @organizations.categories_links.each do |category_link| %>
              <li class='<%= category_link[:klass] %>'>
                <%= link_to send(category_link[:url], category_link[:parameters]) do %>
                  <%= content_tag :span, category_link[:title], :class => :name %>
                  <%= content_tag :span, category_link[:count], :class => :count %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <ul class="posters">
    <% @organizations.random_collection.each do |organization| %>
      <li><%= render :partial => 'organizations/suborganization', :locals => { :suborganization => organization } %></li>
    <% end %>
  </ul>
</div>
