<div class='reviews_main_page'>
  <h1><%= link_to t('meta.reviews.page_header'), reviews_path %></h1>
  <div class='left'>
    <ul class='reviews'>
      <% @decorated_reviews.each do |decorated_review| %>
        <li class='review_<%= decorated_review.id %>'>
          <div class='image'>
            <%= link_to image_tag(decorated_review.annotation_image(400, 253), :size => '400x253', :alt => decorated_review.title.squish.text_gilensize), decorated_review %>
          </div>
          <div class='stats'>
            <span class='show_tipsy fa fa-comments' title='Комментарии'> <%= decorated_review.comments.count %></span>
            <span class='show_tipsy fa fa-heart' title='Понравилось'> <%= decorated_review.likes_count %></span>
            <span class='show_tipsy fa fa-eye' title='Просмотры'> <%= decorated_review.page_visits.count %></span>
          </div>
          <div class='categories'>
            <%= decorated_review.categories.map{ |category| link_to category.text, "/reviews/#{decorated_review.useful_type}/#{category.value}" }.join(', ').html_safe %>
            &ndash;
            <%= decorated_review.date %>
          </div>
          <div class='title'>
            <%= link_to decorated_review.title.as_html, decorated_review %>
          </div>
          <div class="text">
            <%= decorated_review.content_for_index %>
          </div>
        </li>
      <% end %>
    </ul>
    <% if @decorated_reviews.count > 1 %>
      <ul class='reviews_toggler'>
        <% @decorated_reviews.each_with_index do |decorated_review, index| %>
          <% puts "'#{decorated_review.title.squish}'" %>
          <li><%= image_tag decorated_review.annotation_image(90, 50),
            :size => '90x50',
            :alt => decorated_review.title.squish.text_gilensize,
            :title => decorated_review.title.squish.text_gilensize,
            :class => index == 0 ? "selected review_#{decorated_review.id}" : "review_#{decorated_review.id}" %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class='right'>
    right
  </div>
</div>
