<div class="afisha_main_page_list">
  <div class="filter_header">
    <h1><%= link_to t('meta.afisha.page_header'), afisha_index_path %></h1>
  </div>

  <div class="by_tickets">
    <ul>
      <li><%= link_to 'Распродажа билетов', afisha_with_tickets_index_path %></li>
    </ul>
  </div>

  <div class="filters_wrapper">
    <div class="filters afisha">
      <div class="by_kind">
        <ul>
          <% @afisha_filter.categories_links.each do |category_link| %>
            <li class='<%= category_link[:klass] %>'>
              <%= link_to send(category_link[:url]) do %>
                <%= content_tag :span,  category_link[:title], :class => :name %>
                <%= content_tag :span, category_link[:count], :class => :count %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <ul class="posters">
    <% @afisha.decorated_collection.each do |afisha| %>
      <li><%= render :partial => 'afishas/afisha_poster', :locals => { :afisha => afisha } %></li>
    <% end %>
  </ul>
</div>

<div class="organizations_main_page_list">
  <div class="filter_header">
    <h1><%= link_to t('meta.organizations.page_header'), organizations_path %></h1>
  </div>

  <div class="filters_wrapper">
    <div class="filters organization">
      <div class="by_categories">
        <ul>
          <% @organizations.categories_links.each do |category_link| %>
            <li class='<%= category_link[:klass] %>'>
              <%= link_to send(category_link[:url], category_link[:parameters]) do %>
                <%= content_tag :span, category_link[:title], :class => :name %>
                <%= content_tag :span, category_link[:count], :class => :count %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <ul class="posters">
    <% @organizations.collection.each do |organization| %>
      <li><%= render :partial => 'organizations/suborganization', :locals => { :suborganization => organization } %></li>
    <% end %>
  </ul>
</div>

<div class="discounts_main_page_list">
  <div class="filter_header">
    <h1><%= link_to t('meta.discount.page_header'), discounts_path %></h1>
  </div>

  <div class="filters_wrapper">
    <div class="filters discount">
      <div class="by_kind">
        <ul>
          <% @discounts.kind_filter.links.take(9).each do |link| %>
            <li class="<%= link.klass.gsub('selected', '') %>">
              <%= link_to link.path do %>
                <span class="name"><%= link.title %></span>
                <span class="count"><%= link.results_count %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <ul class="posters">
    <% @discounts.decorated_collection.each do |discount| %>
      <li><%= render :partial => 'discounts/discount_poster', :locals => { :discount => discount } %></li>
    <% end %>
  </ul>
</div>

<div class="accounts_main_page_list">
  <div class="filter_header">
    <h1><%= link_to t('meta.account.page_header'), accounts_path %></h1>
  </div>

  <div class="by_gender">
    <ul>
      <% @accounts.gender_links.each do |link| %>
        <li><%= link_to link[:title], accounts_path(link[:parameters]) %></li>
      <% end %>
    </ul>
  </div>

  <div class="filters_wrapper">
    <div class="filters account">
      <div class="by_category">
        <ul>
          <li class="title">
            <div class="text">Ищут компанию:</div>
          </li>
          <% @accounts.categories_links.take(8).each do |link| %>
            <li class='<%= link[:klass] %>'>
              <%= link_to accounts_path(link[:parameters]) do %>
                <span class='name'><%= link[:title] %></span>
                <span class='count'><%= link[:count] %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <ul class="posters">
    <% @accounts.collection.each do |account| %>
      <li><%= render :partial => 'accounts/account_poster', :locals => { :account => account } %></li>
    <% end %>
  </ul>
</div>
