<div class='form_view'>
  <%= simple_form_for [:crm, parent, resource], :html => { :novalidate => true }  do |f| %>
    <%= f.input :full_name %>
    <%= f.input :post %>
    <%= f.input :phone %>
    <%= f.input :mobile_phone %>
    <%= f.input :email %>
    <%= f.input :skype %>
    <%= f.input :vkontakte %>
    <%= f.input :facebook %>

    <div class="actions">
      <%= f.button :submit, 'Сохранить', class: 'button submit' %>
      <%= link_to 'Удалить', resource_path, method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
      <%= link_to 'Отмена', '#', class: 'button cancel' if resource.new_record? %>
    </div>
  <% end %>
</div>
