<%= javascript_include_tag 'esp-ckeditor/application' %>
<%= javascript_include_tag 'manage/info_plugin/info_plugin' %>

<%= simple_form_for [:manage, @post] do |f| %>
  <%= f.input :vfs_path, :as => :hidden, :input_html => { :id => 'vfs_path' } %>
  <%= f.input :title %>
  <%= f.input :annotation, :as => :ckeditor, :label => false %>
  <%= f.input :content, :as => :ckeditor, :label => false %>
  <%= f.input :status, :as => :boolean %>
  <div class='actions'>
    <%= f.submit "Сохранить" %>
    <%= link_to 'Удалить'.html_safe, resource_path, method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
  </div>
<% end %>
