<div class="my_wrapper">
  <div class="my_posts_wrapper">
    <div class="post_preview_wrapper">
      <div class="post_show_preview">
        <%= link_to 'Редактировать', edit_manage_post_path(@post) %>

        <% if @post.draft? %>
          <%= link_to 'Опубликовать', manage_post_path(@post, :post => { :state_event => :to_published }), :method => :put %>
          <%= link_to 'Удалить', manage_post_path(@post), :confirm => 'Вы уверены?', :method => :delete %>
        <% else %>
          <%= link_to 'В черновики', manage_post_path(@post, :post => { :state_event => :to_draft }), :method => :put %>
        <% end %>
        <%= render :partial => 'posts/post_show', :locals => { :post => @post, :for_preview => true } %>

        <div class="gallery_images_wrapper">
          <h3 id="gallery_images_header">Фотографии</h3>
          <ul class="gallery_images">
            <%= render @post.gallery_images %>
          </ul>

          <%= simple_form_for @post.gallery_images.new, :url => my_post_gallery_images_path(@post.id), :html => { :multipart => true, :class => 'file_upload default_simple_form' } do |f| %>
            <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
            <span class='info'>
              <span></span>Можно выбрать сразу несколько файлов
            </span>
          <% end %>

          <div class="upload_wrapper">
            <script id="template-upload" type="text/x-tmpl">
              <div class="upload">
                {%=o.name%}
                <div class="progress"><div class="bar" style="width: 0%"></div></div>
              </div>
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

