<div class="show">
  <h1>
    <%= @post.title %>
    <%= link_to "Редактировать пост", edit_manage_post_path, :class => 'edit_link' %>
    <%= link_to "Посмотреть в публичном виде", post_path(@post), :class => 'edit_link', :target => '_blank' %>
  </h1>

  <div class="annotation">
    <h4>Аннотация</h4>
    <%= @post.annotation.html_safe %>
  </div>

  <div class="content">
    <h4>Контент</h4>
    <%= @post.content.html_safe %>
  </div>
</div>


<div class='attachments'>
  <h3>
    Прикрепленные файлы:
    <%= link_to "Добавить файл", new_manage_post_post_image_path(resource), :class => 'edit_link'  %>
  </h3>

  <% if resource.post_images.any?  %>
    <span class="value">
      <ul>
        <% resource.post_images.each do |image| %>
          <li>
            <%= link_to(image_tag(image.attachment_url.gsub(/\/\d+-\d+\//, '/200-200/'), :alt => image.title, :title => image.title), image.attachment_url, :target => '_blank') %>
          </li>
          <li>
            <%= link_to "Удалить", manage_post_post_image_path(resource, image), :method => :delete, :confirm => 'Вы уверены?' %>
            <%= link_to 'Редактировать', edit_manage_post_post_image_path(resource, image)%>
          </li>
        <% end %>
      </ul>
    </span>
  <% else %>
    <span class="blank">Нет файлов</span>
  <% end %>
</div>
