<div class="show">
  <h1>
    <%= @post.title %>
    <%= link_to "Редактировать пост", edit_manage_post_path, :class => 'edit_link' %>
    <%= link_to "Посмотреть в публичном виде", post_path(@post), :class => 'edit_link', :target => '_blank' %>
  </h1>

  <div class="annotation">
    <h4>Аннотация</h4>
    <%= @post.annotation.html_safe %>
  </div>

  <div class="content">
    <h4>Контент</h4>
    <%= @post.content.html_safe %>
  </div>

<div class="upload_wrapper">
  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
{%=o.name%}
<div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
</div>

<div class='images'>
  <h3>Галерея изображений</h3>

  <div class="gallery_images">
    <span class="value">
      <ul>
        <%= render @post.gallery_images %>
      </ul>
    </span>
  </div>

  <%= simple_form_for @post.gallery_images.new, :url => manage_post_gallery_images_path(@post.id), :html => { :multipart => true, :class => 'file_upload' } do |f| %>
    <%= f.input :file, :input_html => { :multiple => true, :name => 'gallery_images[file]' } %>
  <% end %>
</div>
</div>
