<li>
  <p class='image'>
    <%= link_to image_tag(resized_image_url(gallery_image.file_url, 160, 160), :size => '160x160', :alt => gallery_image.description), gallery_image.file_url, :target => '_blank' %>
  </p>
  <p class='action'>
    <% if gallery_image.attachable.is_a?(SaunaHall) %>
      <%= link_to "Удалить", [:manage, gallery_image.attachable.organization, gallery_image.attachable, gallery_image], :method => :delete, :remote => true, :class => 'ajax_delete'  %>
      <%= link_to "Редактировать", [:edit, :manage, gallery_image.attachable.organization, gallery_image.attachable, gallery_image] %>
    <% else %>
      <%= link_to "Удалить", [:manage, gallery_image.attachable, gallery_image], :method => :delete, :remote => true, :class => 'ajax_delete'  %>
      <%= link_to "Редактировать", [:edit, :manage, gallery_image.attachable, gallery_image] %>
    <% end %>
  </p>
</li>
