<div class='left'>
  <ul>
    <% map_project.map_layers.order('created_at desc').each do |map_layer| %>
      <%= content_tag :li, :class => map_layer.slug == params[:layer] ? 'selected' : nil do %>
        <%= link_to map_layer.title, map_project_show_path(map_project.slug,layer: map_layer.slug), :style => "background-image: url('#{map_layer.image_url}')" %>
      <% end %>
    <% end %>
  </ul>

  <div class='actual_reviews'>
    <a href='#actual_reviews'>Актуальные обзоры</a>
  </div>

  <div class='text_block'>
    <%= image_tag asset_path("public/map_projects/#{map_project.slug}_left.png"), :alt => 'Отдых в новогодние праздники', :class => 'left_wreath' %>
    <p class='important'>Вас нет на карте?</p>
    <p>Звоните нам:</p>
    <p class='phone with_icon'><%= t('services.phone').split(',').first.to_s.squish %></p>
    <p class='phone'><%= t('services.phone').split(',').second.to_s.squish %></p>
    <p>или пишите на</p>
    <p class='email'><%= mail_to 'office@znaigorod.ru' %></p>
  </div>
</div>
