<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>

<div class='map_projects_wrapper'>
  <div class='map_projects_content'>

    <div class='map_projects_header'>
      <h1 class='lobster_font'><%= page_meta.og_title %></h1>
    </div>

    <div class='map_projects_main'>

      <%= render :partial => 'map_layers', :locals => { :map_project => @map_project } %>

      <div class='right'>
        <div class='map_wrapper'>
          <%= image_tag asset_path('public/map_projects/right_1.png'), :alt => 'Отдых в новогодние праздники', :class => 'right_wreath_1' %>
          <%= image_tag asset_path('public/map_projects/right_2.png'), :alt => 'Отдых в новогодние праздники', :class => 'right_wreath_2' %>
          <%= image_tag asset_path('public/map_projects/right_3.png'), :alt => 'Отдых в новогодние праздники', :class => 'right_wreath_3' %>
          <div class='placemarks_list'>
            <span data-cluster_icon="<%= @map_layer ? @map_layer.icon_image_url : asset_path('public/map_projects/all_layers_for_map.png') %>" class='js-cluster-icon' style='display: none'></span>
            <% @map_placemarks.each do |map_placemark| %>
              <%= render :partial => 'map_placemark', :locals => { :map_layer => @map_layer ? @map_layer : map_placemark.map_layers.first, :map_placemark => map_placemark } %>
            <% end %>
          </div>
          <div class='map' data-latitude='56.493246' data-longitude='84.982112'></div>
        </div>
        <% if page_meta %>
          <div class='introduction'>
            <%= page_meta.html_introduction %>
          </div>
        <% end %>
      </div>

    </div>

    <%= render :partial => 'related_reviews' %>
  </div>
</div>
