<div class="suborganization_info billiard">
  <%= billiard.iconize_info %>
  <table>
    <tr>
      <td class='border'>
        <%= billiard.htmlise_title_on_show %>
      </td>
      <td>
        <div class="details">
          <%= billiard.htmlise_features_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if billiard.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% billiard.images.each do |image| %>
          <li><%= link_to(image_tag_for(image.url, 124, 94, true, 'n'), image.url, rel: :billiard_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="pool_tables">
    <% billiard.grouped_decorated_pool_tables.each do |kind, pool_tables| %>
      <ul class="pool_table">
        <li>
          <h2><%= kind %></h2>
          <div class="pools">
            <% pool_tables.each do |pool_table| %>
              <div class="pool_details">
                <span class='count'><%= pool_table.count %> x</span>
                <span class='size'><%= pool_table.ft %></span>
                <span class='price'><%= pool_table.price %></span>
                <%= pool_table.schedule %>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
