<div class="main_page_block_wrapper today_in_city_header">
  <div class="main_page_block">
    <%= link_to "Вся афиша Томска", afisha_index_path, :class => "all_affiches" %>
    <h1><span class="strong">Сегодня</span> в городе</h1>
  </div>
</div>

<div class="main_page_block_wrapper today_in_city_menu">
  <div class="main_page_block">
    <ul>
      <% @presenter.today_afisha_links.each do |link| %>
        <%= content_tag :li, link[:current] ? { class: 'current' } : nil do %>
          <%= link_to afisha_index_path(link[:query]) do %>
            <%= link[:title] %>
            <span><%= "(#{link[:count]})" %></span>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="main_page_block_wrapper today_in_city_affiche">
  <div class="main_page_block">
    <div class="affiche">
      <% if @presenter.collection.any? %>
        <ul>
          <% @presenter.collection.each do |affiche| %>
            <li>
              <div class="item">
                <%= affiche.has_ribbon %>
                <% if affiche.has_tickets_for_sale? %>
                  <div class='has_items_for_sale' title='У нас вы можете купить билеты на мероприятие со скидкой!'>
                    -<%= affiche.max_tickets_discount %>%
                  </div>
                <% end %>
                <div class="rating">
                  <%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => affiche.model } %>
                </div>
                <%= content_tag :div, "#{affiche.age_min.to_i}+", class: :age if affiche.age_min.present? %>
                <div class="title"><%= affiche.main_page_link %></div>
                <div class="image"><%= affiche.main_page_poster %></div>
                <div class="place"><%= affiche.main_page_place %></div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="empty_message">
          Похоже сегодня в городе нет <%= t("afisha.empty.#{@presenter.categories.first.underscore.pluralize}") %> ;(
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="main_page_block_wrapper more_in_city">
  <div class="main_page_block">
    <ul>
      <% @presenter.category_afisha_links.each do |link| %>
        <li>
          <%= link_to link[:title], afisha_index_path(link[:query]) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
