<div class='item'>
  <div class='title'><%= afisha.truncated_title_link(24, separator: '') %></div>
  <div class='image'>
    <% if afisha.has_tickets_for_sale? %>
      <% if afisha.max_tickets_discount > 0 %>
        <div class='has_items_for_sale' title='У нас вы можете купить билеты на мероприятие со скидкой!'>
          Скидка на билет <%= afisha.max_tickets_discount %>%
        </div>
      <% else %>
        <div class='has_items_for_sale' title='У нас вы можете купить билеты на мероприятие!'>
          Есть билет в продаже
        </div>
      <% end %>
    <% end %>
    <%= afisha.poster_with_link(178, 240) %>
    <%= content_tag(:div, 'Премьера', class: :ribbon) if afisha.premiere?  %>
    <% if afisha.has_tickets_for_sale? %>
      <%= link_to 'Купить билет', afisha_show_path(afisha, anchor: :buy_ticket), class: :for_sale %>
    <% end %>
    <%= link_to afisha_show_path(afisha), class: :details do %>
      <span class='first_line'>
        <span class='to_go'><%= afisha.visits.count %></span>
        <span class='wait_invite'><%= afisha.visits.invited.count %></span>
        <span class='comments'><%= afisha.comments.count %></span>
      </span>
      <span class='second_line'>
        <span class='likes'><%= afisha.likes_count %></span>
        <span class='visits'><%= afisha.page_visits.count %></span>
        <%= content_tag :span, "#{afisha.age_min.to_i}+", class: :minimal_age if afisha.age_min.present? %>
      </span>
    <% end %>
  </div>
  <div class='place'><%= afisha.afisha_place(23, nil) %></div>
  <div class='human_when'><%= afisha.human_when ? afisha.human_when : "&nbsp;".html_safe %></div>
</div>
