<div class="item">
  <%= afisha.has_ribbon %>
  <% if afisha.has_tickets_for_sale? %>
    <div class='has_items_for_sale' title='У нас вы можете купить билеты на мероприятие со скидкой!'>
      -<%= afisha.max_tickets_discount %>%
    </div>
  <% end %>
  <div class="rating like_a_line">
    <%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => afisha.model } %>
  </div>
  <%= content_tag :div, "#{afisha.age_min.to_i}+", class: :age if afisha.age_min.present? %>
  <div class="title"><%= afisha.posters_title_link %></div>
  <div class="image"><%= afisha.posters_list_poster %></div>
  <div class="place"><%= afisha.posters_place %></div>
  <div class="closest"><%= afisha.when_with_price %></div>
</div>
