<div class="filters_wrapper">
  <div class='filters'>
    <div class='by_date'>
      <ul>
        <li><a href='#'>Сегодня</a></li>
        <li><a href='#'>На неделе</a></li>
        <li><a href='#'>На выходных</a></li>
        <li><a href='#'>Выбрать дату</a></li>
      </ul>
    </div>
    <div class='by_tickets'>
      <ul>
        <li><a href='#'>Только с билетами</a></li>
      </ul>
    </div>
  </div>

  <div class='filters'>
    <div class='by_kind'>
      <ul>
        <li>
          <%= link_to afisha_index_path do %>
            <%= content_tag :span, 'Вся афиша', class: :name %>
            <%= content_tag :span, Random.new.rand(55...95), class: :count  %>
          <% end %>
        </li>
        <% Afisha.kind.values.each do |kind| %>
          <li>
            <%= link_to send("#{kind.pluralize}_path") do %>
              <%= content_tag :span, kind.text, class: :name %>
              <%= content_tag :span, Random.new.rand(5...85), class: :count  %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
