<div class='afisha_filters_wrapper'>
  <div class='afisha_filters'>
    <div class='by_date'>
      <ul>
        <% @presenter.periods_links.each do |period_link| %>
          <li<%= " class=selected" if period_link[:selected] %>>
            <%= link_to period_link[:title],
            send(period_link[:url], period_link[:parameters]) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='by_tickets'>
      <ul>
        <li><a href='#'>Только с билетами</a></li>
      </ul>
    </div>
  </div>

  <div class='afisha_filters'>
    <div class='by_kind'>
      <ul>
        <% @presenter.categories_links.each do |category_link| %>
          <li class='<%= category_link[:klass] %><%= ' selected' if category_link[:current] %>'>
            <%= link_to send(category_link[:url], category_link[:parameters]) do %>
              <%= content_tag :span,  category_link[:title], class: :name %>
              <%= content_tag :span, category_link[:count], class: :count  %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class='afisha_presentation_filters'>
  <div class='present_by'>
    <p>Вид:</p>
    <ul>
      <li><a href='#'>Постеры</a></li>
      <li><a href='#'>Список</a></li>
    </ul>
  </div>
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.sortings_links.each do |sortings_link| %>
        <li<%= " class=selected" if sortings_link[:selected] %>>
          <%= link_to sortings_link[:title],
            send(sortings_link[:url], sortings_link[:parameters]) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
