<div class="filters_wrapper">
  <div class='filters'>
    <div class='by_date'>
      <ul>
        <li>
          <%= link_to t("afisha_periods.today"),
            @presenter.period_filter.today? ? afisha_index_path : afisha_index_path(:period => :today) %>
        </li>
        <li>
          <%= link_to t("afisha_periods.week"),
            @presenter.period_filter.week? ? afisha_index_path : afisha_index_path(:period => :week) %>
        </li>
        <li>
          <%= link_to t("afisha_periods.weekend"),
            @presenter.period_filter.weekend? ? afisha_index_path : afisha_index_path(:period => :weekend) %>
        </li>
        <li>
          <%= link_to t("afisha_periods.daily"),
            @presenter.period_filter.daily? ? afisha_index_path : afisha_index_path(:period => :daily) %>
        </li>
      </ul>
    </div>
    <div class='by_tickets'>
      <ul>
        <li><a href='#'>Только с билетами</a></li>
      </ul>
    </div>
  </div>

  <div class='filters'>
    <div class='by_kind'>
      <%= @presenter.categories_links %>
      <ul>
        <li>
          <%= link_to afisha_index_path do %>
            <%= content_tag :span, 'Вся афиша', class: :name %>
            <%= content_tag :span, Random.new.rand(55...95), class: :count  %>
          <% end %>
        </li>
        <% Afisha.kind.values.each do |kind| %>
          <li>
            <%= link_to send("#{kind.pluralize}_index_path") do %>
              <%= content_tag :span, kind.text, class: :name %>
              <%= content_tag :span, Random.new.rand(5...85), class: :count  %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
