<div class='afisha_filters_wrapper'>
  <div class='afisha_filters'>
    <div class='by_date'>
      <ul>
        <% @presenter.period_filter.available_period_values.each do |period_value| %>
          <li<%= " class=selected" if @presenter.period_filter.period == period_value %>>
            <%= link_to t("afisha_periods.#{period_value}"),
            send("#{@presenter.url}_index_path",
                 @presenter.period_filter.period == period_value ? nil : :period => period_value,
                 :order_by => @presenter.sorting_filter.order_by) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='by_tickets'>
      <ul>
        <li><a href='#'>Только с билетами</a></li>
      </ul>
    </div>
  </div>

  <div class='afisha_filters'>
    <div class='by_kind'>
      <ul>
        <% @presenter.categories_links.each do |category_link| %>
          <li class='<%= category_link[:parameters][:category] %><%= ' selected' if category_link[:current] %>'>
            <%= link_to send("#{category_link[:parameters].delete(:category)}_index_path", category_link[:parameters]) do %>
              <%= content_tag :span,  category_link[:title], class: :name %>
              <%= content_tag :span, category_link[:count], class: :count  %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class='afisha_presentation_filters'>
  <div class='present_by'>
    <p>Вид:</p>
    <ul>
      <li><a href='#'>Постеры</a></li>
      <li><a href='#'>Список</a></li>
    </ul>
  </div>
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.sorting_filter.available_sortings_values.each do |sorting_value| %>
        <li<%= " class=selected" if @presenter.sorting_filter.order_by == sorting_value %>>
          <%= link_to t("afisha.sort.#{sorting_value}"),
          send("#{@presenter.url}_index_path", :period => @presenter.period_filter.period, :order_by => sorting_value) %>
      </li>
    <% end %>
  </ul>
  </div>
  <div class='add_my_afisha'>
    <%= link_to 'Добавить свою афишу', new_my_afisha_path %>
  </div>
</div>
