<div class='filters_wrapper'>
  <div class='filters afisha'>
    <div class='by_date'>
      <ul>
        <% @presenter.periods_links.each do |period_link| %>
          <li<%= " class=selected" if period_link[:selected] %>>
            <%= link_to period_link[:title],
              send(period_link[:url], period_link[:parameters]), :class => period_link[:class] %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='by_tickets'>
      <ul>
        <li<%= " class=selected" if @presenter.has_tickets %>>
          <a href='<%= send((@presenter.has_tickets ? @presenter.url.gsub("_with_tickets_", "_") : @presenter.url.sub("_", "_with_tickets_")),
                            @presenter.url_parameters) %>'>Только с билетами</a>
        </li>
      </ul>
    </div>
  </div>

  <% cache('afishas_filters', :expires_in => 10.minutes) do %>
    <div class='filters afisha'>
      <div class='by_kind'>
        <ul>
          <% @presenter.categories_links.each do |category_link| %>
            <li class='<%= category_link[:klass] %><%= ' selected' if category_link[:current] %>'>
              <%= link_to send(category_link[:url], category_link[:parameters]) do %>
                <%= content_tag :span,  category_link[:title], class: :name %>
                <%= content_tag :span, category_link[:count], class: :count  %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
