<div class="item">
  <h3>
    <%= link_to item.title.text_gilensize, affiche_path(item), :class => 'solid_light_blue' %>
    <span class='category'><%= link_to item.class.model_name.human, affiches_path('search[affiche_category][]' => transliterate(item.class.model_name.human.mb_chars.downcase)) %></span>
  </h3>
  <div class="poster">
    <%= link_to image_tag_for(item.poster_url, 137, 185), affiche_path(item) %>
  </div>
  <div class="additional">
    <% if controller_name == 'affiches' && action_name == 'index' %>
      <%= render :partial => 'affiches/list_seance', :locals => { :range => @affiches_hash[item], :affiche => item } %>
    <% else %>
      <%= render :partial => 'affiches/seance', :locals => { :affiche => item } %>
    <% end %>
  </div>
</div>

