<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_description, @presenter.meta_description %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :extra_meta do %>
  <link rel='canonical' href='<%= afisha_index_url %>' />
<% end %>

<div class='afisha_list'>
  <%= render :partial => 'advertisment' if DateTime.now <= DateTime.new(2013, 6, 23, 22, 00, 00, '+7') %>
  <% if @presenter.collection.any? %>
    <ul class='<%= @presenter.view %>'>
      <%= render :partial => @presenter.partial %>
    </ul>
  <% else %>
    <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
  <% end %>
</div>

<%= paginate @presenter.paginated_collection %>
