<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>
<% content_for :extra_meta do %>
  <% if request.query_parameters.any? %>
    <link rel='canonical' href='<%= request.url.split('?').first %>' />
  <% end %>
  <% if page_meta %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% else %>
    <%= vk_meta((@presenter.has_tickets ? 'tickets' : @presenter.kind), (send @presenter.direct_url), 'znaigorod_logo.png') %>
  <% end %>
<% end %>

<div class='presentation_filters afisha'>
  <div class='present_by'>
    <p>Вид:</p>
    <ul>
      <li class='selected'><a href='#' class='poster'>Постеры</a></li>
      <li><a href='#' class='list'>Список</a></li>
    </ul>
  </div>
  <div class='filter_header'>
    <% if page_meta %>
      <h1><%= page_meta.header.squish.html_safe %></h1>
    <% elsif @presenter.categories_filter.selected.empty? %>
      <h1><%= t('meta.afisha.page_header') %></h1>
    <% else %>
      <h1><%= t("meta.#{@presenter.categories_filter.selected.first.pluralize}.page_header") %></h1>
    <% end %>
  </div>
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.sortings_links.each do |sortings_link| %>
        <li<%= " class=selected" if sortings_link[:selected] %>>
          <%= link_to sortings_link[:title],
            send(sortings_link[:url], sortings_link[:parameters]),
            :class => sortings_link[:parameters][:order_by] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class='afisha_list'>
  <%= render :partial => 'advertisment' if DateTime.now <= DateTime.new(2013, 6, 23, 22, 00, 00, '+7') %>
  <% if @presenter.collection.any? %>
    <ul class='<%= @presenter.view %>'>
      <%= render :partial => @presenter.partial, locals: { :afishas => nil } %>
    </ul>
  <% else %>
    <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
  <% end %>
</div>

<%= paginate @presenter.paginated_collection %>

<% if page_meta %>
  <div class='introduction'>
    <%= page_meta.html_introduction %>
  </div>
<% elsif !t("meta.#{@presenter.kind}.introduction", default: '').blank? || @presenter.has_tickets %>
  <div class='introduction'>
    <%= t("meta.#{@presenter.has_tickets ? 'tickets' : @presenter.kind}.introduction").as_html %>
  </div>
<% end %>
