<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>

<% content_for :extra_meta do %>
  <% if page_meta %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% else %>
    <%= vk_meta((@presenter.has_tickets ? 'tickets' : @presenter.kind), (send @presenter.direct_url), 'znaigorod_logo.png') %>
  <% end %>
<% end %>

<div class="afisha_left">
  <div class="filter_header">
    <% if page_meta %>
      <h1><%= page_meta.header.squish.html_safe %></h1>
    <% elsif @presenter.categories_filter.selected.empty? %>
      <h1><%= t('meta.afisha.page_header') %></h1>
    <% else %>
      <h1><%= t("meta.#{@presenter.categories_filter.selected.first.pluralize}.page_header") %></h1>
    <% end %>
  </div>

  <div class="filter_and_share">
    <div class='presentation_filters afisha'>
      <!--noindex-->
      <%= render :partial => 'commons/presentation_filters' %>
      <!--/noindex-->
    </div>
    <%= render :partial => 'commons/like_this', :locals => { :url => request.url.split('?').first } %>
  </div>

  <div class="afisha_content js-button-pagination">
    <% if @presenter.collection.any? %>
      <ul class='posters js-paginable-list' data-item-width="220">
        <%= render :partial => 'afishas/afisha_posters', :locals => { :afishas => @presenter.decorated_collection, :presenter => @presenter } %>
      </ul>
    <% else %>
      <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
    <% end %>
  </div>

  <%= render :partial => 'commons/ads_by_google' %>

  <% if page_meta %>
    <div class='introduction green'>
      <%= page_meta.html_introduction %>
    </div>
  <% elsif !t("meta.#{@presenter.kind}.introduction", default: '').blank? || @presenter.has_tickets %>
    <div class='introduction green'>
      <%= t("meta.#{@presenter.has_tickets ? 'tickets' : @presenter.kind}.introduction").as_html %>
    </div>
  <% end %>
</div>

<div class="afisha_right">
  <%= render :partial => 'commons/promotions' %>
</div>

