<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_description, @presenter.meta_description %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :extra_meta do %>
  <link rel='canonical' href='<%= afisha_index_url %>' />
<% end %>

<div class='presentation_filters'>
  <div class='present_by'>
    <p>Вид:</p>
    <ul>
      <li><a href='#'>Постеры</a></li>
      <li><a href='#'>Список</a></li>
    </ul>
  </div>
  <div class='order by'>
    <p>Сортировать по:</p>
    <ul>
      <li>
        <%= link_to t('afisha.sort.rating'),
          afisha_index_path(@presenter.query.merge('order_by' => 'rating')),
          @presenter.sort_by_rating? ? { class: 'selected' } : {} %>
      </li>
      <li>
        <%= link_to t('afisha.sort.creation'),
          afisha_index_path(@presenter.query.merge('order_by' => 'creation')),
          @presenter.sort_by_creation? ? { class: 'selected' } : {} %>
      </li>
      <li>
        <%= link_to t('afisha.sort.starts_at'),
          afisha_index_path(@presenter.query.merge('order_by' => 'starts_at')),
          @presenter.sort_by_starts_at? ? { class: 'selected' } : {} %>
      </li>
    </ul>
  </div>
  <div class='add_my_afisha'>
    <%= link_to 'Добавить свою афишу', new_my_afisha_path %>
  </div>
</div>

<div class='afisha_list'>
  <%= render :partial => 'advertisment' if DateTime.now <= DateTime.new(2013, 6, 23, 22, 00, 00, '+7') %>

  <% if @presenter.collection.any? %>
    <ul class='items_list <%= @presenter.view %>'>
      <%= render :partial => @presenter.partial %>
    </ul>
  <% else %>
    <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
  <% end %>
</div>

<%= paginate @presenter.paginated_collection %>
