<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>

<% content_for :extra_meta do %>
  <% if page_meta %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% else %>
    <%= vk_meta((@presenter.has_tickets ? 'tickets' : @presenter.kind), (send @presenter.direct_url), 'znaigorod_logo.png') %>
  <% end %>
<% end %>

<div class="afisha_left">
  <div class="title">
    <% if page_meta %>
      <h1><%= page_meta.header.squish.html_safe %></h1>
    <% elsif @presenter.categories_filter.selected.empty? %>
      <h1><%= t('meta.afisha.page_header') %></h1>
    <% else %>
      <h1><%= t("meta.#{@presenter.categories_filter.selected.first.pluralize}.page_header") %></h1>
    <% end %>
  </div>

  <!--noindex-->
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.sortings_links.each do |sortings_link| %>
        <li<%= " class=selected" if sortings_link[:selected] %>>
          <%= link_to sortings_link[:title],
            send(sortings_link[:url], sortings_link[:parameters]),
            :class => sortings_link[:parameters][:order_by] %>
        </li>
      <% end %>
    </ul>
  </div>
  <!--/noindex-->

  <%= render :partial => 'afishas/presentation_filters' %>

  <% if false %>
    <div class="afisha-paginator afisha_list">
      <% if @presenter.collection.any? %>
        <ul class='posters js-isotoped-content <%= @presenter.view %>' data-item-width="200">
          <%= render :partial => @presenter.partial, locals: { :afishas => nil } %>
        </ul>
      <% else %>
        <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
      <% end %>
    </div>
  <% end %>
>>>>>>> Initial new afisha list
</div>

<div class="afisha_right">
  <%= render :partial => 'afishas/promotions' %>
</div>

<%= paginate @presenter.paginated_collection %>

<% if false %>
  <% if page_meta %>
    <div class='introduction'>
      <%= page_meta.html_introduction %>
    </div>
  <% elsif !t("meta.#{@presenter.kind}.introduction", default: '').blank? || @presenter.has_tickets %>
    <div class='introduction'>
      <%= t("meta.#{@presenter.has_tickets ? 'tickets' : @presenter.kind}.introduction").as_html %>
    </div>
  <% end %>
<% end %>
