<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_description, @presenter.meta_description %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :extra_meta do %>
  <link rel='canonical' href='<%= afisha_index_url %>' />
<% end %>

<div class='presentation_filters afisha'>
  <div class='present_by'>
    <p>Вид:</p>
    <ul>
      <li class='selected'><a href='#' class='poster'>Постеры</a></li>
      <li><a href='#' class='list'>Список</a></li>
    </ul>
  </div>
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.sortings_links.each do |sortings_link| %>
        <li<%= " class=selected" if sortings_link[:selected] %>>
          <%= link_to sortings_link[:title],
            send(sortings_link[:url], sortings_link[:parameters]), :class => sortings_link[:parameters][:order_by] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class='afisha_list'>
  <%= render :partial => 'advertisment' if DateTime.now <= DateTime.new(2013, 6, 23, 22, 00, 00, '+7') %>
  <% if @presenter.collection.any? %>
    <ul class='<%= @presenter.view %>'>
      <%= render :partial => @presenter.partial, locals: { :afishas => nil } %>
    </ul>
  <% else %>
    <p class='empty_items_list'>По заданным параметрам ничего не найдено ;(</p>
  <% end %>
</div>

<%= paginate @presenter.paginated_collection %>

<% unless t("meta.#{@presenter.kind}.introduction", default: '').blank? %>
  <div class='introduction'>
    <%= t("meta.#{@presenter.kind}.introduction").as_html %>
  </div>
<% end %>
