<% content_for :page_title do %>
  <% if @afisha.title.present? %>
    <%= @afisha.title.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @afisha.kind.map(&:text).join(', ') %> в Томске
<% end %>
<% content_for :meta_keywords, @afisha.meta_keywords %>
<% content_for :meta_description, @afisha.meta_description %>

<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<% content_for :extra_meta do %>
  <%= @afisha.tags_for_vk %>
<% end %>

<% content_for :twitter_cards do %>
  <meta name='twitter:card' content='summary'>
  <meta name='twitter:site' content='@znaigorod'/>
  <meta name='twitter:url' content='<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>'/>
  <meta name='twitter:title' content='<%= @afisha.title %>'/>
  <meta name='twitter:description' content='<%= @afisha.description.to_s.excerpt %>'/>
  <meta name='twitter:image' content='<%= resized_image_url(@afisha.poster_url, 120, 120) %>'/>
<% end %>

<div class='afisha_show'>

  <div class='left'>
    <div class='image'>
      <% if @afisha.poster_url.present? %>
        <%= link_to(image_tag(resized_image_url(@afisha.poster_url, 200, 269), size: '200x269', alt: @afisha.title), @afisha.poster_url) %>
      <% else %>
        <%= image_tag('public/stub_poster.png', size: '200x269', alt: :poster) %>
      <% end %>
      <%= content_tag(:div, 'Премьера', class: :ribbon) if @afisha.premiere? %>
    </div>
    <div class='social_actions'>
      <%= render :partial => 'visits/visit', :locals => { :visitable => @afisha.model } %>
    </div>
  </div>

  <div class='right'>
    <% if @afisha.allow_auction? %>
      <div class="wrapper">
        <div class="auction">
          <%= render :partial => 'my/bets/form' %>

          <ul class="bets">
            <%= render :collection => @afisha.bets.reload, :partial => 'my/bets/bet' %>
          </ul>
        </div>
      </div>
    <% end %>


    <% if @afisha.tickets.map(&:copies_for_sale).any? %>
      <ul class='tickets'>
        <% @afisha.tickets.each do |ticket| %>
          <% if ticket.copies_for_sale.any? %>
            <li>
              <div class='wrapper'>
                <% if ticket.original_price == ticket.price %>
                  <div class='has_items_for_sale without_discount'>
                    Купить билет
                  <div class='ticket_price'>
                    <div class='price'><%= ticket.price.to_i %>р.<%= "+#{ticket.organization_price.to_i}р." if ticket.organization_price %></div>
                  </div>
                  <div class='ticket_for_sale'><%= t 'copy.for_sale', count: ticket.copies_for_sale.count %></div>
                  <div class='buy_ticket'>
                    <%= link_to 'Купить', new_ticket_copy_payment_path(ticket), class: :payment_link %>
                  </div>
                <% else %>
                  <div class='has_items_for_sale'>
                    Скидка на билет
                    <span class='discount'><%= ticket.discount %></span><span class='percentage'>%</span></div>
                  <div class='ticket_prices'>
                    <div class='original_price'><%= ticket.original_price.to_i %>р.</div>
                    <div class='price'><%= ticket.price.to_i %>р.<%= "+#{ticket.organization_price.to_i}р." if ticket.organization_price %></div>
                  </div>
                  <div class='ticket_for_sale'><%= t 'copy.for_sale', count: ticket.copies_for_sale.count %></div>
                  <div class='buy_ticket'>
                    <%= link_to 'Купить', new_ticket_copy_payment_path(ticket), class: :payment_link %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <div class='wrapper'>

      <% if @afisha.geo_present? %>
        <div class='yandex_map'>
          <div class='map'
            data-latitude='<%= @afisha.places.first.latitude %>'
            data-longitude='<%= @afisha.places.first.longitude %>'
            data-hint='<%= @afisha.places.first.title.text_gilensize %>'
            <%= "data-id=#{@afisha.places.first.organization.id}" if @afisha.places.first.organization %>>
          </div>
        </div>
      <% end %>

      <% if @afisha.similar_afisha.present? %>
        <div class='more_like_this'>
          <p class='title'>Другие мероприятия</p>
          <ul>
            <% @afisha.similar_afisha.each do |afisha| %>
              <li>
                <div class='image'>
                  <% if afisha.poster_url.present? %>
                    <%= link_to afisha_show_path(afisha) do %>
                      <%= image_tag resized_image_url(afisha.poster_url, 65, 87), :size => '65x87', :alt => afisha.title.text_gilensize %>
                    <% end %>
                  <% end %>
                  <%= content_tag(:div, 'Премьера', class: :ribbon) if @afisha.premiere? %>
                </div>
                <div class='clearfix'>
                  <div class='title'><%= link_to afisha.title.text_gilensize, afisha_show_path(afisha) %></div>
                  <%= content_tag :div, afisha.afisha_place, :class => 'places' if afisha.afisha_place.present? %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>

  </div>

  <div class='center'>
    <%= link_to 'изменить', edit_manage_afisha_path(@afisha), :class => 'icon_edit' if can? :edit, @afisha %>

    <% if @afisha.title.present? %>
      <%= content_tag :h1, @afisha.title.text_gilensize %>
    <% else %>
      <%= content_tag :h1, 'Нет названия' %>
    <% end %>
    <%= content_tag :p, @afisha.original_title.text_gilensize, :class => 'original_title' if @afisha.original_title? %>

    <div class='closest'>
      <%= @afisha.when_with_price %>
    </div>

    <% unless @afisha.distribution_movie? %>
      <% @afisha.places.each do |place| %>
        <div class='place'>
          <%= place.place %>
        </div>
      <% end %>
    <% end %>

    <div class='text'>
      <% if @afisha.description.present? %>
        <%= @afisha.html_description %>
      <% else %>
        <p>Нет описания</p>
      <% end %>
      <%= @afisha.html_attachments %>
      <% if @afisha.user.present? && ![4, 13, 2303].include?(@afisha.user.account.id) %>
        <p class='afisha_owner'>
          <span>Автор:</span>
          <%= link_to(@afisha.user.account.title, @afisha.user.account) %>
        </p>
      <% else %>
        <p class='afisha_owner'>
          <span>Автор:</span>
          <%= link_to('ЗнайГород (Афиша Томска)', 'http://vk.com/znaigorod') %>
        </p>
      <% end %>
    </div>

    <div class='share_and_likes'>
      <%= render :partial => 'commons/share_this', :locals => { :url => afisha_show_url(@afisha) } %>
    </div>

    <div class='tags_and_visits'>
      <% if @afisha.tags.any? %>
        <ul class='tags'>
          <% @afisha.tags.each do |tag| %>
            <li><%= tag %></li>
          <%end%>
        </ul>
      <%end%>
      <div class='details'>
        <span class='show_tipsy to_go' title='Участники'><%= @afisha.visits.count %></span>
        <span class='show_tipsy wait_invite' title='Приглашения'>0</span> <!-- TODO change this -->
        <span class='show_tipsy comments' title='Комментарии'><%= @afisha.comments.count %></span>
        <span class='show_tipsy likes' title='Понравилось'><%= @afisha.likes_count %></span>
        <span class='show_tipsy visits' title='Просмотры'><%= @afisha.page_visits.count %></span>
        <%= content_tag :span, "#{@afisha.age_min.to_i}+", title: 'Возростное ограничение', class: 'show_tipsy minimal_age' if @afisha.age_min.present? %>
      </div>
    </div>

    <%= render :partial => 'schedule' %>

    <% if @afisha.trailer_code.present? %>
      <div class='trailer_header'><%= @afisha.kind.include?('movie') ? 'Трейлер' : 'Видео' %></div>
      <div class='trailer'>
        <%= @afisha.trailer_code_html %>
      </div>
    <% end %>

    <% if @afisha.images.present? %>
      <div class='photogallery_header'><%= @afisha.kind.include?('movie') ? 'Кадры' : 'Фотографии' %></div>
      <div class='photogallery'>
        <ul>
          <% @afisha.images.each do |image| %>
            <%= render :partial => image.partial_for_render_object, :object => image, :locals => { :rel => "afisha_images_gallery_#{@afisha.id}" } %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render :partial => 'comments/block', :locals => { :parent_obj => @afisha } %>

  </div>

</div>
