<% content_for :page_title do %>
  <% if @afisha.title.present? %>
    <%= @afisha.title.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @afisha.kind.map(&:text).join(', ') %> в Томске
<% end %>
<% content_for :meta_keywords, @afisha.meta_keywords %>
<% content_for :meta_description, @afisha.meta_description %>

<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU') %>

<% content_for :extra_meta do %>
  <%= @afisha.tags_for_vk %>
<% end %>

<% content_for :twitter_cards do %>
  <meta name='twitter:card' content='summary'>
  <meta name='twitter:site' content='@znaigorod'/>
  <meta name='twitter:url' content='<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>'/>
  <meta name='twitter:title' content='<%= @afisha.title %>'/>
  <meta name='twitter:description' content='<%= @afisha.description.to_s.excerpt %>'/>
  <meta name='twitter:image' content='<%= resized_image_url(@afisha.poster_url, 120, 120) %>'/>
<% end %>

<div class='afisha_show'>

  <div class='left'>
    <div class='image'>
      <% if @afisha.poster_url.present? %>
        <%= link_to(image_tag(resized_image_url(@afisha.poster_url, 200, 269), size: '200x269', alt: @afisha.title), @afisha.poster_url) %>
      <% else %>
        <%= image_tag('public/stub_poster.png', size: '200x269', alt: :poster) %>
      <% end %>
      <%= content_tag(:div, 'Премьера', class: :ribbon) if @afisha.premiere? %>
    </div>
    <div class='social_actions'>
      <%= render :partial => 'visits/visit', :locals => { :visitable => @afisha.model } %>
    </div>
  </div>

  <div class='right'>
    <ul class='affiche_tickets'>
      <% @afisha.tickets.each do |ticket| %>
        <% if ticket.copies_for_sale.any? %>
          <li>
            <div class='has_items_for_sale'>-<%= ticket.discount %>%</div>
            <div class='description'>Билет со скидкой</div>
            <div class='ticket_prices'>
              <div class='original_price'><span class='stroke'><%= ticket.original_price.to_i %> р.</span></div>
              <div class='price'><%= ticket.price.to_i %> р.<%= " + #{ticket.organization_price.to_i} р." if ticket.organization_price %></div>
            </div>
            <div class='buy_ticket'>
              <div class='ticket_for_sale'><%= t 'copy.for_sale', count: ticket.copies_for_sale.count %></div>
              <%= link_to 'Купить', new_ticket_copy_payment_path(ticket), class: :payment_link %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class='center'>
    <%= link_to 'изменить', edit_manage_afisha_path(@afisha), :class => 'floatr' if can? :edit, @afisha %>

    <% if @afisha.title.present? %>
      <%= content_tag :h1, @afisha.title.text_gilensize %>
    <% else %>
      <%= content_tag :h1, 'Нет названия' %>
    <% end %>
    <%= content_tag :p, @afisha.original_title.text_gilensize, :class => 'original_title' if @afisha.original_title? %>

    <div class='closest'>
      <%= @afisha.when_with_price %>
    </div>

    <% unless @afisha.distribution_movie? %>
      <% @afisha.places.each do |place| %>
        <div class='place'>
          <%= place.place %>
        </div>
      <% end %>
    <% end %>

    <div class='text'>
      <% if @afisha.description.present? %>
        <%= @afisha.html_description %>
      <% else %>
        <p>Нет описания</p>
      <% end %>
      <%= @afisha.html_attachments %>
      <% if @afisha.user.present? %>
        <p class='afisha_owner'>
          <span>Автор:</span>
          <%= link_to(image_tag(@afisha.user.avatar, size: '24x24', alt: @afisha.user.name), @afisha.user.account) %>
          <%= link_to(@afisha.user.name, @afisha.user.account) %>
        </p>
      <% else %>
        <p class='afisha_owner'>
          <span>Автор:</span>
          <%= link_to(image_tag('public/avatar_znaigorod.jpg', size: '24x24', alt: 'ЗнайГород'), 'http://vk.com/znaigorod') %>
          <%= link_to('ЗнайГород (Афиша Томска)', 'http://vk.com/znaigorod') %>
        </p>
      <% end %>
    </div>

    <div class='share_and_likes'>
      <%= render :partial => 'share_this' %>
    </div>

    <% if @afisha.tags.any? %>
      <ul class='tags'>
        <% @afisha.tags.each do |tag| %>
          <li><%= tag %></li>
        <%end%>
      </ul>
    <%end%>

    <% if @afisha.trailer_code.present? %>
      <div class='trailer_header'><%= @afisha.kind.include?('movie') ? 'Трейлер' : 'Видео' %></div>
      <div class='trailer'>
        <%= @afisha.trailer_code_html %>
      </div>
    <% end %>

    <% if @afisha.images.present? %>
      <div class='photogallery_header'><%= @afisha.kind.include?('movie') ? 'Кадры' : 'Фотографии' %></div>
      <div class='photogallery'>
        <ul>
          <% @afisha.images.each do |image| %>
            <li><%= render image %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>
