<%= simple_form_for GalleryImage.new, :url => my_gallery_images_path, :html => { :multipart => true, :class => 'upload_gallery_images', :data => { :title => 'Загрузка изображения' } } do |f| %>
  <%= f.input :file, :input_html => { :name => 'gallery_images[file]' }, :label => t('my.add_images') %>
<% end %>

<%= simple_nested_form_for @question,
  :as => :question,
  :url => @question.new_record? ? my_questions_path : my_question_path(@question.id),
  :html => { :class => "my_review_form default_simple_form review_article_form" } do |f| %>


  <%= text_field_tag 'tagit', '', :class => 'tagit_categories' %>
  <%= select_tag :cat, options_for_select(Question.categories.options), :class => 'select_type' %>
  <%= f.input :title, :as => :text, :input_html => { :placeholder => 'Укажите заголовок вопроса' } %>

  <%= f.input :content, :as => :text, :input_html => { :id => 'html', :class => 'markitup with-preview' }  %>

  <div class='submit'>
    <%= f.submit 'Отправить', :class => 'btn btn-lg btn-grey' %>
    <%= link_to 'Отмена', :back %>
  </div>
<% end %>

<%= render :partial => 'my/afishas/textile_syntax' %>

<div class="preview_wrapper">
  <h1>Предварительный просмотр</h1>
  <div class="reviews_show">
    <%= render :partial => 'my/reviews/review', :locals => { :review => ReviewDecorator.new(@question) } %>
  </div>
</div>

<div class="loader"></div>
