<%= form_tag organizations_by_category_path(@presenter.category.slug, params), :method => :get do %>
  <div class='advanced <%= @presenter.advanced_filter_used? ? 'opened' : 'closed' %>'>

    <div class='filter show' id='features'>
      <div class="filter_label">Особенности</div>
      <div class="filter_checkboxes">
        <% @presenter.category.all_features.ordered_by_title.pluck(:title).each_with_index do |feature_title, index| %>
          <div class='checkbox'>
            <%= check_box_tag "features[]", feature_title, @presenter.features.include?(feature_title), :id => "feature_#{index}" %>
            <%= label_tag "feature_#{index}", feature_title %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='submit_action'>
      <div class='submit_wrapper'>
        <input type='submit' value='Применить фильтр' class='button small' />
      </div>

      <div class='results_counter'>
        <span class='counter'>Найдено организаций: <%= @presenter.total_count %></span>
      </div>

      <div class='clear_wrapper'>
        <%= link_to 'Очистить', '#' %>
      </div>
    </div>
  </div>
<% end %>
