<% resource_class.facets.each do |facet| %>
  <div class="filter by_<%= facet %>">
    <h6 <%= is_active_filter?(facet) ? 'class=open' : '' %>><a href='#' class='dashed_dark_gray'><%= Organization.human_attribute_name(facet) %></a></h6>
    <div class="filter_wrapper <%= is_active_filter?(facet) ? '' : 'hide' %>">
      <a href="#" class='reset dashed_dark_gray'>Сбросить</a>
      <ul>
        <% @search.facet(resource_class.facet_field(facet)).rows.each do |row| %>
          <li>
            <a href="#" class='<%= transliterate(row.value) %> <%= is_active_variant?(facet, row.value) %>' data-value='<%= row.value %>'><%= row.value %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
