<div class="item">
  <h3>
    <%= link_to item.title.text_gilensize, item, :class => 'solid_light_blue' %>
    <% item.category.split(',').map(&:squish).each do |c| %>
      <span class='category'><%= link_to c, send("#{item.class.model_name.underscore.pluralize}_path", 'search[categories][]' => c) %></span>
    <% end %>
  </h3>
  <%= render :partial => 'organizations/index_poster', :locals => { :item => item } %>
  <div class="additional">
    <div class="seances_wrapper">
      <ul>
        <li>
          <span class="label">Адрес</span>
          <span class='address'><%= item.address %></span>
          <%= link_to "Показать карту", '#', :class => 'show_map_link solid_light_blue', :longitude => item.address.longitude, :latitude => item.address.latitude %>
        </li>
        <li>
          <span class="label">Телефон</span>
          <%= item.phone %>
        </li>
        <% if item.feature? %>
          <li>
            <span class="label">Особенности</span>
            <%= item.feature %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
