<div class="show">
  <div class="breadcrumbs">
    <ul>
      <li>
        <a href="/" class='solid_light_blue'>Главная</a><span class='arrow'>&rarr;</span>
      </li>
      <li>
        <%= link_to resource.class.model_name.human, collection_path, :class => 'solid_light_blue' %><span class='arrow'>&rarr;</span>
      </li>
    </ul>
  </div>

  <div class="main_info">
    <h1><%= resource.title.gilensize.html_safe %></h1>
    <div class="description">
      <%= render :partial => "#{resource.class.model_name.pluralize.underscore}/show_poster", :locals => { :resource => resource } %>
      <div class="info">
        <table>
          <tbody>
            <% if resource.categories? %>
              <tr>
                <td>Категория:</td>
                <td><%= resource.categories %></td>
              </tr>
            <% end %>
            <% if resource.address %>
              <tr>
                <td>Адрес:</td>
                <td><%= resource.address %></td>
              </tr>
            <% end %>
            <% if resource.phone %>
              <tr>
                <td>Телефон:</td>
                <td><%= resource.phone %></td>
              </tr>
            <% end %>
            <tr>
              <td>Режим работы:</td>
              <td>
                <ul class='schedule'>
                  <% resource.schedules.each do |schedule| %>
                    <li>
                      <div class="dow <%= 'today' if l(Date.today, :format => '%a') == schedule.short_human_day %>">
                        <%= schedule.short_human_day %>
                      </div>
                      <div class="time">
                        <% if schedule.holiday? %>
                          Выходной
                        <% else %>
                          <% if schedule.from == schedule.to %>
                            Круглосуточно
                          <% else %>
                            <div class="from">
                              <%= l schedule.from, :format => '%H:%M' %>
                            </div>
                            <div class="to">
                              <%= l schedule.to, :format => '%H:%M' %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
            <% if resource.halls.any? %>
              <tr>
                <td>Вместимость:</td>
                <td>
                  <ul class='seating_capacity'>
                    <% resource.halls.each do |hall| %>
                      <li>
                        <%= hall.title.mb_chars.capitalize %>
                        <%= "&mdash; #{hall.seating_capacity} чел.".html_safe if hall.seating_capacity? %>
                      </li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
            <% if resource.feature? %>
              <tr>
                <td>Особенности:</td>
                <td><%= resource.feature %></td>
              </tr>
            <% end %>
            <% if resource.offer? %>
              <tr>
                <td>Предложения:</td>
                <td><%= resource.offer %></td>
              </tr>
            <% end %>
            <% if resource.cuisine? %>
              <tr>
                <td>Кухня:</td>
                <td><%= resource.cuisine %></td>
              </tr>
            <% end %>
            <% if resource.payment? %>
              <tr>
                <td>Способы оплаты:</td>
                <td><%= resource.payment %></td>
              </tr>
            <% end %>
            <% if resource.site? %>
              <tr>
                <td>Сайт:</td>
                <td><%= link_to resource.site, resource.site, :class => 'solid_light_blue' %></td>
              </tr>
            <% end %>
            <% if resource.email? %>
              <tr>
                <td>Электронная почта:</td>
                <td><%= mail_to resource.email, resource.email, :class => 'solid_light_blue' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
<<<<<<< HEAD
        <%= content_tag :div, resource.description.gilensize.html_safe, :class => "story" unless resource.description.blank? %>
      </div>
      <div class="tags">
        <ul>
        <% resource.categories.split(',').map(&:squish).each do |c| %>
          <li><%= link_to c, collection_path('search[categories][]' => c) %></li>
        <% end %>
        </ul>
=======
        <div class="story">
          <%= raw resource.description %>
        </div>
>>>>>>> сделали поиск, контроллеры и виды
      </div>
    </div>
    <div class="map_container" style='width:640px;height:480px;margin: 20px auto;' longitude=<%= resource.address.longitude %> latitude=<%= resource.address.latitude %>></div>
    <% if resource.affiches.any? %>
      <div class="list">
<<<<<<< HEAD
        <%= render :partial => 'commons/list', :locals => { :collection => resource.affiches, :remote => true } %>
=======
        <%= render :partial => 'commons/list', :locals => { :collection => resource.nearest_affiches, :remote => true } %>
>>>>>>> сделали поиск, контроллеры и виды
      </div>
    <% end %>
    <%= render :partial => 'commons/comments_block' %>
  </div>
</div>
