<% cache("organization_#{params[:kind]}_#{params[:categories].try(:first).try(:underscore)}_#{params[:page]}", expires_in: 10.minutes) do %>
  <% @presenter.collection.each do |suborganization| %>
    <li class='item_organization fresh'>
      <%= render partial: 'organizations/suborganization', locals: { suborganization: suborganization, width: 150, height: 150 } %>
    </li>
  <% end %>
<% end %>
<% if params[:kind] || params[:categories] %>
  <% unless @presenter.collection.last_page? %>
    <li class="item pagination">
      <%= link_to_next_page @presenter.paginated_collection, "Еще организации (#{@presenter.current_count + @presenter.current_without_clients_count + 40})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
    </li>
  <% else %>
    <div style="clear:both"></div>
    <%= render partial: 'organizations/not_client_posters' %>
  <% end %>
<% else %>
  <div class="map_and_tree_wrapper">
    <ul class= "placemark_list">
      <% @placemarks.each do |item| %>
        <li class='list_view_organization_item' data-longitude="<%= item.longitude %>" data-latitude="<%= item.latitude %>"></li>
      <% end %>
    </ul>
    <div class="map_wrapper">
      <div class="map"></div>
    </div>
    <div class="tree left_position">
      <%= link_to "swap","#", :class => "js-swap-position swap_position swap_left" %>
      <div class="scroll_wrapper">
        <% @presenter.kinds_links_for_index.each do |kind| %>
          <div class="kind_wrapper">
            <p><%= link_to "+", "#", :class => "js-open-list open_list plus" %> <%= link_to kind[:title], send(kind[:url]), :class => "kind" %> <span class="organization_quantity"><%= kind[:categories].map{ |k|  k[:count] }.inject(:+) %></span></p>
            <div class="categories">
              <% kind[:categories].each do |category| %>
                <p><%= link_to category[:title], send(category[:url]), :class => "category" %> <span class="organization_quantity"><%= category[:count] %></span></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
