<% if params[:q] && controller_name == 'organizations' %>
  <%= render partial: 'suborganizations/list_view' %>
<% else %>
  <% cache("organization_#{params[:kind]}_#{params[:categories].try(:first).try(:underscore)}_#{params[:page]}", expires_in: 10.minutes) do %>
    <% @presenter.collection.each do |suborganization| %>
      <li class='item_organization fresh'>
        <%= render partial: 'organizations/suborganization', locals: { suborganization: suborganization, width: 150, height: 150 } %>
      </li>
    <% end %>
  <% end %>
  <% if params[:kind] || params[:categories] %>
    <% unless @presenter.collection.last_page? %>
      <li class="item pagination">
        <%= link_to_next_page @presenter.paginated_collection, "Еще организации (#{@presenter.current_count + @presenter.current_without_clients_count + 40})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
      </li>
    <% else %>
      <div style="clear:both"></div>
      <%= render partial: 'organizations/not_client_posters' %>
    <% end %>
  <% else %>
    <div class="map_and_tree_wrapper">
      <ul class= "placemark_list">
        <% @placemarks.each do |item| %>
          <li class='list_view_organization_item' data-longitude="<%= item.longitude %>" data-latitude="<%= item.latitude %>" data-image="<%= item.logotype_url %>">
            <div class="info">
              <h1><%= link_to item.title.truncate(30), organization_path(item) %></h1>
            </li>
          <% end %>
        </ul>
        <div class="suborganizations_map_wrapper">
          <div class="map"></div>
        </div>

        <div class="tree left_position">
          <%= link_to "swap","#", :class => "js-swap-position swap_position swap_left" %>
          <div class="scroll_wrapper">
            <% @categories.each do |category| %>
              <div class="kind_wrapper">
                <p><%= link_to "+", "#", :class => "js-open-list open_list plus" %> <%= link_to category, send("#{category.kind.pluralize}_path"), :class => "kind" %> <span class="organization_quantity"><%= category.organizations_count %></span></p>
                <div class="categories">
                  <% category.children.each do |child| %>
                    <p><%= link_to child, send("#{child.kind.pluralize}_#{child.downcased_title.from_russian_to_param.pluralize}_path"), :class => "category" %> <span class="organization_quantity"><%= child.organizations_count %></span></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
