<% @presenter.clients.each do |organization| %>
  <li class='housing_item <%= cycle('item_1', 'item_2', 'item_3', :name => 'housing_item') %>'>
    <div class='info'>
      <div class='title'><%= organization.truncated_title_link %> </div>
      <div class='image'>
        <%= link_to organization_path(organization) do %>
          <% if organization.logotype_url? %>
            <%= image_tag(resized_image_url(organization.logotype_url, 150, 150), :size => '150x150', :alt => organization.title.text_gilensize) %>
          <% else %>
            <span class='stub_poster <%= organization.priority_suborganization_kind %>'></span>
          <% end %>
        <% end %>
      </div>
      <div class='address'>
        <%= organization.truncated_address_link.present? ? organization.truncated_address_link : "&nbsp;".html_safe %>
      </div>
    </div>

    <ul class='rooms need_scrolling'>
        <% organization.hotel.ordered_rooms.each do |room| %>
          <li>
            <%= render :partial => 'rooms/room', :locals => { :room => RoomDecorator.decorate(room) } %>
          </li>
        <% end %>
    </ul>
  </li>
<% end %>

<% unless @presenter.clients_results_last_page? %>
  <li class="item pagination">
    <%= link_to_next_page @presenter.clients_results, "Еще организации (#{@presenter.clients_results_current_count + @presenter.not_clients_results_total_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :param_name => :clients_page, :params => params %>
  </li>
<% else %>
  <div style="clear:both"></div>
  <%= render partial: 'not_client_posters' unless @presenter.advanced_filter_used? %>
<% end %>
