<%= content_tag :div, sauna_hall.title, :class => 'hall_title' if sauna_hall.title.present? %>
<div class='hall_details'>
  <p>
    <% price_min = sauna_hall.sauna_hall_schedules.map(&:price).min %>
    <% price_max = sauna_hall.sauna_hall_schedules.map(&:price).max %>
    <%= content_tag :span, price_min == price_max ? "#{price_min} руб." : "#{price_min} &mdash; #{price_max} руб.".html_safe %>,
    <%= sauna_hall.sauna_hall_capacity.default %> чел.
  </p>
  <% if sauna_hall.baths.any? %>
    <p class='hall_baths'>
      <span>Парная:</span>
      <%= sauna_hall.baths.join(', ') %>
    </p>
  <% end %>
  <% if sauna_hall.pool_features.any? || sauna_hall.pool_size.gsub(/-/,'').present? %>
    <p>
      <%= content_tag(:span, 'Бассейн:') unless sauna_hall.pool_size.blank? %>
      <%= [sauna_hall.pool_size.gsub(/-/,''), sauna_hall.pool_features].flatten.delete_if(&:blank?).join(', ') %>
    </p>
  <% end %>
</div>
