<% services.group_by(&:offer).sort.each do |offer, services| %>
  <div class='info'>
    <h3>
      <%= link_to '#', class: :closed do %>
        <%= "#{offer} #{I18n.t("service_min_price.#{services.first.kind}", count: services.map(&:min_value).compact.min)}" %>
      <% end %>
    </h3>

    <div class="details">
      <% services.each do |service| %>
        <% if service.description? %>
          <div class="service_description wide">
            <span class="label"><%= service.title %></span>
            <span class="value"><%= service.description %></span>
            <% if service.prices.any? %>
              <% service.prices.each do |price| %>
                <div class="service_price_value">
                  <%= price.description %>
                  <%= price %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <% if service.prices.many? %>
            <div class="service_description">
              <span class="label"><%= service.title %></span>
              <span class="value"><%= service.description %></span>
              <ul>
                <% service.prices.each do |price| %>
                  <li>
                    <%= price.description %>
                    <span class="service_price_value"><%= price %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <div class="service_description one_price">
              <%= service.title %>
              <span class="service_price_value"><%= service.prices.first.value if service.prices.any?%></span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div><!-- details -->
  </div>
<% end %>
