<% services.group_by(&:offer).sort.each do |offer, services| %>
  <div class='info'>

    <h3><%= "#{offer} #{I18n.t("service_min_price.#{services.first.kind}", count: services.map(&:min_value).compact.min)}" %></h3>
    <%= link_to "подробнее", '#', class: :closed %>

    <div class="details">
      <% services.each do |service| %>
        <div class="service_position">
          <div class ="service_position_info">
            <span class="title"><%= service.title %></span>
            <% if service.prices.any? %>
              <% if service.prices.many? %>
                <ul class="service_price">
                  <% service.prices.each do |price| %>
                    <li class="multi_price">
                      <% if price.description? %>
                        <abbr title="<%= price.description %>">
                          <%= "#{price.price_value}руб." %>
                        </abbr>
                      <% else %>
                        <abbr title="<%= price %>">
                          <%= "#{price.price_value}руб." %>
                        </abbr>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <% price = service.prices.first %>
                <div class="service_price">
                  <div class="price">
                    <%= "#{price.price_value}руб." %>
                  </div>
                  <% if price.count? %>
                    <div class="service_price_info">
                      <%= price %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if service.description? %>
            <div class="service_description">
              <%= simple_format service.description %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div><!-- details -->
  </div>
<% end %>
