<div class='info'>
  <h2>
    <% if suborganization.title.length > 22 %>
      <%= link_to suborganization.title.truncated(22, nil), suborganization, title: suborganization.title %>
    <% else %>
      <%= link_to suborganization.title, suborganization %>
    <% end %>
  </h2>
  <div class='image'>
    <%= link_to(image_tag(resized_image_url(suborganization.logotype_url, 178, 178), size: '178x178', alt: suborganization.title), suborganization) if suborganization.logotype_url.present? %>
  </div>
  <%= content_tag :div, suborganization.address_link, :class => 'place' unless suborganization.address_link.blank? %>
  <%= suborganization.decorated_phones %>
</div>
