<%= content_tag :div, suborganization.logo_link, :class => "image" unless suborganization.logo_link.blank? %>

<div class="info">
  <ul class="categories">
    <% suborganization.categories.each do |category| %>
      <li>
        <%= link_to category.hyphenate, send("#{@presenter.kind.pluralize}_path", :categories => [category.mb_chars.downcase]) %>
      </li>
    <% end %>
  </ul>

  <h2><%= suborganization.title_link %></h2>

  <%= content_tag :div, suborganization.address_link, :class => "place" unless suborganization.address_link.blank? %>

  <%= suborganization.schedule_today %>
</div>
