<div class='info'>
  <% if suborganization.organization.client?  %>
    <div class='image'>
      <% if suborganization.is_a?(OrganizationDecorator) %>
        <% if suborganization.sms_claimable? %>
          <div class='sms_claimable'>
            <%= suborganization.priority_sms_claimable_suborganization.reservation_title %>
          </div>
          <%= link_to suborganization.priority_sms_claimable_suborganization.reservation_title,
            send("new_#{suborganization.priority_sms_claimable_suborganization.class.name.underscore}_sms_claim_path", suborganization.priority_sms_claimable_suborganization),
            :class => :sms_claim_link %>
        <% end %>
      <% else %>
        <% if suborganization.sms_claimable? %>
          <div class='sms_claimable'>
            <%= suborganization.reservation_title %>
          </div>
          <%= link_to suborganization.reservation_title,
            send("new_#{suborganization.model.class.name.underscore}_sms_claim_path", suborganization),
            :class => :sms_claim_link %>
        <% end %>
      <% end %>
      <% if suborganization.organization.logotype_url? %>
        <%= link_to organization_path(suborganization.organization) do %>
          <%= image_tag(resized_image_url(suborganization.organization.logotype_url, width, height, :watermark => false), size: "#{width}x#{height}", alt: suborganization.organization.title) %>
        <% end %>
      <% else %>
        <%= link_to organization_path(suborganization.organization) do %>
          <span class='stub_poster <%= suborganization.priority_suborganization_kind %>'></span>
        <% end %>
      <% end %>
      <%= link_to organization_path(suborganization.organization), class: :details do %>
        <span class='first_line'>
          <span class='show_tipsy fa fa-users' title='Участники'> <%= suborganization.organization.visits.count %></span>
          <span class='show_tipsy fa fa-user' title='Приглашения'> 0</span>
          <span class='show_tipsy fa fa-comments' title='Комментарии'> <%= suborganization.organization.comments.count %></span>
        </span>
        <span class='second_line'>
          <span class='show_tipsy fa fa-heart' title='Понравилось'> <%= suborganization.organization.likes_count %></span>
          <span class='show_tipsy fa fa-eye' title='Просмотры'> <%= suborganization.organization.page_visits.count %></span>
        </span>
      <% end %>
    </div>
  <% end %>

  <div class='title'><%= suborganization.truncated_title_link(28) %> </div>

  <div class="place">
    <%= suborganization.truncated_address_link.present? ? suborganization.truncated_address_link(false) : "&nbsp;".html_safe %>
  </div>

  <div class='phone'>
    Тел.:
    <%= link_to "#{suborganization.organization.phone.truncate(6)}", "#", class: "js-show-phone", id: suborganization.organization.id, single_phone: true %>
  </div>
</div>
