<div class='info'>
  <div class='title'><%= suborganization.truncated_title_link %> </div>
  <div class='image'>
    <% if suborganization.is_a?(OrganizationDecorator) %>
      <% if suborganization.sms_claimable? %>
        <div class='sms_claimable'>
          <%= suborganization.priority_sms_claimable_suborganization.reservation_title %>
        </div>
        <%= link_to suborganization.priority_sms_claimable_suborganization.reservation_title,
          send("new_#{suborganization.priority_sms_claimable_suborganization.class.name.underscore}_sms_claim_path", suborganization.priority_sms_claimable_suborganization),
          :class => :sms_claim_link %>
      <% end %>
    <% else %>
      <% if suborganization.sms_claimable? %>
        <div class='sms_claimable'>
          <%= suborganization.reservation_title %>
        </div>
        <%= link_to suborganization.reservation_title,
          send("new_#{suborganization.class.name.underscore}_sms_claim_path", suborganization),
          :class => :sms_claim_link %>
      <% end %>
    <% end %>
    <% if suborganization.organization.logotype_url? %>
      <%= link_to organization_path(suborganization.organization) do %>
        <%= image_tag(resized_image_url(suborganization.organization.logotype_url, 178, 178), size: "178x178", alt: suborganization.organization.title) %>
      <% end %>
    <% else %>
      <%= link_to organization_path(suborganization.organization) do %>
        <span class='stub_poster <%= suborganization.priority_suborganization_kind %>'></span>
      <% end %>
    <% end %>
    <%= link_to organization_path(suborganization.organization), class: :details do %>
      <span class='first_line'>
        <span class='show_tipsy to_go' title='Участники'><%= suborganization.organization.visits.count %></span>
        <span class='show_tipsy wait_invite' title='Приглашения'>0</span>
        <span class='show_tipsy comments' title='Комментарии'><%= suborganization.organization.comments.count %></span>
      </span>
      <span class='second_line'>
        <span class='show_tipsy likes' title='Понравилось'><%= suborganization.organization.likes_count %></span>
        <span class='show_tipsy visits' title='Просмотры'><%= suborganization.organization.page_visits.count %></span>
      </span>
    <% end %>
  </div>
  <div class="place">
    <%= suborganization.truncated_address_link.present? ? suborganization.truncated_address_link : "&nbsp;".html_safe %>
  </div>
  <%= suborganization.decorated_phones %>
</div>
