<%= content_tag :div, suborganization.logo_link, :class => "image" unless suborganization.logo_link.blank? %>

<div class="info">

  <div class="head">
    <h2><%= suborganization.truncated_title_link %></h2>
    <div class="right">
      <%= suborganization.decorated_phones %>
      <%= suborganization.schedule_today %>
      <%= content_tag :div, suborganization.address_link, :class => "place" unless suborganization.address_link.blank? %>
    </div>
  </div>

  <div class="rating" style='margin: 5px 10px;'>
    <%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => suborganization.organization } %>
  </div>

  <ul class="categories">
    <% suborganization.category_links.each do |category_link| %>
      <li><%= category_link %></li>
    <% end %>
  </ul>
</div>
