<div class='info'>
  <div class='title'><%= suborganization.truncated_title_link %> </div>
  <div class='image'>
    <% if suborganization.organization.logotype_url? %>
      <%= link_to organization_path(suborganization.organization) do %>
        <%= image_tag(resized_image_url(suborganization.organization.logotype_url, 178, 178), size: "178x178", alt: suborganization.organization.title) %>
      <% end %>
    <% else %>
      <%= link_to organization_path(suborganization.organization) do %>
        <span class='stub_poster <%= suborganization.priority_suborganization_kind %>'></span>
      <% end %>
    <% end %>
    <%= link_to organization_path(suborganization.organization), class: :details do %>
      <span class='first_line'>
        <span class='to_go'><%= suborganization.organization.visits.count %></span>
        <span class='wait_invite'>0</span>
        <span class='comments'><%= suborganization.organization.comments.count %></span>
      </span>
      <span class='second_line'>
        <span class='likes'><%= suborganization.organization.likes_count %></span>
        <span class='visits'><%= suborganization.organization.page_visits.count %></span>
      </span>
    <% end %>
  </div>
  <%= content_tag :div, suborganization.address_link, :class => 'place' unless suborganization.address_link.blank? %>
  <%= suborganization.decorated_phones %>
</div>
