<%= content_tag :div, suborganization.logo_link, :class => "image" unless suborganization.logo_link.blank? %>
<div class="info">

  <% if @organizations_collection.category_all? %>
    <ul class="categories">
      <% suborganization.categories.each do |category| %>
        <li>
          <%= link_to category.hyphenate, organizations_path(organization_class: @organizations_collection.organization_class.pluralize, category: category.mb_chars.downcase) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h2><%= suborganization.title_link %></h2>

  <%= suborganization.snipped_links %>

  <%= content_tag :div, suborganization.address_link, :class => "place" unless suborganization.address_link.blank? %>

  <%= suborganization.schedule_today %>

  <%= suborganization.contacts %>


</div>
