<div class="default_styles">
  <h3>Предоставление информации о заведении</h3>

  <%= form_tag send_mail_organizations_path, :class => 'default_simple_form add_organization' do %>

    <div class="input">
      <label for="title">Название:</label>
      <%= text_area_tag :title %>
    </div>

    <div class="input">
      <label for="address">Адрес:</label>
      <%= text_area_tag :address %>
    </div>

    <div class="input">
      <label for="phone">Контактный телефон:</label>
      <%= text_area_tag :phone %>
    </div>

    <%= submit_tag 'Отправить', :class => 'submit btn btn-orange' %>
  <% end %>
</div>
