<% content_for :organization_content do  %>
  <div class="info">
    <% if @organization.categories.any? %>
      <ul class="categories">
        <% @organization.categories.each do |category| %>
          <li><%= link_to category, organizations_path(organization_class: @organization.suborganization_kind, category: category.mb_chars.downcase) %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="head">
      <h1><%= @organization.title %></h1>
    </div>

    <div class="description">
      <% unless @organization.address_link.blank? %>
        <div class="place">
          <p class="address"><%= @organization.address_link %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="affiches_list">
    <div class="list_settings">
      <div class="presentation">
        <p>Настройка списка:</p>
        <ul>
          <li><a class="list<%= ' selected' if @affiche_collection.presentation_mode == 'list' %>" title="подробный список" href="">список</a></li>
          <li><span class="separator">&nbsp;</span></li>
          <li><a class="posters<%= ' selected' if @affiche_collection.presentation_mode == 'posters' %>" title="краткий список" href="">постеры</a></li>
        </ul>
      </div>
      <div class="sort">
        <p>Сортировка:</p>
        <ul>
          <%= @affiche_collection.sort_links %>
        </ul>
      </div>
    </div>
    <% unless @affiche_collection.affiches.blank? %>
      <ul class="items_list <%= @affiche_collection.presentation_mode %>">
        <%= render partial: @affiche_collection.view_partial %>
      </ul>
    <% else %>
      <p class="empty_items_list">По заданным параметрам ничего не найдено ;(</p>
    <% end %>
  </div>

<% end %>
<%= render :file => "organizations/wrapper" %>
