<% content_for :organization_content do  %>

  <div class="affiches_list">
    <div class="list_settings">
      <div class="presentation">
        <p>Настройка списка:</p>
        <ul>
          <li><a class="list<%= ' selected' if @presenter.presentation_mode == 'list' %>" title="подробный список" href="">список</a></li>
          <li><span class="separator">&nbsp;</span></li>
          <li><a class="posters<%= ' selected' if @presenter.presentation_mode == 'posters' %>" title="краткий список" href="">постеры</a></li>
        </ul>
      </div>
      <div class="sort">
        <p>Сортировка:</p>
        <ul>
          <%= @presenter.sort_links %>
        </ul>
      </div>
    </div>
    <% unless @presenter.affiches.blank? %>
      <ul class="items_list <%= @presenter.presentation_mode %>">
        <%= render partial: @presenter.view_partial %>
      </ul>
    <% else %>
      <p class="empty_items_list">По заданным параметрам ничего не найдено ;(</p>
    <% end %>
  </div>

<% end %>
<%= render :file => "organizations/wrapper" %>
