<div class="content_wrapper">
  <div class="affiches_list">
    <h1><span class="strong"><%= @organizations_collection.title %></span> <%= @organizations_collection.subtitle %></h1>
    <ul>
      <% @organizations_collection.organizations.each do |organization| %>
        <li>
          <%= organization.logo_link %>
          <%= organization.title_link %>
          <%= organization.address_link %>

          <ul>
            <% organization.categories.each do |category| %>
              <li>
                <%= link_to category, organizations_path(organization_class: @organizations_collection.organization_class.pluralize, category: category.mb_chars.downcase) %>
              </li>
            <% end %>
          </ul>

          <% if organization.phone.present? %>
            <p>
              Телефон: <%= organization.phone %>
            </p>
          <% end %>

          <% if organization.site.present? %>
            <p>
            Сайт: <%= organization.site_link %>
            </p>
          <% end %>

          <% if organization.email.present? %>
            <p>
              E-mail: <%= organization.email_link %>
            </p>
          <% end %>

          <% if organization.features.any? %>
            Особенности:
            <ul>
              <% organization.features.each do |feature| %>
                <li>
                  <%= link_to feature, @organizations_collection.filter_link_url(feature: feature.mb_chars.downcase) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if organization.offers.any? %>
            Предложения:
            <ul>
              <% organization.offers.each do |offer| %>
                <li>
                  <%= link_to offer, @organizations_collection.filter_link_url(offer: offer.mb_chars.downcase) %>
              </li>
              <% end %>
            </ul>
          <% end %>

          <% if organization.cuisines.any? %>
            Кухня:
            <ul>
              <% organization.cuisines.each do |cuisine| %>
                <li>
                  <%= link_to cuisine, @organizations_collection.filter_link_url(cuisine: cuisine.mb_chars.downcase) %>
              </li>
              <% end %>
            </ul>
          <% end %>

        </li>
      <% end %>
    </ul>
  </div>
  <div class="affiches_filter">
    <ul class="categories">
      <% @organizations_collection.class_categories_links.each do |link| %>
        <li class="<%= link.html_options[:class] %>">
          <% unless link.current? %>
            <%= link_to link.title, link.url %>
          <% else %>
            <div class="title"><%= link.title %></div>
            <% @organizations_collection.filters.each do |filter, filter_links| %>
              <% next if filter_links.empty? %>
              <ul class="tags">
                <li class="title"><%= t("organization.filters.#{filter}") %></li>
                <% filter_links.each do |filter_link| %>
                  <li class="<%= filter_link.html_options[:class] %>">
                    <%= filter_link %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= paginate @organizations_collection.paginated_organizations %>
