<div class="content_wrapper">
  <div class="affiches_list">
    <h1><span class="strong"><%= @organizations_collection.title %></span> <%= @organizations_collection.subtitle %></h1>
    <ul>
      <% @organizations_collection.organizations.each do |organization| %>
        <li>
          <%= organization.title %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="affiches_filter">
    <ul class="categories">
      <% @organizations_collection.class_categories_links.each do |link| %>
        <li class="<%= link.html_options[:class] %>">
          <% unless link.current? %>
            <%= link_to link.title, link.url %>
          <% else %>
            <div class="title"><%= link.title %></div>
            <% @organizations_collection.filters.each do |filter, filter_links| %>
              <% next if filter_links.empty? %>
              <ul class="tags">
                <li class="title"><%= t("organization.filters.#{filter}") %></li>
                <% filter_links.each do |filter_link| %>
                  <li class="<%= filter_link.html_options[:class] %>">
                    <%= filter_link %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= paginate @organizations_collection.organizations %>
