<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.34/?load=package.full&lang=ru-RU') %>
<% content_for :meta_title, @organization.page_meta_title if @organization.page_meta_title.present? %>
<% content_for :page_title, @organization.page_meta_title.blank? ? @organization.title.text_gilensize + " - " + I18n.t("organization.list_title.#{@organization.fake_kind}") + " Томска" : @organization.page_meta_title %>
<% content_for :meta_keywords, @organization.page_meta_keywords || @organization.meta_keywords %>
<% content_for :meta_description, @organization.page_meta_description || @organization.meta_description %>
<% content_for :extra_meta do %>
  <%= @organization.open_graph_meta %>
  <%= @organization.twitter_cards_meta %>
<% end %>

<div class='organization_show'>
  <div class='left js-fixed-menu'>
    <div class='image'>
      <% if @organization.client? %>
        <% if @organization.logotype_url? %>
          <%= link_to(image_tag(resized_image_url(@organization.logotype_url, 200, 200, :watermark => false), :size => '200x200', :alt => @organization.title), @organization.logotype_url) %>
        <% else %>
          <span class='stub_poster <%= @organization.priority_suborganization_kind %>'></span>
        <% end %>
      <% else %>
        <span class='stub_poster <%= @organization.priority_suborganization_kind %>'></span>
      <% end %>
    </div>

    <% if @organization.sms_claimable_suborganizations.any? %>
      <ul class='sms_claims'>
        <% @organization.sms_claimable_suborganizations.each do |suborganization| %>
          <li>
            <%= link_to suborganization.reservation_title,
              send("new_#{suborganization.class.name.underscore}_sms_claim_path", suborganization), :class => :sms_claim_link %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= render :partial => 'commons/social_block', :locals => { :inviteable => @organization.model } %>
    <div class="organization_show_navs">
      <ul>
        <li><%= link_to 'Photo', '#photo_block', class: :js_fixed_menu_item %></li>
        <li><%= link_to 'Photo', '#discounts_block', class: :js_fixed_menu_item %></li>
        <li><%= link_to 'Photo', '#reviews_block', class: :js_fixed_menu_item %></li>
        <li><%= link_to 'Photo', '#afisha_block', class: :js_fixed_menu_item %></li>
      </ul>
    </div>

  </div>

  <div class='right'>
    <div class='wrapper'>
      <% if @organization.client? %>
        <% if @organization.has_tour? %>
          <div class='virtual_tour'>
            <%= link_to('#', :class => :virtual_tour_link, :'data-link' => @organization.virtual_tour.link, title: '3D-тур') do %>
              <% if @organization.virtual_tour.attachment_url? %>
                <%= image_tag resized_image_url(@organization.virtual_tour.attachment_url, 196, 150), :size => '196x150' %>
                <span>3D<br />тур</span>
              <% else %>
                <%= image_tag 'public/virtual_tour_link.png', :size => '196x150', :alt => '3D тур' %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if @organization.address && @organization.address.latitude.present? && @organization.address.longitude.present? %>
        <div class='yandex_map'>
          <div class='map'
            data-latitude='<%= @organization.address.latitude %>'
            data-longitude='<%= @organization.address.longitude %>'
            data-hint='<%= @organization.title.text_gilensize %>'
            data-id='<%= @organization.id %>'>
          </div>
        </div>
      <% end %>

      <% if @organization.similar_organizations.present? %>
        <div class='more_like_this'>
          <p class='title'>Другие заведения</p>
          <ul>
            <% @organization.similar_organizations.each do |organization| %>
              <li>
                <div class='image'>
                  <%= link_to organization_path(organization) do %>
                    <% if organization.logotype_url? %>
                      <%= image_tag resized_image_url(organization.poster_url, 65, 65, :watermark => false), :size => '65x65', :alt => organization.title.text_gilensize %>
                    <% else %>
                      <span class='stub_poster <%= organization.priority_suborganization_kind %>'></span>
                    <% end %>
                  <% end %>
                </div>
                <div class='clearfix'>
                  <div class='title'><%= link_to organization.title.text_gilensize, organization_path(organization) %></div>
                  <%= content_tag :div, organization.truncated_address_link, :class => 'places' if organization.truncated_address_link.present? %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>
  </div>

  <div class='center'>
    <div class='suborganization_content with-toggleable'>
      <% if current_user && (current_user.is_organizations_editor? || current_user.is_admin?) %>
        <%= link_to 'изменить', manage_organization_path(@organization), :class => :icon_edit %>
      <% end %>

      <h1><%= @organization.title %></h1>
      <%= content_tag(:div, "Адрес: #{@organization.address_link}".html_safe, class: :place) if @organization.address_link.present? %>
      <%= @organization.work_schedule %>

      <div class='phone_wrapper'>
        Телефон: <%= @organization.phone.truncate(5)%>
      <%= link_to "Показать телефон","javascript:void()", class: "js-show-phone", id: @organization.id %>
    </div>

    <% if @organization.contact_links.present? %>
      <ul class='links'>
        <%= content_tag(:li, "Сайт: #{@organization.site_link}".html_safe, class: 'js-site-link', id: @organization.id) if @organization.site_link.present? %>
        <%= content_tag(:li, "Email: #{@organization.email_link}".html_safe) if @organization.email_link.present? %>
      </ul>
    <% end %>

    <% if @organization.social_links.present? %>
      <ul class='social_links'>
        <% @organization.social_links.each do |link| %>
          <li><%= link_to link.title, AwayLink.to(link.url), :target => '_blank' %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @organization.client? %>
      <% if @organization.description.present? %>
        <div class='description'>
          <%= @organization.description_html %>
        </div>
      <% end %>
    <% end %>


    <div class='photogallery suborganization_info'>
      <div class="title" id='photo_block'>
        <%= @organization.photo_block_title %>
      </div>
      <% if @organization.client? %>
        <% if @organization.has_photogallery? %>
          <ul>
            <% @organization.gallery_images.order('position').each do |image| %>
              <%= render :partial => image.partial_for_render_object, :object => image, :locals => { :rel => "organization_gallery_#{@organization.id}" } %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>

    <div class='share_and_likes'>
      <%= render :partial => 'commons/share_and_like_this', :locals => { :url => organization_url(@organization) } %>
    </div>

    <div class='categories_and_visits'>
      <ul class='categories'>
        <li class='title'>Категории:</li>
        <%= @organization.category_links.map { |link| content_tag :li, link }.join.mb_chars.downcase.html_safe %>
      </ul>
      <div class='details'>
        <span class='show_tipsy fa fa-users' title='Участники'> <%= @organization.visits.count %></span>
        <span class='show_tipsy fa fa-user' title='Приглашения'> 0</span> <!-- TODO change this -->
        <span class='show_tipsy fa fa-comments' title='Комментарии'> <%= @organization.comments.count %></span>
        <span class='show_tipsy fa fa-heart' title='Понравилось'> <%= @organization.likes_count %></span>
        <span class='show_tipsy fa fa-eye' title='Просмотры'> <%= @organization.page_visits.count %></span>
      </div>
    </div>
  </div>


  <% if @organization.client? %>
    <% @organization.decorated_suborganizations.each do |suborganization| %>
      <%= render suborganization if suborganization.viewable? %>
    <% end %>

    <div class="sections_info suborganization_info">
      <% if @organization.sections.any? %>
        <% @organization.sections.order_by_position.each do |section| %>
          <% if section.section_pages.any? %>
            <div class="section <%= section.title.from_russian_to_param %>">
              <div class="title" id='<%= section.title.from_russian_to_param %>'><%= content_tag :h2, section.title %></div>
              <% section.section_pages.order_by_position.each do |page| %>
                <div class="section_page <%= page.poster_image? ? 'with_image' : 'without_image' %>">
                  <% if page.poster_image? %>
                    <div class="image js-section-colorbox">
                      <%= link_to (image_tag resized_image_url(page.poster_image_url, 150, 100), size: '150x100', title: section.title, alt: section.title), page.poster_image_url, alt: section.title %>
                    </div>
                  <% end %>
                  <div class='info'>
                    <h2><%= page.title %></h2>
                    <span class='section_content'>
                      <%= page.content.as_html %>
                      <span class="js-closer-btn delimiter hidden">Спрятать</span>
                    </span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="suborganization_info discount_details">
    <div class="title" id='discounts_block'>
      <%= @organization.discounts_block_title %>
      <span class='link'><%= link_to 'Добавить скидку', help_my_discounts_path %></span>
    </div>
    <div class="discount_content pagination_none">
      <% if @discount_presenter.collection.any? || @certificate_presenter.collection.any? || @coupon_presenter.collection.any? %>
        <ul class="posters">
          <%= render :partial => 'discounts/discount_posters', :locals => { :@discounts => @discount_presenter.decorated_collection, :@width => '220', :@height => '164' } if @discount_presenter.collection.any? %>
          <%= render :partial => 'discounts/discount_posters', :locals => { :@discounts => @certificate_presenter.decorated_collection, :@height => '120', :@width => '184' } if @certificate_presenter.collection.any? %>
          <%= render :partial => 'discounts/discount_posters', :locals => { :@discounts => @coupon_presenter.decorated_collection, :@width => '183', :@height => '120' } if @coupon_presenter.collection.any? %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class='suborganization_info afisha_content js-button-pagination'>
    <div class='title' id='afisha_block'>
      <%= @organization.afisha_block_title %>
      <span class='link'><%= link_to 'Добавить афишу', new_my_afisha_path %></span>
    </div>
    <% if @afisha_presenter.collection.any? %>
      <ul class='posters js-paginable-list' data-item-width="220">
        <%= render :partial => 'afishas/afisha_posters', :locals => { :afishas => @afisha_presenter.decorated_collection, :presenter => @afisha_presenter } %>
      </ul>
    <% end %>
  </div>

  <div class='suborganization_info related-reviews'>
    <div class='title' id='reviews_block'>
      <%= @organization.reviews_block_title %>
      <span class='link'><%= link_to 'Добавить обзор', add_my_reviews_path %></span>
    </div>
    <% if @reviews.any? %>
      <ul class='posters'>
        <%= render :partial => 'reviews/posters', :locals => { :collection => @reviews, :height => '120', :width => '184' } %>
      </ul>
    <% end %>
  </div>

  <% if @organization.grouped_situated_organizations.any? %>
    <div class='suborganization_info situated_items'>
      <% @organization.grouped_situated_organizations.each do |category, organizations| %>
        <div class='title'><%= category %></div>
        <ul class='posters'>
          <% organizations.each do |item| %>
            <li class="item">
              <%= render :partial => 'organizations/suborganization',
                :locals => { :suborganization => OrganizationDecorator.new(item), :height => '194', :width => '190' } %>
            </li>
          <% end %>
          <div style="clear: both"></div>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if @presenter.collection.any? && !@organization.client? %>
    <div class='suborganization_info next_organization'>
      <div class='title'>Рекомендуем</div>
      <ul class='posters js-paginable-list' data-item-width="220">
        <% @presenter.collection.each do |item| %>
          <li class="item_organization">
            <%= render partial: 'organizations/suborganization', locals: { suborganization: item, width: 150, height: 150 } %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'comments/block', :locals => { :parent_obj => @organization, :comments_block_title => @organization.comments_block_title } if @organization.ability_to_comment? %>
</div>
</div>
