<% content_for :organization_content do  %>
  <div class="organization">
    <div class="info">

      <% if @organization.logotype_url? %>
        <div class="image">
          <%= link_to image_tag_for(@organization.logotype_url, 180, 180), @organization.logotype_url %>
        </div>
      <% end %>

      <div class="description">

        <table<%= raw(" class='full'") unless @organization.logotype_url? %>>
          <% if @organization.phone.present? %>
            <tr>
              <td>Телефон:</td>
              <td><%= @organization.phone %></td>
            </tr>
          <% end %>
          <% if @organization.site.present? %>
            <tr>
              <td>Сайт:</td>
              <td><%= @organization.site_link %></td>
            </tr>
          <% end %>
          <% if @organization.email.present? %>
            <tr>
              <td>E-mail:</td>
              <td><%= @organization.email_link %></td>
            </tr>
          <% end %>
          <tr>
            <td>Режим работы:</td>
            <td>
              <ul class="schedule">
                <% @organization.schedules.each do |schedule| %>
                  <li<%= raw(" class='today'") if l(Date.today, :format => '%a') == schedule.short_human_day %>>
                    <div class="dow">
                      <%= schedule.short_human_day %>
                    </div>
                    <div class="time">
                      <% if schedule.holiday? %>
                        <div class="string"><%= "Выходной".hyphenate %></div>
                      <% else %>
                        <% if schedule.from == schedule.to %>
                          <div class="string"><%= "Круглосуточно".hyphenate %></div>
                        <% else %>
                          <div class="from">
                            <%= l schedule.from, :format => "%H:%M" %>
                          </div>
                          <div class="to">
                            <%= l schedule.to, :format => "%H:%M" %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table>
        <div class="text">
          <%= @organization.html_description.hyphenate if @organization.description? %>
        </div>
      </div>

      <% @organization.decorated_suborganizations.each do |suborganization| %>
        <%= suborganization.decorated_title %>
        <%= suborganization.decorated_description %>
        <%= suborganization.characteristics_on_show %>
      <% end %>

      <div class="share_organization">
        <%= render :partial => "commons/share_this" %>
      </div>

    </div>
  </div>

  <% if Rails.env.production? %>
    <div id="vk_comments"></div>
    <%= render :partial => "commons/fb_comments" %>
  <% end %>

<% end %>
<%= render :file => "organizations/wrapper" %>
