<% content_for :organization_content do  %>
  <div class="info">
    <div class="clearfix">

      <% if @organization.has_tour? %>
        <div class="virtual_tour">
          <%= link_to('#', :class => :virtual_tour_link, :'data-link' => @organization.virtual_tour.link, title: '3D-тур') do %>
            <% if @organization.virtual_tour.attachment_url? %>
              <%= resized_image_url(@organization.virtual_tour.attachment_url, 334, 164) %>
              <span>3D<br />тур</span>
            <% else %>
              <%= image_tag "public/virtual_tour_link.png" %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%= @organization.iconize_info %>
      <h1><%= @organization.title %></h1>
      <div class="left_part">
        <%= content_tag :div, class: :image do %>
          <%= link_to(image_tag(resized_image_url(@organization.logotype_url, 180, 180), :size => '180x180', :alt => @organization.title), @organization.logotype_url) %>
        <% end if @organization.logotype_url? %>
      </div>

      <%= content_tag(:div, @organization.address_link + @organization.office.to_s, class: :place) unless @organization.address.to_s.blank? %>
      <%= @organization.work_schedule %>
      <%= content_tag(:div, @organization.phone, class: :phone_wrapper) if @organization.phone.present? %>
      <%= content_tag(:div, @organization.contact_links, class: :links) if @organization.contact_links.present? %>

      <% if @organization.social_links.present? %>
        <ul class="social_links">
          <% @organization.social_links.each do |link| %>
            <li><%= link_to link.title, link.url, :target => '_blank' %></li>
          <% end %>
        </ul>
      <% end %>

      <ul class="categories">
        <li class='title'>Категории:</li>
        <%= @organization.category_links.map { |link| content_tag :li, link }.join.mb_chars.downcase.html_safe %>
      </ul>

      <% if @organization.sms_claimable? %>
        <ul class='sms_claims'>
        <% @organization.claimable_suborganizations.each do |suborganization| %>
          <li>
            <%= link_to t("sms_claim.#{suborganization.class.name.underscore}.link_title"), send("new_#{suborganization.class.name.underscore}_sms_claim_path", suborganization) %>
          </li>
        <% end %>
        </ul>
      <% end %>

    </div>

    <% if @organization.description.present? %>
      <div class='description'>
        <%= @organization.description.as_html %>
      </div>
    <% end %>

    <% if @organization.has_photogallery? %>
      <div class="photogallery">
        <ul>
          <%= render @organization.gallery_images, :rel => "organization_gallery_#{@organization.id}" %>
        </ul>
      </div>
    <% end %>

  </div>

  <% if Rails.env.development? && @organization.coupons.any? %>
    <div class='coupons'>
      <div class='coupon_header'>Сертификаты, купоны, скидки</div>
      <ul class='coupons_list'>
        <%= render :partial => 'coupons/coupons_list', :locals => { :collection => @organization.coupons } %>
      </ul>
    </div>
  <% end %>

  <% @organization.decorated_suborganizations.each do |suborganization| %>
    <%= render suborganization if suborganization.viewable? %>
  <% end %>

  <% if false && @presenter.collection.any? %>
    <div class='suborganization_info affiches_details'>
      <table>
        <tr>
          <td class='border'>
            <h1>Афиша</h1>
          </td>
          <td>
            <div class="details">
              &nbsp;
            </div>
          </td>
        </tr>
      </table>
      <div class="affiches_list">
        <div class="list_settings">
          <div class="sort">
            <p>Сортировка:</p>
            <ul>
              <li>
                <%= link_to t('affiche.sort.rating'),
                  organization_path(@organization, { :order_by => 'rating' }),
                  @presenter.sort_by_rating? ? { class: 'selected' } : {} %>
              </li>
              <li><span class="separator">&nbsp;</span></li>
              <li>
                <%= link_to t('affiche.sort.creation'),
                  organization_path(@organization, { :order_by => 'creation' }),
                  @presenter.sort_by_creation? ? { class: 'selected' } : {} %>
              </li>
              <li><span class="separator">&nbsp;</span></li>
              <li>
                <%= link_to t('affiche.sort.starts_at'),
                  organization_path(@organization, { :order_by => 'starts_at' }),
                  @presenter.sort_by_starts_at? ? { class: 'selected' } : {} %>
              </li>
            </ul>
          </div>
        </div>
        <ul class="items_list posters">
          <%= render partial: @presenter.partial %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="share_organization">
    <div class="votes">
      <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @organization.model, :button => true } %>
    </div>
    <div class='share'>
      <%= render :partial => "commons/share_this" %>
    </div>
  </div>

  <%= render :partial => 'comments/block', :locals => { :parent_obj => @organization } if @organization.ability_to_comment? %>

<% end %>
<%= render :file => "organizations/wrapper" %>
