<% content_for :organization_content do  %>
  <div class="info">
    <%= @organization.iconize_info %>
    <h1><%= @organization.title %></h1>
    <%= content_tag(:div, link_to(image_tag_for(@organization.logotype_url, 130, 130), @organization.logotype_url), class: :image) if @organization.logotype_url? %>
    <%= content_tag(:div, @organization.address_link, class: :place) if  @organization.address_link.present? %>
    <%= @organization.work_schedule %>
    <%= content_tag(:div, @organization.phone, class: :phone) if @organization.phone.present? %>
    <%= content_tag(:div, @organization.contact_links, class: :links) if @organization.contact_links.present? %>
    <ul class="categories">
      <li class='title'>Категории:</li>
      <%= @organization.categories_links.map { |link| content_tag :li, link }.join.mb_chars.downcase.html_safe %>
    </ul>
    <% if @organization.has_photogallery? %>
      <div class="photogallery">
        <ul>
          <% @organization.images.each do |image| %>
            <li><%= link_to(image_tag_for(image.url, 124, 94, true, 'n'), image.url, rel: :info_gallery) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <% @organization.decorated_suborganizations.each do |suborganization| %>
    <%= render suborganization if suborganization.viewable? %>
  <% end %>
  <div class="share_organization">
    <%= render :partial => "commons/share_this" %>
  </div>

  <% if Rails.env.production? %>
    <div id="vk_organization_comments"></div>
    <%= render :partial => "commons/fb_organization_comments" %>
  <% end %>

<% end %>
<%= render :file => "organizations/wrapper" %>
