<% content_for :organization_content do  %>
  <div class="organization">
    <div class="info">

      <% if @organization.logotype_url? %>
        <div class="image">
          <%= link_to image_tag_for(@organization.logotype_url, 180, 180), @organization.logotype_url %>
        </div>
      <% end %>

      <div class="description">

        <table<%= " class='full'" unless @organization.logotype_url? %>>
          <% if @organization.phone.present? %>
            <tr>
              <td>Телефон:</td>
              <td><%= @organization.phone %></td>
            </tr>
          <% end %>
          <% if @organization.site.present? %>
            <tr>
              <td>Сайт:</td>
              <td><%= @organization.site_link %></td>
            </tr>
          <% end %>
          <% if @organization.email.present? %>
            <tr>
              <td>E-mail:</td>
              <td><%= @organization.email_link %></td>
            </tr>
          <% end %>
          <tr>
            <td>Режим работы:</td>
            <td>
              <ul class="schedule">
                <% @organization.schedules.each do |schedule| %>
                  <li<%= " class='today'" if l(Date.today, :format => '%a') == schedule.short_human_day %>>
                    <div class="dow">
                      <%= schedule.short_human_day %>
                    </div>
                    <div class="time">
                      <% if schedule.holiday? %>
                        <div class="string"><%= "Выходной".hyphenate %></div>
                      <% else %>
                        <% if schedule.from == schedule.to %>
                          <div class="string"><%= "Круглосуточно".hyphenate %></div>
                        <% else %>
                          <div class="from">
                            <%= l schedule.from, :format => "%H:%M" %>
                          </div>
                          <div class="to">
                            <%= l schedule.to, :format => "%H:%M" %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table>
        <div class="text">
          <%= @organization.html_description.hyphenate if @organization.description? %>
        </div>
      </div>

      <div class="share_organization">
        <%= render :partial => "commons/share_this" %>
      </div>

      <% if @organization.features.any? || @organization.offers.any? || @organization.cuisines.any? %>
        <div class="characteristics">
          <% if @organization.features.any? %>
            <ul>
              <li class="title">Особенности:</li>
              <% @organization.features.each do |feature| %>
                <li>
                  <%= link_to feature, organizations_path(organization_class: @organization.suborganization_kind, category: 'all', query: "features/#{feature.mb_chars.downcase}") %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <% if @organization.offers.any? %>
            <ul>
              <li class="title">Предложения:</li>
              <% @organization.offers.each do |offer| %>
                <li>
                  <%= link_to offer, organizations_path(organization_class: @organization.suborganization_kind, category: 'all', query: "offers/#{offer.mb_chars.downcase}") %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <% if @organization.suborganization.is_a?(Meal) && @organization.cuisines.any? %>
            <ul>
              <li class="title">Кухня:</li>
              <% @organization.cuisines.each do |cuisine| %>
                <li>
                  <%= link_to cuisine, organizations_path(organization_class: @organization.suborganization_kind, category: 'all', query: "cuisines/#{cuisine.mb_chars.downcase}") %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= render :file => "organizations/wrapper" %>
