<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>

<% content_for :page_title, @organization.title.text_gilensize + " - " + I18n.t("organization.list_title.#{@organization.fake_kind}") + " Томска" %>
<% content_for :meta_keywords, @organization.meta_keywords %>
<% content_for :meta_description, @organization.meta_description %>

<% content_for :extra_meta do %>
  <%= @organization.tags_for_vk %>
<% end %>

<div class='organization_show'>
  <div class='left'>
    <div class='image'>
      <% if @organization.logotype_url? %>
        <%= link_to(image_tag(resized_image_url(@organization.logotype_url, 200, 200), :size => '200x200', :alt => @organization.title), @organization.logotype_url) %>
      <% else %>
        <span class='stub_poster <%= @organization.priority_suborganization_kind %>'></span>
      <% end %>
    </div>

    <% if @organization.sms_claimable_suborganizations.any? %>
      <ul class='sms_claims'>
        <% @organization.sms_claimable_suborganizations.each do |suborganization| %>
          <li>
            <%= link_to suborganization.reservation_title,
              send("new_#{suborganization.class.name.underscore}_sms_claim_path", suborganization), :class => :sms_claim_link %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= render :partial => 'commons/social_block', :locals => { :inviteable => @organization.model } %>
  </div>

  <div class='right'>
    <div class='wrapper'>
      <% if @organization.has_tour? %>
        <div class='virtual_tour'>
          <%= link_to('#', :class => :virtual_tour_link, :'data-link' => @organization.virtual_tour.link, title: '3D-тур') do %>
            <% if @organization.virtual_tour.attachment_url? %>
              <%= image_tag resized_image_url(@organization.virtual_tour.attachment_url, 196, 150), :size => '196x150' %>
              <span>3D<br />тур</span>
            <% else %>
              <%= image_tag 'public/virtual_tour_link.png', :size => '196x150', :alt => '3D тур' %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @organization.address && @organization.address.latitude.present? && @organization.address.longitude.present? %>
        <div class='yandex_map'>
          <div class='map'
            data-latitude='<%= @organization.address.latitude %>'
            data-longitude='<%= @organization.address.longitude %>'
            data-hint='<%= @organization.title.text_gilensize %>'
            data-id='<%= @organization.id %>'>
          </div>
        </div>
      <% end %>

      <% if @organization.similar_organizations.present? %>
        <div class='more_like_this'>
          <p class='title'>Другие заведения</p>
          <ul>
            <% @organization.similar_organizations.each do |organization| %>
              <li>
                <div class='image'>
                  <%= link_to organization_path(organization) do %>
                    <% if organization.logotype_url? %>
                      <%= image_tag resized_image_url(organization.poster_url, 65, 65), :size => '65x65', :alt => organization.title.text_gilensize %>
                    <% else %>
                      <span class='stub_poster <%= organization.priority_suborganization_kind %>'></span>
                    <% end %>
                  <% end %>
                </div>
                <div class='clearfix'>
                  <div class='title'><%= link_to organization.title.text_gilensize, organization_path(organization) %></div>
                  <%= content_tag :div, organization.truncated_address_link, :class => 'places' if organization.truncated_address_link.present? %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>
  </div>

  <div class='center'>
    <% if current_user && (current_user.is_organizations_editor? || current_user.is_admin?) %>
      <%= link_to 'изменить', manage_organization_path(@organization), :class => :icon_edit %>
    <% end %>

    <h1><%= @organization.title %></h1>
    <%= content_tag(:div, @organization.address_link, class: :place) if @organization.address_link.present? %>
    <%= @organization.work_schedule %>
    <%= content_tag(:div, @organization.phone, class: :phone_wrapper) if @organization.phone.present? %>

    <% if @organization.contact_links.present? %>
      <ul class='links'>
        <%= content_tag(:li, "Сайт: #{@organization.site_link}".html_safe) if @organization.site_link.present? %>
        <%= content_tag(:li, "Email: #{@organization.email_link}".html_safe) if @organization.email_link.present? %>
      </ul>
    <% end %>

    <% if @organization.social_links.present? %>
      <ul class='social_links'>
        <% @organization.social_links.each do |link| %>
          <li><%= link_to link.title, link.url, :target => '_blank' %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @organization.description.present? %>
      <div class='description'>
        <%= @organization.description_html %>
      </div>
    <% end %>

    <% if @organization.has_photogallery? %>
      <div class='photogallery'>
        <ul>
          <%= render @organization.gallery_images, :rel => "organization_gallery_#{@organization.id}" %>
        </ul>
      </div>
    <% end %>

    <div class='share_and_likes'>
      <%= render :partial => 'commons/share_this', :locals => { :url => organization_url(@organization) } %>
    </div>

    <div class='categories_and_visits'>
      <ul class='categories'>
        <li class='title'>Категории:</li>
        <%= @organization.category_links.map { |link| content_tag :li, link }.join.mb_chars.downcase.html_safe %>
      </ul>
      <div class='details'>
        <span class='show_tipsy to_go' title='Участники'><%= @organization.visits.count %></span>
        <span class='show_tipsy wait_invite' title='Приглашения'>0</span> <!-- TODO change this -->
        <span class='show_tipsy comments' title='Комментарии'><%= @organization.comments.count %></span>
        <span class='show_tipsy likes' title='Понравилось'><%= @organization.likes_count %></span>
        <span class='show_tipsy visits' title='Просмотры'><%= @organization.page_visits.count %></span>
      </div>
    </div>

    <% @organization.decorated_suborganizations.each do |suborganization| %>
      <%= render suborganization if suborganization.viewable? %>
    <% end %>

    <% if @afisha_presenter.collection.any? %>
      <div class='suborganization_info afisha_details'>
        <div class='title'>Афиша</div>
        <div class='presentation_filters afisha'>
          <div class='present_by'>
            <p>Вид:</p>
            <ul>
              <li class='selected'><a href='#' class='poster'>Постеры</a></li>
              <li><a href='#' class='list'>Список</a></li>
            </ul>
          </div>
          <div class='order_by'>
            <p>Сортировать по:</p>
            <ul>
              <% @afisha_presenter.sorting_filter.available_sortings_values.each do |sorting_value| %>
                <li<%= " class=selected" if @afisha_presenter.sorting_filter.order_by.eql?(sorting_value) %>>
                  <%= link_to I18n.t("afisha.sort.#{sorting_value}"),
                  organization_path(@organization, :order_by => sorting_value), :class => sorting_value %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class='afisha_list'>
          <ul class='posters'>
            <%= render partial: @afisha_presenter.partial, :locals => {:afishas => @afisha_presenter.decorated_collection} %>
          </ul>
          <%= paginate @afisha_presenter.paginated_collection %>
        </div>
      </div>
    <% end %>

    <% if @discount_presenter.collection.any? %>
      <div class="suborganization_info discount_details">
        <div class="title">Скидки</div>
        <div class="presentation_filters discount">
          <div class="present_by">
            <p>Вид:</p>
            <ul>
              <li class="selected"><a href="#" class="poster">Постеры</a></li>
              <li><a href="#" class="list">Список</a></li>
            </ul>
          </div>

          <div class="order_by">
            <p>Сортировать по:</p>
            <ul>
              <% @discount_presenter.order_by_filter.links.each do |link| %>
                <li class="<%= link.klass %>">
                  <%= link_to link.title, organization_path(@organization, :params => link.params) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="discounts_list">
          <ul class="posters">
            <%= render :partial => 'discounts/discount_posters', :locals => { :@discounts => @discount_presenter.collection } %>
          </ul>
        </div>

        <%= paginate @discount_presenter.collection %>
      </div>
    <% end %>

    <%= render :partial => 'comments/block', :locals => { :parent_obj => @organization } if @organization.ability_to_comment? %>
  </div>
</div>
