<% content_for :organization_content do  %>
  <div class="organization">
    <div class="info">

      <% if @organization.logotype_url? %>
        <div class="image">
          <%= link_to image_tag_for(@organization.logotype_url, 180, 180), @organization.logotype_url %>
        </div>
      <% end %>

      <div class="description">

        <table<%= raw(" class='full'") unless @organization.logotype_url? %>>
          <% if @organization.phone.present? %>
            <tr>
              <td>Телефон:</td>
              <td><%= @organization.phone %></td>
            </tr>
          <% end %>
          <% if @organization.site.present? %>
            <tr>
              <td>Сайт:</td>
              <td><%= @organization.site_link %></td>
            </tr>
          <% end %>
          <% if @organization.email.present? %>
            <tr>
              <td>E-mail:</td>
              <td><%= @organization.email_link %></td>
            </tr>
          <% end %>
          <tr>
            <td>Режим работы:</td>
            <td>
              <%= @organization.schedule_content %>
            </td>
          </tr>
          <% if @organization.stand_info.present? %>
            <tr>
              <td>Парковка:</td>
              <td><%= @organization.stand_info %></td>
            </tr>
          <% end %>
        </table>
        <div class="text">
          <%= @organization.html_description.hyphenate if @organization.description? %>
        </div>
      </div>

      <% @organization.decorated_suborganizations.each do |suborganization| %>
        <%= suborganization.decorated_title %>
        <%= suborganization.decorated_description %>
        <%= suborganization.characteristics_on_show %>
      <% end %>

      <div class="share_organization">
        <%= render :partial => "commons/share_this" %>
      </div>

    </div>
  </div>

  <% if Rails.env.production? %>
    <div id="vk_comments"></div>
    <%= render :partial => "commons/fb_comments" %>
  <% end %>

<% end %>
<%= render :file => "organizations/wrapper" %>
