<% content_for :subtitle do %>
  <%= @organization.title.gilensize.gsub(/<\/?\w+.*?>/m, ' ').gsub(' ,', ',').squish.html_safe %>
<% end %>

<div class="content_wrapper">

  <div class="clearfix">

    <div class="content organization">

      <div class="tabs">
        <ul class="nav">
          <li><a href="#info">Описание</a></li>
          <li class="disabled"><a href="#affiche" data-link="#">Афиша</a></li>
          <li class="disabled"><a href="#3dtour" data-link="#">3D тур</a></li>
          <li class="disabled"><a href="#menu" data-link="#">Меню</a></li>
        </ul>

        <div id="info">
          <div class="info">
            <% if @organization.categories.any? %>
              <ul class="categories">
                <% @organization.categories.each do |category| %>
                  <li><%= link_to category, organizations_path(organization_class: @organization.organization_class, category: category.mb_chars.downcase) %></li>
                <% end %>
              </ul>
            <% end %>

            <div class="head">
              <h1><%= @organization.title %></h1>
            </div>

            <% if @organization.logotype_url? %>
              <div class="image">
                <%= link_to image_tag_for(@organization.logotype_url, 180, 180), @organization.logotype_url %>
              </div>
            <% end %>

            <div class="description">
              <% unless @organization.address_link.blank? %>
                <div class="place">
                  <p class="address"><%= @organization.address_link %></p>
                </div>
              <% end %>
              <table<%= " class='full'" unless @organization.logotype_url? %>>
                <% if @organization.phone.present? %>
                  <tr>
                    <td>Телефон:</td>
                    <td><%= @organization.phone %></td>
                  </tr>
                <% end %>
                <% if @organization.site.present? %>
                  <tr>
                    <td>Сайт:</td>
                    <td><%= @organization.site_link %></td>
                  </tr>
                <% end %>
                <% if @organization.email.present? %>
                  <tr>
                    <td>E-mail:</td>
                    <td><%= @organization.email_link %></td>
                  </tr>
                <% end %>
                <tr>
                  <td>Режим работы:</td>
                  <td>
                    <ul class="schedule">
                      <% @organization.schedules.each do |schedule| %>
                        <li<%= " class='today'" if l(Date.today, :format => '%a') == schedule.short_human_day %>>
                          <div class="dow">
                            <%= schedule.short_human_day %>
                          </div>
                          <div class="time">
                            <% if schedule.holiday? %>
                              <div class="string"><%= hyphenate("Выходной") %></div>
                            <% else %>
                              <% if schedule.from == schedule.to %>
                                <div class="string"><%= hyphenate("Круглосуточно") %></div>
                              <% else %>
                                <div class="from">
                                  <%= l schedule.from, :format => "%H:%M" %>
                                </div>
                                <div class="to">
                                  <%= l schedule.to, :format => "%H:%M" %>
                                </div>
                              <% end %>
                            <% end %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              </table>
              <%= hyphenate(@organization.html_description).gilensize.html_safe if @organization.description? %>
            </div>
          </div>

          <div class="share_organization">
            <%= render :partial => "commons/share_this" %>
          </div>

          <% if @organization.features.any? || @organization.offers.any? || @organization.cuisines.any? %>
            <div class="characteristics">
              <% if @organization.features.any? %>
                <ul>
                  <li class="title">Особенности:</li>
                  <% @organization.features.each do |feature| %>
                    <li>
                      <%= link_to feature, organizations_path(organization_class: @organization.organization_class, category: 'all', query: "features/#{feature.mb_chars.downcase}") %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              <% if @organization.offers.any? %>
                <ul>
                  <li class="title">Предложения:</li>
                  <% @organization.offers.each do |offer| %>
                    <li>
                      <%= link_to offer, organizations_path(organization_class: @organization.organization_class, category: 'all', query: "offers/#{offer.mb_chars.downcase}") %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              <% if @organization.suborganization.is_a?(Meal) && @organization.cuisines.any? %>
                <ul>
                  <li class="title">Кухня:</li>
                  <% @organization.cuisines.each do |cuisine| %>
                    <li>
                      <%= link_to cuisine, organizations_path(organization_class: @organization.organization_class, category: 'all', query: "cuisines/#{cuisine.mb_chars.downcase}") %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        </div>

        <div id="affiche">

          <ul>
            <% @organization.affiches.each do |affiche| %>
              <li>
                <div class="image">
                  <%= affiche.list_poster %>
                </div>
                <div class="info">
                  <h2><%= affiche.link %></h2>
                  <div class="closest">
                    <%= affiche.when_with_price %>
                  </div>
                  <% if affiche.distribution_movie? %>
                    <div class="seances">
                      <ul class="title">
                        <li class="text"><%= affiche.distribution_movie_schedule_date %></li>
                        <li class="link_all"><%= link_to "Все сеансы", affiche.kind_affiche_path(:anchor => 'showings') %></li>
                      </ul>
                      <ul class="theaters">
                        <% affiche.distribution_movie_nearlest_grouped_showings.each do |place, showings| %>
                          <li class="theater">
                            <p class="name"><%= showings.first.place_decorator.link_short_title %></p>
                            <p class="address"><%= showings.first.place_decorator.address_link %></p>
                          </li>
                          <% showings[0..4].each_with_index do |showing, index| %>
                            <li class="seance<%= " last" if index == 4 %>">
                              <p class="time"><%= showing.human_time_starts_at %></p>
                              <p class="price"><%= showing.human_price %></p>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  <% else %>
                    <% if affiche.other_showings.any? %>
                      <div class="will_be">
                        <% unless affiche.first_other_showing_today? %>
                          Ещё будет:
                        <% end %>
                        <%= affiche.html_other_showings %>
                      </div>
                    <% end %>
                  <% end %>
                  <% unless affiche.truncated_description.blank? %>
                    <div class="description">
                      <p class="text"><%= affiche.truncated_description %></p>
                      <p class="more"><%= affiche.more_link %></p>
                    </div>
                  <% end %>
                  <ul class="tags">
                    <% affiche.tags.each do |tag| %>
                      <li><%= link_to(tag, affiches_path(kind: affiche.pluralized_kind, period: :all, tags: tag)) %></li>
                    <% end %>
                  </ul>
                </div>
              </li>
            <% end %>
          </ul>

        </div>

        <div id="3dtour">
        </div>

        <div id="menu">
        </div>

      </div>
    </div>

    <div class="right_side">
      <% unless @organization.similar_organizations.blank? %>
        <div class="more_like_this">
          <h2>Похожие заведения поблизости</h2>
          <ul class="similar_organizations">
            <% @organization.similar_organizations.each do |similar_organization| %>
              <li>
                <% if similar_organization.logotype_url? %>
                  <div class="image">
                    <%= link_to image_tag_for(similar_organization.logotype_url, 55, 55), organization_path(similar_organization) %>
                  </div>
                <% end %>
                <div class="title"><%= similar_organization.title_link(similar_organization) %></div>
                <div class="address<%= " offset" if similar_organization.logotype_url? %>"><%= similar_organization.address_link(similar_organization) %></div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
