<% content_for :organization_content do  %>
  <div class="info">
    <%= @organization.iconize_info %>
    <h1><%= @organization.title %></h1>
    <%= content_tag(:div, link_to(image_tag_for(@organization.logotype_url, 130, 130), @organization.logotype_url), class: :image) if @organization.logotype_url? %>
    <%= content_tag(:div, @organization.address_link, class: :place) if  @organization.address_link.present? %>
    <%= @organization.work_schedule %>
    <%= content_tag(:div, @organization.phone, class: :phone) if @organization.phone.present? %>
    <%= content_tag(:div, @organization.contact_links, class: :links) if @organization.contact_links.present? %>

    <% if @organization.social_links.present? %>
      <ul class='social_links'>
        <% @organization.social_links.each do |link| %>
          <li><%= link_to link.title, link.url, :target => '_blank' %></li>
        <% end %>
      </ul>
    <% end %>

    <ul class="categories">
      <li class='title'>Категории:</li>
      <%= @organization.categories_links.map { |link| content_tag :li, link }.join.mb_chars.downcase.html_safe %>
    </ul>
    <% if @organization.has_photogallery? %>
      <div class="photogallery">
        <ul>
          <% @organization.images.each do |image| %>
            <li><%= link_to(image_tag_for(image.url, 124, 94, true, 'n'), image.url, rel: :info_gallery) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <% @organization.decorated_suborganizations.each do |suborganization| %>
    <%= render suborganization if suborganization.viewable? %>
  <% end %>

  <% if @affiche_collection.affiches.any? %>
    <div class='suborganization_info affiches_details'>
      <table>
        <tr>
          <td class='border'>
            <h1>Афиша</h1>
          </td>
          <td>
            <div class="details">
              &nbsp;
            </div>
          </td>
        </tr>
      </table>
      <div class="affiches_list">
        <div class="list_settings">
          <div class="presentation">
            <p>Настройка списка:</p>
            <ul>
              <li><a class="list<%= ' selected' if @affiche_collection.presentation_mode == 'list' %>" title="подробный список" href="">список</a></li>
              <li><span class="separator">&nbsp;</span></li>
              <li><a class="posters<%= ' selected' if @affiche_collection.presentation_mode == 'posters' %>" title="краткий список" href="">постеры</a></li>
            </ul>
          </div>
          <div class="sort">
            <p>Сортировка:</p>
            <ul>
              <%= @affiche_collection.sort_links %>
            </ul>
          </div>
        </div>
        <ul class="items_list <%= @affiche_collection.presentation_mode %>">
          <%= render partial: @affiche_collection.view_partial %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="share_organization">
    <%= render :partial => "commons/share_this" %>
  </div>

  <% if Rails.env.production? %>
    <div id="vk_organization_comments"></div>
    <%= render :partial => "commons/fb_organization_comments" %>
  <% end %>

<% end %>
<%= render :file => "organizations/wrapper" %>
