<% content_for :subtitle do %>
  <%= @organization.title.text_gilensize %>
<% end %>

<% content_for :extra_meta do %>
  <%= @organization.tags_for_vk %>
  <%= @organization.meta_keywords %>
<% end %>

<div class="content_wrapper">

  <%= @organization.breadcrumbs %>

  <div class="organization_info">
    <%= yield :organization_content %>
  </div>
</div>
