<% content_for :subtitle do %>
  <%= @organization.title.text_gilensize %>
<% end %>

<% content_for :extra_meta do %>
  <%= @organization.tags_for_vk %>
  <%= @organization.meta_keywords %>
<% end %>

<div class="content_wrapper">

  <%= @organization.breadcrumbs %>

  <div class="clearfix">

    <div class="content">

      <div class="organization_info">
        <ul class="categories">
          <% @organization.categories_links.each do |link| %>
            <li><%= link %></li>
          <% end %>
        </ul>

        <div class="head">
          <h1><%= @organization.title %></h1>
        </div>

        <% unless @organization.address_link.blank? %>
          <div class="place">
            <p class="address"><%= @organization.address_link %></p>
          </div>
        <% end %>
      </div>

      <%= yield :organization_content %>

    </div>

    <div class="right_side">

      <ul class="navigation">
        <% @organization.navigation.each do |link| %>
          <li class="<%= link.html_options[:class] %>"><%= link %></li>
          <% if link.current && link.kind == 'affiche' %>
            <ul class="periods">
              <% @affiche_collection.period_links.each do |period_link| %>
                <li class="<%= period_link.html_options[:class] %>">
                  <%= period_link.current? ? content_tag(:span, period_link.title) : link_to(period_link.title, period_link.url) %>
                </li>
              <% end %>
            </ul>
            <% unless @affiche_collection.tag_links.blank? %>
              <ul class="tags need_toggler">
                <li class="title">Теги</li>
                <% @affiche_collection.tag_links.each do |tag_link| %>
                  <li class="<%= tag_link.html_options[:class] %>">
                    <%= tag_link %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        <% end %>
      </ul>

      <% unless @organization.similar_organizations.blank? %>
        <div class="more_like_this">
          <h2>Похожие заведения поблизости</h2>
          <ul class="similar_organizations">
            <% @organization.similar_organizations.each do |similar_organization| %>
              <li>
                <% if similar_organization.logotype_url? %>
                  <div class="image">
                    <%= link_to image_tag_for(similar_organization.logotype_url, 55, 55), organization_path(similar_organization) %>
                  </div>
                <% end %>
                <div class="title"><%= similar_organization.title_link %></div>
                <div class="address<%= " offset" if similar_organization.logotype_url? %>"><%= similar_organization.address_link %></div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="vk_group_wrapper">
        <div id="vk_group_thin"></div>
      </div>

    </div>
  </div>
</div>
