<%= render :partial => 'user_ratings/current_rating', :locals => { :parent_obj => parent_obj } %>

<div class="user_rating">
  <span class='title'>Ваша оценка:</span>
  <%= image_tag current_user ? current_user.avatar : User.new.avatar %>
  <div class="star_wrapper">
    <% 5.times do |i| %>
      <div class="star_<%= i %>"></div>
    <% end %>
  </div>

  <%= simple_form_for [parent_obj, (parent_obj.user_ratings.where(:user_id => current_user.try(:id)).first || @user_rating || parent_obj.user_ratings.new)],
                      :url => polymorphic_url([parent_obj, (parent_obj.user_ratings.where(:user_id => current_user.try(:id)).first || @user_rating || parent_obj.user_ratings.new)], :subdomain => request.subdomain),
                      :remote => true do |f| %>
    <%= f.input :value, :as => :radio_buttons, :collection => 0..4 %>
    <% if f.object.errors.any? %>
      <div class="cloud_wrapper">
        <div class="cloud_inner_wrapper">
          <h4>Оценивать могут только зарегистрированные пользователи. Пожалуйста, войдите с помощью одной из социальных сетей:</h4>
          <%= render :partial => 'commons/social_auth' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
