<div class="footer_button">

  <div class="columns">
    <center>
      <div class="certificate_price footer">
        <strong><%= t("afisha.discounts.discount") %></strong>
        <span class="profit"><%= discount.discount %>%</span>

        <% if discount.price.nil? || discount.price.zero? %>
          <span class="price"><%= t("afisha.discounts.free") %></span>
        <% else %>
          <strong><%= t("afisha.discounts.of") %></strong>
          <span class="price">
            <em><%= number_to_currency(discount.price, :unit => 'р.', :precision => 0) %></em>
          </span>
        <% end %>
      </div>
    </center>
  </div>

  <div class="left_border columns">
    <center>
      <div class="certificate_count footer">
        <%= t("afisha.discounts.coupon_count", count: 2) %>
      </div>
    </center>
  </div>

  <div class="left_border columns">
    <center>
      <div class="footer">
        <a href="#" class="my_price"><%= t("afisha.discounts.buy") %></a>
      </div>
    </center>
  </div>

</div>
