<% content_for :extra_meta do %>
  <link rel="canonical" href="<%= @presenter.canonical_link %>" />
<% end %>

<div class='filters_wrapper'>
  <div class="filters">
    <h1>Сауны Томска</h1>

    <div class='introduction'>
      <%= t("meta.saunas.introduction").as_html %>
    </div>

    <%= form_tag saunas_path, :method => :get do %>
      <%= hidden_field_tag :order_by, @presenter.order_by %>

      <div class="filter <%= @presenter.price_filter_used? ? 'used' : 'not_used' %>" id='amount'>
        <div class="filter_label wide">Цена</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :price_min, 'от' %>
            <%= text_field_tag :price_min, @presenter.price.selected.minimum, :class => 'min' %>
          </div>
          <div class="input">
            <%= label_tag :price_max, 'до' %>
            <%= text_field_tag :price_max, @presenter.price.selected.maximum, :class => 'max' %>
          </div>
        </div>
        <div class='filter_input_label'>руб./час</div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider" data-range='true' data-min='<%= @presenter.price.available.minimum %>' data-max='<%= @presenter.price.available.maximum %>' data-step='50'></div>
        </div>
      </div>

      <div class="filter <%= @presenter.capacity_filter_used? ? 'used' : 'not_used' %>" id='capacity'>
        <div class="filter_label wide">Вместительность</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :capacity, 'от' %>
            <%= text_field_tag :capacity, @presenter.capacity_hash.selected, :class => 'max' %>
          </div>
        </div>
        <div class='filter_input_label'>человек</div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider" data-range='max' data-min='<%= @presenter.capacity_hash.available.minimum %>' data-max='<%= @presenter.capacity_hash.available.maximum %>' data-step='1'></div>
        </div>
      </div>

      <div class="filter <%= @presenter.pool_features_filter_used? ? 'show' : 'hide' %>" id='pool'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label">Бассейн</div>
        <div class="filter_checkboxes">
          <% @presenter.available_pool_features.each_with_index do |pool_title, index| %>
            <div class="checkbox">
              <%= check_box_tag 'pool[]', pool_title, (@presenter.selected_pool_features.include?(pool_title)), :id => "pool_#{index}" %>
              <%= label_tag "pool_#{index}", pool_title.gsub(/^(.)/){$1.mb_chars.capitalize} %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter <%= @presenter.baths_filter_used? ? 'show' : 'hide' %>" id='baths'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label">Парные</div>
        <div class="filter_checkboxes">
          <% @presenter.available_baths.each_with_index do |bath_title, index| %>
            <div class="checkbox">
              <%= check_box_tag 'baths[]', bath_title, (@presenter.selected_baths.include?(bath_title)), :id => "baths_#{index}" %>
              <%= label_tag "baths_#{index}", bath_title.gsub(/^(.)/){$1.mb_chars.capitalize} %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter <%= @presenter.features_filter_used? ? 'show' : 'hide' %>" id='features'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label">Особенности</div>
        <div class="filter_checkboxes">
          <% @presenter.available_features.each_with_index do |feature_title, index| %>
            <div class="checkbox">
              <%= check_box_tag 'features[]', feature_title, (@presenter.selected_features.include?(feature_title)), :id => "feature_#{index}" %>
              <%= label_tag "feature_#{index}", feature_title.gsub(/^(.)/){$1.mb_chars.capitalize} %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="filter <%= @presenter.geo_filter_used? ? 'used show' : 'hide' %>" id='geo'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label">Местоположение</div>
        <div class="filter_geo">
          <div class="map_wrapper">
          </div>
          <div class="hidden_inputs">
            <%= hidden_field_tag :lat,    @presenter.geo.selected.lat, :class => 'lat' %>
            <%= hidden_field_tag :lon,    @presenter.geo.selected.lon, :class => 'lon' %>
            <%= hidden_field_tag :radius, @presenter.geo.selected.radius, :class => 'radius' %>
          </div>
        </div>
        <div class="radius_slider_wrapper">
          <div class="info_radius"><span class='bold'>Радиус:</span> <span class='rad'><%= "%.0f" % (@presenter.geo.selected.radius.to_f*1000) %></span> м (<span class='time'><%= "%.1f" % (@presenter.geo.selected.radius.to_f*1000/54.6) %></span> мин пешком)</div>
          <div class="wrapper_box">
            <div class="min_radius">100 м</div>
            <div class="radius_slider"></div>
            <div class="max_radius">11 км</div>
          </div>
        </div>
      </div>

      <div class="criteria_list">
        <div class="criteria_label">Добавить критерии:</div>
        <ul>
          <li>
            <%= link_to "Бассейн", '#', :class => 'pool'  %>
          </li>
          <li>
            <%= link_to "Парные", '#', :class => 'baths'  %>
          </li>
          <li>
            <%= link_to "Особенности", '#', :class => 'features'  %>
          </li>
          <li>
            <%= link_to "Местоположение", '#', :class => 'geo'  %>
          </li>
        </ul>
      </div>
      <div class="submit_action">
        <div class="submit_wrapper">
          <input type="submit" value="Применить фильтр" class='submit' />
        </div>
        <div class="results_counter">
          Найдено саун: <span class='counter'><%= @presenter.total_count %></span>
        </div>
        <div class="clear_wrapper">
          <%= link_to "Очистить", '#' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
