<div class='filters_wrapper'>
  <div class="filters">
    <h1>Подбор сауны</h1>

    <%= form_tag saunas_path, :method => :get do %>
      <div class="filter hide" id='amount'>
        <%= link_to "убрать", '#', :class => 'remove_filter_link' %>
        <div class="filter_label wide">Стоимость</div>
        <div class="filter_inputs">
          <div class="input">
            <%= label_tag :price_min, 'от' %>
            <%= text_field_tag :price_min, @presenter.price_min, :class => 'min' %>
          </div>
          <div class="input">
            <%= label_tag :price_max, 'до' %>
            <%= text_field_tag :price_max, @presenter.price_max, :class => 'max' %>
          </div>
        </div>
        <div class='filter_input_label'>рублей</div>

        <div class="filter_slider_wrapper">
          <div class="filter_slider" data-min='0' data-max='2500' data-step='50'></div>
        </div>
      </div>
      <div class="criteria_list">
        <div class="criteria_label">Добавить критерии:</div>
        <ul>
          <li>
            <%= link_to "Стоимость", '#', :class => 'amount'  %>
          </li>
        </ul>
      </div>
      <div class="submit_action">
        <div class="submit_wrapper">
          <input type="submit" value="Применить фильтр" class='submit' />
        </div>
        <div class="results_counter">
          Найдено заведений: <span class='counter'>10</span>
        </div>
        <div class="clear_wrapper">
          <%= link_to "Очистить", '#' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
