<div class='suborganization_info sauna'>
  <table>
    <tr>
      <td class='border'>
        <%= sauna.htmlise_title_on_show %>
      </td>
      <td>
        <%= sauna.iconize_info %>
        <div class='details'>
          <%= sauna.characteristics_on_show %>
        </div>
      </td>
    </tr>
  </table>
  <% if sauna.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <% sauna.images.each do |image| %>
          <li><%= link_to(image_tag_for(image.url, 124, 94, true, 'n'), image.url, rel: :info_gallery) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% sauna.decorated_halls.each_with_index do |sauna_hall, index| %>
    <div class='sauna_hall_info'>
      <div class='sauna_hall_header'>
        <div class='left'>
          <h2>
            <span class='index'>№<%= index + 1 %></span>
            <%= sauna_hall.title %>
          </h2>
          <%= sauna_hall.price %>
          <%= sauna_hall.schedule %>
        </div>
          <ul class="iconize_info">
            <% if sauna_hall.virtual_tour %>
              <li>
                <%= link_to '3D-тур', '#', :class => 'tour_icon', 'data-link' => 'virtual_tour_link', :title => '3D-тур'  %>
                <div class="virtual_tour_link">
                  <%= sauna_hall.virtual_tour_link %>
                </div>
              </li>
            <% end %>
          </ul>
        <div class='right'>
          <%= sauna_hall.htmlise_capacity_on_show %>
        </div>
      </div>
      <% if sauna_hall.description.present? %>
        <div class='sauna_hall_description'>
          <%= sauna_hall.description.as_html %>
        </div>
      <% end %>
      <div class='sauna_hall_details'>
        <%= sauna_hall.htmlise_bath_on_show %>
        <%= sauna_hall.htmlise_pool_on_show %>
        <%= sauna_hall.htmlise_entertainment_on_show %>
      </div>
      <% if sauna_hall.has_photogallery? %>
        <div class='photogallery'>
          <ul>
            <% sauna_hall.images.each do |image| %>
              <li><%= link_to(image_tag_for(image.url, 124, 94), image.url, rel: "info_gallery_#{sauna_hall.id}") %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
