<% @presenter.organizations.each do |organization| %>
  <li class='sauna_item'>
    <div class="organization_attributes">
      <div class="poster">
        <%= organization.logo_link(60,60) %>
      </div>
      <div class="organization_title">
        <%= link_to organization.title.split(',').first, organization_path(organization) %>
      </div>
      <div class="attributes">
        <% if organization.address_link.present? %>
          <div class="address">
            <%= organization.address_link %>
            <%#<span>(15 минут пешком)</span>%>
          </div>
        <% end %>
        <div class="schedule">
          <%= organization.schedule_today %>
        </div>
        <div class="phone">
          <%= organization.phone %>
        </div>
      </div>
    </div>

    <ul>
      <% organization.sauna.ordered_sauna_halls.each do |sauna_hall| %>
        <% if @presenter.sauna_hall_ids.include?(sauna_hall.id) %>
          <li>
            <%= render :partial => 'list_item', :locals => { :sauna => OrganizationDecorator.decorate(sauna_hall.organization), :sauna_hall => sauna_hall } %>
          </li>
        <% else %>
          <li class="non-suitable">
            <%= render :partial => 'list_item', :locals => { :sauna => OrganizationDecorator.decorate(sauna_hall.organization), :sauna_hall => sauna_hall } %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>

<% if @presenter.last_page? %>
  <li class='loosers'>
    <h3>А вот эти сауны не предоставили информацию:</h3>
    <ul>
      <% @presenter.organization_for_saunas_without_halls.each do |organization| %>
        <li class="sauna_item">
          <div class="looser_organization_attributes">
            <div class="poster">
              <%= organization.logo_link %>
            </div>
            <div class="looser_attributes">
              <%= link_to organization.title.split(',').first, organization_path(organization) %>
              <div class="phone">
                <%= organization.phone %>
              </div>
              <% if organization.address_link.present? %>
                <div class="address">
                  <%= organization.address_link %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
