<div class='suborganization_info sauna'>

  <div class='title'><%= sauna.title.text_gilensize %></div>

  <%= sauna.characteristics_on_show %>

  <%= content_tag :div, sauna.description.as_html, :class => :description if sauna.description.present? %>

  <% if sauna.has_photogallery? %>
    <div class="photogallery">
      <ul>
        <%= render sauna.gallery_images, :rel => "sauna_gallery_#{sauna.id}" %>
      </ul>
    </div>
  <% end %>

  <% sauna.decorated_halls.each_with_index do |sauna_hall| %>
    <div class='sauna_hall_info'>
      <div class='sauna_hall_header'>
        <div class='left'>
          <h2><%= sauna_hall.title %></h2>
          <%= sauna_hall.price %>
          <%= sauna_hall.schedule %>
        </div>
          <ul class="iconize_info">
            <% if sauna_hall.virtual_tour.link? %>
              <li>
                <%= link_to '3D-тур', '#', :class => 'tour_icon', 'data-link' => 'virtual_tour_link', :title => '3D-тур'  %>
                <div class="virtual_tour_link">
                  <%= sauna_hall.virtual_tour_link %>
                </div>
              </li>
            <% end %>
          </ul>
        <div class='right'>
          <%= sauna_hall.htmlise_capacity_on_show %>
        </div>
      </div>
      <% if sauna_hall.description.present? %>
        <div class='sauna_hall_description'>
          <%= sauna_hall.description.as_html %>
        </div>
      <% end %>
      <div class='sauna_hall_details'>
        <%= sauna_hall.htmlise_bath_on_show %>
        <%= sauna_hall.htmlise_pool_on_show %>
        <%= sauna_hall.htmlise_entertainment_on_show %>
      </div>
      <% if sauna_hall.has_photogallery? %>
        <div class='photogallery'>
          <ul>
            <%= render sauna_hall.gallery_images, :rel => "sauna_hall_gallery_#{sauna_hall.id}" %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
