<li class='sauna_item sweets'>
  <ul id="sweets_carousel">
    <% for i in 1..10 do %>
    <li>

      <% discount = Discount.find('sauna-zolotaya-rybka-po-vashey-tsene') %>

      <div class='image'>

        <%= link_to discount_path(discount) do %>
          <%= image_tag resized_image_url(discount.poster_url, 378, 282), :size => '378x282', :alt => discount.title.to_s.text_gilensize %>
        <% end %>

      </div>

      <div class='organization'>
        <h3>
          <%= i %>
          <%= link_to discount.title.to_s.text_gilensize, discount_path(discount) %>
        </h3>
        <p class="title">
          <%= link_to discount.organizations.first.title.to_s.text_gilensize, organization_path(discount.organizations.first) %>
        </p>
        <p class="body">
          <%= discount.placeholder %>
        </p>
      </div>
      <% if false %>
        <%= render partial: 'saunas/coupon_footer', locals: { discount: discount } %>
        <%= render partial: 'saunas/bet_footer', locals: { discount: discount } %>
        <%= render partial: 'saunas/discount_footer', locals: { discount: discount } %>
      <% end %>
        <%= render partial: 'saunas/certificate_footer', locals: { discount: discount } %>

    </li>
    <% end %>
  </ul>
  <button id="Next">Следующая</button>
  <button id="Previous">Предыдущая</button>

  <div class="discounts_count">
    <center>
      <div class="counter">
      </div>
    </center>
  </div>
</li>
