<li class='sauna_item sweets'>
  <ul id="sweets_carousel">
    <% @discount_collection.each do |discount| %>
    <li>

      <div class='image'>

        <%= link_to discount_path(discount) do %>
          <%= image_tag resized_image_url(discount.poster_url, 378, 282), :size => '378x282', :alt => discount.title.to_s.text_gilensize %>
        <% end %>

      </div>

      <div class='organization'>
        <h3>
          <%= link_to discount.title.to_s.text_gilensize, discount_path(discount) %>
        </h3>
        <p class="title">
          <%= link_to discount.organizations.first.title.to_s.text_gilensize, organization_path(discount.organizations.first) %>
        </p>
        <p class="body">
          <%= discount.placeholder %>
        </p>
      </div>

      <% if false %>
        <%= render partial: 'saunas/discount_footer', locals: { discount: discount } %>
        <%= render partial: 'saunas/coupon_footer', locals: { discount: discount } %>
      <% end %>

      <% if discount.is_a?(Certificate) %>
        <%= render partial: 'saunas/certificate_footer', locals: { discount: discount } %>
      <% elsif discount.is_a?(OfferedDiscount) %>
        <%= render partial: 'saunas/bet_footer', locals: { discount: discount } %>
      <% end %>

    </li>
    <% end %>
  </ul>
  <% if @discount_collection.many? %>
    <button id="Next" class="active">Следующая</button>
    <button id="Previous" class="active">Предыдущая</button>

    <div class="discounts_count">
      <center>
        <div class="counter">
        </div>
      </center>
    </div>
  <% end %>
</li>
