<% content_for :subtitle do %>
  Подбор сауны
<% end %>

<% content_for :extra_meta do %>
  <%= @presenter.meta_description %>
<% end %>

<div class="content_wrapper">
  <%= render :partial => 'filters' %>

  <div class="list_settings">
    <div class="presentation">
    </div>
    <div class="sort saunas">
      <p>Сортировка:</p>
      <ul>
        <%= @presenter.sort_links %>
      </ul>
    </div>
  </div>

  <% if @presenter.collection.any? %>
    <ul class='sauna_list'>
      <%= render :partial => 'sauna_list' %>
    </ul>
  <% else %>
    <p class="empty_items_list">По заданным параметрам ничего не найдено ;(</p>
  <% end %>
</div>

<%= paginate @presenter.collection %>
