<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>

<% content_for :page_title, t("meta.#{Settings['app.city']}.saunas.title") %>
<% content_for :meta_keywords, t("meta.#{Settings['app.city']}.saunas.keywords") %>
<% content_for :meta_description, t("meta.#{Settings['app.city']}.saunas.description") %>
<% content_for :extra_meta do %>
  <%= render :partial => 'commons/page_meta_og' %>
<% end if page_meta %>

<div class="filter_and_search">
  <%= render partial: "suborganizations/filters_and_search" %>
</div>

<%= render "#{view_type}_view" %>

<div class="like_this">
  <%= render :partial => 'commons/like_this', :locals => { :url => request.url.split('?').first } %>
</div>

<% if @reviews.present? %>
  <div class="organization_reviews">
    <div class='reviews_title '>
      Обзоры
    </div>
    <div class='suborganization_info related-reviews'>
      <ul class='posters'>
        <% @reviews.each do |review|%>
          <li class="item"><%= render :partial => 'reviews/poster', :locals => { :review => review, :height => '120', :width => '184' } %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if page_meta %>
  <div class='introduction suborganization'>
    <%= page_meta.html_introduction %>
  </div>
<% elsif t("meta.#{Settings['app.city']}.#{category}.introduction", default: '').present? %>
  <div class='introduction subroagnzation'>
    <%= t("meta.#{Settings['app.city']}.#{category}.introduction").as_html %>
  </div>
<% end %>



