<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU') %>

<% content_for :page_title, t('meta.saunas.title') %>
<% content_for :meta_keywords, t('meta.saunas.keywords') %>
<% content_for :meta_description, t('meta.saunas.description') %>
<% content_for :extra_meta do %>
  <%= render :partial => 'commons/page_meta_og' %>
<% end if page_meta %>

<div class="filter_and_search">
  <%= render partial: "suborganizations/filters_and_search" %>
</div>
<%= render "#{view_type}_view" %>

<% if page_meta %>
  <div class='introduction'>
    <%= page_meta.html_introduction %>
  </div>
<% elsif t("meta.#{category}.introduction", default: '').present? %>
  <div class='introduction'>
    <%= t("meta.#{category}.introduction").as_html %>
  </div>
<% end %>



