<%= render :partial => 'filters' %>

<table>
  <thead>
    <tr>
      <th style="width: 200px">Название</th>
      <th style="width: 100px">Цена от</th>
      <th style="width: 100px">Цена до</th>
      <th style="width: 100px">Вместительность</th>
    </tr>
  </thead>

  <tbody>
    <% @presenter.collection.each do |sauna_hall| %>
      <tr>
        <td>
          <b><%= sauna_hall.sauna.organization.title %></b>
          <%= sauna_hall.title %>
        </td>
        <td><%= sauna_hall.price_min %></td>
        <td><%= sauna_hall.price_max %></td>
        <td><%= sauna_hall.capacity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
