<%= render :partial => 'filters' %>

<p>Все значения для парных: <%= @presenter.available_baths.join(', ') %></p>
<p>Выбранные значения для парных: <%= @presenter.selected_baths.join(', ') %></p>
<hr />
<p>Все значения особенностей: <%= @presenter.available_features.join(', ') %></p>
<p>Выбранные значения особенностей: <%= @presenter.selected_features.join(', ') %></p>
<hr />
<p>Все значения для бассейнов: <%= @presenter.available_pool_features.join(', ') %></p>
<p>Выбранные значения для бассейнов: <%= @presenter.selected_pool_features.join(', ') %></p>
<hr />

<table>
  <thead>
    <tr>
      <th style="width: 200px">Название</th>
      <th style="width: 100px">Цена от</th>
      <th style="width: 100px">Цена до</th>
      <th style="width: 100px">Вместительность</th>
      <th style="width: 100px">Бассейн</th>
      <th style="width: 100px">Парная</th>
      <th style="width: 100px">Особенности</th>
    </tr>
  </thead>

  <tbody>
    <% @presenter.collection.each do |sauna_hall| %>
      <tr>
        <td>
          <b><%= sauna_hall.sauna.organization.title %></b>
          <%= sauna_hall.title %>
        </td>
        <td><%= sauna_hall.price_min %></td>
        <td><%= sauna_hall.price_max %></td>
        <td><%= sauna_hall.capacity %></td>
        <td><%= sauna_hall.pool_features.join(', ') %></td>
        <td><%= sauna_hall.baths.join(', ') %></td>
        <td><%= sauna_hall.features.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
