<div class='suborganization_info hotel'>

  <div class='title'><%= hotel.title.text_gilensize %></div>

  <%= hotel.htmlise_offers_and_features_on_show %>

  <%= content_tag :div, hotel.description.as_html, :class => :description if hotel.description.present? %>

  <% if hotel.has_photogallery? %>
    <div class='photogallery'>
      <ul>
        <%= render hotel.gallery_images, :rel => "hotel_gallery_#{hotel.id}" %>
      </ul>
    </div>
  <% end %>

  <% hotel.decorated_rooms.each do |room| %>
    <div class='room_info'>
      <div class='room_header'>

        <div class='left'>
          <div class='title'>
            <% if room.title.length > 20 %>
              <%= content_tag :span, truncate(room.title, :length => 20), :title => room.title %>
            <% else %>
              <%= room.title %>
            <% end %>
          </div>

          <div>
            <%= room.average_price %>
            <%= room.price_table if room.different_prices? %>
          </div>

          <div class='capacity'>
            <%= room.human_capacity %>,
            <%= room.human_rooms_count %>
          </div>
        </div>

        <div class='right'>
          <%= link_to '3D-тур', '#', :class => 'virtual_tour_link', 'data-link' => room.virtual_tour_link, :title => '3D-тур' if room.virtual_tour.link? %>
        </div>

      </div>

      <ul class="offers_and_features">
        <%= room.htmlise_features_on_show %>
      </ul>

      <% if room.description.present? %>
        <div class='description'>
          <%= room.description.as_html %>
        </div>
      <% end %>

      <% if room.has_photogallery? %>
        <div class='photogallery'>
          <ul>
            <%= render room.gallery_images, :rel => "room_gallery_#{room.id}" %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
