<div class="place-header">
  <span class="place-title"><%= link_to "Курсы валют", banki_tomsk_path %></span>
</div>

<div class="place-content banki_tomsk">
  <table>
    <tr>
      <td colspan="2">Доллар</td>
    </tr>
    <tr>
      <td>Покупка</td>
      <td>Продажа</td>
    </tr>
    <tr>
      <td><%= @topkurs[0] %></td>
      <td><%= @topkurs[1] %></td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="2">Евро</td>
    </tr>
    <tr>
      <td>Покупка</td>
      <td>Продажа</td>
    </tr>
    <tr>
      <td><%= @topkurs[2] %></td>
      <td><%= @topkurs[3] %></td>
    </tr>
  </table>
</div>
