<div class="place-header">
  <span class="place-title with-counter">
    %title%
  </span>
  <span class="place-counter">
    <%= link_to '%item_url%' do %>
      все <%= presenter.total_count %>
    <% end %>
  </span>
</div>

<div class="place-content discounts">
  <ul>
    <% presenter.decorated_collection.each do |item| %>
      <li>
        <div class='image'>
        <%= link_to image_tag(resized_image_url(item.poster_url, 67, 50),
                              :size => '67x50',
                              :title => item.title.text_gilensize,
                              :alt => item.title.text_gilensize),
                              discount_path(item) %>
        </div>
        <div class='title'>
          <%= link_to truncate(item.title.text_gilensize, :length => 35), discount_path(item), :title => item.title.text_gilensize %>
        </div>
        <div class="info">
          <%= item.human_info.html_safe %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
