<div class="place-header">
  <span class="place-title with-counter">
    <%= link_to '%item_url%' do %>
      %title%
    <% end %>
  </span>
  <span class="place-counter">
    <%= link_to '%item_url%' do %>
      все <%= presenter.total_count %>
    <% end %>
  </span>
</div>

<div class="place-content reviews questions js-right-block">
  <ul>
    <% presenter.decorated_collection.each do |item| %>
      <li>
        <div class='image'>
        <%= image_tag resized_image_url(item.account.avatar.url, 35, 35), :size => '35x35' %>
        </div>
        <div class='title'>
          <%= link_to truncate(item.title.text_gilensize, :length => 35), question_path(item), :title => item.title.text_gilensize %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
