<div class="main_page_block">
  <div class="right_wrapper">
    <div class="wide_block">
      <h3><a href='/affiches' class='solid_dark_gray'>Афиша</a></h3>
      <div class="category">
        <ul>
          <% Affiche.ordered_descendants.map(&:model_name).map(&:human).each do |human_name| %>
            <li>
              <%= link_to human_name, "/affiches/##{transliterate(human_name)}", :class => 'solid_light_blue' %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="affiche">
        <div class="poster_wrapper">
          <div class="poster">
          </div>
        </div>
        <div class="previews_wrapper">
          <ul class='previews'>
            <% banners.each do |affiche| %>
              <li><%= link_to image_image_tag_for(affiche, 227, 121), affiche_path(affiche) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="thin_block">
    <h3>Ближайшие события</h3>
    <ul>
      <% Showing.nearest.order(:starts_at).each do |seance| %>
        <li>
          <div class="top">
            <div class="time"><%= l(seance.starts_at, :format => '%H:%M') %></div>
            <div class="title">
              <%= link_to seance.affiche_title.truncate(58), affiche_path(seance.affiche), :class => 'solid_light_blue' %>
            </div>
          </div>
          <div class="bottom">
            <div class="category"><a href='#'><%= seance.affiche.class.model_name.human %></a></div>
            <div class="location"><%= seance.place %></div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= link_to "Все события сегодня", affiches_path(:anchor => 'todays'), :class => 'solid_light_blue link' %>
  </div>

</div>

<div class="main_page_block">
  <div class="right_wrapper">
    <div class="wide_block">
      <h3>Заведения города</h3>
      <div class="category">
        <ul>
          <li><%= link_to "Еда", meals_path, :class => 'solid_light_blue'%></li>
          <li><%= link_to "Развлечения", entertainments_path, :class => 'solid_light_blue'%></li>
        </ul>
      </div>

      <% hot_offers.each_slice(3) do |slice| %>
        <div class="hot_offer">
          <ul>
            <% slice.each do |type_tag| %>
              <% type, tag = type_tag.split('/') %>
              <li><%= link_to(tag, send("#{type}_path", :anchor => transliterate(tag)), :class => "icon #{transliterate(tag)}") %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="thin_block">
    <h3>Новое на сайте</h3>
    <ul>
      <% Organization.order('updated_at desc').limit(5).each do |organization| %>
        <li>
          <div class="top">
            <div class="title">
              <%= link_to organization.title, organization, :class => 'solid_light_blue' %>
            </div>
          </div>
          <div class="bottom">
            <div class="category"><%= organization.category %></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
