<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="offset2">
        <h2 class='main_category'><%= link_to t('affiche'), affiches_path, :class => 'dashed_deep_blue' %></h2>
        <ul class="subcategories row-fluid">
          <li class='span2'>
            <%= link_to 'Кино', movies_path, :class => 'solid_dark_gray' %>
          </li>
          <li class='span2'>
            <%= link_to 'Концерты', concerts_path, :class => 'solid_dark_gray' %>
          </li>
          <li class='span2'>
            <a href="#" class='solid_dark_gray'>Выставки</a>
          </li>
          <li class='span2'>
            <a href="#" class='solid_dark_gray'>Cпектакли</a>
          </li>
          <li class='span2'>
            <a href="#" class='solid_dark_gray'>Вечеринки</a>
          </li>
          <li class='span2'>
            <a href="#" class='solid_dark_gray'>Спорт</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <div class="today_in_the_city">
          <h4><a href='#' class='dashed_deep_blue'>Сегодня в городе</a></h4>
          <ul>
            <li>
              <div class="time"><%= l Time.now, :format => "%H:%m" %></div>
              <a href='#'>Мстители</a>
              <div class="description">боевик</div>
            </li>
            <li>
              <div class="time"><%= l Time.now+3600, :format => "%H:%m" %></div>
              <a href='#'>Каштанка или Забытые письма</a>
              <div class="description">спектакль</div>
            </li>
            <li>
              <div class="time"><%= l Time.now+7200, :format => "%H:%m" %></div>
              <a href='#'>Томский Экзотариум</a>
              <div class="description">выставка</div>
            </li>
            <li>
              <div class="time"><%= l Time.now+10800, :format => "%H:%m" %></div>
              <a href='#'>Неристойное предложение</a>
              <div class="description">стриптиз</div>
            </li>
            <li>
              <div class="time"><%= l Time.now+14400, :format => "%H:%m" %></div>
              <a href='#'>Сестры Зайцевы</a>
              <div class="description">концерт</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="span10">
        <div class="affiche">
          <div class="poster">
            <a href="#"><img src="http://placeholders-matter.com/485x300/avengers/2" alt="Мстители" title='Мстители' /></a>
          </div>
          <ul class='previews'>
            <li>
              <a href="#"><img src="http://placeholders-matter.com/216x88/Белый%20тигр" alt="Белый тигр" title='Белый тигр' /></a>
            </li>
            <li>
              <a href="#"><img src="http://placeholders-matter.com/216x88/Intouchables/2" alt="1+1" title='1+1' /></a>
            </li>
            <li>
              <a href="#"><img src="http://placeholders-matter.com/216x88/Мрачные%20тени" alt="Мрачные тени" title='Мрачные тени' /></a>
            </li>
            <li class='last'>
              <a href="#"><img src="http://placeholders-matter.com/216x88/Deep%20purple" alt="Deep purple" title='Deep purple' /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="offset2">
        <h2 class='main_category'><%= link_to t('organizations'), organizations_path, :class => 'dashed_deep_blue' %></h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <div class="twitter_timeline">
        <h4><a href='#' class='dashed_deep_blue'>Наш твиттор</a></h4>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 30000,
            width: 'auto',
            height: 'auto',
            theme: {
              shell: {
                background: 'transparent',
              },
              tweets: {
                background: 'transparent'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: false,
              behavior: 'all',
              avatars: false
            }
          }).render().setUser('znaigorod').start();
        </script>
      </div>
    </div>
    <div class="span10">
      <div class="row-fluid">
        <div class="span4 offer">
          <a href="#"><img src='http://placeholders-matter.com/148x88/busness%20lunch' alt='#'/><span>Бизнес-ланч</span></a>
        </div>
        <div class="span4 offer">
          <a href="#"><img src='http://placeholders-matter.com/148x88/wifi' alt='#'/><span>Места с WiFi</span></a>
        </div>
        <div class="span4 offer">
          <a href="#"><img src='http://placeholders-matter.com/148x88/kid' alt='#'/><span>Куда пойти с ребенком</span></a>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4 offer">
          <a href="#"><img src='http://placeholders-matter.com/148x88/barbershop/1' alt='#'/><span>Парикмахерские</span></a>
        </div>
        <div class="span4 offer">
          <a href="#"><img src='http://placeholders-matter.com/148x88/fastfood/2' alt='#'/><span>Кафе быстрого питания</span></a>
        </div>
        <div class="span4 offer">
          <a href="#"><img src='http://placeholders-matter.com/148x88/coffee' alt='#'/><span>Кофейни</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
