<div class="main_page_block">
  <div class="right_wrapper">
    <div class="wide_block">
      <h3><a href='/affiches' class='solid_dark_gray'>Афиша</a></h3>
      <div class="category">
        <ul>
          <% Affiche.descendants.map(&:model_name).sort.each do |klass| %>
            <li>
              <%= link_to klass.human, "/affiches/##{klass.underscore}", :class => 'solid_light_blue' %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="affiche">
        <div class="poster_wrapper">
          <div class="poster">
          </div>
        </div>
        <div class="previews_wrapper">
          <ul class='previews'>
            <li>
              <a href="#"><img src="http://storage.esp.tomsk.gov.ru/files/1940/254-121!/2011-11-30_LTE-02_600.jpg" alt="Мстители" title='Мстители' /></a>
            </li>
            <li>
              <a href="#"><img src="http://storage.esp.tomsk.gov.ru/files/1374/254-121!/photo_48617.jpg" alt="1+1" title='1+1' /></a>
            </li>
            <li>
              <a href="#"><img src="http://storage.esp.tomsk.gov.ru/files/1948/254-121!/IMG_4831.jpg" alt="Мрачные тени" title='Мрачные тени' /></a>
            </li>
            <li class='last'>
              <a href="#"><img src="http://storage.esp.tomsk.gov.ru/files/2335/254-121!/sib_326_023-1_jpg_625x625_q70.jpg" alt="Deep purple" title='Deep purple' /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="thin_block">
    <h3><%= link_to "Ближайшие события", affiches_path(:anchor => 'todays'), :class => 'solid_dark_gray link' %></h3>
    <ul>
      <% Showing.nearest.each do |seance| %>
        <li>
          <div class="top">
            <div class="time"><%= l(seance.starts_at, :format => '%H:%M') %></div>
            <div class="title">
              <a href="#" class='solid_light_blue'><%= seance.affiche_title %></a>
            </div>
          </div>
          <div class="bottom">
            <div class="category"><a href='#'><%= seance.affiche.class.model_name.human %></a></div>
            <div class="location"><%= seance.place %></div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= link_to "Все события сегодня", affiches_path(:anchor => 'todays'), :class => 'solid_light_blue link' %>
  </div>

</div>

<div class="main_page_block">
  <div class="right_wrapper">
    <div class="wide_block">
      <h3><a href='#' class='solid_dark_gray'>Заведения города</a></h3>
      <div class="category">
        <ul>
          <li><a href="#" class='solid_light_blue'>Еда</a></li>
          <li><a href="#" class='solid_light_blue'>Развлечения</a></li>
          <li><a href="#" class='solid_light_blue'>Занятия спортом</a></li>
        </ul>
      </div>

      <div class="hot_offer">
        <ul>
          <li>
            <a href="#" class='icon business_lunch'></a>
          </li>
          <li>
            <a href="#" class='icon wifi'></a>
          </li>
          <li>
            <a href="#" class='icon cantina'></a>
          </li>
        </ul>
      </div>
      <div class="hot_offer">
        <ul>
          <li>
            <a href="#" class='icon pizzeria'></a>
          </li>
          <li>
            <a href="#" class='icon breakfast'></a>
          </li>
          <li>
            <a href="#" class='icon coffee_house'></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="thin_block">
    <h3><a href='#' class='solid_dark_gray'>Новое на сайте</a></h3>
    <ul>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Кафе "Три баяниста"</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Вкусно</a></div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Ресторан "Пармезан"</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Вкусно</a></div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Выставка кошек</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Выставки</a></div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Hardcore Halloween</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Вечеринки</a></div>
        </div>
      </li>
      <li>
        <div class="top">
          <div class="title">
            <a href="#" class='solid_light_blue'>Трансляция футбольного матча Конь-Чебуреки</a>
          </div>
        </div>
        <div class="bottom">
          <div class="category"><a href='#'>Спорт</a></div>
        </div>
      </li>
    </ul>
  </div>
</div>
