<div class="title">
  <%= review.truncated_title_link(60) %>
</div>

<div class="details">
  <span class="show_tipsy comments" title="Комментарии"><%= review.comments.count %></span>
  <span class="show_tipsy likes" title="Понравилось"><%= review.likes_count %></span>
  <span class="show_tipsy visits" title="Просмотры"><%= review.page_visits.count %></span>
</div>

<%= review.date %>

<div class="annotation">
  <%= render :partial => "reviews/poster_#{review.useful_type}", :locals => { :review => review, :height => height, :width => width} %>
</div>

<% if controller_path == 'my/reviews' %>
  <div class="actions">
    <%= link_to '', edit_my_review_path(review), :class => 'show_tipsy icon-edit', :title => 'Редактировать' %>
    <%= link_to '', my_review_path(review), :class => 'show_tipsy icon-trash', :method => :delete, :title => 'Удалить',
      :confirm => 'Вы уверены? Обзор будет удален без возможности восстановления' %>
  </div>
<% end %>
