<div class="title">
  <% if item.is_a?(Organization) %>
    <%= link_to item.title.truncate(60), organization_url(item) %>
  <% else %>
    <%= link_to item.title.truncate(60), item.is_a?(Afisha) ? afisha_show_path(item) : review_path(item) %>
  <% end %>
</div>

<div class="details">
  <span class="show_tipsy fa fa-comments" title="Комментарии"> <%= item.comments.count %></span>
  <span class="show_tipsy fa fa-heart" title="Понравилось"> <%= item.likes_count %></span>
  <span class="show_tipsy fa fa-eye" title="Просмотры"> <%= item.page_visits.count %></span>
</div>

<div class="date">
  <%= I18n.l(item.updated_at, :format => "%d %B %Y") %>
</div>

<div class="annotation">
  <% if item.is_a?(Afisha) %>
    <%= link_to (image_tag item.poster_url, {size: "214x260"}), afisha_show_path(item) %>
  <% elsif item.is_a?(Organization) %>
    <%= link_to (image_tag item.logotype_url, {size: "214x190"}), organization_url(item)  %>
  <% elsif item.is_a?(Review) %>
    <% poster_url = item.poster_image_url || item.all_images.first.file_url %>
    <%= link_to (image_tag poster_url, {size: "214x190"}), review_path(item)  %>
    <div class="text">
      <%= item.cached_content_for_index %>
    </div>
  <% end %>
</div>
