<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>

<% if page_meta %>
  <% content_for :extra_meta do %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% end %>
<% end %>

<div class="filter_header">
  <% if page_meta %>
    <h1><%= page_meta.header.squish.html_safe %></h1>
  <% else %>
    <h1><%= t('meta.reviews.page_header') %></h1>
  <% end %>
</div>
<div class="filter_and_share">
  <div class="presentation_filters reviews">

    <!--noindex-->
    <div class="order_by">
      <p>По:</p>
      <ul>
        <% @presenter.order_by_filter.links.each do |link| %>
          <li class="<%= link.klass %>">
            <%= link_to link.title, link.path %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--/noindex-->

  </div>
</div>

<div class="reviews-paginator js-button-pagination">
  <ul class="posters js-paginable-list" data-item-width="392">
    <%= render :partial => 'reviews/posters', :locals => { :collection => @reviews, :height => '200', :width => '354', :organizations => @organizations } %>
  </ul>
</div>

<%= render :partial => 'commons/ads_by_google' %>

<%= paginate @presenter.collection %>

<% if page_meta %>
  <div class="introduction">
    <%= page_meta.html_introduction %>
  </div>
<% end %>
