<% content_for :page_title, @presenter.page_title %>
<% content_for :meta_keywords, @presenter.meta_keywords %>
<% content_for :meta_description, @presenter.meta_description %>

<% if page_meta %>
  <% content_for :extra_meta do %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% end %>
<% end %>

<div class="reviews_left">
  <div class="filter_header">
    <% if page_meta %>
      <h1><%= page_meta.header.squish.html_safe %></h1>
    <% else %>
      <h1><%= t('meta.reviews.page_header') %></h1>
    <% end %>
  </div>

  <div class="filter_and_share">
    <div class="presentation_filters reviews">
      <!--noindex-->
      <div class="order_by">
        <p>Сортировать по:</p>
        <ul>
          <% @presenter.order_by_filter.links.each do |link| %>
            <li class="<%= link.klass %>">
              <%= link_to link.title, link.path %>
            </li>
          <% end %>
        </ul>
      </div>
      <!--/noindex-->
    </div>
    <%= render :partial => 'commons/like_this', :locals => { :url => request.url.split('?').first } %>
  </div>

  <div class="button_pagination">
    <ul class="reviews_posters js-paginable-list js-isotoped-content" data-item-width="440">
      <%= render :partial => 'reviews/posters', :locals => { :collection => @reviews, :height => '200', :width => '354' } %>
    </ul>
  </div>
</div>

<div class="organization_right">
  <%= render :partial => 'commons/promotions' %>
</div>

<% if page_meta %>
  <div class="introduction">
    <%= page_meta.html_introduction %>
  </div>
<% end %>
