<% content_for :page_title do %>
  <% if @review.title.present? %>
    <%= @review.title.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @review.categories.map(&:text).join(', ') %> в Томске
<% end %>

<% content_for :meta_keywords, @review.meta_keywords %>
<% content_for :meta_description, @review.meta_description %>

<% content_for :extra_meta do %>
  <%= @review.open_graph_meta %>
  <%= @review.twitter_cards_meta %>
<% end %>

<div class="left">
  <%= render :partial => 'review', :locals => { :review => @review } %>

  <%= render :partial => 'commons/yandex_direct' if Rails.env.production? %>

  <%= link_to 'Мне нравится', '#',
    :class => 'share_to_vk',
    :onClick => 'share_on_click(this);',
    'data-owner_id' => current_user.try(:vk_uid),
    'data-message' => "Рекомендую обзор \"#{@review.title}\"",
    'data-attachments' => data_attachments(@review) %>

  <div class="share_and_likes">
    <%= render :partial => 'commons/share_and_like_this', :locals => { :url => review_url(@review) } %>
  </div>

  <% if @review.tag %>
    <ul class="tags">
      <% @review.tags.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render :partial => 'comments/block', :locals => { :parent_obj => @review } %>
</div>

<div class="right">
  <% if @review.linked? %>
    <h2>Этот обзор связан с:</h2>
    <%= render 'link_with' %>
  <% end %>

  <h2>Похожие обзоры:</h2>
  <ul class="similar posters">
    <% @review.decorated_similar.each do |review| %>
      <li class="item tiny"><%= render :partial => 'reviews/poster', :locals => { :review => review, :height => 120, :width => 214 } %></li>
    <% end %>
  </ul>
</div>
