<% content_for :page_title do %>
  <% if @review.title.present? %>
    <%= @review.title.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @review.categories.map(&:text).join(', ') %> в Томске
<% end %>

<% content_for :meta_keywords, @review.meta_keywords %>
<% content_for :meta_description, @review.meta_description %>

<% content_for :extra_meta do %>
  <%= @review.open_graph_meta %>
  <%= @review.twitter_cards_meta %>
<% end %>

<div class="left margin">
  <div class="actions">
    <% if current_user && current_user.account == @review.account %>
      <%= link_to ' изменить', my_review_path(@review.id), :class => 'fa fa-pencil' if can? :edit, @review %>
    <% else %>
      <%= link_to ' изменить', edit_manage_review_path(@review.id), :class => 'fa fa-pencil' if can? :edit, @review %>
    <% end %>
  </div>

  <%= render :partial => 'review', :locals => { :review => @review } %>

  <%= render @review.webanketas.actual %>

  <% content_for :zg_like_with_vk_share do %>
    <!-- ZG Like -->
    <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @review } %>
    <!-- / ZG Like -->
  <% end %>

  <div class="share_and_likes ajaxed_voteable">
    <%= render :partial => 'commons/share_and_like_this', :locals => { :url => review_url(@review) } %>
  </div>

  <% if @review.tag %>
    <ul class="tags">
      <% @review.tags.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render :partial => 'comments/block', :locals => { :parent_obj => @review } %>
</div>

<div class="right">
  <% if @review.relations.present?  %>
    <h2>Обзор связан с:</h2>
    <div class="related_posters">
      <ul class="posters related_discounts">
        <% @review.sorted_related_items.delete_if{ |relation| relation.slave.blank? }.each do |relation| %>
          <%= render :partial => "reviews/related_poster_#{relation.slave_type.downcase}", :locals => { :item => "#{relation.slave_type}Decorator".constantize.new(relation.slave) } %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Похожие обзоры:</h2>
  <div class="related_posters">
    <ul class="similar posters">
      <% @review.decorated_similar.each do |review| %>
        <li class="item_review"><%= render :partial => 'reviews/poster', :locals => { :review => review, :height => 104, :width => 214 } %></li>
      <% end %>
    </ul>
  </div>
</div>
