<% content_for :page_title do %>
  <% if @review.title.present? %>
    <%= @review.title.text_gilensize %>,
  <% else %>
    Нет названия,
  <% end %>
  <%= @review.categories.map(&:text).join(', ') %> в Томске
<% end %>

<% content_for :meta_keywords, @review.meta_keywords %>
<% content_for :meta_description, @review.meta_description %>

<% content_for :extra_meta do %>
  <%= @review.open_graph_meta %>
  <%= @review.twitter_cards_meta %>
<% end %>

<div class="left margin">
  <div class="actions">
    <% if current_user && current_user.account == @review.account %>
      <%= link_to ' изменить', my_review_path(@review.id), :class => 'fa fa-pencil' if can? :edit, @review %>
    <% else %>
      <%= link_to ' изменить', edit_manage_review_path(@review.id), :class => 'fa fa-pencil' if can? :edit, @review %>
    <% end %>
  </div>

  <%= render :partial => 'review', :locals => { :review => @review } %>

  <%= render @review.webanketas.actual %>

  <% content_for :zg_like_with_vk_share do %>
    <!-- ZG Like -->
    <%= render :partial => 'votes/vote_wrapper', :locals => { :voteable => @review } %>
    <!-- / ZG Like -->
  <% end %>

  <div class="share_and_likes ajaxed_voteable">
    <%= render :partial => 'commons/share_and_like_this', :locals => { :url => review_url(@review) } %>
  </div>

  <% if @review.tag %>
    <ul class="tags">
      <% @review.tags.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render :partial => 'comments/block', :locals => { :parent_obj => @review } %>
</div>

<div class="right">
  <h2>Обзор связан с:</h2>
  <ul class="related posters">
    <% @review.relations.each do |relation| %>
      <li class="item tiny">
        <div class="title">
          <%= link_to relation.slave.title.truncate(60), relation.slave.is_a?(Afisha) ? afisha_show_path(relation.slave) : relation.slave %>
        </div>

        <div class="details">
          <span class="show_tipsy fa fa-comments" title="Комментарии"> <%= relation.slave.comments.count %></span>
          <span class="show_tipsy fa fa-heart" title="Понравилось"> <%= relation.slave.likes_count %></span>
          <span class="show_tipsy fa fa-eye" title="Просмотры"> <%= relation.slave.page_visits.count %></span>
        </div>

        <div class="date">
          <%= I18n.l(relation.slave.updated_at, :format => "%d %B %Y") %>
        </div>

        <div class="annotation">
          <% if relation.slave.is_a?(Afisha) %>
            <%= link_to (image_tag relation.slave.poster_url, {size: "214x260"}), afisha_show_path(relation.slave) %>
          <% elsif relation.slave.is_a?(Organization) %>
            <%= link_to (image_tag relation.slave.logotype_url, {size: "214x190"}), organization_url(relation.slave)  %>
          <% elsif relation.slave.is_a?(Review) %>
            <% poster_url = relation.slave.poster_image_url || relation.slave.all_images.first.file_url %>
            <%= link_to (image_tag poster_url, {size: "214x190"}), organization_url(relation.slave)  %>
            <div class="text">
                <%= relation.slave.cached_content_for_index %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <h2>Похожие обзоры:</h2>
  <ul class="similar posters">
    <% @review.decorated_similar.each do |review| %>
      <li class="item tiny"><%= render :partial => 'reviews/poster', :locals => { :review => review, :height => 120, :width => 214 } %></li>
    <% end %>
  </ul>
</div>
