<h1>Зал: <%= @sauna_hall.title %></h1>

<p>
  <%= link_to t('edit'), edit_manage_organization_sauna_sauna_hall_path(@sauna_hall.sauna.organization, @sauna_hall), :class => 'edit_link' %>
  <%= link_to t('delete'), manage_organization_sauna_sauna_hall_path(@sauna_hall.sauna.organization, @sauna_hall), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>
</p>

<%= render :partial => 'manage/sauna_halls/attribute', :locals => {
  :object => @sauna_hall.class.human_attribute_name("tour_link"), :field => @sauna_hall.tour_link } %>

<h5>Вместительность</h5>
<% if @sauna_hall.sauna_hall_capacity %>
  <% %w(default maximal extra_guest_cost).each do |field| %>
    <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
      :object => @sauna_hall.sauna_hall_capacity.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_capacity.send("#{field}") } %>
  <% end %>
<% else %>
  не указано
<% end %>

<h5>Развлечения</h5>
<% if @sauna_hall.sauna_hall_entertainment %>
  <% %w(karaoke guitar tv hookah billiard ping_pong aerohockey checkers chess backgammon).each do |field| %>
    <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
      :object => @sauna_hall.sauna_hall_entertainment.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_entertainment.send("#{field}") } %>
  <% end %>
<% else %>
  не указано
<% end %>

<h5>Парные</h5>
<% if @sauna_hall.sauna_hall_bath %>
  <% %w(russian finnish turkish infrared japanese).each do |field| %>
    <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
      :object => @sauna_hall.sauna_hall_bath.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_bath.send("#{field}") } %>
  <% end %>
<% else %>
  не указано
<% end %>

<h5>Бассейн</h5>
<% if @sauna_hall.sauna_hall_pool %>
  <% %w(size contraflow geyser waterfall).each do |field| %>
    <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
      :object => @sauna_hall.sauna_hall_pool.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_pool.send("#{field}") } %>
  <% end %>
<% else %>
  не указано
<% end %>

<h5>Водные процедуры</h5>
<% if @sauna_hall.sauna_hall_water_accessory %>
  <% %w(jacuzzi bucket).each do |field| %>
    <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
      :object => @sauna_hall.sauna_hall_water_accessory.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_water_accessory.send("#{field}") } %>
  <% end %>
<% else %>
  не указано
<% end %>

<h5>Интерьер</h5>
<% if @sauna_hall.sauna_hall_interior %>
  <% %w(pit pylon barbecue floors lounges).each do |field| %>
    <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
      :object => @sauna_hall.sauna_hall_interior.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_interior.send("#{field}") } %>
  <% end %>
<% else %>
  не указано
<% end %>

<div class='images'>
  <h3>
    Галерея изображений
    <%= link_to "Добавить изображение", [:new, :manage, @organization, resource, :image], :class => 'edit_link'  %>
  </h3>
  <% if resource.images.any? %>
    <span class="value">
      <ul>
        <% resource.images.each do |image| %>
          <li>
            <%= image_tag image.url, :alt => image.description, :title => image.description %>
            <%= link_to "Удалить", [:manage, @organization, resource, image], :method => :delete, :confirm => 'Вы уверены?' %>
            <%= link_to 'Редактировать', [:edit, :manage, @organization, resource, image] %>
          </li>
        <% end %>
      </ul>
    </span>
  <% else %>
    <span class="blank">Нет изображений</span>
  <% end %>
</div>

