<div class="sauna_info">
  <h1>Зал: <%= @sauna_hall.title.present? ? @sauna_hall.title : "Без названия" %> (<%= @sauna_hall.sauna.organization.title %>)</h1>

  <p class="actions">
    <%= link_to 'Назад', manage_organization_path(@sauna_hall.sauna.organization) %>
    <%= link_to t('edit'), edit_manage_organization_sauna_sauna_hall_path(@sauna_hall.sauna.organization, @sauna_hall), :class => 'edit_link' %>
    <%= link_to t('delete'), manage_organization_sauna_sauna_hall_path(@sauna_hall.sauna.organization, @sauna_hall), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>
  </p>

  <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
    :object => @sauna_hall.class.human_attribute_name("tour_link"), :field => @sauna_hall.tour_link } %>
  <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
    :object => @sauna_hall.class.human_attribute_name("description"), :field => @sauna_hall.description } %>
  <fieldset>
    <legend>Вместительность</legend>
    <% if @sauna_hall.sauna_hall_capacity %>
      <% %w(default maximal extra_guest_cost).each do |field| %>
        <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
          :object => @sauna_hall.sauna_hall_capacity.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_capacity.send("#{field}") } %>
      <% end %>
    <% else %>
      не указано
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Развлечения</legend>
    <% if @sauna_hall.sauna_hall_entertainment %>
      <% %w(karaoke guitar tv hookah billiard ping_pong aerohockey checkers chess backgammon).each do |field| %>
        <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
          :object => @sauna_hall.sauna_hall_entertainment.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_entertainment.send("#{field}") } %>
      <% end %>
    <% else %>
      не указано
    <% end %>
  </fieldset>

  <fieldset class="sauna_hall_schedules">
    <legend>Стоимость</legend>
    <% if @sauna_hall.sauna_hall_schedules %>
      <% @sauna_hall.sauna_hall_schedules.each do |schedule| %>
        <div>
          <strong><%= Schedule.days_for_select[schedule.day].first %>:</strong>
          с <%= l schedule.from, :format => "%H:%M" if schedule.from? %>
          до <%= l schedule.to, :format => "%H:%M" if schedule.to? %> -
          <%= schedule.price %> руб.
        </div>
      <% end %>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Парные</legend>
    <% if @sauna_hall.sauna_hall_bath %>
      <% %w(russian finnish turkish infrared japanese).each do |field| %>
        <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
          :object => @sauna_hall.sauna_hall_bath.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_bath.send("#{field}") } %>
      <% end %>
    <% else %>
      не указано
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Бассейн</legend>
    <% if @sauna_hall.sauna_hall_pool %>
      <% %w(size contraflow geyser waterfall jacuzzi bucket).each do |field| %>
        <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
          :object => @sauna_hall.sauna_hall_pool.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_pool.send("#{field}") } %>
      <% end %>
    <% else %>
      не указано
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Интерьер</legend>
    <% if @sauna_hall.sauna_hall_interior %>
      <% %w(pit pylon barbecue floors lounges).each do |field| %>
        <%= render :partial => 'manage/sauna_halls/attribute', :locals => {
          :object => @sauna_hall.sauna_hall_interior.class.human_attribute_name(field), :field => @sauna_hall.sauna_hall_interior.send("#{field}") } %>
      <% end %>
    <% else %>
      не указано
    <% end %>
  </fieldset>

  <div class='images'>
    <h3>
      Галерея изображений
      <%= link_to "Добавить изображение", [:new, :manage, @organization, resource, :image], :class => 'edit_link'  %>
    </h3>
    <% if resource.images.any? %>
      <span class="value">
        <ul>
          <% resource.images.each do |image| %>
            <li>
              <%= image_tag image.url, :alt => image.description, :title => image.description %>
              <%= link_to "Удалить", [:manage, @organization, resource, image], :method => :delete, :confirm => 'Вы уверены?' %>
              <%= link_to 'Редактировать', [:edit, :manage, @organization, resource, image] %>
            </li>
          <% end %>
        </ul>
      </span>
    <% else %>
      <span class="blank">Нет изображений</span>
    <% end %>
  </div>
</div>
