<% decorator = OrganizationDecorator.new feed_vote_organization.voteable %>

<div class='poster'>
  <% unless feed_vote_organization.voteable.logotype_url == "" %>
    <%= link_to image_tag(resized_image_url(feed_vote_organization.voteable.logotype_url, 65 , 65 ), :size => '65x65'), feed_vote_organization.voteable %>
  <% else %>
    <%= link_to content_tag( :span, "",:class => "stub_poster " + feed_vote_organization.voteable.priority_suborganization_kind.first) %>
  <% end %>
</div>
<div class='main'>
  <% if @account.id == feed_vote_organization.user.account.id %>
    <div class='type'>
      Нравится организация
    </div>
  <% else %>
    <div class='avatar'>
      <%= link_to image_tag( resized_image_url(feed_vote_organization.user.account.avatar_url, 23 , 23 ), :size => '23x23', :title => feed_vote_organization.user.name), feed_vote_organization.user.account  %>
    </div>
    <div class='type'>
      <%= link_to feed_vote_organization.user.name, feed_vote_organization.user.account  %>
      <%= t "account.rated.#{feed_vote_organization.user.account.gender}" %> организацию
    </div>
  <% end %>

  <div class='title'>
    <%= link_to(feed_vote_organization.voteable.title, feed_vote_organization.voteable) %>
    <div class='place'>
      <%= decorator.address_link %>
    </div>
  </div>
  <div class='body'>
    <p>
    </p>
  </div>
</div>
