<div class='main'>
  <% if @account.id == feed_vote_comment.user.account.id %>
    <div class='type'>
      Нравится комментарий
    </div>
  <% else %>
    <div class='avatar'>
      <%= link_to image_tag( resized_image_url(feed_vote_comment.user.account.avatar_url, 23 , 23 ), :size => '23x23', :title => feed_vote_comment.user.name), feed_vote_comment.user.account  %>
    </div>
    <div class='type'>
      <%= link_to feed_vote_comment.user.name, feed_vote_comment.user.account  %>
      <%= t "account.rated.#{feed_vote_comment.user.account.gender}" %> комментарий
    </div>
  <% end %>
  <div class='title'>
    <% unless feed_vote_comment.voteable.class.name == "Work"  %>
      <%= link_to(feed_vote_comment.voteable.commentable.title, feed_vote_comment.voteable.commentable) %>
    <% else %>
      <%= link_to("Работа " + feed_vote_comment.voteable.commentable.to_feed_title, [feed_vote_comment.voteable.commentable.contest, feed_vote_comment.voteable.commetable])  %>
    <% end %>
  </div>
  <div class='body'>
    <%= link_to "#{feed_vote_comment.voteable.user.name}:", feed_vote_comment.voteable.user.account %>&nbsp; <%= feed_vote_comment.voteable.body.first(200)  %>
    <%= "..." if  feed_vote_comment.voteable.body.size >= 200 %>
  </div>
</div>
