<% object_assoc_chain = voteable.is_a?(Work) ? [voteable.contest, voteable] : [voteable] %>
<% if voteable.votes.liked.any? %>
  <div class="votes_counter" title='<%= t :like, :count => voteable.votes.liked.count %>'>
    <%= link_to voteable.votes.liked.count, polymorphic_url([object_assoc_chain, :liked].flatten), :remote => true %>
  </div>
<% end %>

<% if !voteable.is_a?(Comment) || current_user != voteable.user %>
  <div class="user_like">
    <% if current_user && current_user.liked?(voteable) %>
      <span>Вам это нравится.</span>
        <%= link_to 'Мне нравится',
          polymorphic_url([object_assoc_chain, :change_vote].flatten, :subdomain => request.subdomain),
          :method => :put,
          :remote => true,
          :class => 'liked' %>
    <% else %>
      <%= link_to 'Мне нравится',
        polymorphic_url([object_assoc_chain, :change_vote].flatten),
        :method => :put,
        :remote => true,
        :class => 'dont_liked' %>
    <% end %>
  </div>
  <% if @vote && @vote.errors.any? %>
    <div class="cloud_wrapper">
      <div class="cloud_inner_wrapper">
        <h4>Оценивать могут только зарегистрированные пользователи. Пожалуйста, войдите с помощью одной из социальных сетей:</h4>
        <%= render :partial => 'commons/social_auth' %>
      </div>
    </div>
  <% end %>
<% end %>
