<div class='form_view'>
  <%= simple_form_for @work, :url => [:manage, @work.context, @work], :html => { :novalidate => true }  do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :author_info %>
    <%= f.input :image %>
    <%= f.input :agree, :as => :boolean, :input_html => {:checked => true}%>

    <div class="actions">
      <%= link_to "&larr; Назад".html_safe, :back %>
      <%= f.submit 'Сохранить' %>
      <%= link_to 'Удалить'.html_safe, resource_path, method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
    </div>
  <% end %>
</div>

