<div class='form_view'>
  <%= simple_form_for @work, :as => :work, :url => [:manage, @work.context, @work.becomes(Work)], :html => { :novalidate => true }  do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :author_info %>
    <%= render :partial => "#{@work.context.type_without_prefix}_field", :locals => { :f => f } %>
    <%= f.input :agree, :as => :boolean, :input_html => {:checked => true}%>

    <div class="actions">
      <%= link_to "&larr; Назад".html_safe, :back %>
      <%= f.submit 'Сохранить' %>
      <%= link_to 'Удалить'.html_safe, [:manage, @work.context, @work.becomes(Work)], method: :delete, confirm: 'Уверены что хотите удалить?', class: :destroy unless resource.new_record? %>
    </div>
  <% end %>
</div>

