<%= f.input :title %>
<%= f.input :description %>
<fieldset id="sport_services">
  <legend>Услуги</legend>
  <%= f.simple_fields_for :services %>
  <p class="add"><%= f.link_to_add 'Добавить услугу', :services %></p>
</div>

<%= render :partial => 'virtual_tour_form_fields', :locals => { :f => f } %>
