<% content_for :page_title, t('meta.feedback.title') %>
<% content_for :meta_description, t('meta.feedback.description') %>
<% content_for :meta_keywords, t('meta.feedback.keywords') %>

<div class='content_wrapper'>
  <div class='feedback'>
    <div class='right_side'>
      <div class='message'>
        <p>
          По всем интересующим Вас вопросам можете связаться с нами, используя форму обратной связи.
        </p>
        <p>
          Для осуществления взаимовыгодного партнёрства Вы можете связаться с нашим менеджером по телефону (3822) 94-22-03 или
          по электронной почте <%= mail_to 'team@znaigorod.ru', 'team@znaigorod.ru' %>
        </p>
      </div>
    </div>

    <h1>Обратная связь</h1>

    <%= content_tag :div, flash[:notice], class: :flash_message if flash[:notice] %>

    <%= simple_form_for @feedback, :url => new_feedback_path, :html => {:novalidate => true} do |f| %>
      <div class='inputs'>
        <%= f.input :fullname %>
        <%= f.input :email %>
        <%= f.input :message %>
      </div>

      <div class='recaptcha'>
        <%= recaptcha_tags :display => {:theme => 'clean'}, :ajax => true %>
        <%= content_tag :span, 'неверное значение', class: :error if flash[:recaptcha_error] %>
      </div>

      <div class='actions'>
        <%= f.button :submit, 'Отправить', :class => 'submit' %>
      </div>
    <% end %>

  </div>
</div>
