<div id="sauna_tabs">
  <ul>
    <li><a href="#sauna_accessory_attributes">Общая информация</a></li>
    <li><a href="#sauna_massage">Массаж</a></li>
    <li><a href="#sauna_child_stuff">Для детей</a></li>
    <li><a href="#sauna_stuff">Разное</a></li>
  </ul>

  <div id="sauna_accessory_attributes">
    <%= f.simple_fields_for :sauna_accessory_attributes, resource.sauna_accessory || resource.build_sauna_accessory do |form| %>
      <%= form.input :ability_own_alcohol, :input_html => { :class => "cost" } %>
      <%= form.input :alcohol_for_sale %>
      <%= form.input :ware %>
      <%= form.input :sheets, :input_html => { :class => "cost" } %>
      <%= form.input :sneakers, :input_html => { :class => "cost" } %>
      <%= form.input :bathrobes, :input_html => { :class => "cost" } %>
      <%= form.input :towels, :input_html => { :class => "cost" } %>
      <%= form.input :ability_oils, :input_html => { :class => "cost" } %>
      <%= form.input :oils, :input_html => { :class => "cost" } %>
    <% end %>
    <fieldset>
      <legend>Веники</legend>
      <%= f.simple_fields_for :sauna_broom, resource.sauna_broom || resource.build_sauna_broom do |form| %>
        <%= form.input :ability, :input_html => { :class => "cost" } %>
        <%= form.input :sale, :input_html => { :class => "cost" } %>
      <% end %>
    </fieldset>
  </div>

  <div id="sauna_massage">
    <%= f.simple_fields_for :sauna_massage, resource.sauna_massage || resource.build_sauna_massage do |form| %>
      <%= form.input :anticelltilitis, :input_html => { :class => "cost" } %>
      <%= form.input :classical, :input_html => { :class => "cost" } %>
      <%= form.input :spa, :input_html => { :class => "cost" } %>
    <% end %>
  </div>

  <div id="sauna_child_stuff">
    <%= f.simple_fields_for :sauna_child_stuff, resource.sauna_child_stuff || resource.build_sauna_child_stuff do |form| %>
      <%= form.input :life_jacket, :input_html => { :class => "cost" } %>
      <%= form.input :cartoons, :input_html => { :class => "cost" } %>
      <%= form.input :games, :input_html => { :class => "cost" } %>
      <%= form.input :rubber_ring, :input_html => { :class => "cost" } %>
    <% end %>
  </div>

  <div id="sauna_stuff">
    <%= f.simple_fields_for :sauna_stuff, resource.sauna_stuff || resource.build_sauna_stuff do |form| %>
      <%= form.input :wifi, :input_html => { :class => "cost" } %>
      <%= form.input :safe, :input_html => { :class => "cost" } %>
    <% end %>
  </div>
</div>
