<div class='type'>
  <h3>
    Сауна
    <%= link_to t('edit'), edit_manage_organization_sauna_path(sauna.organization), :class => 'edit_link' %>
    <%= link_to t('delete'), manage_organization_sauna_path(sauna.organization), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>
  </h3>

  <div class="sauna_info">

    <% %w(sauna_accessory sauna_broom sauna_massage sauna_child_stuff sauna_stuff).each do |assocoation| %>
      <fieldset>
        <legend><%= assocoation.classify.constantize.model_name.human %></legend>
        <% if sauna.send(assocoation) %>
          <% sauna.send(assocoation).useful_attributes.each do |field| %>
            <%= render :partial => 'manage/saunas/attribute', :locals => { :object => sauna.send(assocoation), :field => field } %>
          <% end %>
        <% else %>
          не указано
        <% end %>
      </fieldset>
    <% end %>

    <fieldset>
      <legend>Залы</legend>
      <ul>
        <% sauna.sauna_halls.each do |hall| %>
          <li>
            <%= link_to (hall.title.present? ? hall.title : "Без названия"), [:manage, @organization, :sauna, hall] %>
          </li>
        <% end %>
      </ul>
      <% vfs_path = "/znaigorod/sauna_halls/#{Time.now.strftime('%Y/%m/%d/%H-%M')}-#{SecureRandom.hex(4)}" %>
      <%= link_to 'Добавить зал', new_manage_organization_sauna_sauna_hall_path(sauna.organization, 'sauna_hall[vfs_path]' => vfs_path) %>
    </fieldset>

  </div>
</div>

