<div class='type'>
  <%= render partial: 'manage/organizations/suborganization', locals: { suborganization: sauna } %>

  <div class="sauna_info">
    <%= render :partial => "manage/saunas/info", :locals => { :sauna => sauna } %>

    <%= render sauna.virtual_tour %>

    <fieldset>
      <legend>Залы</legend>
      <ul>
        <% sauna.sauna_halls.each do |hall| %>
          <li>
            <%= link_to (hall.title.present? ? hall.title : "Без названия"), [:manage, @organization, :sauna, hall] %>
          </li>
        <% end %>
      </ul>
      <% vfs_path = "/znaigorod/sauna_halls/#{Time.now.strftime('%Y/%m/%d/%H-%M')}-#{SecureRandom.hex(4)}" %>
      <%= link_to 'Добавить зал', new_manage_organization_sauna_sauna_hall_path(sauna.organization, 'sauna_hall[vfs_path]' => vfs_path) %>
    </fieldset>
  </div>
</div>

