<div class='type'>
  <h3>
    Сауна
    <%= link_to t('edit'), edit_manage_organization_sauna_path(sauna.organization), :class => 'edit_link' %>
    <%= link_to t('delete'), manage_organization_sauna_path(sauna.organization), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_link' %>
  </h3>

  <div class="sauna_info">
    <fieldset>
      <legend>Общая информация</legend>
      <% if sauna.sauna_accessory %>
        <% sauna.sauna_accessory.useful_attributes.each do |field| %>
          <%= render :partial => 'manage/saunas/attribute', :locals => { :object => sauna.sauna_accessory, :field => field } %>
        <% end %>
      <% else %>
        не указано
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Массаж</legend>
      <% if sauna.sauna_massage %>
        <% sauna.sauna_massage.useful_attributes.each do |field| %>
          <%= render :partial => 'manage/saunas/attribute', :locals => { :object => sauna.sauna_massage, :field => field } %>
        <% end %>
      <% else %>
        не указано
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Для детей</legend>
      <% if sauna.sauna_child_stuff %>
        <% sauna.sauna_child_stuff.useful_attributes.each do |field| %>
          <%= render :partial => 'manage/saunas/attribute', :locals => { :object => sauna.sauna_child_stuff, :field => field } %>
        <% end %>
      <% else %>
        не указано
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Разное</legend>
      <% if sauna.sauna_stuff %>
        <% sauna.sauna_stuff.useful_attributes.each do |field| %>
          <%= render :partial => 'manage/saunas/attribute', :locals => { :object => sauna.sauna_stuff, :field => field } %>
        <% end %>
      <% else %>
        не указано
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Залы</legend>
      <ul>
        <% sauna.sauna_halls.each do |hall| %>
          <li>
            <%= link_to (hall.title.present? ? hall.title : "Без названия"), [:manage, @organization, :sauna, hall] %>
          </li>
        <% end %>
      </ul>
      <% vfs_path = "/znaigorod/sauna_halls/#{Time.now.strftime('%Y/%m/%d/%H-%M')}-#{SecureRandom.hex(4)}" %>
      <%= link_to 'Добавить зал', new_manage_organization_sauna_sauna_hall_path(sauna.organization, 'sauna_hall[vfs_path]' => vfs_path) %>
    </fieldset>

  </div>
</div>

