<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container header">
      <div class="row">

        <div class="three columns">
          <div class="row">
            <div class="logo seven columns">
              <a href="http://znaigorod.ru/"><%= image_tag 'logo.png', :title => t('site_title'), :alt => t('site_title'), :width => '134px', :height => '79px' %></a>
            </div>
            <div class="city three end columns">
              <a href="#" class='dashed_light_blue'>Томск</a>
            </div>
          </div>
        </div>

        <div class="four columns push-five">
          <div class="extralink row">
            <ul class='block-grid three-up'>
              <li>
                <a href="#" class='dashed_light_blue'><%= raw t('add_organization') %></a>
              </li>
              <li>
                <a href="#" class='dashed_light_blue'><%= raw t('add_event') %></a>
              </li>
              <li class='last'>
                <a href="#" class='dashed_white'><%= raw t('sign_in') %></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="five columns pull-four">
          <div class="search row">
            <div class="twelve columns">
              <form action="#" class='row'>
                <div class='ten columns'>
                  <input type="text" class='input' placeholder='Поиск по городу' />
                </div>
                <div class='two columns'>
                  <input type="submit" class='submit row' value='<%= t('find') %>'/>
                </div>
              </form>
            </div>
            <div class="example row show-on-desktops">
              <p>Например: <a href='#' class='dashed_light_gray'>Где пообедать в Кировском районе?</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container main_wrapper">
      <div class="row">
        <div class="twelve columns">
          <div class="row">
            <div class="ten columns offset-by-two">
              <h2 class='main_category'><a href='#' class='dashed_deep_blue'><%= t('affiche') %></a></h2>
              <ul class="subcategories row">
                <li class='two columns'>
                  <a href="#" class='solid_dark_gray'>Кино</a>
                </li>
                <li class='two columns'>
                  <a href="#" class='solid_dark_gray'>Концерты</a>
                </li>
                <li class='two columns'>
                  <a href="#" class='solid_dark_gray'>Выставки</a>
                </li>
                <li class='two columns'>
                  <a href="#" class='solid_dark_gray'>Cпектакли</a>
                </li>
                <li class='two columns'>
                  <a href="#" class='solid_dark_gray'>Вечеринки</a>
                </li>
                <li class='two columns'>
                  <a href="#" class='solid_dark_gray'>Спорт</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="two columns">
              <div class="today_in_the_city">
                <h4><a href='#' class='dashed_deep_blue'>Сегодня в городе</a></h4>
                <ul>
                  <li>
                    <div class="time"><%= l Time.now, :format => "%H:%m" %></div>
                    <a href='#'>Мстители</a>
                    <div class="description">боевик</div>
                  </li>
                  <li>
                    <div class="time"><%= l Time.now+3600, :format => "%H:%m" %></div>
                    <a href='#'>Каштанка или Забытые письма</a>
                    <div class="description">спектакль</div>
                  </li>
                  <li>
                    <div class="time"><%= l Time.now+7200, :format => "%H:%m" %></div>
                    <a href='#'>Томский Экзотариум</a>
                    <div class="description">выставка</div>
                  </li>
                  <li>
                    <div class="time"><%= l Time.now+10800, :format => "%H:%m" %></div>
                    <a href='#'>Неристойное предложение</a>
                    <div class="description">стриптиз</div>
                  </li>
                  <li>
                    <div class="time"><%= l Time.now+14400, :format => "%H:%m" %></div>
                    <a href='#'>Сестры Зайцевы</a>
                    <div class="description">концерт</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="ten columns">
              <div class="affiche">
                <div class="poster">
                  <a href="#"><img src="http://placeholders-matter.com/485x300/avengers/2" alt="Мстители" title='Мстители' /></a>
                </div>
                <ul class='previews'>
                  <li>
                    <a href="#"><img src="http://placeholders-matter.com/216x88/Белый тигр" alt="Белый тигр" title='Белый тигр' /></a>
                  </li>
                  <li>
                    <a href="#"><img src="http://placeholders-matter.com/216x88/Intouchables/2" alt="1+1" title='1+1' /></a>
                  </li>
                  <li>
                    <a href="#"><img src="http://placeholders-matter.com/216x88/Мрачные тени" alt="Мрачные тени" title='Мрачные тени' /></a>
                  </li>
                  <li>
                    <a href="#"><img src="http://placeholders-matter.com/216x88/Deep purple" alt="Deep purple" title='Deep purple' /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <div class="row">
            <div class="ten columns offset-by-two">
              <h2 class='main_category'><a href='#' class='dashed_deep_blue'><%= t('organizations') %></a></h2>
            </div>
          </div>
          <div class="row">
            <div class="two columns">
              <div class="twitter_timeline">
                <h4><a href='#' class='dashed_deep_blue'>Наш твиттор</a></h4>
                <script>
                  new TWTR.Widget({
                    version: 2,
                    type: 'profile',
                    rpp: 4,
                    interval: 30000,
                    width: 'auto',
                    height: 'auto',
                    theme: {
                      shell: {
                        background: 'transparent',
                      },
                      tweets: {
                        background: 'transparent'
                      }
                    },
                    features: {
                      scrollbar: false,
                      loop: false,
                      live: false,
                      behavior: 'all',
                      avatars: false
                    }
                  }).render().setUser('znaigorod').start();
                </script>
              </div>
            </div>
            <div class="ten columns">
              <div class="row">
                <div class="four columns offer">
                  <a href="#"><img src='http://placeholders-matter.com/148x88/busness lunch' alt='#'/><span>Бизнес-ланч</span></a>
                </div>
                <div class="four columns offer">
                  <a href="#"><img src='http://placeholders-matter.com/148x88/wifi' alt='#'/><span>Места с WiFi</span></a>
                </div>
                <div class="four columns offer">
                  <a href="#"><img src='http://placeholders-matter.com/148x88/kid' alt='#'/><span>Куда пойти с ребенком</span></a>
                </div>
              </div>
              <div class="row">
                <div class="four columns offer">
                  <a href="#"><img src='http://placeholders-matter.com/148x88/barbershop/1' alt='#'/><span>Парикмахерские</span></a>
                </div>
                <div class="four columns offer">
                  <a href="#"><img src='http://placeholders-matter.com/148x88/fastfood/2' alt='#'/><span>Кафе быстрого питания</span></a>
                </div>
                <div class="four columns offer">
                  <a href="#"><img src='http://placeholders-matter.com/148x88/coffee' alt='#'/><span>Кофейни</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="container footer">
      <div class="inner row">
        <div class="five columns">
          <div class="bottom_navigation row">
            <div class="six columns">
              <h5><a href='#' class='dashed_light_blue'><%= t('organizations') %></a></h5>
              <ul class='block-grid two-up'>
                <li><a href='#' class='solid_white'>Вкусно</a></li>
                <li><a href='#' class='solid_white'>Весело</a></li>
                <li><a href='#' class='solid_white'>Интересно</a></li>
                <li><a href='#' class='solid_white'>Спортивно</a></li>
                <li><a href='#' class='solid_white'>Красиво</a></li>
                <li><a href='#' class='solid_white'>Автомобильно</a></li>
                <li><a href='#' class='solid_white'>Важно</a></li>
                <li><a href='#' class='solid_white'>Хозяйственно</a></li>
              </ul>
            </div>
            <div class="six columns">
              <h5><a href='#' class='dashed_light_blue'><%= t('affiche') %></a></h5>
              <ul class='block-grid two-up'>
                <li><a href='#' class='solid_white'>Кино</a></li>
                <li><a href='#' class='solid_white'>Концерты</a></li>
                <li><a href='#' class='solid_white'>Выставки</a></li>
                <li><a href='#' class='solid_white'>Спектакли</a></li>
                <li><a href='#' class='solid_white'>Выставки</a></li>
                <li><a href='#' class='solid_white'>Вечеринки</a></li>
                <li><a href='#' class='solid_white'>Конкурсы</a></li>
                <li><a href='#' class='solid_white'>Спорт</a></li>
                <li><a href='#' class='solid_white'>Прочие</a></li>
              </ul>
            </div>
          </div>
          <div class="row logo">
            <a href="http://znaigorod.ru/"><%= image_tag 'logo.png', :title => t('site_title'), :alt => t('site_title'), :width => '134px', :height => '79px' %></a>
          </div>
        </div>

        <div class="three columns our_social_link">
          <h5><%= t('our_social_link') %></h5>
          <ul>
            <li class='vk'><a href='http://vk.com/znaigorod' class='solid_white'>vk.com/znaigorod</a></li>
            <li class='twitter'><a href='http://twitter.com/znaigorod' class='solid_white'>twitter.com/znaigorod</a></li>
            <li class='email'><a href='mailto:team@znaigorod.ru' class='solid_white'>team@znaigorod.ru</a></li>
            <li class='phone'><a href='#' class='solid_white'>+7 (3822) 11-11-11</a></li>
          </ul>
        </div>

        <div class="four columns twitter_timeline">
          <h5><%= t('twitter_timeline') %></h5>
          <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 4,
              interval: 30000,
              width: 'auto',
              height: 'auto',
              theme: {
                shell: {
                  background: 'transparent',
                },
                tweets: {
                  background: 'transparent'
                }
              },
              features: {
                scrollbar: false,
                loop: false,
                live: false,
                behavior: 'all',
                avatars: false
              }
            }).render().setUser('znaigorod').start();
          </script>
        </div>
      </div>
    </div>

  </body>
</html>
