<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <base href='<%= root_url %>' />
    <meta charset='UTF-8' />
    <meta name='google-site-verification' content='4WezRNvvwZCOYCxFNt9PKHdon29hbt-V7bMbhZhaMMk' />
    <meta name='yandex-verification' content='6f2efa53b5d49370' />
    <meta name='verify-reformal' content='de04fd7b8e7499f228171212' />
    <meta property='fb:app_id' content='131807160304776'/>
    <title><%= content_for?(:page_title) ? "#{yield(:page_title)}. #{I18n.t('meta.default.title')}".squish.html_safe : I18n.t('meta.default.title').squish.html_safe %></title>
    <meta name='keywords' content='<%= content_for?(:meta_keywords) ? "#{yield(:meta_keywords)}, #{I18n.t('meta.default.keywords')}".squish.html_safe : I18n.t('meta.default.keywords') %>' />
    <meta name='description' content='<%= content_for?(:meta_description) ? "#{yield(:meta_description)}. #{I18n.t('meta.default.description')}".squish.html_safe : I18n.t('meta.default.description') %>' />
    <%= yield(:extra_meta) %>
    <%= favicon_link_tag %>
    <%= yield(:stylesheets) %>
    <%= yield(:javascripts) %>
    <%= yield(:extra_javascripts) %>
    <%= yield(:twitter_cards) %>
    <%= csrf_meta_tags %>
    <%= yield(:metrics) %>
  </head>
  <body>
    <%= yield(:flash_messages) %>
    <%= yield(:content) %>
  </body>
</html>
