<!DOCTYPE HTML>
<html lang='ru'>
  <head prefix='og: http://ogp.me/ns#'>
    <meta charset='UTF-8' />
    <meta name='google-site-verification' content='4WezRNvvwZCOYCxFNt9PKHdon29hbt-V7bMbhZhaMMk' />
    <meta name='yandex-verification' content='6f2efa53b5d49370' />
    <%= yield(:verify_reformal) %>
    <meta property='fb:app_id' content='131807160304776'/>
    <% if page_meta %>
      <title><%= page_meta.title.squish.html_safe %></title>
    <% elsif content_for?(:page_title) %>
      <title><%= yield(:page_title).squish.html_safe %></title>
    <% else %>
      <title><%= I18n.t("meta.#{Settings['app.city']}.default.title", :default => '').squish.html_safe %></title>
    <% end %>
    <% if page_meta %>
      <meta name='keywords' content='<%= page_meta.keywords.squish.html_safe %>' />
    <% elsif content_for?(:meta_keywords) %>
      <meta name='keywords' content='<%= yield(:meta_keywords) %>' />
    <% else %>
      <meta name='keywords' content='<%= I18n.t("meta.#{Settings['app.city']}.default.keywords", :default => '').squish.html_safe %>' />
    <% end %>
    <% if page_meta %>
      <meta name='description' content='<%= page_meta.description.squish.html_safe %>' />
    <% elsif content_for?(:meta_description) %>
      <meta name='description' content='<%= yield(:meta_description) %>' />
    <% else %>
      <meta name='description' content='<%= I18n.t("meta.#{Settings['app.city']}.default.description", :default => '').squish.html_safe %>' />
    <% end %>
    <% if content_for?(:meta_title) %>
      <meta name='title' content='<%= yield(:meta_title) %>' />
    <% end %>
    <%= yield(:canonical_link) %>
    <%= yield(:extra_meta) %>
    <%= favicon_link_tag %>
    <%= yield(:stylesheets) %>
    <%= yield(:javascripts) %>
    <%= yield(:extra_javascripts) %>
    <%= csrf_meta_tags %>
    <%= yield(:metrics) %>
  </head>
  <body>
    <%= yield(:flash_messages) %>
    <%= yield(:content) %>
  </body>
</html>
