<!DOCTYPE HTML>
<html lang='ru'>
  <head prefix='og: http://ogp.me/ns#'>
    <base href='<%= root_url %>' />
    <meta charset='UTF-8' />
    <meta name='google-site-verification' content='4WezRNvvwZCOYCxFNt9PKHdon29hbt-V7bMbhZhaMMk' />
    <meta name='yandex-verification' content='6f2efa53b5d49370' />
    <meta name='verify-reformal' content='de04fd7b8e7499f228171212' />
    <meta property='fb:app_id' content='131807160304776'/>
    <% if page_meta %>
      <title><%= page_meta.title.squish.html_safe %></title>
    <% elsif content_for?(:page_title) %>
      <title><%= yield(:page_title).squish.html_safe %></title>
    <% else %>
      <title><%= I18n.t('meta.default.title', :default => '').squish.html_safe %></title>
    <% end %>
    <% if page_meta %>
      <meta name='keywords' content='<%= page_meta.keywords.squish.html_safe %>' />
    <% elsif content_for?(:meta_keywords) %>
      <meta name='keywords' content='<%= yield(:meta_keywords) %>' />
    <% else %>
      <meta name='keywords' content='<%= I18n.t('meta.default.keywords', :default => '').squish.html_safe %>' />
    <% end %>
    <% if page_meta %>
      <meta name='description' content='<%= page_meta.description.squish.html_safe %>' />
    <% elsif content_for?(:meta_description) %>
      <meta name='description' content='<%= yield(:meta_description) %>' />
    <% else %>
      <meta name='description' content='<%= I18n.t('meta.default.description', :default => '').squish.html_safe %>' />
    <% end %>
    <%= yield(:extra_meta) %>
    <%= favicon_link_tag %>
    <%= yield(:stylesheets) %>
    <%= yield(:javascripts) %>
    <%= yield(:extra_javascripts) %>
    <%= yield(:twitter_cards) %>
    <%= csrf_meta_tags %>
    <%= yield(:metrics) %>
  </head>
  <body>
    <%= yield(:flash_messages) %>
    <%= yield(:content) %>
  </body>
</html>
