<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <base href='<%= root_url %>' />
    <meta charset='UTF-8' />
    <meta name='google-site-verification' content='4WezRNvvwZCOYCxFNt9PKHdon29hbt-V7bMbhZhaMMk' />
    <meta name='yandex-verification' content='6f2efa53b5d49370' />
    <meta name='verify-reformal' content='de04fd7b8e7499f228171212' />
    <meta property='fb:app_id' content='131807160304776'/>
    <% if content_for?(:page_title) %>
      <title><%= yield(:page_title).squish.html_safe %></title>
    <% else %>
      <title><%= I18n.t('meta.default.title', :default => '').squish.html_safe %></title>
    <% end %>
    <% if content_for?(:meta_keywords) %>
      <meta name='keywords' content='<%= "#{yield(:meta_keywords)}, #{I18n.t('meta.default.keywords', :default => '')}".squish.html_safe %>' />
    <% else %>
      <meta name='keywords' content='<%= I18n.t('meta.default.keywords', :default => '').squish.html_safe %>' />
    <% end %>
    <% if content_for?(:meta_description) %>
      <meta name='description' content='<%= "#{yield(:meta_description)}. #{I18n.t('meta.default.description', :default => '')}".squish.html_safe %>' />
    <% else %>
      <meta name='description' content='<%= I18n.t('meta.default.description', :default => '').squish.html_safe %>' />
    <% end %>
    <%= yield(:extra_meta) %>
    <%= favicon_link_tag %>
    <%= yield(:stylesheets) %>
    <%= yield(:javascripts) %>
    <%= yield(:extra_javascripts) %>
    <%= yield(:twitter_cards) %>
    <%= csrf_meta_tags %>
    <%= yield(:metrics) %>
  </head>
  <body>
    <% unless controller_path.match(/\A(crm|manage)\//) %>
      <%#= render :partial => 'commons/new_feature' %>
      <%= render :partial => 'commons/not_answered_invitations' unless controller_path.match(/\Amy\//)%>
    <% end %>
    <%= yield(:flash_messages) %>
    <%= yield(:content) %>
  </body>
</html>
