<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='yandex-verification' content='6f2efa53b5d49370' />
    <title><%= yield :subtitle %><%= " &mdash; ".html_safe if content_for?(:subtitle) %><%= t('site_title') %></title>
    <%= favicon_link_tag %>
    <%= yield :stylesheets %>
    <%= yield :javascripts %>
    <%= yield :extra_meta %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield :content %>
  </body>
</html>
