<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "crm/application", :media => "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "crm/application" %>
<% end %>

<% content_for :content do  %>
  <%= render partial: 'commons/manage_header' %>
  <div class='content'>
    <%= yield %>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
