<% content_for :stylesheets do %>
  <%= stylesheet_link_tag    "manage/application", :media => "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "manage/application" %>
<% end %>

<% content_for :content do  %>
  <body style='padding-top: 60px'>
    <div class="container-fluid">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">ЗнайГород</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li><%= link_to "Список организаций", manage_organizations_path %></li>
                <li><%= link_to "Добавить организацию", new_manage_organization_path %></li>
                <li><%= link_to "Список мероприятий", manage_affiches_path %></li>
                <li><%= link_to "Добавить мероприятие", new_manage_affiche_path %></li>
              </ul>
            </div>

            <%= semantic_search_form_for :organization, :url => manage_organizations_path, :method => :get, :html => { :class => 'navbar-search pull-right' } do |form| %>
              <%= form.inputs do %>
                <%= form.input :keywords, :as => :string, :label => false, :input_html => { :class => 'search-query span2', :placeholder => 'Поиск' } %>
              <% end %>
            <% end if controller_path.match('manage') %>
          </div>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
<% end %>

<%= render :file => 'layouts/base' %>
