<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "manage/application", :media => "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "manage/application" %>
<% end %>

<% content_for :content do  %>
  <%= render partial: 'commons/manage_header' %>
  <div class="main_container">
    <%= yield %>
  </div>
  <%= yield :yandex_map_scripts %>
<% end %>

<%= render :template => 'layouts/application' %>
