<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "manage/application", :media => "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "manage/application" %>
<% end %>

<% content_for :content do  %>
  <body>
    <div class="header">
      <div class="search">
        <% if resource_class == Organization %>
          <%= form_tag manage_organizations_path, :method => :get do %>
            <%= text_field_tag 'q', params[:q], :placeholder => 'Поиск' %>
          <% end %>
        <% else %>
          <%= form_tag manage_affiches_path, :method => :get do %>
            <%= text_field_tag 'q', params[:q], :placeholder => 'Поиск' %>
            <div class="include_gone">
              <%= label_tag 'include_gone', 'Включая прошедшие' %>
              <%= check_box_tag 'include_gone', '1', params[:include_gone] %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= render_navigation :context => 'manage' %>
    </div>

    <div class="main_container">
      <%= yield %>
    </div>
</body>
<% end %>

<%= render :file => 'layouts/base' %>
