<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'public/application', :media => 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'http://userapi.com/js/api/openapi.js?52' %>
  <%= javascript_include_tag 'public/application' %>
<% end %>

<% content_for :canonical_link do %>
  <link rel='canonical' href='<%= february_url %>' />
<% end %>

<% content_for :extra_meta do %>
  <% if page_meta %>
    <%= render :partial => 'commons/page_meta_og' %>
  <% end %>
<% end %>

<% content_for :metrics do %>
  <%= render :partial => 'commons/google_analytics' if Rails.env.production? %>
<% end %>

<%= content_for :flash_messages do %>
  <div class='message_wrapper'></div>
  <div class="ajax_blocking"></div>
<% end %>

<%= content_for :content do %>
  <div class='february_wrapper'>
    <div class='links'>
      <a href='/contests/fotokonkurs-par-goroda-tomska-polovinki-loventinki-2' class='one'>Конкурс "Половинки LOVEнтинки 2"</a>
    </div>
    <div class='february_content_wrapper'>
      <%= render :partial => 'commons/not_answered_invitations' unless controller_path.match(/\Amy\//)%>
      <%= render :partial => 'commons/email_request_form' %>
      <div class='unique_header_wrapper'>
        <%= render :partial => 'commons/public_header' %>
      </div>
      <%= yield %>
      <%= render :partial => 'commons/public_footer' %>
      <%= render :partial => 'commons/yandex_metrika' if Rails.env.production? %>
      <%= yield :yandex_map_scripts %>
      <%= render :partial => 'commons/public_reformal' %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
