<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <%= stylesheet_link_tag 'mailer/ink', :media => 'all' %>
    <%= stylesheet_link_tag 'mailer/notice_layout', :media => 'all' %>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

            <table class="row" id="header" >
              <tr>
                <td class="center" align="center">
                  <center>

                    <table class="container">
                      <tr>
                        <td class="border_grey wrapper last">

                          <table class="custom_column_width columns">
                            <tr>
                              <td class="five sub-columns">
                                <a href="<%= Settings['app']['url'] %>">
                                  <img src="<%= Settings['app']['url'] %>/assets/public/logo.png" width="109px" height="56px" />
                                </a>
                              </td>
                              <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
                                <span>Отписаться от рассылки можно в </span><br />
                                <span><a href="<%= edit_my_account_path(:only_path => false) %>">Личном кабинете</a> на сайте <a href="<%= Settings['app']['url'] %>">znaigorod.ru</a></span>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                    </table>

                  </center>
                </td>
              </tr>
            </table>

            <table class="row ">
              <tr>
                <td class="center" align="center">
                  <center>

                    <table id="main" class="middle ten columns container">
                      <tr>
                        <td>
                          <table class="custom_column_width columns" id="middle">
                            <tr>
                              <td class="center" align="center">
                                <center>

                                  <table id="title" class="row content_row">
                                    <tr>
                                      <td class="wrapper last">

                                        <table class="columns">
                                          <tr>
                                            <td>
                                              <h3>
                                                <a href="<%= Settings['app']['url'] %>">znaigorod.ru</a> / Приглашение
                                              </h3>
                                            </td>
                                            <td class="expander"></td>
                                          </tr>
                                        </table>

                                      </td>
                                    </tr>
                                  </table>

                                  <table id="orange_border_row" class="row">
                                    <tr>
                                      <td style="width: 520px;" class="center" align="center">
                                        <center>
                                          <table id="orange-border">
                                            <tr>
                                              <td class="orange-border"></td>
                                            </tr>
                                          </table>
                                        </center>
                                      </td>
                                    </tr>
                                  </table>

                                  <table class="row content_row">

                                    <%= yield :content %>

                                  </table>
                                </center>
                              </td>
                            </tr>
                          </table>
                        </center>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
