<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "public/application", :media => "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "http://maps.api.2gis.ru/1.0" %>
  <%= javascript_include_tag "http://userapi.com/js/api/openapi.js?52" %>
  <%= javascript_include_tag "public/application" %>
<% end %>

<%= content_for :content do %>

  <div class="header_wrapper">
    <div class="header">
      <div class="search_form">
        <%= form_tag search_path, :method => :get do %>
          <%= text_field_tag "q", params[:q], :placeholder => "Поиск по городу", :class => "search" %>
          <%= submit_tag("", :class => "submit", :name => "") %>
        <% end %>
      </div>
      <div class="logo">
        <a href="/"><%= t("site_title") %></a>
      </div>
      <div class="tomsk">
        <a href="/">Томск</a>
      </div>
    </div>
  </div>

  <div class="main_menu_wrapper">
    <ul class="main_menu">
      <li class="has_submenu">
        <a href="/affiches/all" class="disabled">Афиша</a>
        <ul class="submenu">
          <li><a href="/affiches/all">Все мероприятия</a></li>
          <% Affiche.ordered_descendants.each do |name| %>
            <li>
              <%= link_to name.model_name.human, "/#{name.model_name.pluralize.downcase}/all" %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="has_submenu">
        <a href="<%= organizations_path(:organization_class => "organizations") %>">Заведения</a>
        <ul class="submenu">
          <li><%= link_to "Еда", organizations_path(:organization_class => "meals"), :class => "solid_light_blue"%></li>
          <li><%= link_to "Развлечения", organizations_path(:organization_class => "entertainments"), :class => "solid_light_blue"%></li>
          <li><%= link_to "Культура", organizations_path(:organization_class => "cultures"), :class => "solid_light_blue"%></li>
          <!--<li><%#= link_to "Спорт", organizations_path(:organization_class => "sports"), :class => "solid_light_blue"%></li>-->
        </ul>
      </li>
      <li><%= link_to "Фотогалереи", photogalleries_path(period: "all") %></li>
      <!--
      <li><%#= link_to "Вэбкамеры", webcams_path %></li>
      -->
      <li class="float_right"><%= link_to "Размещение информации", cooperation_path %></li>
    </ul>
  </div>

  <%= yield %>

  <div class="footer_wrapper">
    <div class="footer">
      <div class="our_social_link">
        <h5><%= t("our_social_link") %></h5>
        <ul>
          <li class="vk"><a href="http://vk.com/znaigorod" class="solid_dark_gray">vk.com/znaigorod</a></li>
          <li class="twitter"><a href="http://twitter.com/znaigorod" class="solid_dark_gray">twitter.com/znaigorod</a></li>
          <li class="email"><a href="mailto:team@znaigorod.ru" class="solid_dark_gray">team@znaigorod.ru</a></li>
        </ul>
      </div>
      <div class="counters">
        <% if Rails.env.production? %>
          <a href="http://region70.ru/" target="_blank" title="Сайты Томска"><img src="http://region70.ru/get88x31/" width="88" height="31" border="0"></a>
          <span style="margin:0;padding:0" id="tbec"><script type="text/javascript">setTimeout('var tbex=document.createElement("SCRIPT");tbex.type="text/javascript";tbex.src="http://c.tbex.ru/z/a!8831!znaigorod.ru!c.js?rev=2"+String.fromCharCode(38)+"rnd="+(new Date().getTime());(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(tbex)',1)</script></span><noscript><a href="http://tbe.tom.ru/site/znaigorod.ru/"><img src="http://c.tbex.ru/z/a!8831!znaigorod.ru!c.gif" alt="TBE" /></a></noscript>
          <!-- Catalog.Metka.Ru Counter Code Begin -->
          <a href="http://catalog.metka.ru/"><img src="http://catalog.metka.ru/counter/counter.php?id=1352693472&im=1&tp=1" border=0 alt="CATALOG.METKA.RU" width=88 height=31></a>
          <!-- Catalog.Metka.Ru Counter Code End -->
        <% end %>
      </div>
    </div>
  </div>

  <%= render :partial => "commons/metrics" if Rails.env.production? %>
<% end %>

<%= render :file => "layouts/base" %>
