<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "public/application", :media => "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "http://maps.api.2gis.ru/1.0" %>
  <%= javascript_include_tag "public/application" %>
<% end %>

<%= content_for :content do %>

  <div class="header_wrapper">
    <div class="header">
      <div class="search_form">
        <%= form_tag search_path, :method => :get do %>
          <%= text_field_tag 'q', params[:q], :placeholder => 'Поиск по городу', :class => 'search' %>
          <%= image_submit_tag('public/search_submit.png', :class => 'submit') %>
        <% end %>
      </div>
      <div class="logo">
        <a href="/"><%= t('site_title') %></a>
      </div>
      <div class="tomsk">
        <a href="#">Томск</a>
      </div>
    </div>
  </div>

  <div class="main_menu_wrapper">
    <ul class="main_menu">
      <li class="has_submenu">
        <a href="/affiches">Афиша</a>
        <ul class="submenu">
          <% Affiche.ordered_descendants.map(&:model_name).map(&:human).each do |human_name| %>
            <li>
              <%= link_to human_name, "/affiches/##{transliterate(human_name)}", :class => 'solid_light_blue' %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="has_submenu">
        <a class="disabled" href="/organizations">Заведения</a>
        <ul class="submenu">
          <li><%= link_to "Еда", meals_path, :class => 'solid_light_blue'%></li>
          <li><%= link_to "Развлечения", entertainments_path, :class => 'solid_light_blue'%></li>
        </ul>
      </li>
      <li>
        <a href="#">Фотоотчёты</a>
      </li>
    </div>
  </div>

  <%= yield %>

  <div class="footer_wrapper">
    <div class="footer">
      <div class="our_social_link">
        <h5><%= t('our_social_link') %></h5>
        <ul>
          <li class='vk'><a href='http://vk.com/znaigorod' class='solid_dark_gray'>vk.com/znaigorod</a></li>
          <li class='twitter'><a href='http://twitter.com/znaigorod' class='solid_dark_gray'>twitter.com/znaigorod</a></li>
          <li class='email'><a href='mailto:team@znaigorod.ru' class='solid_dark_gray'>team@znaigorod.ru</a></li>
        </ul>
      </div>
      <% if Rails.env.production? %>
        <div class="twitter_timeline">
          <h5><%= t('twitter_timeline') %></h5>
          <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 3,
              interval: 30000,
              width: 'auto',
              height: 'auto',
              theme: {
                shell: {
                  background: 'transparent',
                },
                tweets: {
                  background: 'transparent'
                }
              },
              features: {
                scrollbar: false,
                loop: false,
                live: false,
                behavior: 'all',
                avatars: false
              }
            }).render().setUser('znaigorod').start();
          </script>
        </div>
      <% end %>
    </div>
  </div>

<% end %>

<%= render :file => 'layouts/base' %>
