<% content_for :stylesheets do %>
  <%= stylesheet_link_tag    "public/application", :media => "all" %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" src="http://maps.api.2gis.ru/1.0"></script>
  <%= javascript_include_tag "public/application" %>
<% end %>

<%= content_for :content do %>
  <div class="header">
    <div class="wrapper">
      <div class="logo">
        <a href="/"><img src='<%= image_path('logo.png') %>' alt='<%= t('site_title') %>' title='<%= t('site_title') %>'></a>
      </div>
      <div class="city">
        <a href="/" class='dashed_light_blue'>Томск</a>
      </div>
      <div class="search_form">
        <%= form_tag search_path, :method => :get do %>
          <%= text_field_tag 'q', params[:q], :placeholder => 'Поиск по городу', :class => 'search' %>
          <%= submit_tag nil, :class => 'submit' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="main_wrapper">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <div class="wrapper">
      <div class="bottom_navigation">
        <div class="left">
          <h5><%= t('organizations') %></h5>
          <ul>
            <li><%= link_to 'Еда', eatings_path, :class => 'solid_dark_gray' %>
            <li><%= link_to 'Развлечения', funnies_path, :class => 'solid_dark_gray' %>
          </ul>
        </div>
        <div class="right">
          <h5><a href='#' class='dashed_light_blue'><%= t('affiche') %></a></h5>
          <ul>
            <% Affiche.ordered_descendants.map(&:model_name).map(&:human).each do |human_name| %>
              <li>
                <%= link_to human_name, "/affiches/##{transliterate(human_name)}", :class => 'solid_dark_gray' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="our_social_link">
        <h5><%= t('our_social_link') %></h5>
        <ul>
          <li class='vk'><a href='http://vk.com/znaigorod' class='solid_dark_gray'>vk.com/znaigorod</a></li>
          <li class='twitter'><a href='http://twitter.com/znaigorod' class='solid_dark_gray'>twitter.com/znaigorod</a></li>
          <li class='email'><a href='mailto:team@znaigorod.ru' class='solid_dark_gray'>team@znaigorod.ru</a></li>
        </ul>
      </div>
      <div class="twitter_timeline">
        <h5><%= t('twitter_timeline') %></h5>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 30000,
            width: 'auto',
            height: 'auto',
            theme: {
              shell: {
                background: 'transparent',
              },
              tweets: {
                background: 'transparent'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: false,
              behavior: 'all',
              avatars: false
            }
          }).render().setUser('znaigorod').start();
        </script>
      </div>
    </div>
  </div>
<% end %>

<%= render :file => 'layouts/base' %>
