<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'public/application', :media => 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'http://maps.api.2gis.ru/1.0' %>
  <%= javascript_include_tag 'http://userapi.com/js/api/openapi.js?52' %>
  <%= javascript_include_tag 'public/application' %>
<% end %>

<%= content_for :content do %>
  <div class='valentine_day_wrapper'>
    <div class='valentine_day_header_wrapper'>
      <div class='valentine_day_header'>
        <div class='hearts'></div>
        <div class='affiche'><a href='/affiches/all/tags/день%20святого%20валентина'>Афиша для влюблённых</a></div>
        <div class='photo_contest'>
          <%= link_to Contest.first do %>
            <span class='uppercase'>Фотоконкурс</span>
            <span class='link'>Подробнее</span>
          <% end %>
        </div>
        <div class='prize'>
          <span class='uppercase'>Главный приз </span>
          &mdash;
          <span class='supper'>ужин в</span>
        </div>
        <div class='top_grill'>
          <a target='_blank' href='http://topgearbar.ru'>Top Grill Bar</a>
        </div>
        <ul class='vk_sponsors'>
          <li><a target='_blank' href='http://vk.com/znaigorod' class='znaigorod'>ЗнайГород</a></li>
          <li><a target='_blank' href='http://vk.com/typical_tomsk' class='typical_tomsk'>Типичный Томск</a></li>
          <li><a target='_blank' href='http://vk.com/6handshakes' class='sixhandshakes'>Шесть рукопожатий</a></li>
        </ul>
      </div>
    </div>
    <div class='valentine_day'>
      <%= render :partial => 'commons/public_header' %>
      <%= render :partial => 'commons/public_menu' %>
      <%= render :partial => 'commons/public_content' %>
    </div>
  </div>
  <%= render :partial => 'commons/public_footer' %>
<% end %>

<%= render :template => 'layouts/base' %>
