<div class="item">
  <div class="title">
    <%= link_to truncate(account.title, length: 24), account %>
  </div>

  <div class="image">
    <%= link_to image_tag(resized_image_url(account.avatar.url, 178, 178), size: '178x178', title: account, alt: account), account_path(account) %>
    <%= link_to account_path(account), class: :details do %>
      <span class='first_line'>
        <span class='to_go'><%= account.friends.count %></span>
        <span class='wait_invite'><%= account.invitations.invited.count %></span>
        <span class='comments'><%= account.comments.count %></span>
      </span>
      <span class='second_line'>
        <span class='likes'><%= account.votes.liked.count %></span>
        <span class='visits'><%= account.page_visits.count %></span>
      </span>
    <% end %>
  </div>

  <div class="badges"></div>
</div>
