<div class="item">
  <div class="title">
    <%= link_to truncate(account.title, length: 24), account %>
  </div>

  <div class="image">
    <%= link_to image_tag(resized_image_url(account.avatar.url, 178, 178), size: '178x178', title: account, alt: account), account_path(account) %>
    <%= link_to account_path(account), class: :details do %>
      <%= content_tag :span, "Хочет посетить #{I18n.t("visit.place", count: account.visits.count)}", :class => :line if account.visits.count > 0 %>
      <%= content_tag :span, "Приглашает в #{I18n.t("visit.place", count: account.visits.inviter.count)}", :class => :line if account.visits.inviter.count > 0 %>
      <%= content_tag :span, "Ждет приглашения в #{I18n.t("visit.place", count: account.visits.invited.count)}", :class => :line if account.visits.invited.count > 0 %>
    <% end %>
  </div>

  <div class="badges"></div>
</div>
