<div class="avatar">
  <% if account.avatar.present? %>
    <%= image_tag account.avatar, size: '50x50' %>
  <% else %>
    <%= image_tag 'public/stub_poster.png', size: '50x50' %>
  <% end %>
</div>
<div class="info">
  <div class="login">
    <%= link_to account, account %>
  </div>
  <div class="join">
    <%= time_ago_in_words(account.created_at) %> на сайте
  </div>
  <div class="activities">
    <span class="comment">
      <%= t :account_comments, count: account.comments.count %>
    </span>
    <span class="vote">
      <%= t :account_votes, count: account.votes.count %>
    </span>
    <span class="visit">
      <%= t :account_visits, count: account.visits.count %>
    </span>
  </div>
</div>
