<div class="events header">
  Мероприятия
</div>

<div id="events_filter">
  <ul>
    <% %w[draft pending published].each do |state| %>
      <li><%= link_to "##{state}" do %>
        <%= t(state) %> (<%= @events.by_state(state).total_count %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="events list">
    <% %w[draft pending published].each do |state| %>
      <div id='<%= state %>'>
        <ul>
          <%= render partial: 'events/account_events', locals: { collection: @events.by_state(state), state: state.to_sym } %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
