<div class="events header">
  Мероприятия
</div>

<div id="events_filter">
  <ul>
    <li><%= link_to t('draft'), '#draft' %></li>
    <li><%= link_to t('pending'), '#pending' %></li>
    <li><%= link_to t('published'), '#published' %></li>
  </ul>

  <div class="events list">
    <% %w[draft pending published].each do |state| %>
      <div id='<%= state %>'>
        <ul>
          <%= render partial: 'events/account_events', locals: { collection: @events.by_state(state), state: state.to_sym } %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

