<div class="events header">
  Мероприятия
  <%= link_to 'Добавить', new_my_afisha_path, class: :floatr if can? :new, Afisha %>
</div>

<div id="events_filter">
  <ul>
    <% %w[draft pending published].each do |state| %>
      <li><%= link_to "##{state}" do %>
        <%= t(state, count: @events.by_state(state).total_count) %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="events list">
    <% %w[draft pending published].each do |state| %>
      <div id='<%= state %>'>
        <%= render partial: 'events/account_events', locals: { collection: @events.by_state(state), state: state.to_sym } %>
      </div>
    <% end %>
  </div>
</div>
