<% content_for :advanced_filters do %>
  <%= render :partial => 'advanced_filters' %>
<% end %>

<div class="filters_wrapper">
  <div class="filters account">
    <div class="by_gender">
      <ul>
        <% @presenter.gender_filter.available_values.each do |value, text| %>
          <li <%= "class='selected'".html_safe if @presenter.gender_filter.send("#{value}_selected?") %>>
            <%= link_to text, accounts_path(:gender => value) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="by_acts_as">
      <ul>
      </ul>
    </div>


  </div>

  <div class="filters account">
    <div class="by_kind">
      <ul>
        <% @presenter.kind_filter.available_values.each do |value, text| %>
          <li <%= "class='selected'".html_safe if @presenter.kind_filter.send("#{value}_selected?") %>>
            <%= link_to text, accounts_path(:kind => value) %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= yield :advanced_filters %>
  </div>

  <% if content_for?(:advanced_filters) %>
    <div class='advanced_filters_toggler'>
      <% if params[:utf8].present? %>
        <a href='#'>&uarr; Расширенный поиск</a>
      <% else %>
        <a href='#'>&darr; Расширенный поиск</a>
      <% end %>
    </div>
  <% end %>

</div>

