<% content_for :advanced_filters do %>
  <%= render :partial => 'advanced_filters' %>
<% end %>

<div class="filters_wrapper">
  <div class="filters account">
    <div class="by_gender">
      <ul>
        <% @presenter.gender_filter.available_values.each do |value, text| %>
          <li class='<%= value %><%=  %><%= " selected".html_safe if @presenter.gender_filter.send("#{value}_selected?") %>'>
            <%= link_to text, accounts_path(@presenter.link_params.merge(:gender => value, :acts_as => @presenter.acts_as_filter.acts_as)) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="by_acts_as">
      <ul>
        <% @presenter.acts_as_filter.available_values.each do |value, text| %>
          <li class='<%= value %><%= " selected".html_safe if @presenter.acts_as_filter.send("#{value}_selected?") %>'>
            <%= link_to text, accounts_path(@presenter.link_params(value)) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="filters account">
    <div class="by_kind">
      <ul>
        <% @presenter.kind_filter.available_values.each do |value, text| %>
          <li class='<%= value %><%= " selected".html_safe if @presenter.kind_filter.send("#{value}_selected?") %>'>
            <%= link_to accounts_path(@presenter.link_params.merge(:kind => value, :acts_as => @presenter.acts_as_filter.acts_as)) do %>
              <span class='name'><%= text %></span>
              <span class='count'><%= @presenter.count(:kind => value, :gender => @presenter.gender_filter.gender, :acts_as => @presenter.acts_as_filter.acts_as) %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= yield :advanced_filters %>
  </div>

  <% if content_for?(:advanced_filters) %>
    <div class='advanced_filters_toggler'>
      <% if params[:utf8].present? %>
        <a href='#'>&uarr; Расширенный поиск</a>
      <% else %>
        <a href='#'>&darr; Расширенный поиск</a>
      <% end %>
    </div>
  <% end %>

</div>

