<ul class='accounts_list'>
  <% @accounts.each do |account| %>
    <li>
      <div class='avatar'>
        <%= link_to account do %>
          <%= image_tag(resized_image_url(account.avatar.url, 70, 70), :size => '70x70', :title => account, :alt => account) %>
        <% end %>
      </div>
      <div class='details'>
        <%= link_to(account, account, :class => :name) %>
        <div class="wanted">
          <%= render partial: 'invites/link', locals: { account: account } if @acts_as %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @accounts %>
