<div class="additional_info_wrapper collapsed">
  <%= link_to "Подробнее", '#', :class => 'toggle_link' %>
  <div class="inner_wrapper">
    <div class="top_wrapper">
      <p>Ты можешь найти компанию для любого мероприятия и времяпрепровождения.</p>
      <p>Посмотри, сколько людей <%= link_to 'приглашают', accounts_path(:acts_as => :inviter) %> сходить куда-нибудь, а сколько <%= link_to "ждут приглашения", accounts_path(:acts_as => :invited) %>!</p>
    </div>
    <div class="middle_wrapper">
      <div class="middle_inner_wrapper">
        <div class="first">Кто-то приглянулся? Отправь ему личное приглашение или попроси, чтобы тебя пригласили.</div>
        <div class="second">Просто ищешь компанию? Укажи, чья компания тебя интересует &mdash; мужская или женская и куда хотел бы сходить. Все это отразится в твоем профиле.</div>
      </div>
    </div>
  </div>
  <div class="bottom_wrapper">
    <div>Найди свою компанию!</div>
    <%= link_to 'Пригласить',
        new_invitation_path('invitation[kind]' => :inviter),
        :remote => true,
        :class => 'invitation_link grey_button',
        :data => { :title => 'Пригласить', :target => '.invited' } %>

    <%= link_to 'Жду приглашения',
        new_invitation_path('invitation[kind]' => :invited),
        :remote => true,
        :class => 'invitation_link grey_button',
        :data => { :title => 'Жду приглашения', :target => '.invited' } %>
  </div>
</div>

<div class="presentation_filters accounts">
  <div class='order_by'>
    <p>Сортировать по:</p>
    <ul>
      <% @presenter.order_by_filter.available_values.each do |value, title| %>
        <li<%= " class=selected" if value == @presenter.order_by_filter.order_by %>>
          <%= link_to title, accounts_path(:order_by => value) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="accounts_list">
  <ul class="posters">
    <%= render :partial => 'accounts/account_posters', :locals => { collection: @presenter.collection } %>
  </ul>
</div>

<%= paginate @presenter.collection %>
