<div class="account_show">
  <div class="left">
    <div class="image">
      <%= image_tag(resized_image_url(@account.avatar.url, 200, 200), size: '200x200', title: @account.title, alt: @account.title) %>
    </div>
    <h1><%= @account.title %></h1>

    <div class="social_actions">
      <% if user_signed_in? && current_user.account != @account.model %>
        <ul class="change_friendship">
          <li class="selected"><%= link_to t('new_message'), new_my_private_message_path(account_id: @account.id) %></li>
          <%= render 'friends/friendship' %>
        </ul>
      <% end %>

      <% if @friends.any? %>
        <div class="friends_counter">
          <div class="floatl">Друзья</div>
          <div class="floatr"><%= t('account_friends', count: @friends.total_count) %></div>
        </div>
        <div class="friends list">
          <ul class="avatars">
            <%= render partial: 'friends/account_friends', locals: { collection: @friends } %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right">
    <% if @visits.any? %>
      <div class="visits header">
         Хочет посетить
      </div>
      <div class="visits list">
        <ul>
          <%= render 'accounts/visits' %>
        </ul>
      </div>
    <% end %>

    <% if @votes.any? %>
      <div class="votes header">
        Нравится
      </div>
      <div class="votes list">
        <ul>
          <%= render 'accounts/votes' %>
        </ul>
      </div>
    <% end %>

    <% if @events.published.any? %>
      <div class="events header">
        <%= "#{@account.first_name}" "#{@account.male? ? ' добавил ' : ' добавила '}" "#{t('account_events', count: @account.afisha.published.count)}" %>
      </div>
      <div class="events list">
        <ul>
          <%= render partial: 'events/account_events', locals: { collection: @events.published, state: :published } %>
        </ul>
      </div>
    <% end %>

    <% if @comments.any? %>
      <div class="comments header">
        Комментарии
      </div>
      <div class="comments list">
        <ul>
          <%= render 'accounts/comments' %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
