<%= render_navigation context: 'account', :renderer => :breadcrumbs %>

<div class="profile">
  <div class="avatar">
    <% if @account.avatar.present? %>
      <%= image_tag @account.avatar, size: '200x200' %>
    <% else %>
      <%= image_tag 'public/stub_poster.png', size: '200x200' %>
    <% end %>
  </div>

  <h3><%= @account %></h3>

  <div class="actions">
    <% if current_user.account != @account %>
      <%= link_to t('follow'), account_follow_path(@account), method: :put, remote: true unless current_user.account.follows?(@account) %>
    <% end %>
    <%= link_to t('unfollow'), account_unfollow_path(@account), method: :put, remote: true if current_user.account.follows?(@account) %>
  </div>

  <div class="friends">
    <% if @account.followers(Account).any? %>
      <h3>
        Друзья
        <%= link_to t(:account_followers, count: "#{@account.followers(Account).count}"), account_followers_path(@account) %>
      </h3>
      <%= render partial: 'account_followers', locals: { followers: @account.followers(Account).first(5) } %>
    <% end %>
  </div>
</div>

<div class="activities">
  <% if @account.votes.any? %>
    <h3>
      Нравится
      <%= link_to t(:account_votes, count: "#{@account.votes.count}"), account_votes_path(@account) %>
    </h3>
    <%= render partial: 'account_votes', locals: { votes: @account.votes.limit(3) } %>
  <% end %>

  <% if @account.comments.any? %>
    <h3>
      <%= @account.first_name %>
      <%= @account.male? ? 'написал' : 'написала' %>
      <%= link_to t(:account_comments, count: "#{@account.comments.count}"), account_comments_path(@account) %>
    </h3>
    <%= render partial: 'account_comments', locals: { comments: @account.comments.limit(5) } %>
  <% end %>

  <% if @account.afisha.published.any? %>
    <h3>
      <%= @account.first_name %>
      <%= @account.male? ? 'добавил' : 'добавила' %>
      <%= link_to t(:account_events, count: "#{@account.afisha.published.count}"), account_events_path(@account) %>
    </h3>
    <%= render partial: 'account_events', locals: { events: @account.afisha.published.limit(5) } %>
  <% end %>
</div>
