<div class="account_show">
  <div class="left">
    <div class="image">
      <%= image_tag(resized_image_url(@account.avatar.url, 200, 200), size: '200x200', title: @account.title, alt: @account.title) %>
    </div>
    <h1><%= @account.title %></h1>

    <div class="social_actions">
      <% if user_signed_in? && current_user.account != @account.model %>
        <ul class="change_friendship">
          <%= render 'friends/friend' %>
        </ul>
      <% end %>

      <% if @account.friends.approved.any? %>
        <div class="friends_counter">
          <div class="floatl">Друзья</div>
          <div class="floatr"><%= link_to t('account_friends', count: @account.friends.count), account_buddies_path(@account) , remote: true %></div>
        </div>
        <%= render partial: 'friends', locals: { friends: @account.buddies } %>
      <% end %>
    </div>
  </div>

  <div class="right">
    <% if @account.votes.any? %>
      <div class="votes header">
        Нравится
      </div>
      <div class="votes list">
        <ul>
          <%= render 'accounts/votes' %>
        </ul>
      </div>
    <% end %>

    <% if @account.afisha.published.any? %>
      <div class="events header">
        <%= "#{@account.first_name}" "#{@account.male? ? ' добавил ' : ' добавила '}" "#{t('account_events', count: @account.afisha.published.count)}" %>
      </div>
      <div class="events list">
        <%= render partial: 'account_events', locals: { collection: @account.afisha.published } %>
      </div>
      <div class="events toggle">
        <%= link_to '', '#', remote: true, class: 'toggler closed floatr' if @account.afisha.published.count > 4 %>
      </div>
    <% end %>

    <% if @comments.any? %>
      <div class="comments header">
        Комментарии
      </div>
      <div class="comments list">
        <ul>
          <%= render 'accounts/comments' %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
