<% content_for :page_title do %>
  <%= @account.title.text_gilensize %>,
  ЗнайГород
<% end %>

<% content_for :meta_keywords, t('meta.account.keywords') %>
<% content_for :meta_description, t('meta.account.description') %>

<% content_for :extra_meta do %>
  <%= @account.tags_for_vk %>
<% end %>

<div class="account_show">
  <div class="left">
    <div class="image">
      <%= image_tag(resized_image_url(@account.avatar.url, 200, 200), size: '200x200', title: @account.title, alt: @account.title) %>
    </div>
    <h1><%= @account.title %></h1>
    <% if @account.link_to_social.present? %>
      <div class='link_to_social'>
        <%= link_to('профиль в социальной сети', @account.link_to_social, :rel => 'nofollow', :target => '_blank') %>
      </div>
    <% end %>

    <div class="social_actions">
      <% if current_user.nil? || (current_user.account != @account.model) %>
        <ul class="user_actions">
          <li><%= link_to t('new_message'), new_my_private_message_path(account_id: @account.id), class: 'add_private_message', remote: true %></li>
          <%= render 'friends/friendship' %>
          <%= render :partial => 'invitations/account_link', :locals => { :kind => :inviter, :invited_id => @account.id } %>
          <%= render :partial => 'invitations/account_link', :locals => { :kind => :invited, :invited_id => @account.id } %>
        </ul>
      <% end %>

      <% if @friends.any? %>
        <div class="friends_counter">
          <div class="floatl">Друзья</div>
          <div class="floatr"><%= t('account_friends', count: @friends.total_count) %></div>
        </div>
        <div class="friends list">
          <%= render partial: 'friends/account_friends', locals: { collection: @friends } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right">

    <%= render partial: 'accounts/account_info', locals: { account: @account } %>

    <%= render partial: 'accounts/feeds', locals: { collection: @feeds } %>

    <div class="invitations_wrapper">
      <div class="invitations header">
        <h3>Приглашает</h3>
      </div>

      <div class="invitations list">
        <ul class="inviter">
          <% if @account.invitations.inviter.without_invited.select(&:actual?).any? %>
            <%= render :collection => @account.invitations.inviter.without_invited.select(&:actual?), :partial => 'invitations/invitation' %>
          <% else %>
            <li class="empty">Нет приглашений</li>
          <% end %>
        </ul>
      </div>

      <div class="invitations header">
        <h3>Ждет приглашения</h3>
      </div>

      <div class="invitations list">
        <ul class="invited">
          <% if @account.invitations.invited.without_invited.select(&:actual?).any? %>
            <%= render :collection => @account.invitations.invited.without_invited.select(&:actual?), :partial => 'invitations/invitation' %>
          <% else %>
            <li class="empty">Нет приглашений</li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="visits header">
      <%= t "account.wants_to_visit.#{@account.gender}" %>
    </div>
    <% if @visits.any? %>
      <div class="visits list">
        <%= render 'accounts/visits' %>
      </div>
    <% end %>

    <% if @votes.any? %>
      <div class="votes header">
        Нравится
      </div>
      <div class="votes list">
        <%= render 'accounts/votes' %>
      </div>
    <% end %>

    <% if @events.published.any? %>
      <div class="events header">
        <% if @account.gender? %>
          <%= @account.first_name %>
          <%= t "account.add_afisha.#{@account.gender}" %>
          <%= t 'account.events', count: @account.afisha.published.count %>
        <% else %>
          <%= t 'account.events_without_genger', count: @account.afisha.published.count %>
        <% end %>
      </div>
      <div class="events list">
        <%= render partial: 'events/account_events', locals: { collection: @events.published, state: :published } %>
      </div>
    <% end %>

    <% if @comments.any? %>
      <div class="comments header">
        Комментарии
      </div>
      <div class="comments list">
        <%= render 'accounts/comments' %>
      </div>
    <% end %>
  </div>
</div>
