<div class="account_show">
  <div class="left">
    <div class="image">
      <% if @account.avatar_url? %>
        <%= image_tag(resized_image_url(@account.avatar_url, 200, 200), size: '200x200', title: @account, alt: @account) %>
      <% else %>
        <%= image_tag 'public/stub_poster.png', size: '200x200' %>
      <% end %>
    </div>
    <h1><%= @account.title %></h1>

    <div class="social_actions">
      <ul class="change_friendship">
        <%= render 'friends/friend' if current_user && current_user.account != @account %>
      </ul>

      <% if @account.friends.approved.any? %>
        <div class="friends_counter">
          <div class="floatl">Друзья</div>
          <div class="floatr"><%= link_to t('account_friends', count: @account.friends.count), account_friends_path(@account) %></div>
        </div>
        <%= render partial: 'friends', locals: { friends: @account.buddies } %>
      <% end %>
    </div>
  </div>

  <div class="right">
    <% if @account.votes.afisha.any? %>
      <div class="votes header">
        <%= "#{'Нравится '}" "#{t('account_votes', count: @account.votes.afisha.count)}" %>
      </div>
      <div class="votes list">
        <%= render partial: 'account_votes', locals: { collection: @account.votes.afisha } %>
      </div>
      <div class="votes toggle">
        <%= link_to '', '#', remote: true, class: 'toggler closed floatr' %>
      </div>
    <% end %>

    <% if @account.afisha.published.any? %>
      <div class="events header">
        <%= "#{@account.first_name}" "#{@account.male? ? ' добавил ' : ' добавила '}" "#{t('account_events', count: @account.afisha.published.count)}" %>
      </div>
      <div class="events list">
        <%= render partial: 'account_events', locals: { collection: @account.afisha.published } %>
      </div>
      <div class="events toggle">
        <%= link_to '', '#', remote: true, class: 'toggler closed floatr' %>
      </div>
    <% end %>

    <% if @account.comments.any? %>
      <div class="comments header">
        <%= "#{@account.first_name}" "#{@account.male? ? ' написал ' : ' написала '}" "#{t(:account_comments, count: @account.comments.count)}" %>
      </div>
      <div class="comments list">
        <%= render partial: 'account_comments', locals: { comments: @account.comments } %>
      </div>
      <div class="comments toggle">
        <%= link_to '', '#', remote: true, class: 'toggler closed floatr' %>
      </div>
    <% end %>
  </div>
</div>
