<% content_for :yandex_map_scripts, javascript_include_tag('http://api-maps.yandex.ru/2.0.33/?load=package.full&lang=ru-RU') %>
<% content_for :page_title do %>
  <%= @account.title.text_gilensize %>,
  ЗнайГород
<% end %>

<% content_for :meta_keywords, t('meta.account.keywords') %>
<% content_for :meta_description, t('meta.account.description') %>

<div class="account_show">
  <div class="left">
    <div class="image">
      <%= image_tag(resized_image_url(@account.avatar.url, 200, 200), size: '200x200', title: @account.title, alt: @account.title) %>
    </div>

    <div class="social_actions">
      <% if current_user.nil? || (current_user.account != @account.model) %>
        <ul class="user_actions">
          <li><%= link_to t('new_message'), new_my_private_message_path(account_id: @account.id), class: 'add_private_message', remote: true %></li>
          <%= render 'friends/friendship' %>
          <%= render :partial => 'invitations/account_link', :locals => { :kind => :inviter, :invited_id => @account.id } %>
          <%= render :partial => 'invitations/account_link', :locals => { :kind => :invited, :invited_id => @account.id } %>
        </ul>
      <% end %>

      <div class="account_info">
        <ul>
          <% if @account.last_visit_at? %>
            <li class="online">
              <% if @account.last_visit_at > DateTime.now - 5.minute %>
                сейчас на сайте
              <% else %>
                последнее посещение было <%= time_ago_in_words @account.last_visit_at %> назад
              <% end %>
            </li>
          <% end %>

          <%= content_tag :li, "Возраст: #{@account.age}" if @account.birthday? %>
          <%= content_tag :li, "Пол: #{@account.gender.text.mb_chars.downcase}" unless @account.gender == 'undefined' %>

          <% if @account.link_to_social.present? %>
            <li>
              <%= link_to('Профиль в социальной сети', @account.link_to_social, :rel => 'nofollow', :target => '_blank') %>
            </li>
          <% end %>
      </ul>
    </div>

      <div class="user_menu">
        <div class="feeds_filter">
          <div class="all_feeds <%= "selected" if params[:controller] == "accounts"  %>">
            <%= link_to content_tag(:span, 'Активность', :class => :menu_text), @account %>
          </div>
          <div class="show_friends <%= "selected" if params[:controller] == "friends" %>">
            <a href="<%= account_friends_path(@account) %>">
              <span id="friends_counter"><%= @account.friends_count %></span>
              <span class="menu_text">Друзья</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right">

    <h1><%= @account.title %></h1>

    <div class="invitations_wrapper">
      <div class="invitations header">
        <div class='clear'>
          <span class="panel"></span>
        </div>
        <h3>Приглашает</h3>
      </div>

      <div class="invitations list">
        <ul class="inviter">
          <% if @account.invitations.inviter.without_invited.any? %>
            <%= render :collection => @account.invitations.inviter.without_invited, :partial => 'invitations/invitation' %>
          <% else %>
            <li class="empty">Нет приглашений</li>
          <% end %>
        </ul>
      </div>

      <div class="invitations header">
        <div class='clear'>
          <span class="panel"></span>
        </div>
        <h3>Ждет приглашения</h3>
      </div>

      <div class="invitations list">
        <ul class="invited">
          <% if @account.invitations.invited.without_invited.any? %>
            <%= render :collection => @account.invitations.invited.without_invited, :partial => 'invitations/invitation' %>
          <% else %>
            <li class="empty">Нет приглашений</li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= yield(:account_content) %>

  </div>
</div>
